    <!-- Breadcubs Area Start Here -->
    <div class="breadcrumbs-area">
        <h3>Certificate</h3>
        <ul>
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>Generate Certificate</li>
        </ul>
    </div>
    <!-- Breadcubs Area End Here -->
    <!-- Generate Certificate Area Start Here -->
    <div class="card height-auto">
        <div class="card-body">
            <div class="heading-layout1">
                <div class="item-title">
                    <h3>Select Criteria</h3>
                </div>
                <div class="dropdown">
                    <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                        aria-expanded="false">...</a>

                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="#"><i
                                class="fas fa-times text-orange-red"></i>Close</a>
                        <a class="dropdown-item" href="#"><i
                                class="fas fa-cogs text-dark-pastel-green"></i>Edit</a>
                        <a class="dropdown-item" href="#"><i
                                class="fas fa-redo-alt text-orange-peel"></i>Refresh</a>
                    </div>
                </div>
            </div>
            <form class="new-added-form">
                <div class="row">
                    <div class="col-xl-4 col-lg-6 col-12 form-group">
                        <label>Class *</label>
                        <select class="select2">
                            <option value="">Please Select Class *</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                        </select>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-12 form-group">
                        <label>Section *</label>
                        <select class="select2">
                            <option value="">Please Select Section *</option>
                            <option value="1">A</option>
                            <option value="2">B</option>
                            <option value="3">C</option>
                            <option value="3">D</option>
                        </select>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-12 form-group">
                        <label>Certificate *</label>
                        <select class="select2">
                            <option value="">Please Select Certificate *</option>
                            <option value="1">Sample Transfer Certificate</option>
                        </select>
                    </div>
                    <div class="col-12 form-group mg-t-8">
                        <button type="submit" class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark">
                            Search</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- Generate Certificate Area End Here -->
