<!-- Breadcubs Area Start Here -->
<div class="breadcrumbs-area">
    <!--<h3>Admin Dashboard</h3>-->
    <ul>
        <li>
            <a href="index.html">Home</a>
        </li>
        <li>Backup</li>
    </ul>
</div>
<!-- Breadcubs Area End Here -->
<!-- Dashboard summery Start Here -->
<div class="row gutters-20">
    <div class="col-xl-8 col-sm-8 col-12">
        
        <div class="dashboard-summery-one mg-b-20">
            <div class="heading-layout1">
                <div class="item-title">
                    <h5>Backup History</h5>
                 </div>
                 <div class="dropdown">
                <button style="  background-color: #000066; position: relative; top:0; right: 10; float: right;" type="button"
                  class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">+ Create Backup</button>
                 </div>
            </div>


              <div class="table-responsive">

                <table id="example" class="table display data-table text-nowrap cell-border">
                  <thead>
          
                    <tr>
                      <th>Backup Files</th>
                      <th>Action</th>
                      
          
                    </tr>
                  </thead>
                  <tbody>
                   
          
          
                  </tbody>
                </table>
              </div>
        </div>
    </div>


    <div class="col-xl-4 col-sm-4 col-12">
        <div class="dashboard-summery-one mg-b-20">
            <div class="heading-layout1">
                <div class="item-title">
                <h5>Upload From Local Directory</h5>
                </div>
            </div>

            <input type="file" class="form-control-file">
            
            <div><button style="  background-color: #000066; position: relative; bottom:0; right: 10; float: right;" type="button"
            class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">+ Upload</button>
            </div>
            <br>
            
        </div>
    </div>


                    
</div>  


<div class="row gutters-20">
    <div class="col-xl-8 col-sm-8 col-12">
        
    </div>

    <div class="col-xl-4 col-sm-4 col-12">
        <div class="dashboard-summery-one mg-b-20">
            <div class="heading-layout1">
                <div class="item-title">
                <h5>Cron Secrete Key</h5>
                </div>
                <div class="dropdown">
                    <button style="  background-color: #000066; position: relative; top:0; right: 10; float: right;" type="button"
                      class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Generate</button>
                </div>
                
            </div>
            <br>
        </div>
    </div>        
</div>
            
