<div class="breadcrumbs-area">
  <ul>
    <li>
      <a href="index.html">Home</a>
    </li>
    <li>Setup Front Office</li>
  </ul>
</div>
<div class="row gutters-20">
  <div class="col-xl-4 col-6">
    <div class="card height-auto">
      <div class="card-body">
        <div class="heading-layout1">
          <div class="item-title">
            <h5>Add Visitors Purpose</h5>
          </div>
        </div>
        <form role="form" method="post" id="reused_form">

          <div class="row">

            <div class="col-xl-12 col-lg-12 col-12 form-desig">
              <label for="inp" class="inp">
                <input type="text" name="purpose" class="form-control" id="inp" placeholder="&nbsp;"
                  [(ngModel)]="Dto.visitorsPurpose">
                <span class="label">Purpose *</span>
                <span class="focus-bg"></span>
              </label>
            </div>


            <div class="col-xl-12 col-lg-12 col-12 form-desig">
              <label for="inp" class="inp">
                <input type="text" name="description" class="form-control" id="inp" placeholder="&nbsp;"
                  [(ngModel)]="Dto.description">
                <span class="label">Description *</span>
                <span class="focus-bg"></span>
              </label>
            </div>


            <div class="col-xl-12 col-lg-12 col-12 form-desig">
              <button *ngIf="!this.isUpdate" (click)="add()" type="button"
                class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark" data-toggle="modal" data-target="#myModal">
                Save
              </button>
              <button *ngIf="this.isUpdate" (click)="update(Dto.id)" type="button"
                class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark" data-toggle="modal" data-target="#myModal">
                Update
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-xl-8 col-6">

    <div class="card height-auto">
      <div class="card-body">
        <div class="heading-layout1">
          <div class="item-title">
            <h5>Visitors purpose List</h5>
          </div>
          <div class="dropdown">

            <button style="  background-color: rgb(202, 130, 21); position: relative; top:0; right: 10; float: right;"
              type="button" class="btn btn-info btn-lg" onClick="location.href='/#/reference'">+ Reference</button>
            <button style="  background-color: rgb(202, 130, 21); position: relative; top:0; right: 10; float: right;"
              type="button" class="btn btn-info btn-lg" onClick="location.href='/#/source'">+ Source</button>
            <button style="  background-color: rgb(202, 130, 21); position: relative; top:0; right: 10; float: right;"
              type="button" class="btn btn-info btn-lg" onClick="location.href='/#/complainttype'">+ Complaint
              Type</button>


          </div>
        </div>
        <div class="table-responsive">

          <table id="example" class="table display data-table text-nowrap cell-border">
            <thead>
              <tr>
                <th>Purpose</th>
                <th>Action</th>

              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let visitorp of visitors">
                <td>{{ visitorp.visitorsPurpose }}</td>


                <td><a (click)="setUpdateFileds(visitorp.id)" data-toggle="modal" data-target="#myModal"><i
                      class="fas fa-pen-alt text-orange-peel"></i>&nbsp;</a>
                  <a (click)="delete(visitorp.id)"><i class="fas fa-times text-orange-red"></i>&nbsp;</a>
                </td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>


  <!-- Add Settings Area Start Here -->

</div>
