<div class="breadcrumbs-area">
  
    <ul>
        <li>
            <a href="index.html">Home</a>
        </li>
        <li>Import Student</li>
    </ul>
   
</div>
<!-- Breadcubs Area End Here -->
<!-- Admit Form Area Start Here -->
<div class="card height-auto">
    <div class="card-body">
        <div class="heading-layout1">
            <div class="item-title">
                <h3>Import Students</h3>
            </div>
            <div class="dropdown">
                <button style="  background-color: #000066
                " type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Download Sample Import report</button>
        
                </div>
        </div>
        <br>
        <br>
        <div class="table-responsive">
        <table  id="example" class="table display data-table text-nowrap cell-border">
            <thead>
                <tr>
                    <th>Admission No.</th>
                    <th>Roll Number</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Gender</th>
                    <th>Date Of Birth</th>
                    <th>Category</th>
                    <th>Religion</th>
                    <th>Cast</th>
                    <th>Mobile NUmber</th>
                    <th>Email</th>
                    <th>Admission Date</th>
                    <th>Blood Group</th>
                    <th>Student House</th>
                    <th>Height</th>
                    <th>Weight</th>
                    <th>As on Date</th>
                    <th>Father Name</th>
                    <th>Father Phone</th>
                    <th>Father Occupation</th>
                    <th>Mother Name</th>
                    <th>Mother Phone</th>
                    <th>Mother Occupation</th>
                    <th>If Gurdian Is</th>
                    <th>Gurdian Name</th>
                    <th>Gurdian Relation</th>
                    <th>Gurdian Email</th>
                    <th>Gurdian Phone</th>
                    <th>Gurdian Occupation</th>
                    <th>Gurdian Address</th>
                    <th>Current Address</th>
                    <th>Permanent Address</th>
                    <th>Bank Account Number</th>
                    <th>Bank Name</th>
                    <th>IFSC Code</th>
                    <th>National Identification Number</th>
                    <th>Local Identification Number</th>
                    <th>RTE</th>
                    <th>Previos School Details</th>
                    <th>Note</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                
                    <td>sample data</td>
                    <td>sample data</td>
                    <td>sample data</td>
                    <td>sample data</td>
                    <td>sample data</td>
                    <td>sample data</td>
                    <td>sample data</td>
                    <td>sample data</td>
                    <td>sample data</td>
                    <td>sample data</td>
                    <td>sample data</td>
                    <td>sample data</td>
                    <td>sample data</td>
                    <td>sample data</td>
                    <td>sample data</td>
                    <td>sample data</td>
                    <td>sample data</td>
                    <td>sample data</td>
                    <td>sample data</td>
                    <td>sample data</td>
                    <td>sample data</td>
                    <td>sample data</td>
                    <td>sample data</td>
                    <td>sample data</td>
                    <td>sample data</td>
                    <td>sample data</td>
                    <td>sample data</td>
                    <td>sample data</td>
                    <td>sample data</td>
                    <td>sample data</td>
                    <td>sample data</td>
                    <td>sample data</td>
                    <td>sample data</td>
                    <td>sample data</td>
                    <td>sample data</td>
                    <td>sample data</td>
                    <td>sample data</td>
                    <td>sample data</td>
                    <td>sample data</td>
                    <td>sample data</td>
                    
                </tr>
                
            </tbody>
        </table>
        </div>
    <br>
<br>

        <form class="new-added-form" >
            <div class="row">

                <div class="col-xl-3 col-lg-6 col-12 form-group">
                    <label for="slt" class="slt">
                        <select  class="form-control" id="slt" placeholder="&nbsp;">
                        <option selected >Please Select Class *</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="3">4</option>
                        <option value="3">5</option>
                        <option value="3">6</option>
                        </select>
                        <span class="label">Class *</span>
                        <span class="focus-bg"></span>
                    </label>
                </div>

                <div class="col-xl-3 col-lg-6 col-12 form-group">
                    <label for="slt" class="slt">
                        <select  name="section" class="form-control" id="slt" placeholder="&nbsp;">
                        <option selected>Please Select section *</option>
                        <option value="">select</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="3">4</option>
                        <option value="3">5</option>
                        <option value="3">6</option>
                        </select>
                        <span class="label">Section *</span>
                        <span class="focus-bg"></span>
                    </label>
                </div>
                
                <div class="col-xl-3 col-lg-6 col-12 form-group">
                    <label class="text-dark-medium" style="font-size: small;">Select CSV File</label>
                    <input type="file" class="form-control-file" name="photo" placeholder="Upload CSV">
                </div>

                <div class="col-12 form-group mg-t-8">
                    <button type="submit" class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark">Import Student</button>
                </div>
            </div>
        
        </form>

    </div>