<div class="breadcrumbs-area">

  <ul>
    <li>
      <a href="/#/admin">Home</a>
    </li>
    <li>Student Admit Form</li>
  </ul>

</div>
<!-- Breadcubs Area End Here -->
<!-- Admit Form Area Start Here -->
<div class="card height-auto">
  <div class="card-body">
    <div class="heading-layout1">
      <div class="item-title">
        <h3>Add New Students</h3>
      </div>
      <div class="dropdown">
        <button style="  background-color: #000066
                " type="button" class="btn btn-info btn-lg" onclick="location.href='/#/importstudent'">Import
          Student</button>

      </div>
    </div>
    <form class="new-added-form">
      <div class="row">
        <div class="col-xl-3 col-lg-6 col-12 form-group">
          <label for="inp" class="inp">
            <input type="text" name="admissionNo" #admissionNo="ngModel" class="form-control" id="inp"
              placeholder="&nbsp;" [(ngModel)]="studentDto.admissionNo" required>
            <span class="label">Admission No. *</span>
            <span class="focus-bg"></span>
          </label>
          <div class="alert alert-danger" *ngIf="admissionNo.touched && admissionNo.invalid">
            Admission no is required
          </div>
        </div>

        <div class="col-xl-3 col-lg-6 col-12 form-group">
          <label for="inp" class="inp">
            <input type="text" name="rollNo" #rollNo="ngModel" class="form-control" id="inp" placeholder="&nbsp;"
              [(ngModel)]="studentDto.rollNo" pattern="^[0-9]*$" required>
            <span class="label">Roll No *</span>
            <span class="focus-bg"></span>
          </label>
          <div class="alert alert-danger" *ngIf="rollNo.touched && !rollNo.valid">
            Roll Number required.
            Only numbers.
          </div>
        </div>

        <div class="col-xl-3 col-lg-6 col-12 form-group">
          <label for="slt" class="slt">
            <select class="form-control" id="slt" placeholder="&nbsp;" [(ngModel)]="studentDto.classId" name="classId"
              #classId="ngModel" required>
              <option selected>Please Select *</option>
              <option *ngFor="let class of this.classes" [value]="class.classses"
                [selected]="studentDto.classId == class.classses">
                {{ class.classses }}
              </option>
            </select>
            <span class="label">Class *</span>
            <span class="focus-bg"></span>
          </label>
          <div class="alert alert-danger" *ngIf="classId.touched && !classId.valid">
            Please Select Class.
          </div>
        </div>

        <div class="col-xl-3 col-lg-6 col-12 form-group">
          <label for="slt" class="slt">
            <select class="form-control" id="slt" placeholder="&nbsp;" [(ngModel)]="studentDto.sectionId"
              name="sectionId" required>
              <option selected>Please Select *</option>
              <option *ngFor="let section of this.sections" [value]="section.section"
                [selected]="studentDto.sectionId ==section.section">{{ section.section }}
              </option>
            </select>
            <span class="label">Section *</span>
            <span class="focus-bg"></span>
          </label>
        </div>
      </div>

      <div class="row">
        <div class="col-xl-3 col-lg-6 col-12 form-group">
          <label for="inp" class="inp">
            <input type="text" #firstname="ngModel" name="firstname" class="form-control" id="inp" placeholder="&nbsp;"
              [(ngModel)]="studentDto.firstname" required>
            <span class="label">First Name *</span>
            <span class="focus-bg"></span>
          </label>
          <div class="alert alert-danger" *ngIf="firstname.touched && !firstname.valid">
            Please Enter Firstname.
          </div>
        </div>

        <div class="col-xl-3 col-lg-6 col-12 form-group">
          <label for="inp" class="inp">
            <input type="text" #lastname="ngModel" name="lastname" class="form-control" id="inp" placeholder="&nbsp;"
              [(ngModel)]="studentDto.lastname" required>
            <span class="label">Last Name *</span>
            <span class="focus-bg"></span>
          </label>
          <div class="alert alert-danger" *ngIf="lastname.touched && !lastname.valid">
            Please Enter Lastname.
          </div>
        </div>

        <div class="col-xl-3 col-lg-6 col-12 form-group">
          <label for="slt" class="slt">
            <select class="form-control" id="slt" placeholder="&nbsp;" [(ngModel)]="studentDto.gender" name="gender"
              required>
              <option selected> Select *</option>
              <option value="Male" [selected]="studentDto.gender == 'Male'">Male</option>
              <option value="Female" [selected]="studentDto.gender == 'Female'">Female</option>

            </select>
            <span class="label">Gender *</span>
            <span class="focus-bg"></span>
          </label>
        </div>

        <div class="col-xl-3 col-lg-6 col-12 form-group">
          <label for="dtp" class="dtp">
            <input type="date" #dob="ngModel" id="dtp" placeholder="&nbsp;" name="dob" [(ngModel)]="studentDto.dob"
              required>
            <span class="label">Birthdate *</span>
            <span class="focus-bg"></span>
          </label>
          <div class="alert alert-danger" *ngIf="dob.touched && !dob.valid">
            Please Select Class.
          </div>
        </div>

        <div class="col-xl-3 col-lg-6 col-12 form-group">
          <label for="slt" class="slt">
            <select class="form-control" id="slt" placeholder="&nbsp;" [(ngModel)]="studentDto.categoryId"
              name="categoryId" required>
              <option selected>Please Select *</option>
              <option *ngFor="let student of this.students" [value]="student.category"
                [selected]="studentDto.categoryId ==student.category">{{ student.category }}
              </option>
            </select>
            <span class="label">Category *</span>
            <span class="focus-bg"></span>
          </label>
        </div>

        <div class="col-xl-3 col-lg-6 col-12 form-group">
          <label for="inp" class="inp">
            <input type="text" name="religion" class="form-control" #religion="ngModel" id="inp" placeholder="&nbsp;"
              [(ngModel)]="studentDto.religion" required>
            <span class="label">Religion *</span>
            <span class="focus-bg"></span>
          </label>
          <div class="alert alert-danger" *ngIf="religion.touched && !religion.valid">
            Please Enter Religion.
          </div>
        </div>

        <div class="col-xl-3 col-lg-6 col-12 form-group">
          <label for="inp" class="inp">
            <input type="text" name="cast" #cast="ngModel" class="form-control" id="inp" placeholder="&nbsp;"
              [(ngModel)]="studentDto.cast" required>
            <span class="label">Cast *</span>
            <span class="focus-bg"></span>
          </label>
          <div class="alert alert-danger" *ngIf="cast.touched && !cast.valid">
            Please Enter Cast.
          </div>
        </div>

        <div class="col-xl-3 col-lg-6 col-12 form-group">
          <label for="inp" class="inp">
            <input type="text" name="mobileno" #mobileno="ngModel" pattern="^[0-9]*$" class="form-control" id="inp"
              placeholder="&nbsp;" [(ngModel)]="studentDto.mobileno" required>
            <span class="label">Mobile No*</span>
            <span class="focus-bg"></span>
          </label>
          <div class="alert alert-danger" *ngIf="mobileno.touched && !mobileno.valid">
            Please Enter Firstname.
          </div>
        </div>

        <div class="col-xl-3 col-lg-6 col-12 form-group">
          <label for="inp" class="inp">
            <input type="email" name="email" #email="ngModel" class="form-control" id="inp" placeholder="&nbsp;"
              [(ngModel)]="studentDto.email" required>
            <span class="label">E-Mail*</span>
            <span class="focus-bg"></span>
          </label>
          <div class="alert alert-danger" *ngIf="email.touched && !email.valid">
            Please Enter Email.
          </div>
        </div>

        <div class="col-xl-3 col-lg-6 col-12 form-group">
          <label for="dtp" class="dtp">
            <input type="date" id="dtp" placeholder="&nbsp;" name="admissionDate" #admissionDate="ngModel"
              [(ngModel)]="studentDto.admissionDate" required>
            <span class="label">Admission Date *</span>
            <span class="focus-bg"></span>
          </label>
          <div class="alert alert-danger" *ngIf="admissionDate.touched && !admissionDate.valid">
            Please Enter admissionDate.
          </div>
        </div>

        <div class="col-xl-3 col-lg-6 col-12 form-group">
          <label class="text-dark-medium" style="font-size: small;">Upload Photo (150px X 150px)</label>
          <input type="file" class="form-control-file" name="image" placeholder="Upload Student Photo (150px X 150px)"
            [(ngModel)]="studentDto.image" required>
        </div>
        <div class="col-xl-3 col-lg-6 col-12 form-group">
          <label for="slt" class="slt">
            <select class="form-control" id="slt" placeholder="&nbsp;" [(ngModel)]="studentDto.bloodGroup"
              name="bloodGroup" required>
              <option selected>Please Select Class *</option>
              <option value="O+" [selected]="studentDto.bloodGroup == 'O+'">O+</option>
              <option value="A+" [selected]="studentDto.bloodGroup == 'A+'">A+</option>
              <option value="B+" [selected]="studentDto.bloodGroup == 'B+'">B+</option>
              <option value="AB+" [selected]="studentDto.bloodGroup == 'AB+'">AB+</option>
              <option value="O-" [selected]="studentDto.bloodGroup == 'O-'">O-</option>
              <option value="A-" [selected]="studentDto.bloodGroup == 'A-'">A-</option>
              <option value="B-" [selected]="studentDto.bloodGroup == 'B-'">B-</option>
              <option value="AB-" [selected]="studentDto.bloodGroup == 'AB-'">AB-</option>
            </select>
            <span class="label">BloodGroup *</span>
            <span class="focus-bg"></span>
          </label>
        </div>

        <div class="col-xl-3 col-lg-6 col-12 form-group">
          <label for="slt" class="slt">
            <select class="form-control" id="slt" placeholder="&nbsp;" [(ngModel)]="studentDto.schoolHouseId"
              name="schoolHouseId" required>
              <option selected>Select *</option>
              <option *ngFor="let house of this.houses" [value]="house.houseName"
                [selected]="studentDto.schoolHouseId == house.houseName">{{ house.houseName }}
              </option>
            </select>
            <span class="label">Student House *</span>
            <span class="focus-bg"></span>
          </label>
        </div>

        <div class="col-xl-3 col-lg-6 col-12 form-group">
          <label for="inp" class="inp">
            <input type="text" name="height" #height="ngModel" class="form-control" id="inp" placeholder="&nbsp;"
              [(ngModel)]="studentDto.height" required>
            <span class="label">Height *</span>
            <span class="focus-bg"></span>
          </label>
          <div class="alert alert-danger" *ngIf="height.touched && !height.valid">
            Please Enter Height.
          </div>
        </div>

        <div class="col-xl-3 col-lg-6 col-12 form-group">
          <label for="inp" class="inp">
            <input type="text" name="weight" #weight="ngModel" class="form-control" id="inp" placeholder="&nbsp;"
              [(ngModel)]="studentDto.weight" required>
            <span class="label">Weight *</span>
            <span class="focus-bg"></span>
          </label>
          <div class="alert alert-danger" *ngIf="weight.touched && !weight.valid">
            Please Enter Weight.
          </div>
        </div>

        <div class="col-xl-3 col-lg-6 col-12 form-group">
          <label for="dtp" class="dtp">
            <input type="date" id="dtp" placeholder="&nbsp;" name="measurementDate"
              [(ngModel)]=" studentDto.measurementDate" required>
            <span class="label">As On Date *</span>
            <span class="focus-bg"></span>
          </label>
        </div>

        <div class="col-xl-3 col-lg-6 col-12 form-group">
          <label for="inp" class="inp">
            <input type="text" name="adharNo" #adharNo="ngModel" class="form-control" id="inp" placeholder="&nbsp;"
              [(ngModel)]="studentDto.adharNo" required>
            <span class="label">Addhar Number *</span>
            <span class="focus-bg"></span>
          </label>
          <div class="alert alert-danger" *ngIf="adharNo.touched && !adharNo.valid">
            Please Enter Adhar Number.
          </div>
        </div>

        <div class="col-xl-3 col-lg-6 col-12 form-group">
          <label for="inp" class="inp">
            <input type="text" name="GRN" #GRN="ngModel" class="form-control" id="inp" placeholder="&nbsp;"
              [(ngModel)]="studentDto.rollNo" required>
            <span class="label">GRN *</span>
            <span class="focus-bg"></span>
          </label>
          <div class="alert alert-danger" *ngIf="GRN.touched && !GRN.valid">
            Please Enter GRN.
          </div>
        </div>
        <!--<button type="submit" class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark">Save</button>-->
        <!-- <button type="reset" class="btn-fill-lg bg-blue-dark btn-hover-yellow">Reset</button>
            <button type="button" class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark"
              onClick="location.href='/#/addparents'">+ Next</button>&nbsp;&nbsp;&nbsp; -->
        <div class="col-xl-4 col-lg-6 col-12 form-group">
          <button style="  background-color: transparent;color:#f5611d
                        " type="button" class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark" data-toggle="modal"
            data-target="#myModal">+ Add Sibling</button>

        </div>
      </div>
      <hr><br>

      <h3>Add Parent Details</h3>

      <div class="row">

        <div class="col-xl-3 col-lg-6 col-12 form-group">
          <label for="inp" class="inp">
            <input type="text" name="fatherName" #fatherName="ngModel" class="form-control" id="inp"
              placeholder="&nbsp;" [(ngModel)]="studentDto.fatherName" required>
            <span class="label">Father Name*</span>
            <span class="focus-bg"></span>
          </label>
          <div class="alert alert-danger" *ngIf="fatherName.touched && !fatherName.valid">
            Please Enter FatherName.
          </div>
        </div>

        <div class="col-xl-3 col-lg-6 col-12 form-group">
          <label for="inp" class="inp">
            <input type="text" name="fatherPhone" #fatherPhone="ngModel" class="form-control" id="inp"
              placeholder="&nbsp;" [(ngModel)]="studentDto.fatherPhone" required>
            <span class="label">Father Phone No. *</span>
            <span class="focus-bg"></span>
          </label>
          <div class="alert alert-danger" *ngIf="fatherPhone.touched && !fatherPhone.valid">
            Please Enter Phone number.
          </div>
        </div>

        <div class="col-xl-3 col-lg-6 col-12 form-group">
          <label for="inp" class="inp">
            <input type="text" name="fatherOccupation" #fatherOccupation="ngModel" class="form-control" id="inp"
              placeholder="&nbsp;" [(ngModel)]="studentDto.fatherOccupation" required>
            <span class="label">Father Occupation:*</span>
            <span class="focus-bg"></span>
          </label>
          <div class="alert alert-danger" *ngIf="fatherOccupation.touched && !fatherOccupation.valid">
            Please Enter Father Occupation.
          </div>
        </div>

        <div class="col-xl-3 col-lg-6 col-12 form-group">
          <label class="text-dark-medium" style="font-size: small;">Upload Photo (150px X 150px)</label>
          <input type="file" class="form-control-file" name="fatherPic"
            placeholder="Upload Student Photo (150px X 150px)" [(ngModel)]="studentDto.fatherPic">
        </div>

        <div class="col-xl-3 col-lg-6 col-12 form-group">
          <label for="inp" class="inp">
            <input type="text" name="motherName" #motherName="ngModel" class="form-control" id="inp"
              placeholder="&nbsp;" [(ngModel)]="studentDto.motherName" required>
            <span class="label">Mother Name *</span>
            <span class="focus-bg"></span>
          </label>
          <div class="alert alert-danger" *ngIf="motherName.touched && !motherName.valid">
            Please Enter MotherName.
          </div>
        </div>

        <div class="col-xl-3 col-lg-6 col-12 form-group">
          <label for="inp" class="inp">
            <input type="text" name="motherPhone" #motherPhone="ngModel" class="form-control" id="inp"
              placeholder="&nbsp;" [(ngModel)]="studentDto.motherPhone" required>
            <span class="label">Mother Phone No. *</span>
            <span class="focus-bg"></span>
          </label>
          <div class="alert alert-danger" *ngIf="motherPhone.touched && !motherPhone.valid">
            Please Enter MotherPhone.
          </div>
        </div>

        <div class="col-xl-3 col-lg-6 col-12 form-group">
          <label for="inp" class="inp">
            <input type="text" name="motherOccupation" #motherOccupation="ngModel" class="form-control" id="inp"
              placeholder="&nbsp;" [(ngModel)]="studentDto.motherOccupation" required>
            <span class="label">Mother Occupation*</span>
            <span class="focus-bg"></span>
          </label>
          <div class="alert alert-danger" *ngIf="motherOccupation.touched && !motherOccupation.valid">
            Please Enter Mother Occupation.
          </div>
        </div>

        <div class="col-xl-3 col-lg-6 col-12 form-group">
          <label class="text-dark-medium" style="font-size: small;">Upload Photo (150px X 150px)</label>
          <input type="file" class="form-control-file" name="motherPic"
            placeholder="Upload Student Photo (150px X 150px)" [(ngModel)]="studentDto.motherPic">
        </div>
      </div>
      <hr><br>

      <div class="col-xl-12 col-lg-6 col-12 form-group">
        <div class="row">
          &nbsp;&nbsp;<label class="form-check-label">If Guardian Is
          </label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

          <label class="form-check-label" for="Father">
            <input type="radio" class="form-check-input" id="customRadio" name="guardianIs"
              [(ngModel)]="studentDto.guardianIs" value="Father">&nbsp;
            Father</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <label class="form-check-label" for="Mother">
            <input type="radio" class="form-check-input" id="customRadio" name="guardianIs"
              [(ngModel)]="studentDto.guardianIs" value="Mother">&nbsp;
            Mother</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <label class="form-check-label" for="Other">
            <input type="radio" class="form-check-input" id="customRadio" name="guardianIs"
              [(ngModel)]="studentDto.guardianIs" value="Other">&nbsp;
            Other</label>
        </div>
      </div>

      <div class="row">
        <div class="col-xl-3 col-lg-6 col-12 form-group">
          <label for="inp" class="inp">
            <input type="text" name="guardianName" #guardianName="ngModel" class="form-control" id="inp"
              placeholder="&nbsp;" [(ngModel)]="studentDto.guardianName" required>
            <span class="label">Guardian Name*</span>
            <span class="focus-bg"></span>
          </label>
          <div class="alert alert-danger" *ngIf="guardianName.touched && !guardianName.valid">
            Please Enter Guardian Name.
          </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-12 form-group">
          <label for="inp" class="inp">
            <input type="text" name="guardianRelation" class="form-control" id="inp" placeholder="&nbsp;"
              [(ngModel)]="studentDto.guardianRelation">
            <span class="label">Guardian Relation*</span>
            <span class="focus-bg"></span>
          </label>
          <!--  <div class="alert alert-danger" *ngIf="guardianRelation.touched && !guardianRelation.valid">
            Please Enter Guardian Relation.
          </div> -->
        </div>

        <div class="col-xl-3 col-lg-6 col-12 form-group">
          <label for="inp" class="inp">
            <input type="text" name="guardianOccupation" #guardianOccupation="ngModel" class="form-control" id="inp"
              placeholder="&nbsp;" [(ngModel)]="studentDto.guardianOccupation" required>
            <span class="label">Guardian Occupation*</span>
            <span class="focus-bg"></span>
          </label>
          <div class="alert alert-danger" *ngIf="guardianOccupation.touched && !guardianOccupation.valid">
            Please Enter Guardian Occupation.
          </div>
        </div>


        <div class="col-xl-3 col-lg-6 col-12 form-group">
          <label for="inp" class="inp">
            <input type="text" name="guardianPhone" #guardianPhone="ngModel" class="form-control" id="inp"
              placeholder="&nbsp;" [(ngModel)]="studentDto.guardianPhone" required>
            <span class="label">Guardian Phone*</span>
            <span class="focus-bg"></span>
          </label>
          <div class="alert alert-danger" *ngIf="guardianPhone.touched && !guardianPhone.valid">
            Please Enter Gardian Phone.
          </div>
        </div>

        <div class="col-xl-3 col-lg-6 col-12 form-group">
          <label for="inp" class="inp">
            <input type="text" name="guardianEmail" #guardianEmail="ngModel" class="form-control" id="inp"
              placeholder="&nbsp;" [(ngModel)]="studentDto.guardianEmail" required>
            <span class="label">Guardian Email *</span>
            <span class="focus-bg"></span>
          </label>
          <div class="alert alert-danger" *ngIf="guardianEmail.touched && !guardianEmail.valid">
            Please Enter Guardian Email.
          </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-12 form-group">
          <label for="inp" class="inp">
            <input type="textarea" name="guardianAddress" class="form-control" id="inp" placeholder="&nbsp;"
              [(ngModel)]="studentDto.guardianAddress" row="3">
            <span class="label">Guardian Address *</span>
            <span class="focus-bg"></span>
          </label>
          <!--  <div class="alert alert-danger" *ngIf="guardianEmail.touched && !guardianEmail.valid">
            Please Enter Guardian Email.
          </div> -->
        </div>

        <div class="col-xl-3 col-lg-6 col-12 form-group">
          <label class="text-dark-medium" style="font-size: small;">Upload Photo (150px X 150px)</label>
          <input type="file" class="form-control-file" name="guardianPic"
            placeholder="Upload Guardian Photo (150px X 150px)" [(ngModel)]="studentDto.guardianPic">
        </div>
        <br>



      </div>
      <hr><br>


      <button (click)=toggleDisplay() type="button" class="block"><b>Add More Details</b></button>


    </form>
  </div>
</div>


<div class="container">

  <!-- Modal -->
  <div id="myModal" class="modal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>

        </div>
        <div class="modal-body">
          <form role="form" method="post" id="reused_form">
            <div class="row">
              <div class="col-xl-4 col-lg-12 col-12 form-group">
                <label for="slt" class="slt">
                  <select class="form-control" id="slt" placeholder="&nbsp;">
                    <option selected> Select Class *</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="3">4</option>
                    <option value="3">5</option>
                    <option value="3">6</option>
                  </select>
                  <span class="label">Class *</span>
                  <span class="focus-bg"></span>
                </label>
              </div>

              <div class="col-xl-4 col-lg-12 col-12 form-group">
                <label for="slt" class="slt">
                  <select name="section" class="form-control" id="slt" placeholder="&nbsp;">
                    <option selected> Select section *</option>
                    <option value="">select</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="3">4</option>
                    <option value="3">5</option>
                    <option value="3">6</option>
                  </select>
                  <span class="label">Section *</span>
                  <span class="focus-bg"></span>
                </label>
              </div>

              <div class="col-xl-4 col-lg-12 col-12 form-group">
                <label for="slt" class="slt">
                  <select name="section" class="form-control" id="slt" placeholder="&nbsp;">
                    <option selected> Select Student *</option>
                    <option value="">select</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="3">4</option>
                    <option value="3">5</option>
                    <option value="3">6</option>
                  </select>
                  <span class="label">Student *</span>
                  <span class="focus-bg"></span>
                </label>
              </div>

              <div class="col-12-xxxl col-lg-6 col-12 form-group">
                <button type="submit"
                  class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark">Add</button>&nbsp;&nbsp;&nbsp;

              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="card height-auto" [hidden]="isShow">
  <div class="card-body">
    <form class="new-added-form">
      <h3>Students Address Details</h3>
      <!-- <button type="button" class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark" style="float: right;"
        onClick="location.href='/#/admissionform'">Back</button>&nbsp;&nbsp;&nbsp; -->
      <div class="row">
        <div class="col-xl-6 col-lg-12 col-12 form-group">
          <label><input type="checkbox">&nbsp;&nbsp;If Guardian Address is Current Address
          </label>
          <label for="inp" class="inp" style="float: left;">
            <input type="text" class="form-control" id="inp" placeholder="&nbsp;" name="currentAddress"
              #currentAddress="ngModel" [(ngModel)]="studentDto.currentAddress" required>
            <span class="label">Current Address</span>
            <span class="focus-bg"></span>
          </label>
          <div class="alert alert-danger" *ngIf="currentAddress.touched && !currentAddress.valid">
            Please Enter currentAddress.
          </div>
        </div>

        <div class="col-xl-6 col-lg-12 col-12 form-group">
          <label><input type="checkbox">&nbsp;&nbsp;If Permanent Address is Current Address
          </label>

          <label for="inp" class="inp" style="float: left;">
            <input type="text" class="form-control" id="inp" placeholder="&nbsp;" name="permanentAddress"
              #permanentAddress="ngModel" [(ngModel)]="studentDto.permanentAddress" required>
            <span class="label">Permanent Address</span>
            <span class="focus-bg"></span>
          </label>
          <div class="alert alert-danger" *ngIf="permanentAddress.touched && !permanentAddress.valid">
            Please Enter PermanentAddress.
          </div>
        </div>
      </div>

      <hr><br>

      <h3>Transport Details</h3>
      <div class="row">
        <div class="col-xl-6 col-lg-12 col-12 form-group">
          <label for="slt" class="slt" style="float: left;">
            <select name="House" class="form-control" id="slt" placeholder="&nbsp;">
              <option selected>Please Select Route*</option>
              <option value="1">1</option>
              <option value="2">2</option>
            </select>
            <span class="label">Route List *</span>
            <span class="focus-bg"></span>
          </label>
        </div>
      </div>

      <hr><br>

      <h3>Hostel Details</h3>
      <div class="row">
        <div class="col-xl-6 col-lg-12 col-12 form-group">
          <label for="slt" class="slt" style="float: left;">
            <select name="House" class="form-control" id="slt" placeholder="&nbsp;">
              <option selected>Please Select Hostel*</option>
              <option value="1">1</option>
              <option value="2">2</option>
            </select>
            <span class="label">Hostel *</span>
            <span class="focus-bg"></span>
          </label>
        </div>

        <div class="col-xl-6 col-lg-12 col-12 form-group">
          <label for="slt" class="slt" style="float: left;">
            <select name="House" class="form-control" id="slt" placeholder="&nbsp;">
              <option selected>Please Select Room*</option>
              <option value="1">1</option>
              <option value="2">2</option>
            </select>
            <span class="label">Room *</span>
            <span class="focus-bg"></span>
          </label>
        </div>
      </div>

      <hr><br>

      <h3>Miscellaneous Details</h3>
      <div class="row">
        <div class="col-xl-4 col-lg-6 col-12 form-group">
          <label for="inp" class="inp" style="float: left;">
            <input type="text" class="form-control" id="inp" placeholder="&nbsp;" name="bankAccountNo"
              #bankAccountNo="ngModel" [(ngModel)]="studentDto.bankAccountNo" required>
            <span class="label">Bank Account No.</span>
            <span class="focus-bg"></span>
          </label>
          <div class="alert alert-danger" *ngIf="bankAccountNo.touched && !bankAccountNo.valid">
            Please Enter Account Number.
          </div>
        </div>

        <div class="col-xl-4 col-lg-6 col-12 form-group">
          <label for="inp" class="inp" style="float: left;">
            <input type="text" class="form-control" id="inp" placeholder="&nbsp;" name="bankName"
              [(ngModel)]="studentDto.bankName"> <span class="label">Bank Name.</span>
            <span class="focus-bg"></span>
          </label>
        </div>
        <div class="col-xl-4 col-lg-6 col-12 form-group">
          <label for="inp" class="inp" style="float: left;">
            <input type="text" class="form-control" id="inp" placeholder="&nbsp;" name="ifscCode"
              [(ngModel)]="studentDto.ifscCode"> <span class="label">IFSC Code</span>
            <span class="focus-bg"></span>
          </label>
        </div>

        <div class="col-xl-4 col-lg-6 col-12 form-group">
          <label for="inp" class="inp" style="float: left;">
            <input type="text" class="form-control" id="inp" placeholder="&nbsp;" name=""
              [(ngModel)]="studentDto.guardianEmail"> <span class="label">National Identification Number</span>
            <span class="focus-bg"></span>
          </label>
        </div>

        <div class="col-xl-4 col-lg-6 col-12 form-group">
          <label for="inp" class="inp" style="float: left;">
            <input type="text" class="form-control" id="inp" placeholder="&nbsp;" name=""
              [(ngModel)]="studentDto.guardianEmail"> <span class="label">Local Identification Number</span>
            <span class="focus-bg"></span>
          </label>
        </div>

        <div class="col-xl-4 col-lg-6 col-12 form-group">
          <label class="control-label">RTE&nbsp;&nbsp;<br>
            <input type="radio" id="call1" name="rte" [(ngModel)]="studentDto.rte" value="Incoming">
            Incoming&nbsp;
            <input type="radio" id="call1" name="rte" [(ngModel)]="studentDto.rte" value="Outgoing">
            Outgoing
          </label>
        </div>
        <div class="col-xl-4 col-lg-6 col-12 form-group">
          <label for="inp" class="inp" style="float: left;">
            <input type="text" class="form-control" id="inp" placeholder="&nbsp;" name=""
              [(ngModel)]="studentDto.guardianEmail"> <span class="label">Previous School Details</span>
            <span class="focus-bg"></span>
          </label>
        </div>

        <div class="col-xl-4 col-lg-6 col-12 form-group">
          <label for="inp" class="inp" style="float: left;">
            <input type="text" class="form-control" id="inp" placeholder="&nbsp;" name="previousSchool"
              [(ngModel)]="studentDto.previousSchool"> <span class="label">Notes</span>
            <span class="focus-bg"></span>
          </label>
        </div>

      </div>
      <hr>
      <h3>Upload Content</h3>
      <div class="row">
        <div class="col-xl-3 col-lg-12 col-12 form-group">
          <label for="inp" class="inp" style="float: left;">
            <input type="text" class="form-control" id="inp" placeholder="&nbsp;" name=""
              [(ngModel)]="studentDto.guardianEmail"> <span class="label">Title</span>
            <span class="focus-bg"></span>
          </label>
        </div>
        <div class="col-xl-3 col-lg-12 col-12 form-group">
          <label class="text-dark-medium" style="font-size: small;">Document</label>
          <input type="file" class="form-control-file" name="photo" placeholder="Document">
        </div>
        <div class="col-xl-3 col-lg-12 col-12 form-group">
          <label for="inp" class="inp" style="float: left;">
            <input type="text" class="form-control" id="inp" placeholder="&nbsp;" name=""
              [(ngModel)]="studentDto.guardianEmail"> <span class="label">Title</span>
            <span class="focus-bg"></span>
          </label>
        </div>
        <div class="col-xl-3 col-lg-12 col-12 form-group">
          <label class="text-dark-medium" style="font-size: small;">Document</label>
          <input type="file" class="form-control-file" name="photo" placeholder="Document">
        </div>
        <div class="col-xl-3 col-lg-12 col-12 form-group">
          <label for="inp" class="inp" style="float: left;">
            <input type="text" class="form-control" id="inp" placeholder="&nbsp;" name=""
              [(ngModel)]="studentDto.guardianEmail"> <span class="label">Title</span>
            <span class="focus-bg"></span>
          </label>
        </div>
        <div class="col-xl-3 col-lg-12 col-12 form-group">
          <label class="text-dark-medium" style="font-size: small;">Document</label>
          <input type="file" class="form-control-file" name="photo" placeholder="Document">
        </div>
        <div class="col-xl-3 col-lg-12 col-12 form-group">
          <label for="inp" class="inp" style="float: left;">
            <input type="text" class="form-control" id="inp" placeholder="&nbsp;" name=""
              [(ngModel)]="studentDto.guardianEmail"> <span class="label">Title</span>
            <span class="focus-bg"></span>
          </label>
        </div>
        <div class="col-xl-3 col-lg-12 col-12 form-group">
          <label class="text-dark-medium" style="font-size: small;">Document</label>
          <input type="file" class="form-control-file" name="photo" placeholder="Document">
        </div>
      </div>
      <div class="col-xl-3 col-lg-6 col-12 form-group">
        <!-- <button type="button" class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark"
              onClick="location.href='/#/admissionform'">+ Prev</button> -->
        <button *ngIf="!this.isUpdate" (click)="addadmisssionform()" type="button"
          class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark">
          Save
        </button>
        <button *ngIf="this.isUpdate" (click)="updateadmissionform(studentDto.id)" type="button"
          class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark">
          Update
        </button>
      </div>

    </form>
  </div>
</div>
