
    <!-- Breadcubs Area Start Here -->
    <div class="breadcrumbs-area">
        <h3>Inventory</h3>
        <ul>
            <li>
                <a href="">Home</a>
            </li>
            <li>Add Item Store</li>
        </ul>
    </div>
    <!-- Breadcubs Area End Here -->
    <!-- Add Item Category Area Start Here -->
    <div class="card height-auto">
        <div class="card-body">
            <div class="heading-layout1">
                <div class="item-title">
                    <h3>Add Item Store</h3>
                </div>
               <div class="dropdown">
                    <a class="dropdown-toggle" href="#" role="button" 
                    data-toggle="dropdown" aria-expanded="false">...</a>

                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="#"><i class="fas fa-times text-orange-red"></i>Close</a>
                        <a class="dropdown-item" href="#"><i class="fas fa-cogs text-dark-pastel-green"></i>Edit</a>
                        <a class="dropdown-item" href="#"><i class="fas fa-redo-alt text-orange-peel"></i>Refresh</a>
                    </div>
                </div>
            </div>
            <form class="new-added-form" >
                <div class="row">
                    <div class="col-xl-3 col-lg-6 col-12 form-group">
                        <label for="inp" class="inp">
                            <input type="text" class="form-control" id="inp" placeholder="&nbsp;">
                            <span class="label">Item Store Name *</span>
                            <span class="focus-bg"></span>
                          </label>
                    </div>

                    <div class="col-xl-3 col-lg-6 col-12 form-group">
                        <label for="inp" class="inp">
                            <input type="text" class="form-control" id="inp" placeholder="&nbsp;">
                            <span class="label">Itwm Stock Code *</span>
                            <span class="focus-bg"></span>
                        </label>
                    </div>

                    <div class="col-xl-3 col-lg-6 col-12 form-group">
                        <label for="inp" class="inp">
                            <input type="text" class="form-control" id="inp" placeholder="&nbsp;">
                            <span class="label">Description</span>
                            <span class="focus-bg"></span>
                          </label>
                    </div>
                   
                    <div class="col-xl-3 col-lg-6 col-12 form-group">
                        <button type="submit" class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark">Search</button>
                    
                    </div>
                </div>
            </form>
            <div class="table-responsive">
                <button style="  background-color: #000066; position: relative; top:0; right: 10; float: right;" type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">+ Add</button>
                    <table id="example" class="table display data-table text-nowrap cell-border">
                      <thead>
                          <tr>
                              <th>Item Store Name</th>
                              <th>Item Stock Code</th>
                              <th>Action</th>
                          </tr>
                      </thead>
                      <tbody>
                        <tr>
                            <td>Library Store</td>
                            <td>LB2</td>
                            <td> <a href="#"><i class="fas fa-align-justify "></i>&nbsp;</a>
                                <a href="#"><i class="fas fa-pen-alt text-orange-peel"></i>&nbsp;</a> 
                                <a href="#"><i class="fas fa-times text-orange-red"></i>&nbsp;</a>    </td>
                        </tr>
        
                        <tr>
                          <td>Science Store</td>
                          <td>SC2</td>
                          <td> <a href="#"><i class="fas fa-align-justify "></i>&nbsp;</a>
                              <a href="#"><i class="fas fa-pen-alt text-orange-peel"></i>&nbsp;</a> 
                              <a href="#"><i class="fas fa-times text-orange-red"></i>&nbsp;</a>    </td>
                        </tr>
        
                        <tr>
                            <td>Library Store</td>
                            <td>LB2</td>
                            <td> <a href="#"><i class="fas fa-align-justify "></i>&nbsp;</a>
                                <a href="#"><i class="fas fa-pen-alt text-orange-peel"></i>&nbsp;</a> 
                                <a href="#"><i class="fas fa-times text-orange-red"></i>&nbsp;</a>    </td>
                        </tr>
        
                        <tr>
                          <td>Science Store</td>
                          <td>SC2</td>
                          <td> <a href="#"><i class="fas fa-align-justify "></i>&nbsp;</a>
                              <a href="#"><i class="fas fa-pen-alt text-orange-peel"></i>&nbsp;</a> 
                              <a href="#"><i class="fas fa-times text-orange-red"></i>&nbsp;</a>    </td>
                        </tr>     
                    </tbody>
                  </table>
              </div>
        </div>
    </div>
    <!-- Add Item Category Area End Here -->