<style>
  body {
    height: 100vh;
    display: grid;
    font-family: Roboto;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
  }

  * {
    box-sizing: border-box;
  }

  .inp {
    position: relative;
    margin: auto;
    width: 100%;
    max-width: 280px;
    border-radius: 3px;
    overflow: hidden;
  }

  .inp .label {
    position: absolute;
    top: 20px;
    left: 12px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 500;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    pointer-events: none;
  }

  .inp .focus-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: none;
    z-index: -1;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: left;
    transform-origin: left;
  }

  .inp input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    border: 0;
    font-family: inherit;
    padding: 16px 12px 0 12px;
    height: 45px;
    font-size: 16px;
    font-weight: 400;
    background: rgba(0, 0, 0, 0);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.3);
    color: #000;
    -webkit-transition: all 0.15s ease;
    transition: all 0.15s ease;
  }

  .inp input:hover {
    background: rgba(0, 0, 0, 0);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.5);
  }

  .inp input:not(:placeholder-shown)+.label {
    color: rgba(0, 0, 0, 0.5);
    -webkit-transform: translate3d(0, -18px, 0) scale(0.75);
    transform: translate3d(0, -18px, 0) scale(0.75);
  }

  .inp input:focus {
    background: rgba(0, 0, 0, 0);
    outline: none;
    box-shadow: inset 0 -2px 0 #0077FF;
  }

  .inp input:focus+.label {
    color: #0077FF;
    -webkit-transform: translate3d(0, -18px, 0) scale(0.75);
    transform: translate3d(0, -18px, 0) scale(0.75);
  }

  .inp input:focus+.label+.focus-bg {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transition: all 0.1s ease;
    transition: all 0.1s ease;
  }


  /*******select box*********/
  .slt {

    position: relative;
    margin: auto;
    width: 100%;
    max-width: 280px;
    border-radius: 3px;
    overflow: hidden;
  }

  .slt .label {
    position: absolute;
    top: 20px;
    left: 12px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 500;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    pointer-events: none;
  }

  .slt .focus-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    z-index: -1;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: left;
    transform-origin: left;
  }

  .slt select {

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    border: none;
    font-family: inherit;
    padding: 16px 12px 0 12px;
    height: 45px;
    font-size: 16px;
    font-weight: 400;
    background: rgba(0, 0, 0, 0);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.3);
    color: #000;
    -webkit-transition: all 0.15s ease;
    transition: all 0.15s ease;
  }

  .slt select:hover {
    background: rgba(0, 0, 0, 0);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.5);
  }

  .slt select:not(:placeholder-shown)+.label {
    color: rgba(0, 0, 0, 0.5);
    -webkit-transform: translate3d(0, -18px, 0) scale(0.75);
    transform: translate3d(0, -18px, 0) scale(0.75);
  }

  .slt select:focus {
    background: rgba(0, 0, 0, 0);
    outline: none;
    box-shadow: inset 0 -2px 0 #0077FF;
  }

  .slt select:focus+.label {
    color: #0077FF;
    -webkit-transform: translate3d(0, -18px, 0) scale(0.75);
    transform: translate3d(0, -18px, 0) scale(0.75);
  }

  .slt select:focus+.label+.focus-bg {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transition: all 0.1s ease;
    transition: all 0.1s ease;
  }

  /*********datppicker****************/
  .dtp {
    position: relative;
    margin: auto;
    width: 100%;
    max-width: 280px;
    border-radius: 3px;
    /*overflow: hidden;*/
  }

  .dtp .label {
    position: absolute;
    top: 20px;
    left: 12px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 500;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    pointer-events: none;
  }

  .dtp .focus-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: left;
    transform-origin: left;
  }

  .dtp input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    border: none;
    font-family: inherit;
    padding: 16px 12px 0 12px;
    height: 45px;
    font-size: 16px;
    font-weight: 400;
    background: rgba(0, 0, 0, 0);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.3);
    color: #000;
    -webkit-transition: all 0.15s ease;
    transition: all 0.15s ease;
  }

  .dtp input:hover {
    background: rgba(0, 0, 0, 0);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.5);
  }

  .dtp input:not(:placeholder-shown)+.label {
    color: rgba(0, 0, 0, 0.5);
    -webkit-transform: translate3d(0, -18px, 0) scale(0.75);
    transform: translate3d(0, -18px, 0) scale(0.75);
  }

  .dtp input:focus {
    background: rgba(0, 0, 0, 0);
    outline: none;
    box-shadow: inset 0 -2px 0 #0077FF;
  }

  .dtp input:focus+.label {
    color: #0077FF;
    -webkit-transform: translate3d(0, -18px, 0) scale(0.75);
    transform: translate3d(0, -18px, 0) scale(0.75);
  }

  .dtp input:focus+.label+.focus-bg {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transition: all 0.1s ease;
    transition: all 0.1s ease;
  }

  /*************popup************************/

  .container {

    background-size: cover;
    background-repeat: no-repeat;
  }

  .container-box {
    display: inline-block;
    padding: 10px;

    background: rgba(136, 82, 82, 0.8);
    border: 1px solid #fff;
    position: fixed;
    top: 55%;
    left: 0;

  }

  .modal-content {
    background: rgba(255, 255, 255, 1);
    background: rgba(255, 255, 255, 1);
    position: fixed;
    margin-top: 30%;

    width: 200%;
    transform: translate(-25%, -25%);
  }

</style>

<div class="breadcrumbs-area">
  <ul>
    <li>
      <a href="index.html">Home</a>
    </li>
    <li>Admission Enquiry</li>
  </ul>
</div>

<div class="card height-auto">
  <div class="card-body">
    <div class="dropdown">
      <form class="new-added-form">
        <div class="row">

          <div class="col-xl-3 col-lg-6 col-12 form-group">
            <label for="dtp" class="dtp">
              <input type="text" BsDatepicker name="date" class="form-control" id="inp" placeholder="&nbsp;"
                [(ngModel)]="enquiry.date">
              <span class="label">Enquiry Date*</span>
              <span class="focus-bg"></span>
            </label>

          </div>

          <!--  <div class="col-xl-3 col-lg-6 col-12 form-group">
            <label for="slt" class="slt">
              <select class="form-control" id="slt" placeholder="&nbsp;" [(ngModel)]="enquiry.source[0].source"
                name="source">
                <option value="">select</option>
                <option *ngFor="let sources of this.source" [value]="sources.source"
                  [selected]="enquiry.source[0].source == sources.source">{{ sources.source }}</option>
              </select>
              <span class="label">Source *</span>
              <span class="focus-bg"></span>
            </label>
          </div> -->


          <!-- <div class="col-xl-3 col-lg-6 col-12 form-group">
            <label for="slt" class="slt">
              <select class="form-control" id="slt" placeholder="&nbsp;" [(ngModel)]="enquiry.classses"
                name="studentClass">
                <option selected>Please Select Class *</option>
                <option value="All" [selected]="enquiry.classses == 'All'">All</option>
                <option value="Active" [selected]="enquiry.classses == 'Active'">Active</option>
                <option value="Passive" [selected]="enquiry.classses == 'Passive'">Passive</option>
                <option value="Dead" [selected]="enquiry.classses == 'Dead'">Dead</option>
                <option value="Won" [selected]="enquiry.classses == 'Won'">Won</option>
                <option value="Lost" [selected]="enquiry.classses == 'Lost'">Lost</option>
              </select>
              <span class="label">Status *</span>
              <span class="focus-bg"></span>
            </label>
            
          </div> -->

          <div class="col-xl-3 col-lg-6 col-12 form-group">
            <button type="submit" class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark">Search</button>
            <button style="  background-color: #000066; position: relative; top:0; right: 10; float: right;"
              type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">+ Add</button>

          </div>
          <div class="col-xl-3 col-lg-6 col-12 form-group">
          </div>

        </div>
      </form>

      <div class="table-responsive">

        <table id="example" class="table display data-table text-nowrap cell-border">
          <thead>
            <tr>
              <th>Name</th>
              <th>Phone</th>
              <th>Source</th>
              <th>Enquiry Date</th>
              <th>Last Follow Up Date</th>
              <th>Next Follow UP Date</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let enq of enquirys">
              <td>{{ enq.name }}</td>
              <td>{{ enq.contact }}</td>
              <td>{{ enq.source }}</td>
              <td>{{ enq.date }}</td>
              <td>{{ enq.followUpDate }}</td>
              <td>{{ enq.followUpDate }}</td>
              <td>{{ enq.isActive }}</td>

              <td> <a href="#"><i class="fas fa-phone "></i>&nbsp;</a>
                <a href="#"><i class="fas fa-pen-alt text-orange-peel"></i>&nbsp;</a>
                <a href="#"><i class="fas fa-times text-orange-red"></i>&nbsp;</a> </td>
            </tr>


          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- Admission Enquiry Area Start Here -->
<div class="container">

  <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">

          <h5> Add Enquiry</h5>
          <button type="button" class="close" data-dismiss="modal">&times;</button>

        </div>
        <div class="modal-body">
          <form role="form" method="post" id="reused_form">

            <div class="row">
              <div class="col-xl-3 col-lg-6 col-12 form-group">
                <label for="inp" class="inp">
                  <input type="text" name="visitorname" class="form-control" id="inp" placeholder="&nbsp;"
                    [(ngModel)]="enquiry.name">
                  <span class="label">Name *</span>
                  <span class="focus-bg"></span>
                </label>

              </div>

              <div class="col-xl-3 col-lg-6 col-12 form-group">
                <label for="inp" class="inp">
                  <input type="text" name="contact" class="form-control" id="inp" placeholder="&nbsp;"
                    [(ngModel)]="enquiry.contact">
                  <span class="label">Mobile *</span>
                  <span class="focus-bg"></span>
                </label>
              </div>

              <div class="col-xl-3 col-lg-6 col-12 form-group">
                <label for="inp" class="inp">
                  <input type="text" name="address" class="form-control" id="inp" placeholder="&nbsp;"
                    [(ngModel)]="enquiry.address">
                  <span class="label">Addres *</span>
                  <span class="focus-bg"></span>
                </label>
              </div>

              <div class="col-xl-3 col-lg-6 col-12 form-group">
                <label for="inp" class="inp">
                  <input type="text" name="email" class="form-control" id="inp" placeholder="&nbsp;"
                    [(ngModel)]="enquiry.email">
                  <span class="label">E-Mail *</span>
                  <span class="focus-bg"></span>
                </label>
              </div>

              <div class="col-xl-3 col-lg-6 col-12 form-group">
                <label for="inp" class="inp">
                  <input type="text" name="description" class="form-control" id="inp" placeholder="&nbsp;"
                    [(ngModel)]="enquiry.description">
                  <span class="label">Description *</span>
                  <span class="focus-bg"></span>
                </label>
              </div>

              <div class="col-xl-3 col-lg-6 col-12 form-group">
                <label for="inp" class="inp">
                  <input type="text" name="note" class="form-control" id="inp" placeholder="&nbsp;"
                    [(ngModel)]="enquiry.note">
                  <span class="label">Note *</span>
                  <span class="focus-bg"></span>
                </label>
              </div>

              <div class="col-xl-3 col-lg-6 col-12 form-group">
                <label for="dtp" class="dtp">
                  <input type="text" BsDatepicker name="date" class="form-control" id="inp" placeholder="&nbsp;"
                    [(ngModel)]="enquiry.date">
                  <span class="label">Choose Date *</span>

                </label>
              </div>

              <div class="col-xl-3 col-lg-6 col-12 form-group">
                <label for="dtp" class="dtp">
                  <input type="text" BsDatepicker name="followUpDate" class="form-control" id="inp" placeholder="&nbsp;"
                    [(ngModel)]="enquiry.followUpDate">
                  <span class="label">Next Follow up Date *</span>
                  <span class="focus-bg"></span>
                </label>
              </div>

              <div class="col-xl-3 col-lg-6 col-12 form-group">
                <label for="inp" class="inp">
                  <input type="text" name="assigned" class="form-control" id="inp" placeholder="&nbsp;"
                    [(ngModel)]="enquiry.assigned">
                  <span class="label">Assinged*</span>
                  <span class="focus-bg"></span>
                </label>
              </div>

              <!-- <div class="col-xl-3 col-lg-6 col-12 form-group">
                <label for="slt" class="slt">
                  <select class="form-control" id="slt" placeholder="&nbsp;"
                    [(ngModel)]="enquiry.reference[0].reference" name="source">
                    <option value="">select</option>
                    <option *ngFor="let references of this.reference" [value]="references.reference"
                      [selected]="enquiry.reference[0].reference == references.reference">{{ references.reference }}
                    </option>
                  </select>
                  <span class="label">References *</span>
                  <span class="focus-bg"></span>
                </label>
              </div>

              <div class="col-xl-3 col-lg-6 col-12 form-group">
                <label for="slt" class="slt">
                  <select class="form-control" id="slt" placeholder="&nbsp;" [(ngModel)]="enquiry.source[0].source"
                    name="source">
                    <option value="">select</option>
                    <option *ngFor="let sources of this.source" [value]=" sources.source"
                      [selected]="enquiry.source[0].source == sources.source">{{ sources.source }}</option>
                  </select>
                  <span class="label">Source *</span>
                  <span class="focus-bg"></span>
                </label>
              </div>

              <div class="col-xl-3 col-lg-6 col-12 form-group">
                <label for="slt" class="slt">
                  <select class="form-control" id="slt" placeholder="&nbsp;" [(ngModel)]="enquiry.classses[0].classses"
                    name="source">
                    <option value="">select</option>
                    <option *ngFor="let class of this.classDto" [value]="sections.section"
                      [selected]="enquiry.classses[0].classses == classses.class">{{ classses.class}}</option>
                  </select>
                  <span class="label">Class *</span>
                  <span class="focus-bg"></span>
                </label>
              </div> -->

              <div class="col-xl-3 col-lg-6 col-12 form-group">
                <label for="inp" class="inp">
                  <input type="text" name="noOfChild" class="form-control" id="inp" placeholder="&nbsp;"
                    [(ngModel)]="enquiry.noOfChild">
                  <span class="label">No of Child *</span>
                  <span class="focus-bg"></span>
                </label>
              </div>

              <div class="col-xl-4 col-lg-6 col-12 form-group">
                <button *ngIf="!this.isUpdate" (click)="add()" type="button"
                  class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark" data-toggle="modal" data-target="#myModal">
                  Save
                </button>
                <button *ngIf="this.isUpdate" (click)="update(enquiry.id)" type="button"
                  class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark" data-toggle="modal" data-target="#myModal">
                  Update
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>

    </div>
  </div>
</div>
<div class="container">

  <div id="myModal2" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">

          <h5> Add Enquiry</h5>
          <button type="button" class="close" data-dismiss="modal">&times;</button>

        </div>
        <div class="modal-body">
          <form role="form" method="post" id="reused_form">

            <div class="row">
              <div class="col-xl-3 col-lg-6 col-12 form-group">
                <label for="inp" class="inp">
                  <input type="text" name="Name" class="form-control" id="inp" placeholder="&nbsp;">
                  <span class="label">Name *</span>
                  <span class="focus-bg"></span>
                </label>

              </div>

              <div class="col-xl-3 col-lg-6 col-12 form-group">
                <label for="inp" class="inp">
                  <input type="text" name="mob" class="form-control" id="inp" placeholder="&nbsp;">
                  <span class="label">Mobile *</span>
                  <span class="focus-bg"></span>
                </label>
              </div>

              <div class="col-xl-3 col-lg-6 col-12 form-group">
                <label for="inp" class="inp">
                  <input type="text" name="address" class="form-control" id="inp" placeholder="&nbsp;">
                  <span class="label">Addres *</span>
                  <span class="focus-bg"></span>
                </label>
              </div>

              <div class="col-xl-3 col-lg-6 col-12 form-group">
                <label for="inp" class="inp">
                  <input type="email" name="mail" class="form-control" id="inp" placeholder="&nbsp;">
                  <span class="label">E-Mail *</span>
                  <span class="focus-bg"></span>
                </label>
              </div>

              <div class="col-xl-3 col-lg-6 col-12 form-group">
                <label for="inp" class="inp">
                  <input type="text" name="Description" class="form-control" id="inp" placeholder="&nbsp;">
                  <span class="label">Description *</span>
                  <span class="focus-bg"></span>
                </label>
              </div>

              <div class="col-xl-3 col-lg-6 col-12 form-group">
                <label for="inp" class="inp">
                  <input type="text" name="note" class="form-control" id="inp" placeholder="&nbsp;">
                  <span class="label">Note *</span>
                  <span class="focus-bg"></span>
                </label>
              </div>

              <div class="col-xl-3 col-lg-6 col-12 form-group">
                <label for="dtp" class="dtp">
                  <input type="text" id="dtp" placeholder="&nbsp;" bsDatepicker class="form-control">
                  <span class="label">Choose Date *</span>
                  <span class="focus-bg"></span>
                </label>
              </div>

              <div class="col-xl-3 col-lg-6 col-12 form-group">
                <label for="dtp" class="dtp">
                  <input type="date" id="dtp" placeholder="&nbsp;">
                  <span class="label">Next Follow up Date *</span>
                  <span class="focus-bg"></span>
                </label>
              </div>

              <div class="col-xl-3 col-lg-6 col-12 form-group">
                <label for="inp" class="inp">
                  <input type="text" name="lasAssingedtName" class="form-control" id="inp" placeholder="&nbsp;">
                  <span class="label">Assinged*</span>
                  <span class="focus-bg"></span>
                </label>
              </div>

              <div class="col-xl-3 col-lg-6 col-12 form-group">
                <label for="slt" class="slt">
                  <select name="category" class="form-control" id="slt" placeholder="&nbsp;">
                    <option selected>Please Select *</option>
                    <option value="">select</option>
                    <option value="1">Staff</option>
                    <option value="2">Parents</option>
                    <option value="3">Students</option>
                    <option value="3">Parents</option>
                    <option value="3">Partner School</option>
                    <option value="3">Self</option>
                  </select>
                  <span class="label">References *</span>
                  <span class="focus-bg"></span>
                </label>
              </div>

              <div class="col-xl-3 col-lg-6 col-12 form-group">
                <label for="slt" class="slt">
                  <select name="category" class="form-control" id="slt" placeholder="&nbsp;">
                    <option selected>Please Select *</option>
                    <option value="1">Front Office</option>
                    <option value="2">Advertisement</option>
                    <option value="3">Online Front Site</option>
                    <option value="4">Google Ads</option>
                    <option value="5">Admission Campaign</option>
                  </select>
                  <span class="label">Source *</span>
                  <span class="focus-bg"></span>
                </label>
              </div>

              <div class="col-xl-3 col-lg-6 col-12 form-group">
                <label for="slt" class="slt">
                  <select name="class" class="form-control" id="slt" placeholder="&nbsp;">
                    <option selected>Please Select Class *</option>

                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="3">4</option>
                    <option value="3">5</option>
                    <option value="3">6</option>
                  </select>
                  <span class="label">Class *</span>
                  <span class="focus-bg"></span>
                </label>
              </div>

              <div class="col-xl-3 col-lg-6 col-12 form-group">
                <label for="inp" class="inp">
                  <input type="text" name="child" class="form-control" id="inp" placeholder="&nbsp;">
                  <span class="label">No of Child *</span>
                  <span class="focus-bg"></span>
                </label>
              </div>

              <div class="col-12 form-group mg-t-8">
                <button type="submit" class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark">Save</button>&nbsp;
                <button type="reset" class="btn-fill-lg bg-blue-dark btn-hover-yellow">Reset</button>
              </div>
            </div>
          </form>
        </div>
      </div>

    </div>
  </div>
</div>
