<div class="breadcrumbs-area">
  <ul>
    <li>
      <a href="index.html">Home</a>
    </li>
    <li>Admission Enquiry</li>
  </ul>
</div>

<div class="card height-auto">
  <div class="card-body">
    <form role="form" method="post" id="reused_form">

      <div class="row">
        <div class="col-xl-3 col-lg-6 col-12 form-group">
          <label for="dtp" class="dtp">
            <input type="date" id="dtp" placeholder="&nbsp;" name="date" [(ngModel)]="enquiry.date">
            <input type="date" id="dtp" placeholder="&nbsp;" name="followUpDate" [(ngModel)]="enquiry.followUpDate">

            <span class="label">Enquiry Date *</span>

          </label>
        </div>

        <!-- <div class="col-xl-3 col-lg-6 col-12 form-group">
            <label for="slt" class="slt">
              <select class="form-control" id="slt" placeholder="&nbsp;" [(ngModel)]="enquiry.status" name="status">
                <option value="">select</option>
                <option *ngFor="let class of this.status" [value]="status.status"
                  [selected]="enquiry.class_ == class.class">{{ class.class}}</option>
              </select>
              <span class="label">Class *</span>
              <span class="focus-bg"></span>
            </label>
          </div> -->


        <div class="col-xl-3 col-lg-6 col-12 form-group">
          <label for="slt" class="slt">
            <select class="form-control" id="slt" placeholder="&nbsp;" [(ngModel)]="enquiry.source" name="source">
              <option selected>Please Select *</option>
              <option *ngFor="let source of this.sources" [value]="source.source"
                [selected]="enquiry.source ==source.source">{{ source.source }}
              </option>
            </select>
            <span class="label">Source*</span>
            <span class="focus-bg"></span>
          </label>
        </div>
        <div class="col-xl-3 col-lg-6 col-12 form-group">
          <label for="slt" class="slt">
            <select class="form-control" id="slt" placeholder="&nbsp;" name="Status">
              <option selected>Please Select Status *</option>
              <option value="All">All</option>
              <option value="Active">Active</option>
              <option value="Passive">Passive</option>
              <option value="Dead">Dead</option>
              <option value="Won">Won</option>
              <option value="Lost">Lost</option>
            </select>
            <span class="label">Status *</span>
            <span class="focus-bg"></span>
          </label>
        </div>
        <div class="col-xl-3 col-lg-6 col-12 form-group">
          <button (click)="getById(enquiry.id)" type="button" class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark"
            data-toggle="modal" data-target="#myModal">
            Search
          </button>
          <button style="  background-color: #000066; position: relative; top:0; right: 10; float: right;" type="button"
            class="btn btn-info btn-lg" (click)="clearData()" data-toggle="modal" data-target="#myModal">+
            Add</button>

        </div>
      </div>
    </form>
    <hr>



    <div class="table-responsive">

      <table id="example" class="table display data-table text-nowrap cell-border">
        <thead>
          <tr>
            <th>Name</th>
            <th>Phone</th>
            <th>Source</th>
            <th>Enquiry Date</th>
            <th>Last Follow Up Date</th>
            <th>Next Follow UP Date</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let enq of enquirys">
            <td>{{ enq.name }}</td>
            <td>{{ enq.contact }}</td>
            <td>{{ enq.source }}</td>
            <td>{{ enq.date }}</td>
            <td>{{ enq.followUpDate }}</td>
            <td>{{ enq.followUpDate }}</td>
            <td>{{ enq.isActive }}</td>

            <td> <a (click)="getById(enq.id)" data-toggle="modal" data-target="#myModal2"><i class="fa fa-tag"
                  title="call"></i></a>&nbsp;
              <a (click)="setUpdateFileds(enq.id)" data-toggle="modal" data-target="#myModal"><i
                  class="fas fa-pen-alt text-orange-peel"></i>&nbsp;</a>
              <a (click)="deleteenq(enq.id)"><i class=" fas fa-times text-orange-red"></i>&nbsp;</a> </td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- Admission Enquiry Area Start Here -->
<div class="container">

  <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">

          <h5> Add Enquiry</h5>
          <button type="button" class="close" data-dismiss="modal">&times;</button>

        </div>
        <div class="modal-body">
          <form role="form" method="post" id="reused_form">

            <div class="row">
              <div class="col-xl-3 col-lg-6 col-12 form-group">
                <label for="inp" class="inp">
                  <input type="text" name="visitorname" class="form-control" id="inp" placeholder="&nbsp;"
                    [(ngModel)]="enquiry.name">
                  <span class="label">Name *</span>
                  <span class="focus-bg"></span>
                </label>

              </div>

              <div class="col-xl-3 col-lg-6 col-12 form-group">
                <label for="inp" class="inp">
                  <input type="text" name="contact" class="form-control" id="inp" placeholder="&nbsp;"
                    [(ngModel)]="enquiry.contact">
                  <span class="label">Mobile *</span>
                  <span class="focus-bg"></span>
                </label>
              </div>

              <div class="col-xl-3 col-lg-6 col-12 form-group">
                <label for="inp" class="inp">
                  <input type="text" name="address" class="form-control" id="inp" placeholder="&nbsp;"
                    [(ngModel)]="enquiry.address">
                  <span class="label">Addres *</span>
                  <span class="focus-bg"></span>
                </label>
              </div>

              <div class="col-xl-3 col-lg-6 col-12 form-group">
                <label for="inp" class="inp">
                  <input type="text" name="email" class="form-control" id="inp" placeholder="&nbsp;"
                    [(ngModel)]="enquiry.email">
                  <span class="label">E-Mail *</span>
                  <span class="focus-bg"></span>
                </label>
              </div>

              <div class="col-xl-3 col-lg-6 col-12 form-group">
                <label for="inp" class="inp">
                  <input type="text" name="description" class="form-control" id="inp" placeholder="&nbsp;"
                    [(ngModel)]="enquiry.description">
                  <span class="label">Description *</span>
                  <span class="focus-bg"></span>
                </label>
              </div>

              <div class="col-xl-3 col-lg-6 col-12 form-group">
                <label for="inp" class="inp">
                  <input type="text" name="note" class="form-control" id="inp" placeholder="&nbsp;"
                    [(ngModel)]="enquiry.note">
                  <span class="label">Note *</span>
                  <span class="focus-bg"></span>
                </label>
              </div>

              <div class="col-xl-3 col-lg-6 col-12 form-group">
                <label for="dtp" class="dtp">
                  <input type="date" id="dtp" placeholder="&nbsp;" name="date" [(ngModel)]="enquiry.date">
                  <span class="label">Choose Date *</span>

                </label>
              </div>

              <div class="col-xl-3 col-lg-6 col-12 form-group">
                <label for="dtp" class="dtp">
                  <input type="date" id="dtp" placeholder="&nbsp;" name="followUpDate"
                    [(ngModel)]="enquiry.followUpDate">

                  <span class="label">Next Follow up Date *</span>
                  <span class="focus-bg"></span>
                </label>
              </div>

              <div class="col-xl-3 col-lg-6 col-12 form-group">
                <label for="inp" class="inp">
                  <input type="text" name="assigned" class="form-control" id="inp" placeholder="&nbsp;"
                    [(ngModel)]="enquiry.assigned">
                  <span class="label">Assinged*</span>
                  <span class="focus-bg"></span>
                </label>
              </div>

              <div class="col-xl-3 col-lg-6 col-12 form-group">
                <label for="slt" class="slt">
                  <select class="form-control" id="slt" placeholder="&nbsp;" [(ngModel)]="enquiry.reference"
                    name="reference">
                    <option value="">select</option>
                    <option *ngFor="let reference of this.references" [value]="reference.reference"
                      [selected]="enquiry.reference == reference.reference">{{ reference.reference }}
                    </option>
                  </select>
                  <span class="label">References *</span>
                  <span class="focus-bg"></span>
                </label>
              </div>

              <div class="col-xl-3 col-lg-6 col-12 form-group">
                <label for="slt" class="slt">
                  <select class="form-control" id="slt" placeholder="&nbsp;" [(ngModel)]="enquiry.class_" name="class_">
                    <option value="">select</option>
                    <option *ngFor="let class of this.classes" [value]="class.class"
                      [selected]="enquiry.class_ == class.class">{{ class.class}}</option>
                  </select>
                  <span class="label">Class *</span>
                  <span class="focus-bg"></span>
                </label>
              </div>
              <div class="col-xl-3 col-lg-6 col-12 form-group">
                <label for="slt" class="slt">
                  <select class="form-control" id="slt" placeholder="&nbsp;" [(ngModel)]="enquiry.source" name="source">
                    <option selected>Please Select *</option>
                    <option *ngFor="let source of this.sources" [value]="source.source"
                      [selected]="enquiry.source ==source.source">{{ source.source }}
                    </option>
                  </select>
                  <span class="label">Source*</span>
                  <span class="focus-bg"></span>
                </label>
              </div>
              <div class="col-xl-3 col-lg-6 col-12 form-group">
                <label for="inp" class="inp">
                  <input type="number" name="noOfChild" class="form-control" id="inp" min="1" placeholder="&nbsp;"
                    [(ngModel)]="enquiry.noOfChild">
                  <span class="label">No of Child *</span>
                  <span class="focus-bg"></span>
                </label>
              </div>
              <div class="col-xl-3 col-lg-6 col-12 form-group">
                <button *ngIf="!this.isUpdate" (click)="addenq()" type="button"
                  class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark" data-toggle="modal" data-target="#myModal">
                  Save
                </button>
                <button *ngIf="this.isUpdate" (click)="update(enquiry.id)" type="button"
                  class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark" data-toggle="modal" data-target="#myModal">
                  Update
                </button>
              </div>


            </div>
          </form>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="container">

  <div id="myModal2" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5>Follow Up Admission Enquiry</h5>

          <button type="button" class="close" data-dismiss="modal">&times;</button>

        </div>
        <div class="modal-body">
          <form role="form" method="post" id="reused_form">
            <div class="row">

              <div class="col-xl-3 col-lg-6 col-12 form-group">
                <label for="dtp" class="dtp">
                  <input type="date" id="dtp" placeholder="&nbsp;" name="date" [(ngModel)]="enquiry.date">
                  <span class="label">Followup Date*</span>

                </label>
              </div>

              <div class="col-xl-3 col-lg-6 col-12 form-group">
                <label for="dtp" class="dtp">
                  <input type="date" id="dtp" placeholder="&nbsp;" name="followUpDate"
                    [(ngModel)]="enquiry.followUpDate">

                  <span class="label">Next Follow up Date *</span>
                  <span class="focus-bg"></span>
                </label>
              </div>
              <div class="col-xl-3 col-lg-6 col-12 form-group">
                <label for="inp" class="inp">
                  <input type="text" name="description" class="form-control" id="inp" placeholder="&nbsp;"
                    [(ngModel)]="enquiry.description">
                  <span class="label">Response *</span>
                  <span class="focus-bg"></span>
                </label>
              </div>

              <div class="col-xl-3 col-lg-6 col-12 form-group">
                <label for="inp" class="inp">
                  <input type="text" name="note" class="form-control" id="inp" placeholder="&nbsp;"
                    [(ngModel)]="enquiry.note">
                  <span class="label">Note *</span>
                  <span class="focus-bg"></span>
                </label>
              </div>

              <div class="col-xl-3 col-lg-6 col-12 form-group">
                <button *ngIf="!this.isUpdate" (click)="addenq()" type="button"
                  class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark">
                  Save
                </button>

              </div>

            </div>
          </form>
          <div class="table-responsive">

            <table id="example" class="table display data-table text-nowrap cell-border">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Phone</th>
                  <th>Source</th>
                  <th>Enquiry Date</th>
                  <th>Last Follow Up Date</th>
                  <th>Next Follow UP Date</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let enq of enquirys">
                  <td>{{ enq.name }}</td>
                  <td>{{ enq.contact }}</td>
                  <td>{{ enq.source }}</td>
                  <td>{{ enq.date }}</td>
                  <td>{{ enq.followUpDate }}</td>
                  <td>{{ enq.followUpDate }}</td>
                  <td>{{ enq.isActive }}</td>

                </tr>

              </tbody>
            </table>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
