    <!-- Breadcubs Area Start Here -->
    <div class="breadcrumbs-area">
      <ul>
        <li>
          <a href="index.html">Home</a>
        </li>
        <li>Student ID Card</li>
      </ul>
    </div>
    <!-- Breadcubs Area End Here -->
    <!-- Student Certificate Area Start Here -->
    <div class="row gutters-20">
      <div class="col-xl-4 col-6">
        <div class="card height-auto">
          <div class="card-body">
            <div class="heading-layout1">
              <div class="item-title">
                <h3>Add Student ID Card</h3>
              </div>

            </div>
            <form class="new-added-form">
              <div class="col-xl-12 col-lg-6 col-12 form-group">
                <label style="font-size: small;">Background Image </label>
                <input type="file" class="form-control-file">
              </div><br>
              <div class="col-xl-12 col-lg-6 col-12 form-group">
                <label style="font-size: smaller;">Logo </label>
                <input type="file" class="form-control-file">
              </div><br>
              <div class="col-xl-12 col-lg-6 col-12 form-group">
                <label style="font-size: smaller;">Signature </label>
                <input type="file" class="form-control-file">
              </div><br>
              <div class="col-xl-12 col-lg-6 col-12 form-group">
                <label for="inp" class="inp">
                  <input type="text" class="form-control" id="inp" placeholder="&nbsp;">
                  <span class="label">School Name *</span>
                  <span class="focus-bg"></span>
                </label>
              </div>

              <div class="col-xl-12 col-lg-6 col-12 form-group">
                <label for="inp" class="inp">
                  <input type="text" class="form-control" id="inp" placeholder="&nbsp;">
                  <span class="label">ID Card Title*</span>
                  <span class="focus-bg"></span>
                </label>
              </div>

              <div class="col-xl-12 col-lg-6 col-12 form-group">
                <label for="inp" class="inp">
                  <input type="text" class="form-control" id="inp" placeholder="&nbsp;">
                  <span class="label">Header Color *</span>
                  <span class="focus-bg"></span>
                </label>
              </div>

              <div class="col-xl-12 col-lg-6 col-12 form-group" row="3">
                <label for="inp" class="inp">
                  <input type="text" class="form-control" id="inp" placeholder="&nbsp;">
                  <span class="label">Address / Phone / Email</span>
                  <span class="focus-bg"></span>
                </label>
              </div><br>
              <div class="col-xl-12 col-lg-6 col-12 form-group">
                <div class="row">
                  <div class="col-xl-8 col-lg-6 col-12 form-group">
                    <label for="inp" class="inp" style="font-size:medium;">Name of student</label>
                  </div>
                  <div class="col-xl-4 col-lg-2 col-12 form-group">

                    <div class="onoffswitch">
                      <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch">
                      <label class="onoffswitch-label" for="myonoffswitch">
                        <span class="onoffswitch-inner"></span>
                        <span class="onoffswitch-switch"></span>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-12 col-lg-6 col-12 form-group">
                <div class="row">
                  <div class="col-xl-8 col-lg-6 col-12 form-group">
                    <label for="inp" class="inp" style="font-size: medium;">Father's Name</label>
                  </div>
                  <div class="col-xl-4 col-lg-2 col-12 form-group">

                    <div class="onoffswitch">
                      <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch">
                      <label class="onoffswitch-label" for="myonoffswitch">
                        <span class="onoffswitch-inner"></span>
                        <span class="onoffswitch-switch"></span>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-12 col-lg-6 col-12 form-group">
                <div class="row">
                  <div class="col-xl-8 col-lg-6 col-12 form-group">
                    <label for="inp" class="inp" style="font-size:medium;">Mother's Name</label>
                  </div>
                  <div class="col-xl-4 col-lg-2 col-12 form-group">

                    <div class="onoffswitch">
                      <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch">
                      <label class="onoffswitch-label" for="myonoffswitch">
                        <span class="onoffswitch-inner"></span>
                        <span class="onoffswitch-switch"></span>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-12 col-lg-6 col-12 form-group">
                <div class="row">
                  <div class="col-xl-8 col-lg-6 col-12 form-group">
                    <label for="inp" class="inp" style="font-size:medium;">Date of Birth</label>
                  </div>
                  <div class="col-xl-4 col-lg-2 col-12 form-group">

                    <div class="onoffswitch">
                      <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch">
                      <label class="onoffswitch-label" for="myonoffswitch">
                        <span class="onoffswitch-inner"></span>
                        <span class="onoffswitch-switch"></span>
                      </label>
                    </div>
                  </div>
                </div>
              </div>

              <input class="switch-input" type="checkbox" />
              <span class="switch-label" data-on="On" data-off="Off"></span> <span class="switch-handle"></span>
              <div class="col-xl-12 col-lg-6 col-12 form-group">
                <div class="row">
                  <div class="col-xl-8 col-lg-6 col-12 form-group">
                    <label for="inp" class="inp" style="font-size:medium;">Admission No.</label>
                  </div>
                  <div class="col-xl-4 col-lg-2 col-12 form-group">

                    <div class="onoffswitch">
                      <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch">
                      <label class="onoffswitch-label" for="myonoffswitch">
                        <span class="onoffswitch-inner"></span>
                        <span class="onoffswitch-switch"></span>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-12 col-lg-6 col-12 form-group">
                <div class="row">
                  <div class="col-xl-8 col-lg-6 col-12 form-group">
                    <label for="inp" class="inp" style="font-size:medium;">Address</label>
                  </div>
                  <div class="col-xl-4 col-lg-2 col-12 form-group">

                    <div class="onoffswitch">
                      <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch">
                      <label class="onoffswitch-label" for="myonoffswitch">
                        <span class="onoffswitch-inner"></span>
                        <span class="onoffswitch-switch"></span>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-12 col-lg-6 col-12 form-group">
                <div class="row">
                  <div class="col-xl-8 col-lg-6 col-12 form-group">
                    <label for="inp" class="inp" style="font-size:medium;">Photo</label>
                  </div>
                  <div class="col-xl-4 col-lg-2 col-12 form-group">

                    <div class="onoffswitch">
                      <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch">
                      <label class="onoffswitch-label" for="myonoffswitch">
                        <span class="onoffswitch-inner"></span>
                        <span class="onoffswitch-switch"></span>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-12 col-lg-6 col-12 form-group">
                <div class="row">
                  <div class="col-xl-8 col-lg-6 col-12 form-group">
                    <label for="inp" class="inp" style="font-size:medium;">Blood Group</label>
                  </div>
                  <div class="col-xl-4 col-lg-2 col-12 form-group">

                    <div class="onoffswitch">
                      <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch">
                      <label class="onoffswitch-label" for="myonoffswitch">
                        <span class="onoffswitch-inner"></span>
                        <span class="onoffswitch-switch"></span>
                      </label>
                    </div>
                  </div>
                </div>
              </div>


              <div class="col-12 form-group mg-t-8">
                <button type="submit" class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark">Save</button>
                <button type="reset" class="btn-fill-lg bg-blue-dark btn-hover-yellow">Reset</button>
              </div>

            </form>
          </div>
        </div>
      </div>

      <!-- Student ID Card Area End Here -->

      <!-- ID Card List Area Start Here -->
      <!--Table Area Start Here -->
      <div class="col-xl-8 col-6">

        <div class="card height-auto">
          <div class="card-body">
            <div class="heading-layout1">
              <div class="item-title">
                <h3>Student ID Card List</h3>
              </div>
            </div>

            <div class="table-responsive">
              <table id="example" class="table display data-table text-nowrap cell-border">
                <thead>
                  <tr>
                    <th>Sr. No.</th>
                    <th>ID Card Title</th>
                    <th>Background Image</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>#001</td>
                    <td>Sample Student Identity Card </td>
                    <td>Sample Background Image</td>
                    <td>
                      <a href="#"><i class="fas fa-align-justify "></i>&nbsp;</a>
                      <a href="#"><i class="fas fa-pen-alt text-orange-peel"></i>&nbsp;</a>
                      <a href="#"><i class="fas fa-times text-orange-red"></i>&nbsp;</a>
                    </td>
                  </tr>

                  <tr>
                    <td>#001</td>
                    <td>Sample Student Identity Card </td>
                    <td>Sample Background Image</td>
                    <td>
                      <a href="#"><i class="fas fa-align-justify "></i>&nbsp;</a>
                      <a href="#"><i class="fas fa-pen-alt text-orange-peel"></i>&nbsp;</a>
                      <a href="#"><i class="fas fa-times text-orange-red"></i>&nbsp;</a>
                    </td>
                  </tr>

                  <tr>
                    <td>#001</td>
                    <td>Sample Student Identity Card </td>
                    <td>Sample Background Image</td>
                    <td>
                      <a href="#"><i class="fas fa-align-justify "></i>&nbsp;</a>
                      <a href="#"><i class="fas fa-pen-alt text-orange-peel"></i>&nbsp;</a>
                      <a href="#"><i class="fas fa-times text-orange-red"></i>&nbsp;</a>
                    </td>
                  </tr>

                  <tr>
                    <td>#001</td>
                    <td>Sample Student Identity Card </td>
                    <td>Sample Background Image</td>
                    <td>
                      <a href="#"><i class="fas fa-align-justify "></i>&nbsp;</a>
                      <a href="#"><i class="fas fa-pen-alt text-orange-peel"></i>&nbsp;</a>
                      <a href="#"><i class="fas fa-times text-orange-red"></i>&nbsp;</a>
                    </td>
                  </tr>

                  <tr>
                    <td>#001</td>
                    <td>Sample Student Identity Card </td>
                    <td>Sample Background Image</td>
                    <td>
                      <a href="#"><i class="fas fa-align-justify "></i>&nbsp;</a>
                      <a href="#"><i class="fas fa-pen-alt text-orange-peel"></i>&nbsp;</a>
                      <a href="#"><i class="fas fa-times text-orange-red"></i>&nbsp;</a>
                    </td>
                  </tr>
                </tbody>

              </table>
            </div>



          </div>
        </div>
      </div>
    </div>
    <!-- Certificate List Area End Here -->
