<div class="breadcrumbs-area">
    <ul>
        <li>
            <a href="index.html">Home</a>
        </li>
        <li>Teachers Rating</li>
    </ul>
</div>
<!-- Breadcubs Area End Here -->
<div class="card height-auto">
    <div class="card-body">
        
        <div class="table-responsive">
            <table id="example" class="table display data-table text-nowrap cell-border">
                <thead>
                    <tr>
                        <th>Staff ID</th>
                        <th>Name</th>
                        <th>Rating</th>
                        <th>Comment</th>  
                        <th>Status</th>
                        <th>Student Name</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>S4</td>
                        
                        <td>ABC</td>
                        <td><span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span></td>
                        <td>OK</td>
                        <td>Pending</td>
                        <td>XYZ</td>
                        <td> <a href="#"><i class="fas fa-align-justify "></i>&nbsp;</a>
                            <a href="#"><i class="fas fa-pen-alt text-orange-peel"></i>&nbsp;</a> 
                            <a href="#"><i class="fas fa-times text-orange-red"></i>&nbsp;</a> 
                        </td>
                    </tr>

                    <tr>
                        <td>S4</td>
                        
                        <td>ABC</td>
                        <td><span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span></td>
                        <td>OK</td>
                        <td>Pending</td>
                        <td>XYZ</td>
                        <td> <a href="#"><i class="fas fa-align-justify "></i>&nbsp;</a>
                            <a href="#"><i class="fas fa-pen-alt text-orange-peel"></i>&nbsp;</a> 
                            <a href="#"><i class="fas fa-times text-orange-red"></i>&nbsp;</a> 
                        </td>
                    </tr>
                    
                    <tr>
                        <td>S4</td>
                        
                        <td>ABC</td>
                        <td><span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span></td>
                        <td>OK</td>
                        <td>Pending</td>
                        <td>XYZ</td>
                        <td> <a href="#"><i class="fas fa-align-justify "></i>&nbsp;</a>
                            <a href="#"><i class="fas fa-pen-alt text-orange-peel"></i>&nbsp;</a> 
                            <a href="#"><i class="fas fa-times text-orange-red"></i>&nbsp;</a> 
                        </td>
                    </tr>
                    <tr>
                        <td>S4</td>
                        
                        <td>ABC</td>
                        <td><span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span></td>
                        <td>OK</td>
                        <td>Pending</td>
                        <td>XYZ</td>
                        <td> <a href="#"><i class="fas fa-align-justify "></i>&nbsp;</a>
                            <a href="#"><i class="fas fa-pen-alt text-orange-peel"></i>&nbsp;</a> 
                            <a href="#"><i class="fas fa-times text-orange-red"></i>&nbsp;</a> 
                        </td>
                    </tr>
                    <tr>
                        <td>S4</td>
                        
                        <td>ABC</td>
                        <td><span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span></td>
                        <td>OK</td>
                        <td>Pending</td>
                        <td>XYZ</td>
                        <td> <a href="#"><i class="fas fa-align-justify "></i>&nbsp;</a>
                            <a href="#"><i class="fas fa-pen-alt text-orange-peel"></i>&nbsp;</a> 
                            <a href="#"><i class="fas fa-times text-orange-red"></i>&nbsp;</a> 
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>