
<div class="breadcrumbs-area">
    <ul>
        <li>
            <a href="index.html">Home</a>
        </li>
        <li>Class Timetable</li>
    </ul>
  </div>
  <div class="card height-auto">
    <div class="card-body">
        <form class="new-added-form">
            <div class="row">
                <div class="col-xl-3 col-lg-6 col-12 form-group">
                    <label for="slt" class="slt">
                                <select  class="form-control" id="slt" placeholder="&nbsp;">
                                 <option value="">select</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                            </select>
                            <span class="label">Class *</span>
                            <span class="focus-bg"></span>
                        </label>
                            
                        </div>
                               
                        
                        <div class="col-xl-3 col-lg-6 col-12 form-group">
                            <label for="slt" class="slt">
                                <select  class="form-control" id="slt" placeholder="&nbsp;">
                                 <option value="">select</option>
                                <option value="1">A</option>
                                <option value="2">B</option>
                                <option value="3">C</option>
                                <option value="4">D</option>
                            </select>
                            <span class="label">Section *</span>
                            <span class="focus-bg"></span>
                        </label>           
                        </div>
                        <div class="col-xl-3 col-lg-6 col-12 form-group">
                                <button type="submit" class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark">Search</button>
                                <button style="  background-color: #000066; position: relative; top:0; right: 10; float: right;" type="button" class="btn btn-info btn-lg" onclick="location.href='/#/create-tt'">+ Add</button>

                            </div>
                        </div>
                        
                </form>
  
    
            <div class="table-responsive">
                <table id="example" class="table display data-table text-nowrap cell-border">
              
                <thead>
                  
                  <tr>
                      <th>Monday</th>
                      <th>Tuesday</th>
                      <th>Wednesday</th>
                      <th>Thursday</th>  
                      <th>Friday</th>
                      <th>Saturday</th>
                      <th>Sunday</th>
                      
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td>NOT<br>Sheduled</td>
                      <td>NOT<br>Sheduled</td>
                      <td>NOT<br>Sheduled</td>
                      <td>NOT<br>Sheduled</td>
                      <td>NOT<br>Sheduled</td>
                      <td>NOT<br>Sheduled</td>
                      <td>NOT<br>Sheduled</td>
                  </tr>
                 
              </tbody>
          </table>
      </div>
    </div>
    </div>
  
    <!-- Admission Enquiry Area Start Here -->
   
    
    