<div class="breadcrumbs-area">
    <ul>
        <li>
            <a href="index.html">Home</a>
        </li>
        <li>Sections</li>
    </ul>
</div>
<!-- Breadcubs Area End Here -->
<div class="card height-auto">
    <div class="card-body">
        <div class="heading-layout1">
            <div class="item-title">
                <h3>Add Section</h3>
            </div>
        </div>
        <form class="new-added-form">
            <div class="row">
            <div class="col-xl-4 col-lg-6 col-12 form-group">
                <label for="inp" class="inp">
                    <input type="text"  class="form-control" id="inp" placeholder="&nbsp;">
                        <span class="label">Section Name*</span>
                        <span class="focus-bg"></span>
                </label>  
            </div>
            <div class="col-xl-3 col-lg-6 col-12 form-group">
                <div class="form-group" style="float: right;">
                    <button type="submit" class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark">Search</button>
                </div>
            </div>
        </div>
            
        </form>
        <hr>
        <div class="heading-layout1">
            <div class="item-title">
                <h3>Sections List</h3>
            </div>
        </div>
               
        
        <div class="table-responsive">
            <table id="example" class="table display data-table text-nowrap cell-border">
                <thead>
                    <tr>
                        
                        <th> Section</th>
                        <th>Action</th>  
                                                
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let section of sections">
                        <td>{{ section.section }}</td>
                        <td>
                            <a href="#"><i class="fas fa-pen-alt text-orange-peel"></i>&nbsp;</a> 
                            <a href="#"><i class="fas fa-times text-orange-red"></i>&nbsp;</a>
                        </td>
                    </tr>
                   
                </tbody>
            </table>
        </div>
    </div>
    </div>
