<div class="card height-auto">
    <div class="card-body">
        <form class="new-added-form">
            <div class="row">
                <div class="col-xl-3 col-lg-6 col-12 form-group">

                    <label for="slt" class="slt">
                        <select  name="class" class="form-control" id="slt" placeholder="&nbsp;">
                        <option selected >Please Select Class *</option>
             
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="3">4</option>
                        <option value="3">5</option>
                        <option value="3">6</option>
                        </select>
                        <span class="label">Class *</span>
                        <span class="focus-bg"></span>
                    </label>
                </div>

                <div class="col-xl-3 col-lg-6 col-12 form-group">

                    <label for="slt" class="slt">
                        <select  name="Section" class="form-control" id="slt" placeholder="&nbsp;">
                        <option selected >Please Select Section *</option>
             
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="3">4</option>
                        <option value="3">5</option>
                        <option value="3">6</option>
                        </select>
                        <span class="label">Section *</span>
                        <span class="focus-bg"></span>
                    </label>
                </div>
                <div class="col-xl-3 col-lg-6 col-12 form-group">

                    <label for="slt" class="slt">
                        <select  name="Section" class="form-control" id="slt" placeholder="&nbsp;">
                        <option selected >Please Select Section *</option>
             
                        <option value="1">All</option>
                        <option value="2">All</option>
                        <option value="3">All</option>
                        <option value="3">All</option>
                        <option value="3">All</option>
                        <option value="3">All</option>
                        </select>
                        <span class="label">Subject Group *</span>
                        <span class="focus-bg"></span>
                    </label>
                </div>
    
                
                <div class="col-xl-3 col-lg-6 col-12 form-group">
                    <button type="submit" class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark">Search</button>&nbsp;
                    <button style="  background-color: #000066; position: relative; top:0; right: 10; float: right;" type="button" class="btn btn-info btn-lg">+Add New</button>

                   </div>
               </div>
        </form>
        <button style="  background-color: #000066; position: relative; top:0; right: 10; float: right;" type="button" class="btn btn-info btn-lg">Saturday</button>
        <button style="  background-color: #000066; position: relative; top:0; right: 10; float: right;" type="button" class="btn btn-info btn-lg">Friday</button>
        <button style="  background-color: #000066; position: relative; top:0; right: 10; float: right;" type="button" class="btn btn-info btn-lg">Thursday</button>
        <button style="  background-color: #000066; position: relative; top:0; right: 10; float: right;" type="button" class="btn btn-info btn-lg">Wednesday</button>
        <button style="  background-color: #000066; position: relative; top:0; right: 10; float: right;" type="button" class="btn btn-info btn-lg">Tuesday</button>
        <button style="  background-color: #000066; position: relative; top:0; right: 10; float: right;" type="button" class="btn btn-info btn-lg">Monday</button>
<br>
        
        <div class="table-responsive">
       
            <table id="example" class="table display data-table text-nowrap cell-border">
          
            <thead>
              
              <tr>
                  <th>Subject</th>
                  <th>Teacher</th>
                  <th>Time From</th>
                  <th>Time To</th>  
                  <th>Room No</th>
                  <th>Action</th>
                  
              </tr>
          </thead>
          <tbody>
              <tr>
                  <td> 
                      <select  name="content" class="form-control" id="slt" placeholder="&nbsp;">
                                        <option selected >MARATHI</option>
                                        <option value="1">MARATHI</option>
                                        <option value="2">HINDI</option>
                                        <option value="3">ENGLISH</option>
                                        <option value="3">MATH</option>
                  </select>
                </td>
                  <td>
                    <select  name="content" class="form-control" id="slt" placeholder="&nbsp;">
                    <option selected >ABC</option>
                    <option value="1">ABC</option>
                    <option value="2">PQR</option>
                    <option value="3">PQR</option>
                    <option value="3">PQR</option>
                    </select>
                  </td>
                  <td>
                    <label for="dtp" class="dtp">
                        <input type="date" id="dtp" placeholder="&nbsp;" name="admission" >
                        <span class="label">Chooose Date *</span>
                        <span class="focus-bg"></span>
                      </label>
                    </td>
                  <td><label for="dtp" class="dtp">
                    name="admission" >
                    <span class="label">Chooose Date *</span>
                    <span class="focus-bg"></span>
                  </label>
                  </td>
                  <td>2</td>
                  <td><button class="ibtnDel btn btn-danger btn-sm btn-danger" autocomplete="off"> <i class="fa fa-trash"></i></button></td>
              </tr>
             
          </tbody>
      </table>
  </div>
    </div>
</div>