<div class="breadcrumbs-area">
  <ul>
    <li>
      <a href="/#/admin">Home</a>

    </li>
    <li>Income Head</li>
  </ul>
</div>
<div class="card height-auto">
  <div class="card-body">
    <div class="heading-layout1">
      <div class="item-title">
        <h3>Income Head List</h3>
      </div>
      <button style="background-color: #000066; width: 7%; height: 10%; float:right;" type="button"
        class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">+ Add
      </button>

    </div>
    <div class="table-responsive">
      <table id="example" class="table display data-table text-nowrap cell-border">

        <thead>
          <tr>
            <th>Income Head</th>
            <th>Description</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let incomehead of incomeheads">
            <td>{{ incomehead.incomeCategory }}</td>
            <td>{{ incomehead.description }}</td>

            <td><a href="#"><i class="fas fa-align-justify "></i>&nbsp;</a>
              <a (click)="setUpdateFileds(incomehead.id)" data-toggle="modal" data-target="#myModal"><i
                  class="fas fa-pen-alt text-orange-peel"></i>&nbsp;</a>
              <a (click)="deleteincomehead(incomehead.id)"><i class="fas fa-times text-orange-red"></i>&nbsp;</a>
            </td>

          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- Add room Area end Here -->
<div class="container">

  <!-- Modal -->
  <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h5>Add Income</h5>

          <button type="button" class="close" data-dismiss="modal">&times;</button>

        </div>
        <div class="modal-body">
          <form role="form" method="post" id="reused_form">
            <div class="row">
              <div class="col-4 col-lg-4 col-12 form-group">
                <label for="inp" class="inp">
                  <input type="text" name="incomeCategory" class="form-control" id="inp" placeholder="&nbsp;"
                    [(ngModel)]="incomeHeadDto.incomeCategory">
                  <span class="label"> Name</span>
                  <span class="focus-bg"></span>
                </label>

              </div>
              <div class="col-4 col-lg-4 col-12 form-group" row="3">
                <label for="inp" class="inp">
                  <input type="text" name="description" class="form-control" id="inp" placeholder="&nbsp;"
                    [(ngModel)]="incomeHeadDto.description">
                  <span class="label">Description</span>
                  <span class="focus-bg"></span>
                </label>

              </div>
              <div class="col-xl-4 col-lg-6 col-12 form-group">
                <button *ngIf="!this.isUpdate" (click)="addincomehead()" type="button"
                  class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark" data-toggle="modal" data-target="#myModal">
                  Save
                </button>
                <button *ngIf="this.isUpdate" (click)="updateincomehead(incomeHeadDto.id)" type="button"
                  class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark" data-toggle="modal" data-target="#myModal">
                  Update
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
