       <!-- Breadcubs Area Start Here -->
       <div class="breadcrumbs-area">
        <h3>Online Examinations</h3>
        <ul>
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>Question Bank</li>
        </ul>
    </div>
    <!-- Breadcubs Area End Here -->

    <!-- Question BankStart Here -->
    <div class="card height-auto">
        <div class="card-body">
            <div class="table-responsive">
                <table id="example" class="table display data-table text-nowrap cell-border">
                    <thead>
                            <tr>
                                <th>Subject</th>
                                <th>Question</th>
                                <th>Answer</th>
                                <th>Action</th>
                            </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Marathi</td>  
                            <td>Question 1</td>                           
                            <td>C</td>
                            <td>
                                <a href="#"><i class="fas fa-pen-alt text-orange-peel"></i>&nbsp;</a>
                                <a href="#"><i class="fas fa-times text-orange-red"></i>&nbsp;</a>
                            </td>
                        </tr>
                        <tr>
                            <td>Marathi</td>  
                            <td>Question 2</td>                           
                            <td>B</td>
                            <td>
                                <a href="#"><i class="fas fa-pen-alt text-orange-peel"></i>&nbsp;</a>
                                <a href="#"><i class="fas fa-times text-orange-red"></i>&nbsp;</a>
                            </td>
                        </tr>
                        <tr>
                            <td>Marathi</td>  
                            <td>Question 3</td>                           
                            <td>D</td>
                            <td>
                                <a href="#"><i class="fas fa-pen-alt text-orange-peel"></i>&nbsp;</a>
                                <a href="#"><i class="fas fa-times text-orange-red"></i>&nbsp;</a>
                            </td>
                        </tr>
                        <tr>
                            <td>Marathi</td>  
                            <td>Question 4</td>                           
                            <td>A</td>
                            <td>
                                <a href="#"><i class="fas fa-pen-alt text-orange-peel"></i>&nbsp;</a>
                                <a href="#"><i class="fas fa-times text-orange-red"></i>&nbsp;</a>
                            </td>
                        </tr>
                        <tr>
                            <td>Marathi</td>  
                            <td>Question 5</td>                           
                            <td>C</td>
                            <td>
                                <a href="#"><i class="fas fa-pen-alt text-orange-peel"></i>&nbsp;</a>
                                <a href="#"><i class="fas fa-times text-orange-red"></i>&nbsp;</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Question Bank End Here -->
