<div class="breadcrumbs-area">
    <h3>Front CMS</h3>
    <ul>
        <li>
            <a href="index.html">Home</a>
        </li>
        <li>Menus</li>
    </ul>
</div>
<!-- Breadcubs Area End Here -->
<!-- upload Area Start Here -->
<div class="row gutters-20">
<div class="col-4-xxxl col-6">
    <div class="card height-auto">
    <div class="card-body">
        <div class="heading-layout1">
            <div class="item-title">
                <h3>Add Menu</h3>
            </div>
           <div class="dropdown">
                <a class="dropdown-toggle" href="#" role="button" 
                data-toggle="dropdown" aria-expanded="false">...</a>

                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="#"><i class="fas fa-times text-orange-red"></i>Close</a>
                    <a class="dropdown-item" href="#"><i class="fas fa-cogs text-dark-pastel-green"></i>Edit</a>
                    <a class="dropdown-item" href="#"><i class="fas fa-redo-alt text-orange-peel"></i>Refresh</a>
                </div>
            </div>
        </div>
        <form class="mg-b-20">
                
                <div class="col-xxl-6 col-lg-12 col-12 form-group" >
                    <label>Menu*</label>
                    <input type="text" placeholder="" class="form-control">
                </div>
               <div class="col-xxl-6 col-lg-12 col-12 form-group">
                    <label>Description *</label>
                    <textarea id="description" rows="4" cols="50" class="form-control"></textarea>
                </div>
                <div class="col-12 form-group mg-t-4">
                    <button type="submit" class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark">Save</button>
                </div>
        </form>
    </div>
</div>
</div>

<div class="col-4-xxxl col-6">
    <div class="card height-auto">
        <div class="card-body">
            <div class="heading-layout1">
                <div class="item-title">
                    <h3>Menu List</h3>
                </div>
                <div class="dropdown">
                    <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                        aria-expanded="false">...</a>

                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="#"><i
                                class="fas fa-times text-orange-red"></i>Close</a>
                        <a class="dropdown-item" href="#"><i
                                class="fas fa-cogs text-dark-pastel-green"></i>Edit</a>
                        <a class="dropdown-item" href="#"><i
                                class="fas fa-redo-alt text-orange-peel"></i>Refresh</a>
                    </div>
                </div>
            </div>
            <form class="mg-b-20">
            <div class="row">

                <div class="table-responsive">
                    <table class="table display data-table text-nowrap">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th text-align="right">Action</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Main Menu</td>
                                <td>
                                    <a href="#" class="btn btn-default btn-xs" data-toggle="tooltip" title="" data-original-title="Add ">
                                        <i class="fa fa-plus"></i>
                                    </a>
                                </td>
                           </tr>
                           <tr>
                            <td>Bottom Menu</td>
                            <td>
                                <a href="#" class="btn btn-default btn-xs" data-toggle="tooltip" title="" data-original-title="Add ">
                                    <i class="fa fa-plus"></i>
                                </a>
                            </td>
                       </tr>
                        </tbody>
                </table>
                </div>
                
            </div>
            </form>
        </div>
    </div>
</div>

<div class="col-6-xxxl col-9">
    <div class="card height-auto">
    <div class="card-body">
        <div class="heading-layout1">
            <div class="item-title">
                <h3>Edit Menu Item</h3>
            </div>
           <div class="dropdown">
                <a class="dropdown-toggle" href="#" role="button" 
                data-toggle="dropdown" aria-expanded="false">...</a>

                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="#"><i class="fas fa-times text-orange-red"></i>Close</a>
                    <a class="dropdown-item" href="#"><i class="fas fa-cogs text-dark-pastel-green"></i>Edit</a>
                    <a class="dropdown-item" href="#"><i class="fas fa-redo-alt text-orange-peel"></i>Refresh</a>
                </div>
            </div>
        </div>
        <form class="new-added-form">
            <div class="row">
                <div class="col-12-xxxl col-lg-12 col-12 form-group">
                    <label>Menu Item*</label>
                    <input type="text" placeholder="" class="form-control">
                </div>
                <div class="col-12-xxxl col-lg-6 col-12 form-group">
                    <label>External URL*</label>
                    <div class="onoffswitch">
                        <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
                        <label class="onoffswitch-label" for="myonoffswitch">
                            <span class="onoffswitch-inner"></span>
                            <span class="onoffswitch-switch"></span>
                        </label>
                    </div>
                </div>
                <div class="col-12-xxxl col-lg-6 col-12 form-group">
                    <label>Open In New Tab*</label>
                    <div class="onoffswitch">
                        <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
                        <label class="onoffswitch-label" for="myonoffswitch">
                            <span class="onoffswitch-inner"></span>
                            <span class="onoffswitch-switch"></span>
                        </label>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-12 form-group">
                    <label>External URL Address *</label>
                    <input type="text" placeholder="" class="form-control">
                </div>
                <div class="col-xl-6 col-lg-6 col-12 form-group">
                    <label>Pages *</label>
                    <select class="select2">
                        <option value="">Please Select *</option>
                        <option value="1">Home</option>
                        <option value="2">Complaint</option>
                        <option value="3">Contact US</option>
                        
                    </select>
                </div>
                
                <div class="col-12 form-group mg-t-8">
                    <button type="submit" class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark">Save</button>
                    <button type="reset" class="btn-fill-lg bg-blue-dark btn-hover-yellow">Reset</button>
                </div>
            </div>
        </form>
    </div>
</div>
</div>



</div>
<!-- upload Area End Here -->







