<!-- Student Details Area Start Here -->
<div class="breadcrumbs-area">
    <h3>Human Resource</h3>
    <ul>
        <li>
            <a href="index.html">Home</a>
        </li>
        <li>Payroll</li>
    </ul>
</div>
<div class="card height-auto">
    <div class="card-body">
        <form class="new-added-form">
            <div class="row">
                <div class="col-xl-4 col-lg-6 col-12 form-group">
                    <label>Role<span class="req" style="color: red;">*</span></label>
                    <select class="select2">
                        <option value="">Role</option>
                        <option value="1">Teacher</option>
                        <option value="2">b</option>
                        <option value="3">c</option>
                    </select>
                    
                </div>
                <div class="col-xl-4 col-lg-6 col-12 form-group">
                    <label>Month</label>
                    <select class="select2">
                        <option value="">Month</option>
                        <option value="1">January</option>
                        <option value="2">February</option>
                        <option value="3">March</option>
                        <option value="">April</option>
                        <option value="1">May</option>
                        <option value="2">June</option>
                        <option value="3">July</option>
                        <option value="">August</option>
                        <option value="1">September</option>
                        <option value="2">October</option>
                        <option value="3">November</option>
                        <option value="3">December</option>
                    </select>
                               
                </div>

                
                <div class="col-xl-4 col-lg-6 col-12 form-group">
                    <div >
                        <label>Year</label>
                        <select class="select2">
                            <option value="">Year</option>
                            <option value="1">2019</option>
                            <option value="2">2020</option>
                            <option value="3">2021</option>
                        </select>            
                    </div>
                    <div class="col-12 form-group mg-t-8">
                        <div class="form-group" style="float: right;">
                            <button type="submit" class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark">Search</button>
                            <button type="reset" class="btn-fill-lg bg-blue-dark btn-hover-yellow">Reset</button>
                        </div>
                    </div>
    
                </div>
            
            </div>
        </form>
        <hr>
        <div class="table-responsive">
            <div>
                <span style="float:left;"><h3>Staff List</h3></span>
            <table id="example" class="table display data-table text-nowrap cell-border">
                <thead>
                    
                    <tr>
                        <th>Staff ID</th>
                        <th>Name</th>
                        <th>Role</th>
                        <th>Department</th>  
                        <th>Designation</th>
                        <th>Mobile No.</th>
                        <th>Status</th>
                        <th>Action</th>
                        
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>S1</td>
                        <td>ABC</td>
                        <td>Teacher</td>
                        <td>Maths</td>
                        <td>Asst. Teacher</td>
                        <td>9876543210</td>
                        <td>Pending</td>
                        <td> <button type="submit" class="btn-fill-lg bg-blue-dark btn-hover-yellow" style="padding: 0;font-size: small;">Generate Payroll</button>   </td>
                    </tr>
                    <tr>
                        <td>S1</td>
                        <td>ABC</td>
                        <td>Teacher</td>
                        <td>Maths</td>
                        <td>Asst. Teacher</td>
                        <td>9876543210</td>
                        <td>Approved</td>
                        <td> <button type="submit" class="btn-fill-lg bg-blue-dark btn-hover-yellow" style="padding: 0;font-size: small;">Generate Payroll</button>   </td>
                    </tr>

                    <tr>
                        <td>S1</td>
                        <td>ABC</td>
                        <td>Teacher</td>
                        <td>Maths</td>
                        <td>Asst. Teacher</td>
                        <td>9876543210</td>
                        <td>Pending</td>
                        <td> <button type="submit" class="btn-fill-lg bg-blue-dark btn-hover-yellow" style="padding: 0;font-size: small;">Generate Payroll</button>   </td>
                    </tr>
                    <tr>
                        <td>S1</td>
                        <td>ABC</td>
                        <td>Teacher</td>
                        <td>Maths</td>
                        <td>Asst. Teacher</td>
                        <td>9876543210</td>
                        <td>Approved</td>
                        <td> <button type="submit" class="btn-fill-lg bg-blue-dark btn-hover-yellow" style="padding: 0;font-size: small;">Generate Payroll</button>   </td>
                    </tr>
                   
                </tbody>
            </table>
        </div>
    </div>
    
    
</div>

