<div class="breadcrumbs-area">
    <ul>
      <li>
          <a href="/#/admin">Home</a>

      </li>
      <li>Expense Head</li>
  </ul>
</div>
<div class="card height-auto">
  <div class="card-body">
      <div class="heading-layout1">
          <div class="item-title">
              <h3>Add Expense Head</h3>
          </div>
      </div>
      <form class="new-added-form" >
          <div class="row">
           <div class="col-4 col-lg-4 col-12 form-group"> 
              <label for="inp" class="inp">
                  <input type="text" class="form-control" id="inp" placeholder="&nbsp;">
                  <span class="label"> Name</span>
                  <span class="focus-bg"></span>
                </label>   
             
           </div>
              <div class="col-4 col-lg-4 col-12 form-group" row="3"> 
                  <label for="inp" class="inp">
                      <input type="text" class="form-control" id="inp" placeholder="&nbsp;">
                      <span class="label">Description</span>
                      <span class="focus-bg"></span>
                    </label>
                 
              </div>
              <div class="col-4 col-lg-4 col-12 form-group">
                  <button type="submit" class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark">Save</button>
               
              </div>
          </div>
      </form>
  </div>
  </div>
<div class="card height-auto">
  <div class="card-body">
      <div class="heading-layout1">
          <div class="item-title">
              <h3>Income Head List</h3>
          </div>
      </div>
      <div class="table-responsive">
      <table id="example" class="table display data-table text-nowrap cell-border">

          <thead>
              <tr>
                <th>Expense Head</th>
                <th>Action</th>
              </tr>
          </thead>
          <tbody>
              <tr>
                  <td></td>
                 
                  <td><a href="#"><i class="fas fa-align-justify "></i>&nbsp;</a>
                      <a href="#"><i class="fas fa-pen-alt text-orange-peel"></i>&nbsp;</a> 
                      <a href="#"><i class="fas fa-times text-orange-red"></i>&nbsp;</a></td>

              </tr>
          </tbody>
      </table>
  </div>
</div>
</div>

<!-- Add room Area end Here -->




<!-- Add room Area end Here -->