<br>
<div class="card height-auto">
  <div class="card-body">
    <div class="heading-layout1">
      <div class="item-title">
        <h4>Compose New Message</h4>
      </div>

    </div>
    <form class="new-added-form">
      <div class="row" style=" margin-top: -30px;">
        <div class="col-8 col-lg-8 col-12 form-group">
          <label for="inp" class="inp" style="float: left;">
            <input type="text" class="form-control" id="inp" placeholder="&nbsp;" style="width: 650px;">
            <span class="label"> Title</span>
            <span class="focus-bg"></span>
          </label>
        </div>



        <div class="col-3 col-lg-4 col-12 form-group">
          <label for="dtp" class="dtp">
            <input type="date" id="dtp" placeholder="&nbsp;" name="admission">
            <span class="label"> Notice Date *</span>
            <span class="focus-bg"></span>
          </label>

        </div>

        <div class="col-8 col-lg-8 col-12 form-group">
          <label>Message </label>
          <textarea type="text" class="form-control" style="height: 350px;">
                    </textarea>
        </div>


        <div class="col-3 col-lg-4 col-12 form-group">
          <label for="dtp" class="dtp">
            <input type="date" id="dtp" placeholder="&nbsp;" name="admission">
            <span class="label"> Publish On *</span>
            <span class="focus-bg"></span>
          </label>
          <h6>Message To</h6>
          <label><input type="checkbox"> Student</label>
          <label><input type="checkbox"> Parents</label>
          <label><input type="checkbox"> Teacher</label>
          <label><input type="checkbox"> Admin </label>
          <label><input type="checkbox"> Accountant</label>
          <label><input type="checkbox"> Librarian </label>
          <label><input type="checkbox"> Super Admin</label>
          <label><input type="checkbox"> Receptionist</label>
        </div>
      </div>
      <button type="submit" style="float: right;" class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark"
        autocomplete="off">
        Send</button>

    </form>
  </div>

</div>

<!-- Add room Area end Here -->
