<br>
<div class="card height-auto">
    <div class="card-body">
        <div class="heading-layout1">
            <div class="item-title">
                <h4>Compose New Message</h4>
            </div>
            <div class="dropdown">
                <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                    aria-expanded="false">...</a>

                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="#"><i
                            class="fas fa-times text-orange-red"></i>Close</a>
                    <a class="dropdown-item" href="#"><i
                            class="fas fa-cogs text-dark-pastel-green"></i>Edit</a>
                    <a class="dropdown-item" href="#"><i
                            class="fas fa-redo-alt text-orange-peel"></i>Refresh</a>
                </div>
            </div>
        </div>
        <form class="new-added-form" >
            <div class="row" style=" margin-top: -30px;">
                <div class="col-8 col-lg-8 col-12 form-group">
                    <label for="inp" class="inp" style="float: left;">
                        <input type="text" class="form-control" id="inp" placeholder="&nbsp;" style="width: 650px;">
                        <span class="label"> Title</span>
                        <span class="focus-bg"></span>
                      </label> 
                </div>
                
                

            <div class="col-4 col-lg-4 col-12 form-group"> 
                <label for="dtp" class="dtp">
                    <input type="date" id="dtp" placeholder="&nbsp;" name="admission" >
                    <span class="label"> Notice Date *</span>
                    <span class="focus-bg"></span>
                  </label>
               
             </div>

            <div class="col-8 col-lg-8 col-12 form-group">  
                <label>Message </label>   
                    <textarea type="text" class="form-control" style="height: 300px;">
                    </textarea>                              
            </div>

                <div class="col-4 col-lg-4 col-12 form-group">   
                    <label for="dtp" class="dtp">
                        <input type="date" id="dtp" placeholder="&nbsp;" name="admission" >
                        <span class="label"> Publish On *</span>
                        <span class="focus-bg"></span>
                      </label>
                      <h6>Message To</h6>
                      <label><input type="checkbox"> Studnet&nbsp;&nbsp;&nbsp;&nbsp; <input type="checkbox"> Admin ch&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </label>
                      <label><input type="checkbox"> Parents&nbsp;&nbsp;&nbsp;&nbsp; <input type="checkbox"> Super Admin&nbsp;&nbsp;&nbsp;&nbsp;</label>
                      <label><input type="checkbox"> Teacher&nbsp;&nbsp;&nbsp;&nbsp; <input type="checkbox"> Receptionist&nbsp;&nbsp;&nbsp;&nbsp;</label>
                      <label><input type="checkbox"> Admin&nbsp;&nbsp;&nbsp;&nbsp; </label>
                      <label><input type="checkbox"> Accountant&nbsp;&nbsp;&nbsp;&nbsp; </label>
                      <label><input type="checkbox"> Librarian&nbsp;&nbsp;&nbsp;&nbsp; </label>
                </div>

                <div class="col-12 form-group mg-t-8">
                    <button type="submit" class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark" style="float: right;">Send Message</button>
                
                </div>
            </div>
        </form>
    </div>
   
</div>

<!-- Add room Area end Here -->