<!-- Student Details Area Start Here -->
<div class="breadcrumbs-area">
   
    <ul>
        <li>
            <a href="index.html">Home</a>
        </li>
        <li>Disabled Students</li>
    </ul>
</div>
<div class="card height-auto">
    <div class="card-body">
        <form class="new-added-form">
            <div class="row">
                <div class="col-xl-3 col-lg-6 col-12 form-group">

                    <label for="slt" class="slt">
                        <select  name="class" class="form-control" id="slt" placeholder="&nbsp;">
                        <option selected >Please Select Class *</option>
             
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="3">4</option>
                        <option value="3">5</option>
                        <option value="3">6</option>
                        </select>
                        <span class="label">Class *</span>
                        <span class="focus-bg"></span>
                    </label>
                </div>

                <div class="col-xl-3 col-lg-6 col-12 form-group">

                    <label for="slt" class="slt">
                        <select  name="Section" class="form-control" id="slt" placeholder="&nbsp;">
                        <option selected >Please Select Section *</option>
             
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="3">4</option>
                        <option value="3">5</option>
                        <option value="3">6</option>
                        </select>
                        <span class="label">Section *</span>
                        <span class="focus-bg"></span>
                    </label>
                </div>
                
                
                <div class="col-xl-4 col-lg-6 col-12 form-group">
                        <label for="inp" class="inp">
                        <input type="text" name="category" class="form-control" id="inp" placeholder="&nbsp;">
                        <span class="label">Roll No</span>
                        <span class="focus-bg"></span>
                    </label>
                    
                </div>   
                <div class="col-xl-2 col-lg-6 col-12 form-group">
                    <div class="form-group">
                        <button type="submit" class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark">Search</button>
                       
                        
                    </div>
                </div> 

                   
                </div>
                   
                <div class="table-responsive">
                    <table id="example" class="table display data-table text-nowrap cell-border">
                        <thead>
                            <tr>
                                <th>Admission No.</th>
                                <th>Student Name</th>
                                <th>Class</th>
                                <th>Father Name</th>  
                                <th>Disable Reason</th>
                                <th>Gender</th>
                                <th>Mobile No.</th>
                                <th>Action</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>ABC</td>
                                <td>1(A)</td>
                                <td>XYZ</td>
                                <td>Regular Absent</td>
                                <td>Male</td>
                                <td>9876543210</td>
                                <td>
                                    <a href="#"><i class="fas fa-align-justify"></i>&nbsp;</a> 
                                    <a href="#"><i class="fas fa-pen-alt text-orange-peel"></i>&nbsp;</a> 
                                    <a href="#"><i class="fas fa-times text-orange-red"></i>&nbsp;</a>    
                                </td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>ABC</td>
                                <td>1(A)</td>
                                <td>XYZ</td>
                                <td>Regular Absent</td>
                                <td>Male</td>
                                <td>9876543210</td>
                                <td>
                                    <a href="#"><i class="fas fa-align-justify"></i>&nbsp;</a> 
                                    <a href="#"><i class="fas fa-pen-alt text-orange-peel"></i>&nbsp;</a> 
                                    <a href="#"><i class="fas fa-times text-orange-red"></i>&nbsp;</a>    
                                </td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>ABC</td>
                                <td>1(A)</td>
                                <td>XYZ</td>
                                <td>Regular Absent</td>
                                <td>Male</td>
                                <td>9876543210</td>
                                <td>
                                    <a href="#"><i class="fas fa-align-justify"></i>&nbsp;</a> 
                                    <a href="#"><i class="fas fa-pen-alt text-orange-peel"></i>&nbsp;</a> 
                                    <a href="#"><i class="fas fa-times text-orange-red"></i>&nbsp;</a>    
                                </td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>ABC</td>
                                <td>1(A)</td>
                                <td>XYZ</td>
                                <td>Regular Absent</td>
                                <td>Male</td>
                                <td>9876543210</td>
                                <td>
                                    <a href="#"><i class="fas fa-align-justify"></i>&nbsp;</a> 
                                    <a href="#"><i class="fas fa-pen-alt text-orange-peel"></i>&nbsp;</a> 
                                    <a href="#"><i class="fas fa-times text-orange-red"></i>&nbsp;</a>    
                                </td>
                            </tr>
                           
                        </tbody>
                    </table>
                </div>
            
        </form>
    </div>

    

