<div class="breadcrumbs-area">

  <ul>
    <li>
      <a href="index.html">Home</a>
    </li>
    <li>Assign Vehicle</li>
  </ul>
</div>
<div class="row gutters-20">
  <div class="col-xl-4 col-6">
    <div class="card height-auto">
      <div class="card-body">
        <div class="heading-layout1">
          <div class="item-title">
            <h5>Assign Vehicle</h5>
          </div>
        </div>
        <form class="new-added-form">
          <div class="col-xl-12 col-lg-12 col-12 form-desig">
            <label for="slt" class="slt">
              <select class="form-control" id="slt" placeholder="&nbsp;" [(ngModel)]="vehicleRouteDto.routeId"
                name="routeId">
                <option selected>Please Select *</option>
                <option *ngFor="let route of routes" [value]="route.routeTitle"
                  [selected]="vehicleRouteDto.routeId == route.routeTitle">{{route.routeTitle}}
                </option>
              </select>
              <span class="label">Route *</span>
              <span class="focus-bg"></span>
            </label>
            <!-- <div class="alert alert-danger" *ngIf="expHeadId.touched && !expHeadId.valid">
                  Please Enter Expense Head.
                </div> -->
          </div>
          <div class="col-xl-12 col-lg-12 col-12 form-desig">
            <label>

              <label for="slt" class="slt">
                <select class="form-control" id="slt" placeholder="&nbsp;" [(ngModel)]="vehicleRouteDto.vehicleId"
                  name="vehicleId">
                  <option selected>Please Select *</option>
                  <option *ngFor="let veh of vehs" [value]="veh.vehicleNo"
                    [selected]="vehicleRouteDto.vehicleId == veh.vehicleNo">{{ veh.vehicleNo }}
                  </option>
                </select>
                <span class="label">Vehicle Number *</span>
                <span class="focus-bg"></span>
              </label>
              <!-- <div class="alert alert-danger" *ngIf="expHeadId.touched && !expHeadId.valid">
                  Please Enter Expense Head.
                </div> -->
          </div>

          <div class="col-xl-4 col-lg-6 col-12 form-group">
            <div class="row">
              <button *ngIf="!this.isUpdate" (click)="addassign()" type="button"
                class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark" data-toggle="modal" data-target="#myModal">
                Save
              </button>
              <button *ngIf="this.isUpdate" (click)="updateassign(vehicleRouteDto.id)" type="button"
                class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark" data-toggle="modal" data-target="#myModal">
                Update
              </button>

            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-xl-8 col-6">
    <div class="card height-auto">
      <div class="card-body">

        <div class="heading-layout1">
          <div class="item-title">
            <h5>Assigned Vehicle List</h5>
          </div>
        </div>
        <div class="table-responsive">

          <table id="example" style="float: right;" class="table display data-table text-nowrap cell-border">
            <thead>
              <tr>

                <th>Route</th>
                <th>Vehicle No</th>
                <th>Action</th>

              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let assign of assigns">
                <td>{{assign.routeId}}</td>
                <td>{{assign.vehicleId}}</td>


                <td><a (click)="setUpdateFileds(assign.id)"><i class="fas fa-pen-alt text-orange-peel"></i>&nbsp;</a>
                  <a (click)="deleteasign(assign.id)"><i class="fas fa-times text-orange-red"></i>&nbsp;</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
