<!-- Breadcubs Area Start Here -->
<div class="breadcrumbs-area">
  <ul>
    <li>
      <a href="/#/admin">Home</a>
    </li>
    <li>Add Supplier</li>
  </ul>
</div>
<!-- Breadcubs Area End Here -->
<!-- Add Item Category Area Start Here -->
<div class="card height-auto">
  <div class="card-body">
    <div class="heading-layout1">
      <div class="item-title">
        <h5>Add Supplier</h5>
      </div>
      <button style="  background-color: #000066; position: relative; top:0; right: 10; float: right;" type="button"
        class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">+ Add</button>
    </div>

    <div class="table-responsive">
      <table id="example" class="table display data-table text-nowrap cell-border">
        <thead>
          <tr>
            <th>Item Supplier</th>
            <th>Contact Person</th>
            <th>Address</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let supplier of suppliers">
            <td>{{supplier.itemSupplier}}</td>
            <td>{{supplier.contactPersonName}}</td>
            <td>{{supplier.address}}</td>

            <td><a (click)="setUpdateFileds(supplier.id)"><i class="fas fa-pen-alt text-orange-peel" data-toggle="modal"
                  data-target="#myModal"></i>&nbsp;</a>
              <a (click)="deletesupplier(supplier.id)"><i class="fas fa-times text-orange-red"></i>&nbsp;</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<!-- Add Item Category Area End Here -->
<div class="container">

  <!-- Modal -->
  <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <div class="item-title">
            <h5>Add Supplier</h5>
          </div>
          <button type="button" class="close" data-dismiss="modal">&times;</button>

        </div>
        <div class="modal-body">
          <form role="form" method="post" id="reused_form">
            <div class="row">

              <div class="col-xl-4 col-lg-6 col-12 form-group">
                <label for="inp" class="inp">
                  <input type="text" name="itemSupplier" class="form-control" id="inp" placeholder="&nbsp;"
                    [(ngModel)]="itemSupplierDto.itemSupplier">
                  <span class="label"> Supplier Name</span>
                  <span class="focus-bg"></span>
                </label>
              </div>

              <div class="col-xl-4 col-lg-6 col-12 form-group">
                <label for="inp" class="inp">
                  <input type="text" name="phone" class="form-control" id="inp" placeholder="&nbsp;"
                    [(ngModel)]="itemSupplierDto.phone">
                  <span class="label">Phone</span>
                  <span class="focus-bg"></span>
                </label>
              </div>

              <div class="col-xl-4 col-lg-6 col-12 form-group">
                <label for="inp" class="inp">
                  <input type="text" name="email" class="form-control" id="inp" placeholder="&nbsp;"
                    [(ngModel)]="itemSupplierDto.email">
                  <span class="label">E-Mail</span>
                  <span class="focus-bg"></span>
                </label>
              </div>

              <div class="col-xl-4 col-lg-6 col-12 form-group">
                <label for="inp" class="inp">
                  <input type="text" name="address" class="form-control" id="inp" placeholder="&nbsp;"
                    [(ngModel)]="itemSupplierDto.address">
                  <span class="label">Address</span>
                  <span class="focus-bg"></span>
                </label>
              </div>

              <div class="col-xl-4 col-lg-6 col-12 form-group">
                <label for="inp" class="inp">
                  <input type="text" name="contactPersonName" class="form-control" id="inp" placeholder="&nbsp;"
                    [(ngModel)]="itemSupplierDto.contactPersonName">
                  <span class="label">Contact Person Name</span>
                  <span class="focus-bg"></span>
                </label>

              </div>
              <div class="col-xl-4 col-lg-6 col-12 form-group">
                <label for="inp" class="inp">
                  <input type="text" name="contactPersonPhone" class="form-control" id="inp" placeholder="&nbsp;"
                    [(ngModel)]="itemSupplierDto.contactPersonPhone">
                  <span class="label">Contact Persone Phone</span>
                  <span class="focus-bg"></span>
                </label>
              </div>

              <div class="col-xl-4 col-lg-6 col-12 form-group">
                <label for="inp" class="inp">
                  <input type="text" name="contactPersonEmail" class="form-control" id="inp" placeholder="&nbsp;"
                    [(ngModel)]="itemSupplierDto.contactPersonEmail">
                  <span class="label">Contact Person mail</span>
                  <span class="focus-bg"></span>
                </label>
              </div>

              <div class="col-xl-4 col-lg-6 col-12 form-group">
                <label for="inp" class="inp">
                  <input type="text" name="description" class="form-control" id="inp" placeholder="&nbsp;"
                    [(ngModel)]="itemSupplierDto.description">
                  <span class="label">Description</span>
                  <span class="focus-bg"></span>
                </label>
              </div>

              <div class="col-xl-3 col-lg-6 col-12 form-group">

                <button *ngIf="!this.isUpdate" (click)="addsupplier()" type="button"
                  class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark" data-toggle="modal" data-target="#myModal">
                  Save
                </button>
                <button *ngIf="this.isUpdate" (click)="updatesupplier(itemSupplierDto.id)" type="button"
                  class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark" data-toggle="modal" data-target="#myModal">
                  Update
                </button>


              </div>
            </div>
          </form>


        </div>
      </div>
    </div>
  </div>

</div>
