
    <!-- Breadcubs Area Start Here -->
    <div class="breadcrumbs-area">
        <ul>
            <li>
                <a href="/#/admin">Home</a>
            </li>
            <li>Add Supplier</li>
        </ul>
    </div>
    <!-- Breadcubs Area End Here -->
    <!-- Add Item Category Area Start Here -->
    <div class="card height-auto">
        <div class="card-body">
            <div class="heading-layout1">
                <div class="item-title">
                    <h3>Add Supplier</h3>
                </div>
                <button style="  background-color: #000066; position: relative; top:0; right: 10; float: right;" type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">+ Add</button>

               
            <div class="table-responsive">
                    <table id="example" class="table display data-table text-nowrap cell-border">
                      <thead>
                          <tr>
                              <th>Item Supplier</th>
                              <th>Contact Person</th>
                              <th>Address</th>
                              <th>Action</th>
                          </tr>
                      </thead>
                      <tbody>
                        <tr>
                            <td>ABC</td>
                            <td>XYZ</td>
                            <td>LMN</td>
                            <td> <a href="#"><i class="fas fa-align-justify "></i>&nbsp;</a>
                                <a href="#"><i class="fas fa-pen-alt text-orange-peel"></i>&nbsp;</a> 
                                <a href="#"><i class="fas fa-times text-orange-red"></i>&nbsp;</a>    </td>
                        </tr>
                        <tr>
                            <td>ABC</td>
                            <td>XYZ</td>
                            <td>LMN</td>
                            <td> <a href="#"><i class="fas fa-align-justify "></i>&nbsp;</a>
                                <a href="#"><i class="fas fa-pen-alt text-orange-peel"></i>&nbsp;</a> 
                                <a href="#"><i class="fas fa-times text-orange-red"></i>&nbsp;</a>    </td>
                        </tr>
                        <tr>
                            <td>ABC</td>
                            <td>XYZ</td>
                            <td>LMN</td>
                            <td> <a href="#"><i class="fas fa-align-justify "></i>&nbsp;</a>
                                <a href="#"><i class="fas fa-pen-alt text-orange-peel"></i>&nbsp;</a> 
                                <a href="#"><i class="fas fa-times text-orange-red"></i>&nbsp;</a>    </td>
                        </tr>
                        <tr>
                            <td>ABC</td>
                            <td>XYZ</td>
                            <td>LMN</td>
                            <td> <a href="#"><i class="fas fa-align-justify "></i>&nbsp;</a>
                                <a href="#"><i class="fas fa-pen-alt text-orange-peel"></i>&nbsp;</a> 
                                <a href="#"><i class="fas fa-times text-orange-red"></i>&nbsp;</a>    </td>
                        </tr>
                        <tr>
                            <td>ABC</td>
                            <td>XYZ</td>
                            <td>LMN</td>
                            <td> <a href="#"><i class="fas fa-align-justify "></i>&nbsp;</a>
                                <a href="#"><i class="fas fa-pen-alt text-orange-peel"></i>&nbsp;</a> 
                                <a href="#"><i class="fas fa-times text-orange-red"></i>&nbsp;</a>    </td>
                        </tr>
                    </tbody>
                  </table>
              </div>
        </div>
    </div>
    </div>
    <!-- Add Item Category Area End Here -->
    <div class="container">
   
        <!-- Modal -->
        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                       
                    </div>
                    <div class="modal-body">
                        <form role="form" method="post" id="reused_form" >                  
                            <div class="row">
                    
                    
                                <div class="col-xl-4 col-lg-6 col-12 form-group">
                                    <label for="inp" class="inp">
                                        <input type="text" class="form-control" id="inp" placeholder="&nbsp;">
                                        <span class="label"> Name</span>
                                        <span class="focus-bg"></span>
                                      </label>
                                </div>
            
                                <div class="col-xl-4 col-lg-6 col-12 form-group">
                                    <label for="inp" class="inp">
                                        <input type="text" class="form-control" id="inp" placeholder="&nbsp;">
                                        <span class="label">Phone</span>
                                        <span class="focus-bg"></span>
                                      </label>
                                </div>
            
                                <div class="col-xl-4 col-lg-6 col-12 form-group">
                                    <label for="inp" class="inp">
                                        <input type="email" class="form-control" id="inp" placeholder="&nbsp;">
                                        <span class="label">E-Mail</span>
                                        <span class="focus-bg"></span>
                                      </label>
                                </div>
            
                                <div class="col-xl-4 col-lg-6 col-12 form-group">
                                    <label for="inp" class="inp">
                                        <input type="text" class="form-control" id="inp" placeholder="&nbsp;">
                                        <span class="label">Address</span>
                                        <span class="focus-bg"></span>
                                      </label>
                                </div>
            
                                <div class="col-xl-4 col-lg-6 col-12 form-group">
                                    <label for="inp" class="inp">
                                        <input type="text" class="form-control" id="inp" placeholder="&nbsp;">
                                        <span class="label">Contact Person Name</span>
                                        <span class="focus-bg"></span>
                                      </label>
                                  
                                </div>
                                <div class="col-xl-4 col-lg-6 col-12 form-group">
                                    <label for="inp" class="inp">
                                        <input type="text" class="form-control" id="inp" placeholder="&nbsp;">
                                        <span class="label">Contact Persone Phone</span>
                                        <span class="focus-bg"></span>
                                      </label>
                                </div>
            
                                <div class="col-xl-4 col-lg-6 col-12 form-group">
                                    <label for="inp" class="inp">
                                        <input type="text" class="form-control" id="inp" placeholder="&nbsp;">
                                        <span class="label">Contact Person mail</span>
                                        <span class="focus-bg"></span>
                                      </label>
                                </div>
            
                                <div class="col-xl-4 col-lg-6 col-12 form-group">
                                    <label for="inp" class="inp">
                                        <input type="text" class="form-control" id="inp" placeholder="&nbsp;">
                                        <span class="label">Description</span>
                                        <span class="focus-bg"></span>
                                      </label>
                                </div>
                               
                                <div class="col-12 form-group mg-t-8">
                                    <button type="submit" class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark">Add</button>
                                    <button type="reset" class="btn-fill-lg bg-blue-dark btn-hover-yellow">Reset</button>
                                </div>
                            </div>
                        </form>
                        
                        
                    </div>
                </div>
            </div>
        </div>
        
    </div>