<div class="breadcrumbs-area">
    <ul>
        <li>
            <a href="index.html">Home</a>
        </li>
        <li>Download Center</li>
    </ul>
   </div>
   <div class="card height-auto">
    <div class="card-body">
       <div class="table-responsive">
            <table id="example" class="table display data-table text-nowrap cell-border">
              <thead>
                  <tr>
                      <th>Content Title</th>
                      <th>Type</th>
                      <th>Date</th>
                      <th>Available For</th>
                      <th>Action</th>
                  </tr>
              </thead>
              <tbody>
                <tr>
                    <td>XYZ</td>
                    <td>ABC</td>
                    <td>06/03/2020</td>
                    <td>1(A)</td>
                    <td> <a href="#"><i class="fas fa-align-justify "></i>&nbsp;</a>
                        <a href="#"><i class="fas fa-pen-alt text-orange-peel"></i>&nbsp;</a> 
                        <a href="#"><i class="fas fa-times text-orange-red"></i>&nbsp;</a>    </td>
                </tr>
                <tr>
                    <td>XYZ</td>
                    <td>ABC</td>
                    <td>06/03/2020</td>
                    <td>1(A)</td>
                    <td> <a href="#"><i class="fas fa-align-justify "></i>&nbsp;</a>
                        <a href="#"><i class="fas fa-pen-alt text-orange-peel"></i>&nbsp;</a> 
                        <a href="#"><i class="fas fa-times text-orange-red"></i>&nbsp;</a>    </td>
                </tr>
                <tr>
                    <td>XYZ</td>
                    <td>ABC</td>
                    <td>06/03/2020</td>
                    <td>1(A)</td>
                    <td> <a href="#"><i class="fas fa-align-justify "></i>&nbsp;</a>
                        <a href="#"><i class="fas fa-pen-alt text-orange-peel"></i>&nbsp;</a> 
                        <a href="#"><i class="fas fa-times text-orange-red"></i>&nbsp;</a>    </td>
                </tr>
                <tr>
                    <td>XYZ</td>
                    <td>ABC</td>
                    <td>06/03/2020</td>
                    <td>1(A)</td>
                    <td> <a href="#"><i class="fas fa-align-justify "></i>&nbsp;</a>
                        <a href="#"><i class="fas fa-pen-alt text-orange-peel"></i>&nbsp;</a> 
                        <a href="#"><i class="fas fa-times text-orange-red"></i>&nbsp;</a>    </td>
                </tr>
                <tr>
                    <td>XYZ</td>
                    <td>ABC</td>
                    <td>06/03/2020</td>
                    <td>1(A)</td>
                    <td> <a href="#"><i class="fas fa-align-justify "></i>&nbsp;</a>
                        <a href="#"><i class="fas fa-pen-alt text-orange-peel"></i>&nbsp;</a> 
                        <a href="#"><i class="fas fa-times text-orange-red"></i>&nbsp;</a>    </td>
                </tr>
            
            </tbody>
          </table>
      </div>
    </div>
   </div>
