<div class="breadcrumbs-area">
    <h3>Front CMS</h3>
    <ul>
        <li>
            <a href="index.html">Home</a>
        </li>
        <li>Event</li>
    </ul>
</div>
    <div class="card height-auto">
        <div class="card-body">
            <div class="heading-layout1">
                <div class="item-title">
                    <h3>Event List</h3>
                </div>
                
            </div>
            
           <div _ngcontent-hsw-c96="" class="table-responsive">
               <button _ngcontent-hsw-c96="" type="button" data-toggle="modal" data-target="#myModal" class="btn btn-info btn-lg" style="background-color: #000066; position: relative; top: 0; right: 10; float: right;">+ Add</button>
               <div id="example_wrapper" class="dataTables_wrapper no-footer"><div>
                 
                    <div>
                        <table _ngcontent-hsw-c96="" id="example" class="table display data-table text-nowrap cell-border dataTable no-footer" role="grid" aria-describedby="example_info">
                            <thead _ngcontent-hsw-c96="">
                                <tr _ngcontent-hsw-c96="" role="row">
                                    <th _ngcontent-hsw-c96="" class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Fees Group: activate to sort column ascending" style="width: 298px;">Title</th>
                                    <th _ngcontent-hsw-c96="" class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Date: activate to sort column ascending" style="width: 624.4px;">Date</th>
                                    <th _ngcontent-hsw-c96="" class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Venue: activate to sort column ascending" style="width: 624.4px;">Venue</th>
                                    <th _ngcontent-hsw-c96=""  tabindex="0" aria-controls="example" rowspan="1" colspan="1"  style="width: 194.8px;">Action</th>
                                </tr>
                            </thead>
                            <tbody _ngcontent-hsw-c96="">
                                <tr _ngcontent-hsw-c96="" role="row" class="odd">
                                    <td _ngcontent-hsw-c96="">Title1</td>
                                    <td _ngcontent-hsw-c96="">12/05/2020</td>
                                    <td _ngcontent-hsw-c96="">Nice place</td>
                                    <td _ngcontent-hsw-c96=""><a _ngcontent-olg-c102="" href="#"><i _ngcontent-olg-c102="" class="fas fa-align-justify"></i>&nbsp;</a><a _ngcontent-olg-c102="" href="#"><i _ngcontent-olg-c102="" class="fas fa-pen-alt text-orange-peel"></i>&nbsp;</a><a _ngcontent-olg-c102="" href="#"><i _ngcontent-olg-c102="" class="fas fa-times text-orange-red"></i>&nbsp;</a></td>
                                </tr>
                                <tr _ngcontent-hsw-c96="" role="row" class="even">
                                    <td _ngcontent-hsw-c96="">Title2</td>
                                    <td _ngcontent-hsw-c96="">12/05/2021</td>
                                    <td _ngcontent-hsw-c96="">Nice place2</td>
                                    <td _ngcontent-hsw-c96=""><a _ngcontent-olg-c102="" href="#"><i _ngcontent-olg-c102="" class="fas fa-align-justify"></i>&nbsp;</a><a _ngcontent-olg-c102="" href="#"><i _ngcontent-olg-c102="" class="fas fa-pen-alt text-orange-peel"></i>&nbsp;</a><a _ngcontent-olg-c102="" href="#"><i _ngcontent-olg-c102="" class="fas fa-times text-orange-red"></i>&nbsp;</a></td>
                                 </tr>
                            </tbody>
                        </table></div>
                </div>
            </div>
        </div>
        </div>
    </div>
<!-- Trigger the modal with a button -->


<!-- Modal -->

<div class="container">
   
    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    
                </div>
                <div class="modal-body">
                    <form role="form" method="post" id="reused_form" >
                        <div class="row">
                        <div class="col-6 col-lg-4 col-12 form-group">
                            <label for="inp" class="inp">
                                <input type="text"  class="form-control" id="inp" placeholder="&nbsp;">
                                <span class="label">Title*</span>
                                <span class="focus-bg"></span>
                            </label>
                   
                        </div>
                        <div class="col-6 col-lg-4 col-12 form-group">
                            <label for="inp" class="inp">
                                <input type="text"  class="form-control" id="inp" placeholder="&nbsp;">
                                <span class="label">Venue *</span>
                                <span class="focus-bg"></span>
                            </label>
                   
                        </div>
                        <div class="col-6 col-lg-4 col-12 form-group">
                            <label for="dtp" class="dtp">
                                <input type="text" id="dtp" placeholder="&nbsp;" class="form-control air-datepicker"
                                    data-position='bottom right' name="admission" >
                                <span class="label">Start Date *</span>
                                <span class="focus-bg"></span>
                              </label>
                              
                        </div>
                        <div class="col-6 col-lg-4 col-12 form-group">
                        <label for="dtp" class="dtp">
                                <input type="text" id="dtp" placeholder="&nbsp;" class="form-control air-datepicker"
                                    data-position='bottom right' name="admission">
                                <span class="label">End Date *</span>
                                <span class="focus-bg"></span>
                                  
                            </label>
                              
                        </div>
                        <div class="col-12 col-lg-4 col-12 form-group">
                            <label for="inp" class="inp">
                                <input type="text"  class="form-control" id="inp" placeholder="&nbsp;">
                                <span class="label">Description</span>
                                <span class="focus-bg"></span>
                            </label>
                    
                        </div>
                        
                        <div class="col-12-xxxl col-lg-6 col-12 form-group">
                            <button type="submit" class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark">Save</button>&nbsp;&nbsp;&nbsp;
                            <button type="reset" class="btn-fill-lg bg-blue-dark btn-hover-yellow">Reset</button>
                        </div>
                    </div>
                    </form>
                    
                    
                </div>
            </div>
        </div>
    </div>
</div>
