<div class="breadcrumbs-area">
  <ul>
    <li>
      <a href="index.html">Home</a>
    </li>
    <li>Approve Leave</li>
  </ul>
</div>
<!-- Breadcubs Area End Here -->
<div class="card height-auto">
  <div class="card-body">

    <div class="heading-layout1">
      <div class="item-title">
        <h3>Approve Leaves List</h3>
      </div>
      <button
        style="  background-color: #000066; position: relative; top:0; right: 10; float: right; width: 7%; height: 10%;"
        type="button" class="btn btn-info btn-lg" (click)="clearData()" data-toggle="modal" data-target="#myModal">+ Add
      </button>

    </div>

    <div class="table-responsive">
      <table id="example" class="table display data-table text-nowrap cell-border">
        <thead>
          <tr>
            <th>Student Name</th>
            <th>Class</th>
            <th>Section</th>
            <th>Apply Date</th>
            <th>From Date</th>
            <th>To Date</th>
            <th>Reason</th>
            <th>Document</th>
            <th>Status</th>
            <th>Approved By</th>
            <th>Student Session ID</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let leaves of studentApplyleaves">
            <td>ABC</td>
            <td>1</td>
            <td>A</td>
            <td>{{leaves.applyDate}}</td>
            <td>{{leaves.fromDate}}</td>
            <td>{{leaves.toDate}}</td>
            <td>{{leaves.reason}}</td>
            <td>{{leaves.docs}}</td>
            <td>{{leaves.requestType}}</td>
            <th>{{leaves.approveBy}}</th>
            <th>{{leaves.status}}</th>
            <td>
              <a href="#"><i class="fas fa-check text-orange-blue"></i>&nbsp;</a>
              <a (click)="setUpdateFileds(leaves.id)"  data-toggle="modal" data-target="#myModal"><i class="fas fa-pen-alt text-orange-peel"></i>&nbsp;</a>
              <a (click)="delete(leaves.id)"><i class="fas fa-times text-orange-red"></i>&nbsp;</a>
            </td>
          </tr>

        </tbody>
      </table>
    </div>

  </div>
  <div class="container">

    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">

          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="item-title">
            <h3> Add Leave </h3>
          </div>

          <div class="modal-body">
            <form role="form" method="post" id="reused_form">

              <div class="row">
               
                <div class="col-6 col-lg-4 col-12 form-group">
                  <label for="slt" class="slt">
                    <select name="religion" class="form-control" id="slt" placeholder="&nbsp;">
                      <option selected>Please Select *</option>
                      <option value="1">ABC</option>
                      <option value="2">ABC</option>
                      <option value="3">ABC</option>
                    </select>
                    <span class="label">Student Name*</span>
                    <span class="focus-bg"></span>
                  </label>
                </div>
               
                <div class="col-xl-3 col-lg-6 col-12 form-group">
                  <label for="slt" class="slt">
                    <select name="class" class="form-control" id="slt" placeholder="&nbsp;">
                      <option selected>Please Select Class *</option>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="3">4</option>
                      <option value="3">5</option>
                      <option value="3">6</option>
                    </select>
                    <span class="label">Class *</span>
                    <span class="focus-bg"></span>
                  </label>
                </div>

                <div class="col-xl-3 col-lg-6 col-12 form-group">
                  <label for="slt" class="slt">
                    <select name="Section" class="form-control" id="slt" placeholder="&nbsp;">
                      <option selected>Please Select Section *</option>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="3">4</option>
                      <option value="3">5</option>
                      <option value="3">6</option>
                    </select>
                    <span class="label">Section *</span>
                    <span class="focus-bg"></span>
                  </label>
                </div>
               
                <div class="col-6 col-lg-4 col-12 form-group">
                  <label for="dtp" class="dtp">
                    <input type="date" id="dtp" placeholder="&nbsp;" name="applyDate" [(ngModel)]="studentApplyleaveDto.applyDate"
                    [value]="studentApplyleaveDto.applyDate">
                    <span class="label"> Apply Date *</span>
                    <span class="focus-bg"></span>
                  </label>
                </div>

                <div class="col-6 col-lg-4 col-12 form-group">
                  <label for="dtp" class="dtp">
                    <input type="date" id="dtp" placeholder="&nbsp;" name="fromDate" [(ngModel)]="studentApplyleaveDto.fromDate"
                    [value]="studentApplyleaveDto.fromDate">
                    <span class="label">From Date *</span>
                    <span class="focus-bg"></span>
                  </label>
                </div>
                <div class="col-6 col-lg-4 col-12 form-group">
                  <label for="dtp" class="dtp">
                    <input type="date" id="dtp" placeholder="&nbsp;" name="toDate" [(ngModel)]="studentApplyleaveDto.toDate"
                    [value]="studentApplyleaveDto.toDate">
                    <span class="label">To Date *</span>
                    <span class="focus-bg"></span>
                  </label>
                </div>

                <div class="col-12 col-lg-4 col-12 form-group">
                  <label for="inp" class="inp">
                    <input type="text" class="form-control" id="inp" placeholder="&nbsp;" name="reason" [(ngModel)]="studentApplyleaveDto.reason"
                    [value]="studentApplyleaveDto.reason">
                    <span class="label"> Reason</span>
                    <span class="focus-bg"></span>
                  </label>
                </div>

                <div class="col-6 col-lg-4 col-12 form-group">
                  <label class="text-dark-medium" style="font-size: small;">Attach Document</label>
                  <input type="file" class="form-control-file" name="docs" placeholder="" [(ngModel)]="studentApplyleaveDto.docs"
                  [value]="studentApplyleaveDto.docs">
                </div>

                <div class="col-12 col-lg-4 col-12 form-group">
                  <label for="inp" class="inp">
                    <input type="text" class="form-control" id="inp" placeholder="&nbsp;" name="requestType" [(ngModel)]="studentApplyleaveDto.requestType"
                    [value]="studentApplyleaveDto.requestType">
                    <span class="label"> Request Type</span>
                    <span class="focus-bg"></span>
                  </label>
                </div>

                <div class="col-12 col-lg-4 col-12 form-group">
                  <label for="inp" class="inp">
                    <input type="text" class="form-control" id="inp" placeholder="&nbsp;" name="approveBy" [(ngModel)]="studentApplyleaveDto.approveBy"
                    [value]="studentApplyleaveDto.approveBy">
                    <span class="label">Approve By</span>
                    <span class="focus-bg"></span>
                  </label>
                </div>

                <div class="col-12 col-lg-4 col-12 form-group">
                  <label for="inp" class="inp">
                    <input type="text" class="form-control" id="inp" placeholder="&nbsp;" name="status" [(ngModel)]="studentApplyleaveDto.status"
                    [value]="studentApplyleaveDto.status">
                    <span class="label">Status</span>
                    <span class="focus-bg"></span>
                  </label>
                </div>

                <div class="col-12-xxxl col-lg-6 col-12 form-group">
                  <button *ngIf="!this.isUpdate" (click)="add()" type="button"  class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark" data-toggle="modal" data-target="#myModal">Save</button>&nbsp;
                  <button *ngIf="this.isUpdate" (click)="update(studentApplyleaveDto.id)" type="button" class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark"data-toggle="modal" data-target="#myModal" >Update</button>&nbsp;
                  <button *ngIf="this.isUpdate" (click)="clearData()" type="button" class="btn-fill-lg bg-blue-dark btn-hover-yellow">Resete</button>&nbsp;
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
