<div class="breadcrumbs-area">
  <ul>
    <li>
      <a href="index.html">Home</a>
    </li>
    <li>Approve Leave</li>
  </ul>
</div>
<!-- Breadcubs Area End Here -->
<div class="card height-auto">
  <div class="card-body">

    <div class="heading-layout1">
      <div class="item-title">
        <h3>Approve Leaves List</h3>
      </div>
      <button
        style="  background-color: #000066; position: relative; top:0; right: 10; float: right; width: 7%; height: 10%;"
        type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">+ Add
      </button>

    </div>

    <div class="table-responsive">
      <table id="example" class="table display data-table text-nowrap cell-border">
        <thead>
          <tr>
            <th>Student Name</th>
            <th>Class</th>
            <th>Section</th>
            <th>Apply Date</th>
            <th>From Date</th>
            <th>To Date</th>
            <th>Status</th>
            <th>Approved By</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>ABC</td>
            <td>1</td>
            <td>A</td>
            <td>06/02/2020</td>
            <td>07/02/2020</td>
            <td>08/02/2020</td>
            <td>Approved</td>
            <td>Class Teacher</td>

            <td>
              <a href="#"><i class="fas fa-check text-orange-blue"></i>&nbsp;</a>
              <a href="#"><i class="fas fa-pen-alt text-orange-peel"></i>&nbsp;</a>
              <a href="#"><i class="fas fa-times text-orange-red"></i>&nbsp;</a>
            </td>
          </tr>

        </tbody>
      </table>
    </div>

  </div>
  <div class="container">

    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">

          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="item-title">
            <h3> Add Leave </h3>
          </div>

          <div class="modal-body">
            <form role="form" method="post" id="reused_form">

              <div class="row">
                <div class="col-xl-3 col-lg-6 col-12 form-group">

                  <label for="slt" class="slt">
                    <select name="class" class="form-control" id="slt" placeholder="&nbsp;">
                      <option selected>Please Select Class *</option>

                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="3">4</option>
                      <option value="3">5</option>
                      <option value="3">6</option>
                    </select>
                    <span class="label">Class *</span>
                    <span class="focus-bg"></span>
                  </label>
                </div>

                <div class="col-xl-3 col-lg-6 col-12 form-group">

                  <label for="slt" class="slt">
                    <select name="Section" class="form-control" id="slt" placeholder="&nbsp;">
                      <option selected>Please Select Section *</option>

                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="3">4</option>
                      <option value="3">5</option>
                      <option value="3">6</option>
                    </select>
                    <span class="label">Section *</span>
                    <span class="focus-bg"></span>
                  </label>
                </div>
                <div class="col-6 col-lg-4 col-12 form-group">
                  <label for="slt" class="slt">
                    <select name="religion" class="form-control" id="slt" placeholder="&nbsp;">
                      <option selected>Please Select *</option>
                      <option value="">select</option>
                      <option value="1">ABC</option>
                      <option value="2">ABC</option>
                      <option value="3">ABC</option>
                    </select>
                    <span class="label">Student *</span>
                    <span class="focus-bg"></span>
                  </label>
                </div>
                <div class="col-6 col-lg-4 col-12 form-group">
                  <label for="dtp" class="dtp">
                    <input type="date" id="dtp" placeholder="&nbsp;" name="admission">
                    <span class="label"> Apply Date *</span>
                    <span class="focus-bg"></span>
                  </label>
                </div>

                <div class="col-6 col-lg-4 col-12 form-group">
                  <label for="dtp" class="dtp">
                    <input type="date" id="dtp" placeholder="&nbsp;" name="admission">
                    <span class="label">From Date *</span>
                    <span class="focus-bg"></span>
                  </label>
                </div>
                <div class="col-6 col-lg-4 col-12 form-group">
                  <label for="dtp" class="dtp">
                    <input type="date" id="dtp" placeholder="&nbsp;" name="admission">
                    <span class="label">To Date *</span>
                    <span class="focus-bg"></span>
                  </label>
                </div>
                <div class="col-12 col-lg-4 col-12 form-group">
                  <label for="inp" class="inp">
                    <input type="text" class="form-control" id="inp" placeholder="&nbsp;">
                    <span class="label"> Reason</span>
                    <span class="focus-bg"></span>
                  </label>

                </div>

                <div class="col-6 col-lg-4 col-12 form-group">
                  <label class="text-dark-medium" style="font-size: small;">Attach Document</label>
                  <input type="file" class="form-control-file" name="photo" placeholder="">
                </div>


                <div class="col-12-xxxl col-lg-6 col-12 form-group">
                  <button type="submit"
                    class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark">Save</button>&nbsp;&nbsp;&nbsp;
                  <button type="reset" class="btn-fill-lg bg-blue-dark btn-hover-yellow">Reset</button>
                </div>
              </div>
            </form>


          </div>
        </div>
      </div>
    </div>

  </div>
</div>
