<div class="breadcrumbs-area">
    <ul>
        <li>
            <a href="index.html">Home</a>
        </li>
        <li>Department</li>
    </ul>
</div>
<!-- Breadcubs Area End Here -->
<div class="card height-auto">
    <div class="card-body">
        <div class="heading-layout1">
            <div class="item-title">
                <h3>Add Department</h3>
            </div>
        </div>
        <form class="mg-b-20">
            <div class="row gutters-8">
                <div class="col-3-xxxl col-xl-3 col-lg-3 col-12 form-group">
                    <input type="text" placeholder="Add department name ..." class="form-control">
                </div>
                
                <div class="col-1-xxxl col-xl-2 col-lg-3 col-12 form-group">
                    <button type="submit" class="fw-btn-fill btn-gradient-yellow">SAVE</button>
                </div>
            </div>
        </form>
        <hr>
        <br>
        <div class="heading-layout1">
            <div class="item-title">
                <h3>Department Name List</h3>
            </div>
        </div>
        <div class="table-responsive">
            <button style="  background-color: #000066; position: relative; top:0; right: 10; float: right;" type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">+ Add</button>
            <table id="example" class="table display data-table text-nowrap cell-border">
                <thead>
                    <tr>
                        
                        <th>Department Name</th>
                        <th>Action</th>  
                                                
                    </tr>
                </thead>
                <tbody>
                    <tr> 
                        <td>Computer</td>
                        <td> 
                            <a href="#"><i class="fas fa-align-justify "></i>&nbsp;</a>
                            <a href="#"><i class="fas fa-pen-alt text-orange-peel"></i>&nbsp;</a> 
                            <a href="#"><i class="fas fa-times text-orange-red"></i>&nbsp;</a>
                        </td>
                    </tr>
                    <tr> 
                        <td>Maths</td>
                        <td> 
                            <a href="#"><i class="fas fa-align-justify "></i>&nbsp;</a>
                            <a href="#"><i class="fas fa-pen-alt text-orange-peel"></i>&nbsp;</a> 
                            <a href="#"><i class="fas fa-times text-orange-red"></i>&nbsp;</a>
                        </td>
                    </tr>
                    <tr> 
                        <td>Science</td>
                        <td> 
                            <a href="#"><i class="fas fa-align-justify "></i>&nbsp;</a>
                            <a href="#"><i class="fas fa-pen-alt text-orange-peel"></i>&nbsp;</a> 
                            <a href="#"><i class="fas fa-times text-orange-red"></i>&nbsp;</a>
                        </td>
                    </tr>
                    <tr> 
                        <td>Computer</td>
                        <td> 
                            <a href="#"><i class="fas fa-align-justify "></i>&nbsp;</a>
                            <a href="#"><i class="fas fa-pen-alt text-orange-peel"></i>&nbsp;</a> 
                            <a href="#"><i class="fas fa-times text-orange-red"></i>&nbsp;</a>
                        </td>
                    </tr>
                    <tr> 
                        <td>Maths</td>
                        <td> 
                            <a href="#"><i class="fas fa-align-justify "></i>&nbsp;</a>
                            <a href="#"><i class="fas fa-pen-alt text-orange-peel"></i>&nbsp;</a> 
                            <a href="#"><i class="fas fa-times text-orange-red"></i>&nbsp;</a>
                        </td>
                    </tr>
                    <tr> 
                        <td>Science</td>
                        <td> 
                            <a href="#"><i class="fas fa-align-justify "></i>&nbsp;</a>
                            <a href="#"><i class="fas fa-pen-alt text-orange-peel"></i>&nbsp;</a> 
                            <a href="#"><i class="fas fa-times text-orange-red"></i>&nbsp;</a>
                        </td>
                    </tr>
                   
                </tbody>
            </table>
        </div>
    </div>