<div class="breadcrumbs-area">
  <ul>
    <li>
      <a href="index.html">Home</a>
    </li>
    <li>Department</li>
  </ul>
</div>
<!-- Breadcubs Area End Here -->

<div class="row gutters-20">
  <div class="col-xl-4 col-6">
    <div class="card height-auto">
      <div class="card-body">
        <div class="heading-layout1">
          <div class="item-title">
            <h5>Add Department</h5>
          </div>
        </div>
        <form class="new-added-form">
          <div class="col-xl-12 col-lg-12 col-12 form-group">
            <label for="inp" class="inp">
              <input type="text" class="form-control" id="inp" placeholder="&nbsp;">
              <span class="label"> Reason</span>
              <span class="focus-bg"></span>
            </label>

          </div>
          <div class="col-xl-3 col-lg-6 col-12 form-group">
            <div class="form-group">
              <button type="submit" class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark">Save</button>
            </div>
          </div>


        </form>
      </div>
    </div>
  </div>
  <div class="col-xl-8 col-6">
    <div class="card height-auto">
      <div class="card-body">

        <div class="heading-layout1">
          <div class="item-title">
            <h5>Department Name List</h5>
          </div>
        </div>
        <div class="table-responsive">

          <table id="example" style="float: right;" class="table display data-table text-nowrap cell-border">
            <thead>
              <tr>

                <th>Department Name</th>
                <th>Action</th>

              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Computer</td>
                <td>
                  <a href="#"><i class="fas fa-align-justify "></i>&nbsp;</a>
                  <a href="#"><i class="fas fa-pen-alt text-orange-peel"></i>&nbsp;</a>
                  <a href="#"><i class="fas fa-times text-orange-red"></i>&nbsp;</a>
                </td>
              </tr>


            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>
