<div class="breadcrumbs-area">
  <ul>
    <li>
      <a href="index.html">Home</a>
    </li>
    <li>Add Room Type</li>
  </ul>
</div>


<!-- Breadcubs Area End Here -->

<div class="row gutters-20">
  <div class="col-xl-4 col-6">
    <div class="card height-auto">
      <div class="card-body">
        <div class="heading-layout1">
          <div class="item-title">
            <h5>Add Room Type</h5>
          </div>
        </div>
        <form class="new-added-form">
          <div class="col-xl-12 col-lg-12 col-12 form-desig">
            <label for="inp" class="inp">
              <input type="text" class="form-control" id="inp" placeholder="&nbsp;" [(ngModel)]="roomType.roomType"
                name="roomType" [value]="roomType.roomType">
              <span class="label">Room Type</span>
              <span class="focus-bg"></span>
            </label>

          </div>
          <div class="col-xl-12 col-lg-12 col-12 form-desig">
            <label for="inp" class="inp">
              <input type="text" class="form-control" id="inp" placeholder="&nbsp;" [(ngModel)]="roomType.description"
                name="description" [value]="roomType.description">
              <span class="label">Descrption</span>
              <span class="focus-bg"></span>
            </label>
          </div>
          <div class="col-xl-6 col-lg-6 col-12 form-group">
            <button *ngIf="!this.isUpdate" (click)="addRoomType()" type="button"
              class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark" data-toggle="modal" data-target="#myModal">
              Save
            </button>&nbsp;
            <button *ngIf="this.isUpdate" (click)="updateRoomType(roomType.id)" type="button"
              class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark">
              Update
            </button>&nbsp;
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-xl-8 col-6">
    <div class="card height-auto">
      <div class="card-body">

        <div class="heading-layout1">
          <div class="item-title">
            <h5>Room Type List</h5>
          </div>
        </div>
        <div class="table-responsive">
          <table id="example" class="table display data-table text-nowrap cell-border">
            <thead>
              <tr>
                <th>Room Type</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let hostelroomtype of hostelsroomtype">
                <td>{{ hostelroomtype.roomType }}</td>
                <td>
                  <a (click)="setUpdateFileds(hostelroomtype.id)" data-toggle="modal" data-target="#myModal"><i
                      class="fas fa-pen-alt text-orange-peel"></i>&nbsp;</a>
                  <a (click)="deleteRoomType(hostelroomtype.id)"><i class="fas fa-times text-orange-red"></i>&nbsp;</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
