body {
    height: 100vh;
    display: grid;
    font-family: Roboto;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .inp {
    position: relative;
    margin: auto;
    width: 100%;
    max-width: 280px;
    border-radius: 3px;
    overflow: hidden;
  }
  .inp .label {
    position: absolute;
    top: 20px;
    left: 12px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 500;
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    pointer-events: none;
  }
  .inp .focus-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: none;
    z-index: -1;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: left;
            transform-origin: left;
  }
  .inp input {
    -webkit-appearance: none;
    -moz-appearance: none;
         appearance: none;
    width: 100%;
    border: 0;
    font-family: inherit;
    padding: 16px 12px 0 12px;
    height: 45px;
    font-size: 16px;
    font-weight: 400;
    background: rgba(0, 0, 0, 0);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.3);
    color: #000;
    -webkit-transition: all 0.15s ease;
    transition: all 0.15s ease;
  }
  .inp input:hover {
    background: rgba(0, 0, 0, 0);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.5);
  }
  .inp input:not(:placeholder-shown) + .label {
    color: rgba(0, 0, 0, 0.5);
    -webkit-transform: translate3d(0, -18px, 0) scale(0.75);
            transform: translate3d(0, -18px, 0) scale(0.75);
  }
  .inp input:focus {
    background: rgba(0, 0, 0, 0);
    outline: none;
    box-shadow: inset 0 -2px 0 #0077FF;
  }
  .inp input:focus + .label {
    color: #0077FF;
    -webkit-transform: translate3d(0, -18px, 0) scale(0.75);
            transform: translate3d(0, -18px, 0) scale(0.75);
  }
  .inp input:focus + .label + .focus-bg {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transition: all 0.1s ease;
    transition: all 0.1s ease;
  }
  

/*******select box*********/
.slt {
    
    position: relative;
    margin: auto;
    width: 100%;
    max-width: 280px;
    border-radius: 3px;
    overflow: hidden;
  }
  .slt .label {
    position: absolute;
    top: 20px;
    left: 12px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 500;
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    pointer-events: none;
  }
  .slt .focus-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    z-index: -1;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: left;
            transform-origin: left;
  }
  .slt select {
    
    -webkit-appearance: none;
    -moz-appearance: none;
         appearance: none;
    width: 100%;
    border:none;
    font-family: inherit;
    padding: 16px 12px 0 12px;
    height: 45px;
    font-size: 16px;
    font-weight: 400;
    background: rgba(0, 0, 0, 0);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.3);
    color: #000;
    -webkit-transition: all 0.15s ease;
    transition: all 0.15s ease;
  }
  .slt select:hover {
    background: rgba(0, 0, 0, 0);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.5);
  }
  .slt select:not(:placeholder-shown) + .label {
    color: rgba(0, 0, 0, 0.5);
    -webkit-transform: translate3d(0, -18px, 0) scale(0.75);
            transform: translate3d(0, -18px, 0) scale(0.75);
  }
  .slt select:focus {
    background: rgba(0, 0, 0, 0);
    outline: none;
    box-shadow: inset 0 -2px 0 #0077FF;
  }
  .slt select:focus + .label {
    color: #0077FF;
    -webkit-transform: translate3d(0, -18px, 0) scale(0.75);
            transform: translate3d(0, -18px, 0) scale(0.75);
  }
  .slt select:focus + .label + .focus-bg {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transition: all 0.1s ease;
    transition: all 0.1s ease;
  }

/*********datppicker****************/
.dtp {  
  position: relative;
  margin: auto;
  width: 100%;
  max-width: 280px;
  border-radius: 3px;
  overflow: hidden;
}

.dtp .label {
  position: absolute;
  top: 20px;
  left: 12px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 500;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  pointer-events: none;
}

.dtp .focus-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.05);
  z-index: -1;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
}

.dtp input {  
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  width: 100%;
  border:none;
  font-family: inherit;
  padding: 16px 12px 0 12px;
  height: 45px;
  font-size: 16px;
  font-weight: 400;
  background: rgba(0, 0, 0, 0);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.3);
  color: #000;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
}

.dtp input:hover {
  background: rgba(0, 0, 0, 0);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.5);
}
.dtp input:not(:placeholder-shown) + .label {
  color: rgba(0, 0, 0, 0.5);
  -webkit-transform: translate3d(0, -18px, 0) scale(0.75);
          transform: translate3d(0, -18px, 0) scale(0.75);
}
.dtp input:focus {
  background: rgba(0, 0, 0, 0);
  outline: none;
  box-shadow: inset 0 -2px 0 #0077FF;
}
.dtp input:focus + .label {
  color: #0077FF;
  -webkit-transform: translate3d(0, -18px, 0) scale(0.75);
          transform: translate3d(0, -18px, 0) scale(0.75);
}
.dtp input:focus + .label + .focus-bg {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

/*********Switchbutton****************/

.onoffswitch {
  position: relative; width: 74px;
  -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
  display: none;
}
.onoffswitch-label {
  display: block; overflow: hidden; cursor: pointer;
  border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
  display: block; width: 200%; margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
  display: block; float: left; width: 50%; height: 24px; padding: 0; line-height: 24px;
  font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
  box-sizing: border-box;
}
.onoffswitch-inner:before {
  content: "ON";
  padding-left: 10px;
  background-color: #142275; color: #FFFFFF;
}
.onoffswitch-inner:after {
  content: "OFF";
  padding-right: 10px;
  background-color: #EEEEEE; color: #999999;
  text-align: right;
}
.onoffswitch-switch {
  display: block; width: 20px; margin: 2px;
  background: #FFFFFF;
  position: absolute; top: 0; bottom: 0;
  right: 46px;
  border: 2px solid #999999; border-radius: 20px;
  transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px; 
}