<div class="breadcrumbs-area">
    <ul>
        <li>
            <a href="index.html">Home</a>
        </li>
        <li>Promote Students</li>
    </ul>
</div>
<!-- Breadcubs Area End Here -->
<div class="card height-auto">
    <div class="card-body">
        <form class="new-added-form">
            <div class="row">
                <div class="col-xl-4 col-lg-6 col-12 form-group">
                    <label for="slt" class="slt">
                        <select  class="form-control" id="slt" placeholder="&nbsp;">
                        <option selected >Please Select Class *</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="3">4</option>
                        <option value="3">5</option>
                        <option value="3">6</option>
                        </select>
                        <span class="label">Class *</span>
                        <span class="focus-bg"></span>
                    </label>
                </div>
               <div class="col-xl-4 col-lg-6 col-12 form-group">
                    <label for="slt" class="slt">
                        <select  class="form-control" id="slt" placeholder="&nbsp;">
                         <option value="">select</option>
                        <option value="1">A</option>
                        <option value="2">B</option>
                        <option value="3">C</option>
                        <option value="4">D</option>
                    </select>
                        <span class="label">Section *</span>
                        <span class="focus-bg"></span>
                    </label>
                    
                </div>
                <div class="col-xl-3 col-lg-6 col-12 form-group">
                        <div class="form-group" style="float: right;">
                            <button type="submit" class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark">Save</button>
                        </div>
                </div><hr>
            </div>
        </form>
        </div>
</div>
        <div class="card height-auto">
            <div class="card-body">
        <div class="heading-layout1">
            <div class="item-title">
                <h3>Promote Student in Next Session</h3>
            </div>
        </div>
        <form class="new-added-form">
            <div class="row">
                <div class="col-xl-4 col-lg-6 col-12 form-group">
                    <label for="slt" class="slt">
                        <select  class="form-control" id="slt" placeholder="&nbsp;">
                         <option value="">select</option>
                        <option value="1">2020-21</option>
                        <option value="2">2019-20</option>
                        <option value="3">2018-19</option>
                        <option value="4">2017-18</option>
                    </select>
                        <span class="label">Promote in session *</span>
                        <span class="focus-bg"></span>
                    </label>
                    
                </div>
                <div class="col-xl-4 col-lg-6 col-12 form-group">
                    <label for="slt" class="slt">
                        <select  class="form-control" id="slt" placeholder="&nbsp;">
                        <option selected >Please Select Class *</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="3">4</option>
                        <option value="3">5</option>
                        <option value="3">6</option>
                        </select>
                        <span class="label">Class *</span>
                        <span class="focus-bg"></span>
                    </label>
                </div>
               <div class="col-xl-4 col-lg-6 col-12 form-group">
                    <label for="slt" class="slt">
                        <select  class="form-control" id="slt" placeholder="&nbsp;">
                         <option value="">select</option>
                        <option value="1">A</option>
                        <option value="2">B</option>
                        <option value="3">C</option>
                        <option value="4">D</option>
                    </select>
                        <span class="label">Section *</span>
                        <span class="focus-bg"></span>
                    </label>
                    
                </div>
                
            </div>
        </form>
        <div class="table-responsive">
            <table id="example" class="table display data-table text-nowrap cell-border">
                <thead>
                    <tr>
                        
                        <th>Admission No.</th>
                        <th>Student Name</th>
                        <th>Father Name</th>
                        <th>Date of Birth</th>  
                        <th>Current Result</th>  
                        <th>Next Session Status</th>  

                                                
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>PQR</td>
                        <td>ABC</td>
                        <td>10/9/199</td>
                        <td>
                            <label><input type="radio" name="result_3" checked="checked" value="pass">Pass</label>&nbsp;
                            <label><input type="radio" name="result_4" checked="unchecked" value="fail">Fail</label>

                        </td>
                         <td>
                            <label><input type="radio" name="result_5" checked="checked" value="continue">Continue</label>&nbsp;
                            <label><input type="radio" name="result_6" checked="unchecked" value="leave">Leave</label>

                         </td>
                    </tr>
                   
                </tbody>
            </table>
            <button style="  background-color: #000066; position: relative; top:0; right: 10; float: right;" type="button" class="btn btn-info btn-lg">Promote</button>

        </div>
    </div>