
<div class="breadcrumbs-area">
    <h3>Academics</h3>
    <ul>
        <li>
            <a href="index.html">Home</a>
        </li>
        <li>Promote Students</li>
    </ul>
  </div>
  <div class="card height-auto">
    <div class="card-body">
                <form class="new-added-form">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-12 form-group">
                            <label for="slt" class="slt">
                                <select  class="form-control" id="slt" placeholder="&nbsp;">
                                 <option value="">select</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                            </select>
                            <span class="label">Class *</span>
                            <span class="focus-bg"></span>
                        </label>
                            
                        </div>
                               
                        
                        <div class="col-xl-6 col-lg-6 col-12 form-group">
                            <label for="slt" class="slt">
                                <select  class="form-control" id="slt" placeholder="&nbsp;">
                                 <option value="">select</option>
                                <option value="1">A</option>
                                <option value="2">B</option>
                                <option value="3">C</option>
                                <option value="4">D</option>
                            </select>
                            <span class="label">Section *</span>
                            <span class="focus-bg"></span>
                        </label>                      
                            
                            <div class="col-12 form-group mg-t-8" style="padding: 0;">
                                <div class="form-group" style="float: right;">
                                    <button type="submit" class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark">Search</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
  <hr>
  <form class="new-added-form">
    <div class="row">
        <div class="col-xl-4 col-lg-6 col-12 form-group">
            <label for="slt" class="slt">
                <select  class="form-control" id="slt" placeholder="&nbsp;">
                  <option value="">select</option>
                <option value="1">2019-20</option>
                <option value="2">2020-21</option>
                <option value="3">2021-22</option>
                <option value="4">2022-23</option>
            </select>
            <span class="label">Promot in session *</span>
            <span class="focus-bg"></span>
        </label>     
        </div>
        
        <div class="col-xl-4 col-lg-6 col-12 form-group">
            <label for="slt" class="slt">
                <select  class="form-control" id="slt" placeholder="&nbsp;">
                 <option value="">select</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            </select>
            <span class="label">Class *</span>
            <span class="focus-bg"></span>
        </label>
            
            
        </div>
        <div class="col-xl-4 col-lg-6 col-12 form-group">
            <label for="slt" class="slt">
                <select  class="form-control" id="slt" placeholder="&nbsp;">
                 <option value="">select</option>
                <option value="1">A</option>
                <option value="2">B</option>
                <option value="3">C</option>
                <option value="4">D</option>
            </select>
            <span class="label">Section *</span>
            <span class="focus-bg"></span>
        </label>                      
        </div>
    </div>
</form>
    
        <div class="table-responsive">
            <div>
                <span style="float:left;"><h3>Promote Students in Next Section</h3></span>
          <div class="col-1-xxxl col-xl-2 col-lg-3 col-12" style="margin-left:auto; padding: 0;">
              <a href="#"><i class="fas fa-copy"></i>&nbsp;</a>
              <a href="#"><i class="fas fa-file-excel"></i>&nbsp;</a>
              <a href="#"><i class="fas fa-file-csv"></i>&nbsp;</a>
              <a href="#"><i class="fas fa-file-pdf"></i>&nbsp;</a>
              <a href="#"><i class="fas fa-print"></i>&nbsp;</a>
              <a href="#"><i class="fas fa-columns"></i>&nbsp;</a>
           </div>
        </div>
          <table class="table display data-table text-nowrap">
              <thead>
                  
                  <tr>
                      <th>Admission No</th>
                      <th>Student Name</th>
                      <th>Father Name</th>
                      <th>Date of Birth</th>  
                      <th>Current Result</th>
                      <th>Next Session Status</th>
                      
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                  </tr>
                 
              </tbody>
          </table>
      </div>
    </div>
   </div>
  
    <!-- Admission Enquiry Area Start Here -->
   
  