<div class="breadcrumbs-area">
    <h3>Academics</h3>
    <ul>
        <li>
            <a href="index.html">Home</a>
        </li>
        <li>Assign Class Teacher</li>
    </ul>
</div>
<!-- Breadcubs Area End Here -->
<div class="card height-auto">
    <div class="card-body">
        <div class="heading-layout1">
            <div class="item-title">
                <h3>Assign Class Teacher</h3>
            </div>
        </div>
        <form class="new-added-form">
            <div class="row">
                <div class="col-xl-4 col-lg-6 col-12 form-group">
                    <label>Class<span style="color: red;">*</span> </label>
                    <select class="select2">
                        <option value="">select</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                    </select><br>
                </div>
                
                <div class="col-xl-4 col-lg-6 col-12 form-group">
                    <label>Section<span style="color: red;">*</span> </label>
                    <select class="select2">
                        <option value="">select</option>
                        <option value="1">A</option>
                        <option value="2">B</option>
                        <option value="3">C</option>
                        <option value="4">D</option>
                    </select><br> 
                    
                </div>
                <div class="col-xl-4 col-lg-6 col-12 form-group">
                    <label>Teacher<span style="color: red;">*</span> </label>
                    <select class="select2">
                        <option value="">select</option>
                        <option value="1">Teacher 1</option>
                        <option value="2">Teacher 2</option>
                        <option value="3">Teacher 3</option>
                        <option value="4">Teacher 4</option>
                    </select><br> 
                    <div class="col-12 form-group mg-t-8" style="padding: 0;">
                        <div class="form-group" style="float: right;">
                            <button type="submit" class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark">Save</button>
                        </div>
                    </div>
    
                </div>
            </div>
        </form>
        <hr>
        <div class="heading-layout1">
            <div class="item-title">
                <h3>Class Teacher List</h3>
            </div>
        </div>
        <form class="mg-b-20">
            <div class="row gutters-8">
                <div class="col-3-xxxl col-xl-3 col-lg-3 col-12 form-group">
                    <input type="text" placeholder="Search..." class="form-control">
                </div>
                <div class="col-1-xxxl col-xl-2 col-lg-3 col-12 form-group">
                    <button type="submit" class="fw-btn-fill btn-gradient-yellow">SEARCH</button>
                </div>
                <div class="col-1-xxxl col-xl-2 col-lg-3 col-12" style="margin-left: auto;">
                    <a href="#"><i class="fas fa-copy"></i>&nbsp;</a>
                    <a href="#"><i class="fas fa-file-excel"></i>&nbsp;</a>
                    <a href="#"><i class="fas fa-file-csv"></i>&nbsp;</a>
                    <a href="#"><i class="fas fa-file-pdf"></i>&nbsp;</a>
                    <a href="#"><i class="fas fa-print"></i>&nbsp;</a>
                    <a href="#"><i class="fas fa-columns"></i>&nbsp;</a>
                </div>
            </div>
        </form>
        
        
        <div class="table-responsive">
            <table class="table display data-table text-nowrap">
                <thead>
                    <tr>
                        
                        <th>Class</th>
                        <th>Section</th>
                        <th>Class Teacher</th>
                        <th>Action</th>  
                                                
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>A</td>
                        <td>Teacher 1</td>
                        <td>
                            <div class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                                    aria-expanded="false">
                                    <span class="flaticon-more-button-of-three-dots"></span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="#"><i
                                            class="fas fa-times text-orange-red"></i>Close</a>
                                    <a class="dropdown-item" href="#"><i
                                            class="fas fa-cogs text-dark-pastel-green"></i>Edit</a>
                                    <a class="dropdown-item" href="#"><i
                                            class="fas fa-redo-alt text-orange-peel"></i>Refresh</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                   
                </tbody>
            </table>
        </div>
    </div>