<!-- Student Details Area Start Here -->
<div class="breadcrumbs-area">
    <h3>Parents</h3>
    <ul>
        <li>
            <a href="index.html">Home</a>
        </li>
        <li>Parents Details</li>
    </ul>
</div>
<div class="card height-auto">
    <div class="card-body">
        <div class="heading-layout1">
            <div class="item-title">
                <h3>Select Criteria</h3>
            </div>
        </div>
        <form class="new-added-form">
            <div class="row">
                <div class="col-xl-4 col-lg-6 col-12 form-group">
                    <label>Roll no.(Student) <span class="req" style="color: red;">*</span></label>
                    <input type="number" placeholder="" class="form-control" name="roll" ngModel>
                    <div class="col-12 form-group mg-t-8">
                        <div class="form-group">
                            <button type="submit" class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark">Search</button>
                            <button type="reset" class="btn-fill-lg bg-blue-dark btn-hover-yellow">Reset</button>
                        </div>
                    </div>
                    
                </div>
                <div class="col-xl-4 col-lg-6 col-12 form-group">
                    <label>Class </label>
                    <select class="select2">
                        <option value="">select</option>
                        <option value="1">A</option>
                    </select>
                               
                </div>

                
                <div class="col-xl-4 col-lg-6 col-12 form-group">
                    <label>Search By Key Words: *</label>
                    <input type="text" name="search_text" class="form-control"   placeholder="Search By Student Name, Roll Number, Enroll Number, National Id, Local Id Etc.">               
                    
                    <div class="col-12 form-group mg-t-8">
                        <div class="form-group">
                            <button type="submit" class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark">Search</button>
                            <button type="reset" class="btn-fill-lg bg-blue-dark btn-hover-yellow">Reset</button>
                        </div>
                    </div>
    
                </div>
            </div>
        </form>
    </div>

