.global{
    display: flex;
      justify-content: center;
      align-items: center;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 1999;
      width: 100%;
      height: 100%;
      background-color: #fff;
      opacity: 1;
      transition: opacity .5s ease-in-out;
}
.base-container{
    /* width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
     */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 12px 24px;
    padding: 10px 12px;
    border: 0;
    box-sizing: border-box;
    box-shadow: 0px 0px 15px rgba(15,15,15,0.8);
}

.header{
    font-size: 24px;
    font-family: Georgia, 'Times New Roman', Times, serif;    
}

.content{
    display: flex;
    flex-direction: column;
}
.image{
    width: 21em;
}
.image > img{
    width: 100%;
    height: 100%;
}
.form{
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form .form-group{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: fit-content;
}

.form .form-group > label{
    font-size: 20px;
}

.form .form-group > input{
    margin-top: 5px;
    min-width: 18em;
    height: 37px;
    padding: 0px 10px;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #f3f3f3;
    border: 0;
    border-radius: 4px;
    margin-bottom: 1em;
    transition: all 250ms ease-in-out;
}

input:hover{
    outline: none;
    box-shadow: 0px 0px 10px 0.9px #0e81ce96;
}

.form .form-group > .btn{
    font-size: 21px;
    padding: 5px 20px;
    border: 0;
    background-color: #3498db;
    color: #fff;
    border-radius: 3px;
    transition: all 250ms ease-in-out;
    cursor: pointer;
}

.form .form-group > .btn:hover{
        background-color: #2386c8;
}
.form .form-group > .btn:focus{
    outline: none;
}