<div class="breadcrumbs-area">
  <ul>
    <li>
      <a href="index.html">Home</a>
    </li>
    <li>SMS Setting</li>
  </ul>
</div>














<div class="col-xl-12 col-12">
  <!--<label for="dtp" class="dtp">
    <input type="date" id="dtp" placeholder="&nbsp;" name="admission">
    <span class="label"> Notice Date *</span>
    <span class="focus-bg"></span>
  </label>-->
  <div class="card height-auto">
      <div class="card-body">
          
        <div class="row">
            <div class="col-xl-3 col-lg-6 col-12 form-group">
          <div class="item-title">
              <h5>SMS Setting</h5>
              </div>
        </div>


        <div class="col-xl-9 col-lg-6 col-12 form-desig">
          <div class="custom-tab">
              <ul class="nav nav-tabs" role="tablist">
                  <li class="nav-item"><a class="nav-link active" href="#group" data-toggle="tab" aria-selected="true">Clickatell SMS Gateway</a></li>
                  <li class="nav-item"><a class="nav-link" href="#individual" data-toggle="tab" aria-selected="true">Twilio SMS Gateway</a></li>
                  <li class="nav-item"><a class="nav-link" href="#class" data-toggle="tab" aria-selected="true">MSG91</a></li>
                  <li class="nav-item"><a class="nav-link" href="#todaysbirthday" data-toggle="tab" aria-selected="true">Text Local</a></li>
                  <li class="nav-item"><a class="nav-link" href="#smscountry" data-toggle="tab" aria-selected="true">SMS Country</a></li>
                  <li class="nav-item"><a class="nav-link" href="#customsms" data-toggle="tab" aria-selected="true">Custom SMS Gateway</a></li>
                      <!---- <li class="nav-item"><a class="nav-link" href="#timelineh" data-toggle="tab" aria-selected="true">Timeline</a></li>
                      <li class="nav-item"><a class="nav-link" href="#"><i style="color: rgb(81, 81, 81);" class="fas fa-pencil-alt"></i></a></li>
                      <li class="nav-item"><a class="nav-link" href="#"><i class="fas fa-key text-dark-pastel-green"></i></a></li>
                       <li class="nav-item"><a class="nav-link" href="#"><i class="fas fa-thumbs-down text-orange-red"></i></a></li>
                       <li class="nav-item"><a class="nav-link" href="#"><i style="color: black;" class="fas fa-ellipsis-v"></i></a></li>-->
              </ul>
          </div>
          
                      <div class="tab-content">
                          <div class="tab-pane fade show active" id="group" role="tabpanel">
                              <br>
                              <div class="col-xl-12 col-lg-12 col-12 form-desig">
                                  <label for="inp" class="inp">
                                  <input type="text" name="username" class="form-control" id="inp" placeholder="&nbsp;">
                                  <span class="label">Clickatell Username</span>
                                  <span class="focus-bg"></span>
                                  </label>
                              </div> 
                              <div class="col-xl-12 col-lg-12 col-12 form-desig">
                                  <label for="inp" class="inp">
                                  <input type="text" name="pass" class="form-control" id="inp" placeholder="&nbsp;">
                                  <span class="label">Clickatell Password</span>
                                  <span class="focus-bg"></span>
                                  </label>
                              </div> 
                              <div class="col-xl-12 col-lg-12 col-12 form-desig">
                                  <label for="inp" class="inp">
                                  <input type="text" name="apid" class="form-control" id="inp" placeholder="&nbsp;">
                                  <span class="label">Clickatell Api Id</span>
                                  <span class="focus-bg"></span>
                                  </label>
                              </div> 
                              <div class="col-xl-12 col-lg-12 col-12 form-desig">
                                <label for="inp" class="inp">
                                <input type="text" name="status" class="form-control" id="inp" placeholder="&nbsp;">
                                <span class="label">Status</span>
                                <span class="focus-bg"></span>
                                </label>
                            </div> 
                              <br>
                              <div class="col-xl-4 col-lg-6 col-12 form-group">
                                  <button type="submit" class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark">Save</button>
                              </div>
                          </div>

                          <div class="tab-pane fade" id="individual" role="tabpanel">
                              <br>
                              <div class="col-xl-12 col-lg-12 col-12 form-desig">
                                  <label for="inp" class="inp">
                                  <input type="text" name="account" class="form-control" id="inp" placeholder="&nbsp;">
                                  <span class="label">Twilio Account SID</span>
                                  <span class="focus-bg"></span>
                                  </label>
                              </div>
                              <div class="col-xl-12 col-lg-12 col-12 form-desig">
                                  <label for="inp" class="inp">
                                  <input type="text" name="token" class="form-control" id="inp" placeholder="&nbsp;">
                                  <span class="label">Authentication Token</span>
                                  <span class="focus-bg"></span>
                                  </label>
                              </div>
                              <div class="col-xl-12 col-lg-12 col-12 form-desig">
                                <label for="inp" class="inp">
                                <input type="text" name="ph" class="form-control" id="inp" placeholder="&nbsp;">
                                <span class="label">Registered Phone Number</span>
                                <span class="focus-bg"></span>
                                </label>
                            </div>
                            <div class="col-xl-12 col-lg-12 col-12 form-desig">
                              <label for="inp" class="inp">
                              <input type="text" name="status" class="form-control" id="inp" placeholder="&nbsp;">
                              <span class="label">Status</span>
                              <span class="focus-bg"></span>
                              </label>
                          </div>
                              <br>
                              <div class="col-xl-4 col-lg-6 col-12 form-group">
                                  <button type="submit" class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark">Save</button>
                              </div>
                          </div>
                  
                          <div class="tab-pane fade" id="class" role="tabpanel">
                              <br>
                              <div class="col-xl-12 col-lg-12 col-12 form-desig">
                                  <label for="inp" class="inp">
                                  <input type="text" name="authkey" class="form-control" id="inp" placeholder="&nbsp;">
                                  <span class="label">Auth Key</span>
                                  <span class="focus-bg"></span>
                                  </label>
                              </div>
                              <div class="col-xl-12 col-lg-12 col-12 form-desig">
                                  <label for="inp" class="inp">
                                  <input type="text" name="senderid" class="form-control" id="inp" placeholder="&nbsp;">
                                  <span class="label">Sender ID</span>
                                  <span class="focus-bg"></span>
                                  </label>
                              </div>
                              <div class="col-xl-12 col-lg-12 col-12 form-desig">
                                <label for="inp" class="inp">
                                <input type="text" name="status" class="form-control" id="inp" placeholder="&nbsp;">
                                <span class="label">Status</span>
                                <span class="focus-bg"></span>
                                </label>
                            </div>
                              <br>
                              <div class="col-xl-4 col-lg-6 col-12 form-group">
                                  <button type="submit" class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark">Save</button>
                              </div>
                          </div>

                          <div class="tab-pane fade" id="todaysbirthday" role="tabpanel">
                              <br>
                              <div class="col-xl-12 col-lg-12 col-12 form-desig">
                                  <label for="inp" class="inp">
                                  <input type="text" name="username" class="form-control" id="inp" placeholder="&nbsp;">
                                  <span class="label">Username</span>
                                  <span class="focus-bg"></span>
                                  </label>
                              </div>
                              <div class="col-xl-12 col-lg-12 col-12 form-desig">
                                  <label for="inp" class="inp">
                                  <input type="text" name="workkey" class="form-control" id="inp" placeholder="&nbsp;">
                                  <span class="label">Hash Key</span>
                                  <span class="focus-bg"></span>
                                  </label>
                              </div>
                              <div class="col-xl-12 col-lg-12 col-12 form-desig">
                                <label for="inp" class="inp">
                                <input type="text" name="senderid" class="form-control" id="inp" placeholder="&nbsp;">
                                <span class="label">Sender ID</span>
                                <span class="focus-bg"></span>
                                </label>
                            </div>
                            <div class="col-xl-12 col-lg-12 col-12 form-desig">
                              <label for="inp" class="inp">
                              <input type="text" name="status" class="form-control" id="inp" placeholder="&nbsp;">
                              <span class="label">Status</span>
                              <span class="focus-bg"></span>
                              </label>
                          </div>
                              <br>
                              <div class="col-xl-4 col-lg-6 col-12 form-group">
                                  <button type="submit" class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark">Save</button>
                              </div>
                               
                          </div>

                          <div class="tab-pane fade" id="smscountry" role="tabpanel">
                            <br>
                            <div class="col-xl-12 col-lg-12 col-12 form-desig">
                                <label for="inp" class="inp">
                                <input type="text" name="username" class="form-control" id="inp" placeholder="&nbsp;">
                                <span class="label">Username</span>
                                <span class="focus-bg"></span>
                                </label>
                            </div>
                            <div class="col-xl-12 col-lg-12 col-12 form-desig">
                                <label for="inp" class="inp">
                                <input type="text" name="senderid" class="form-control" id="inp" placeholder="&nbsp;">
                                <span class="label">Sender ID</span>
                                <span class="focus-bg"></span>
                                </label>
                            </div>
                            <div class="col-xl-12 col-lg-12 col-12 form-desig">
                              <label for="inp" class="inp">
                              <input type="text" name="pass" class="form-control" id="inp" placeholder="&nbsp;">
                              <span class="label">Password</span>
                              <span class="focus-bg"></span>
                              </label>
                          </div>
                            <div class="col-xl-12 col-lg-12 col-12 form-desig">
                              <label for="inp" class="inp">
                              <input type="text" name="status" class="form-control" id="inp" placeholder="&nbsp;">
                              <span class="label">Status</span>
                              <span class="focus-bg"></span>
                              </label>
                          </div>
                            <br>
                            <div class="col-xl-4 col-lg-6 col-12 form-group">
                                <button type="submit" class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark">Save</button>
                            </div>
                        </div>


                        <div class="tab-pane fade" id="customsms" role="tabpanel">
                          <br>
                          <div class="col-xl-12 col-lg-12 col-12 form-desig">
                              <label for="inp" class="inp">
                              <input type="text" name="name" class="form-control" id="inp" placeholder="&nbsp;">
                              <span class="label">Gateway Name</span>
                              <span class="focus-bg"></span>
                              </label>
                          </div>
                         
                          <div class="col-xl-12 col-lg-12 col-12 form-desig">
                            <label for="inp" class="inp">
                            <input type="text" name="status" class="form-control" id="inp" placeholder="&nbsp;">
                            <span class="label">Status</span>
                            <span class="focus-bg"></span>
                            </label>
                        </div>
                          <br>
                          <div class="col-xl-4 col-lg-6 col-12 form-group">
                              <button type="submit" class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark">Save</button>
                          </div>
                      </div>


                      </div>
        </div>
      </div>
      </div>
      </div>

      </div>
