<div class="breadcrumbs-area">

  <ul>
    <li>
      <a href="index.html">Home</a>
    </li>
    <li>Student Categories</li>
  </ul>
</div>
<!-- Breadcubs Area End Here -->
<!-- Student Table Area Start Here -->

<!-- Add Settings Area Start Here -->
<div class="row gutters-20">
  <div class="col-xl-4 col-6">
    <div class="card height-auto">
      <div class="card-body">
        <div class="heading-layout1">
          <div class="item-title">
            <h5>Add Student Category</h5>
          </div>
        </div>
        <form role="form" method="post" id="reused_form">

          <div class="row">

            <div class="col-xl-12 col-lg-12 col-12 form-desig">
              <label for="inp" class="inp">
                <input type="text" class="form-control" id="inp" placeholder="&nbsp;" [(ngModel)]="categoryDto.category"
                  name="category" />
                <span class="label">Add Category: *</span>
                <span class="focus-bg"></span>
              </label>
            </div>

            <div class="col-xl-12 col-lg-12 col-12 form-desig">
              <button *ngIf="!this.isUpdate" (click)="add()" type="button"
                class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark" data-toggle="modal" data-target="#myModal">
                Save
              </button>
              <button *ngIf="this.isUpdate" (click)="update(categoryDto.id)" type="button"
                class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark" data-toggle="modal" data-target="#myModal">
                Update
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-xl-8 col-6">
    <div class="card height-auto">
      <div class="card-body">

        <div class="table-responsive">

          <table id="example" class="table display data-table text-nowrap cell-border">
            <thead>
              <tr>
                <th>Category</th>
                <th>Category ID</th>
                <th>Action</th>

              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let student of students">

                <td>{{ student.category }}</td>
                <td>{{ student.id }}</td>

                <td>
                  <a (click)="setUpdateFileds(student.id)" data-toggle="modal" data-target="#myModal"><i
                      class="fas fa-pen-alt text-orange-peel"></i>&nbsp;</a>
                  <a (click)="delete(student.id)"><i class="fas fa-times text-orange-red"></i>&nbsp;</a>
                </td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>
</div>
