<div class="breadcrumbs-area">
    <h3>Front CMS</h3>
    <ul>
        <li>
            <a href="index.html">Home</a>
        </li>
        <li>Banner Images</li>
    </ul>
</div>
    <div class="card height-auto">
        <div class="card-body">
            <div class="heading-layout1">
                <div class="item-title">
                    <h3>Banner Images</h3>
                </div>
                <div class="dropdown">
                    
                    <button style="  background-color: #000066
                    " type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Add Image</button>
                </div>
            </div>
        </div>
    </div>
<!-- Trigger the modal with a button -->


<!-- Modal -->

<div id="myModal" class="modal fade" role="dialog" >
        <div class="col-12-xxxl col-12-xxxl">
            <div class="card height-auto">
                <div class="card-body">
                    <form class="mg-b-20">
                
                        <div class="row gutters-8">
                         <div class="modal-body modal-media-body pupscroll">
                            <div class="col-12-xxxl col-lg-12 col-12 form-group">
                                <input type="text" placeholder="Search by File Name" class="form-control" >
                                <button type="submit" class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark" style="float: right;">Search</button>&nbsp;&nbsp;&nbsp;

                            </div>
                            <div class="col-12-xxxl col-lg-6 col-12 form-group">
                                <input type="text" placeholder="Search File By File Type" class="form-control">
                                <button type="submit" class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark" style="float: right;">Search</button>&nbsp;&nbsp;&nbsp;

                            </div>
                         </div> 
                            <div class="col-12-xxxl col-lg-6 col-12 form-group">
                                <button type="submit" class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark" >Add</button>&nbsp;&nbsp;&nbsp;
                                <button type="submit" class="btn-fill-lg bg-blue-dark btn-hover-yellow">Cancel</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
</div>
        