<div class="breadcrumbs-area">
    <h3>Create </h3>
    <ul>
        <li>
            <a href="index.html">Home</a>
        </li>
        <li>Create</li>
    </ul>
  </div>
<div class="card height-auto ">
    <div class="row" style="margin-left: 15px;margin-bottom: 5px;">
    <div class="card-body col-xl-8 col-lg-12 col-12 form-group"  >

        <form class="new-added-form" >
            <div class="row">
                <div class="col-xl-4 col-lg-6 col-12 form-group">
                    <label for="inp" class="inp">
                        <input type="text"  class="form-control" id="inp" placeholder="&nbsp;">
                        <span class="label">Title*</span>
                        <span class="focus-bg"></span>
                    </label>
                 </div>
                <div class="col-xl-4 col-lg-6 col-12 form-group">
                    <label for="inp" class="inp">
                        <input type="text"  class="form-control" id="inp" placeholder="&nbsp;">
                        <span class="label">Venue</span>
                        <span class="focus-bg"></span>
                    </label>
                 </div>
                       
                
                <div class="col-xl-4 col-lg-6 col-12 form-group">
                    <label for="dtp" class="dtp">
                        <input type="text" id="dtp" placeholder="&nbsp;" class="form-control air-datepicker"
                            data-position='bottom right' name="admission" >
                        <span class="label">Start</span>
                        <span class="focus-bg"></span>
                      </label>
                      <i class="far fa-calendar-alt"></i>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-12 form-group">
                        <label for="dtp" class="dtp">
                            <input type="text" id="dtp" placeholder="&nbsp;" class="form-control air-datepicker"
                                data-position='bottom right' name="admission" >
                            <span class="label"> End</span>
                            <span class="focus-bg"></span>
                          </label>
                          <i class="far fa-calendar-alt"></i>
                    </div>
                    <div class="col-xl-4 col-lg-6col-12 form-group">
                        <label for="inp" class="inp">
                          <input type="text" name="search" class="form-control" id="inp" placeholder="&nbsp;">
                          <span class="label">Description *</span>
                          <span class="focus-bg"></span>
                      </label>
                      </div>
                      <div class="col-xl-4 col-lg-6 col-12 form-group">
                        <button _ngcontent-hsw-c96="" type="button" data-toggle="modal" data-target="#myModal" class="btn btn-info btn-lg" style="background-color: #000066; position: absolute;bottom: 7; right:10;">+ Add Media</button>
                    </div>
            </div>
        </form>
    </div>
        <div class="card-body col-xl-3 col-lg-6 col-6 form-group" style="box-sizing:border-box;margin-left: 15px;">
            <h3> Side Bar Setting</h3>
            <hr>
            <label class="switch">
                <input type="checkbox" checked>
                <span class="slider round"></span>
              </label>
              <label><h4>&nbsp;&nbsp;&nbsp;&nbsp;Side Bar</h4></label>
        </div>
    </div>
</div>
    


<div class="card height-auto col-xl-8  col-lg-12 col-12 form-group">
    <div class="card-body">
        <h3>SEO detail</h3>
        <form class="new-added-form" >
            <div class="row">
                <div class="col-xl-4 col-lg-6 col-12 form-group">
                    <label for="inp" class="inp">
                        <input type="text"  class="form-control" id="inp" placeholder="&nbsp;">
                        <span class="label">Meta Title</span>
                        <span class="focus-bg"></span>
                    </label>
                 </div>
                 <div class="col-xl-4 col-lg-6 col-12 form-group">
                    <label for="inp" class="inp">
                        <input type="text"  class="form-control" id="inp" placeholder="&nbsp;">
                        <span class="label">Meta Keyword</span>
                        <span class="focus-bg"></span>
                    </label>
                 </div>
                 <div class="col-xl-4 col-lg-6 col-12 form-group">
                    <label for="inp" class="inp">
                        <input type="text"  class="form-control" id="inp" placeholder="&nbsp;">
                        <span class="label">Meta Description</span>
                        <span class="focus-bg"></span>
                    </label>
                 </div>
            </div>
        </form>
    </div>
</div>


<div id="myModal" class="modal fade" role="dialog">
    <div class="col-12-xxxl col-12-xxxl">
        <div class="card height-auto">
            <div class="card-body">
                <form class="mg-b-20">
            
                    <div class="row">
                        <div class="col-12-xxxl col-lg-12 col-12 form-group">
                            <label>Title *</label>
                            <input type="text" placeholder="" class="form-control" >
                        </div>
                        <div class="col-12-xxxl col-lg-6 col-12 form-group">
                            <label>Venue</label>
                            <input type="text" placeholder="" class="form-control">
                        </div>
                        <div class="col-12-xxxl col-lg-6 col-12 form-group">
                            <label>Start Date</label>
                            <input type="text" placeholder="dd/mm/yyyy" class="form-control air-datepicker"
                            data-position='bottom right' name="date" ngModel>
                        <i class="far fa-calendar-alt"></i>
                        </div>
                        <div class="col-12-xxxl col-lg-6 col-12 form-group">
                            <label>End Date</label>
                            <input type="text" placeholder="dd/mm/yyyy" class="form-control air-datepicker"
                            data-position='bottom right' name="date" ngModel>
                        <i class="far fa-calendar-alt"></i>
                        </div>
                        <div class="col-12-xxxl col-lg-6 col-12 form-group">
                            <label>Description</label>
                            <input type="text" placeholder="" class="form-control">
                        </div>
                        
                        <div class="col-12-xxxl col-lg-6 col-12 form-group">
                            <button type="submit" class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark">Save</button>&nbsp;&nbsp;&nbsp;
                            <button type="reset" class="btn-fill-lg bg-blue-dark btn-hover-yellow">Reset</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>