<div class="breadcrumbs-area">
    
    <ul>
        <li>
            <a href="index.html">Home</a>
        </li>
        <li>Design Marksheet</li>
    </ul>
</div>
<!-- Breadcubs Area End Here -->
<!-- upload Area Start Here -->



<div class="col-8-xxxl col-12">
    <div class="card height-auto">
        <div class="card-body">
            <div class="heading-layout1">
                <div class="item-title">
                    <h3>Marksheet List</h3>
                </div>
                <div class="dropdown">
                    <button style="  background-color: #000066; position: relative; top:0; right: 10; float: right;" type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">+ Add</button>
                </div>
            </div>
            <div class="table-responsive">
                <table id="example" class="table display data-table text-nowrap cell-border">
                    <thead>
                        <tr>
                            <th>Certificate Name</th>
                            <th>Background img</th>
                            
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>ABC</td>

                            <td>1(A)</td>
                            <td>
                                <a href="#"><i class="fas fa-align-justify "></i>&nbsp;</a>
                                <a href="#"><i class="fas fa-pen-alt text-orange-peel"></i>&nbsp;</a> 
                                <a href="#"><i class="fas fa-times text-orange-red"></i>&nbsp;</a>    
                             </td>
                        </tr>

                        <tr>
                            <td>ABC</td>
                            
                            <td>1(A)</td>
                            <td>
                                <a href="#"><i class="fas fa-align-justify "></i>&nbsp;</a>
                                <a href="#"><i class="fas fa-pen-alt text-orange-peel"></i>&nbsp;</a> 
                                <a href="#"><i class="fas fa-times text-orange-red"></i>&nbsp;</a>    
                             </td>
                        </tr>

                        <tr>
                            <td>ABC</td>
                            
                            <td>1(A)</td>
                            <td>
                                <a href="#"><i class="fas fa-align-justify "></i>&nbsp;</a>
                                <a href="#"><i class="fas fa-pen-alt text-orange-peel"></i>&nbsp;</a> 
                                <a href="#"><i class="fas fa-times text-orange-red"></i>&nbsp;</a>    
                             </td>
                        </tr>

                        <tr>
                            <td>ABC</td>
                           
                            <td>1(A)</td>
                            <td>
                                <a href="#"><i class="fas fa-align-justify "></i>&nbsp;</a>
                                <a href="#"><i class="fas fa-pen-alt text-orange-peel"></i>&nbsp;</a> 
                                <a href="#"><i class="fas fa-times text-orange-red"></i>&nbsp;</a>    
                             </td>
                        </tr>

                        <tr>
                            <td>ABC</td>
                            
                            <td>1(A)</td>
                            <td>
                                <a href="#"><i class="fas fa-align-justify "></i>&nbsp;</a>
                                <a href="#"><i class="fas fa-pen-alt text-orange-peel"></i>&nbsp;</a> 
                                <a href="#"><i class="fas fa-times text-orange-red"></i>&nbsp;</a>    
                             </td>
                        </tr>
                    </tbody>
                    
                </table>
            </div>
        </div>
    </div>
</div>
<!-- upload Area End Here -->
<div class="container">
   
    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                   
                </div>
                <div class="modal-body">
                    <form role="form" method="post" id="reused_form" >  
                        <div class="row">
                            <div class="col-xl-3 col-lg-6 col-12 form-group">
                                <label for="inp" class="inp">
                                    <input type="text" name="chapter" class="form-control" id="inp" placeholder="&nbsp;">
                                    <span class="label">Template *</span>
                                    <span class="focus-bg"></span>
                                </label>
                            </div>
                            <div class="col-xl-3 col-lg-6 col-12 form-group">
                                <label for="inp" class="inp">
                                    <input type="text" name="chapter" class="form-control" id="inp" placeholder="&nbsp;">
                                    <span class="label">Heading  *</span>
                                    <span class="focus-bg"></span>
                                </label>
                            </div>
                            <div class="col-xl-3 col-lg-6 col-12 form-group">
                                <label for="inp" class="inp">
                                    <input type="text" name="chapter" class="form-control" id="inp" placeholder="&nbsp;">
                                    <span class="label">Title *</span>
                                    <span class="focus-bg"></span>
                                </label>
                            </div>
                            <div class="col-xl-3 col-lg-6 col-12 form-group">
                                <label for="inp" class="inp">
                                    <input type="text" name="chapter" class="form-control" id="inp" placeholder="&nbsp;">
                                    <span class="label">Exam Name *</span>
                                    <span class="focus-bg"></span>
                                </label>
                            </div>
                            <div class="col-xl-3 col-lg-6 col-12 form-group">
                                <label for="inp" class="inp">
                                    <input type="text" name="chapter" class="form-control" id="inp" placeholder="&nbsp;">
                                    <span class="label">School Name *</span>
                                    <span class="focus-bg"></span>
                                </label>
                            </div>
                            <div class="col-xl-3 col-lg-6 col-12 form-group">
                                <label for="inp" class="inp">
                                    <input type="text" name="chapter" class="form-control" id="inp" placeholder="&nbsp;">
                                    <span class="label">Exam Center *</span>
                                    <span class="focus-bg"></span>
                                </label>
                            </div>
                            <div class="col-xl-3 col-lg-6 col-12 form-group">
                                <label for="inp" class="inp">
                                    <input type="date" id="dtp" placeholder="&nbsp;">
                                    <span class="label">Printing Date *</span>
                                    <span class="focus-bg"></span>
                                </label>
                            </div>
                            <div class="col-xl-3 col-lg-6 col-12 form-group">
                                
                                <label for="inp" class="inp" style="font-size: small;">Left Logo</label>
                                <input type="file" class="form-control-file" name="photo" placeholder="">
                            </div>
                            <div class="col-xl-3 col-lg-6 col-12 form-group">
                                
                                <label for="inp" class="inp" style="font-size: small;">Right Logo</label>
                                <input type="file" class="form-control-file" name="photo" placeholder="">
                            </div>
                            <div class="col-xl-3 col-lg-6 col-12 form-group">
                                
                                <label for="inp" class="inp" style="font-size: small;">Sign</label>
                                <input type="file" class="form-control-file" name="photo" placeholder="">
                            </div>
                            <div class="col-xl-3 col-lg-6 col-12 form-group">
                                
                                <label for="inp" class="inp" style="font-size: small;">Background Image</label>
                                <input type="file" class="form-control-file" name="photo" placeholder="">
                            </div><br><br><br>
                            <div class="col-xl-3 col-lg-6 col-12 form-group">
                                
                                <label for="inp" class="inp" style="font-size: small;">Name</label>
                                    <div class="onoffswitch">
                                      <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch">
                                            <label class="onoffswitch-label" for="myonoffswitch">
                                                <span class="onoffswitch-inner"></span>
                                                <span class="onoffswitch-switch"></span>
                                            </label>
                                    </div>
                            </div>
                            <div class="col-xl-3 col-lg-6 col-12 form-group">
                                
                                <label for="inp" class="inp" style="font-size: small;">Father's Name</label>
                                    <div class="onoffswitch">
                                      <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox">
                                            <label class="onoffswitch-label" for="myonoffswitch">
                                                <span class="onoffswitch-inner"></span>
                                                <span class="onoffswitch-switch"></span>
                                            </label>
                                    </div>
                            </div>
                            <div class="col-xl-3 col-lg-6 col-12 form-group">
                                
                                <label for="inp" class="inp" style="font-size: small;">Mother's Name</label>
                                    <div class="onoffswitch">
                                      <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch">
                                            <label class="onoffswitch-label" for="myonoffswitch">
                                                <span class="onoffswitch-inner"></span>
                                                <span class="onoffswitch-switch"></span>
                                            </label>
                                    </div>
                            </div>
                            <div class="col-xl-3 col-lg-6 col-12 form-group">
                                
                                <label for="inp" class="inp" style="font-size: small;">Date Of Birth</label>
                                    <div class="onoffswitch">
                                      <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch">
                                            <label class="onoffswitch-label" for="myonoffswitch">
                                                <span class="onoffswitch-inner"></span>
                                                <span class="onoffswitch-switch"></span>
                                            </label>
                                    </div>
                            </div>
                            <div class="col-xl-3 col-lg-6 col-12 form-group">
                                
                                <label for="inp" class="inp" style="font-size: small;">Admission No</label>
                                    <div class="onoffswitch">
                                      <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch">
                                            <label class="onoffswitch-label" for="myonoffswitch">
                                                <span class="onoffswitch-inner"></span>
                                                <span class="onoffswitch-switch"></span>
                                            </label>
                                    </div>
                            </div>
                            <div class="col-xl-3 col-lg-6 col-12 form-group">
                                
                                <label for="inp" class="inp" style="font-size: small;">Address</label>
                                    <div class="onoffswitch">
                                      <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch">
                                            <label class="onoffswitch-label" for="myonoffswitch">
                                                <span class="onoffswitch-inner"></span>
                                                <span class="onoffswitch-switch"></span>
                                            </label>
                                    </div>
                            </div>
                            <div class="col-xl-3 col-lg-6 col-12 form-group">
                                
                                <label for="inp" class="inp" style="font-size: small;">Gender</label>
                                    <div class="onoffswitch">
                                      <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch">
                                            <label class="onoffswitch-label" for="myonoffswitch">
                                                <span class="onoffswitch-inner"></span>
                                                <span class="onoffswitch-switch"></span>
                                            </label>
                                    </div>
                            </div>
                            <div class="col-xl-3 col-lg-6 col-12 form-group">
                                
                                <label for="inp" class="inp" style="font-size: small;">Photo</label>
                                    <div class="onoffswitch">
                                      <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch">
                                            <label class="onoffswitch-label" for="myonoffswitch">
                                                <span class="onoffswitch-inner"></span>
                                                <span class="onoffswitch-switch"></span>
                                            </label>
                                    </div>
                            </div>
            
                            <br><br><br>
                            <div class="col-12 form-group mg-t-8">
                                <button type="submit" class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark">Save</button>&nbsp;
                                <button type="reset" class="btn-fill-lg bg-blue-dark btn-hover-yellow">Reset</button>
                            </div>
                        </div>
                    </form>
    </div>
</div>
</div>
</div>
</div>