<div class="breadcrumbs-area">
  <ul>
    <li>
      <a href="index.html">Home</a>
    </li>
    <li>Disabled Reason</li>
  </ul>
</div>
<!-- Breadcubs Area End Here -->
<!-- Student Table Area Start Here -->
<div class="row gutters-20">
  <div class="col-xl-4 col-6">
    <div class="card height-auto">
      <div class="card-body">
        <div class="heading-layout1">
          <div class="item-title">
            <h5>Add Reason</h5>
          </div>
        </div>
        <form class="new-added-form">
          <div class="col-xl-12 col-lg-12 col-12 form-desig">
            <label for="inp" class="inp">
              <input type="text" name="reason" class="form-control" id="inp" placeholder="&nbsp;"
                [(ngModel)]="disableReason.reason">
              <span class="label">Add Disabled Reason</span>
              <span class="focus-bg"></span>
            </label>

          </div>
          <div class="col-xl-4 col-lg-6 col-12 form-group">
            <div class="row">
              <button *ngIf="!this.isUpdate" (click)="addreason()" type="button"
                class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark" data-toggle="modal" data-target="#myModal">
                Save
              </button>
              <button *ngIf="this.isUpdate" (click)="updatereason(disableReason.id)" type="button"
                class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark" data-toggle="modal" data-target="#myModal">
                Update
              </button>

            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-xl-8 col-6">
    <div class="card height-auto">
      <div class="card-body">
        <div class="heading-layout1">
          <div class="item-title">
            <h5>Disabled Reason List</h5>
          </div>
        </div>
        <div class="table-responsive">

          <table id="example" style="float: right;" class="table display data-table text-nowrap cell-border">
            <thead>
              <tr>

                <th>Reason Name</th>
                <th>Action</th>

              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let reason of reasons">

                <td><a href="/#/studentinfo">{{ reason.reason}}</a></td>
                <td><a (click)="setUpdateFileds(reason.id)"><i class="fas fa-pen-alt text-orange-peel"></i>&nbsp;</a>
                  <a (click)="deletereason(reason.id)"><i class="fas fa-times text-orange-red"></i>&nbsp;</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
