<div class="breadcrumbs-area">
    <h3>Students</h3>
    <ul>
        <li>
            <a href="index.html">Home</a>
        </li>
        <li>Disabled Reason</li>
    </ul>
</div>
<!-- Breadcubs Area End Here -->
<!-- Student Table Area Start Here -->
<div class="card height-auto">
    <div class="card-body">
        <div class="heading-layout1">
            <div class="item-title">
                <h3>Add Disabled Reason</h3>
            </div>
        </div>
        <form class="mg-b-20">
            <div class="row gutters-8">
                <div class="col-3-xxxl col-xl-3 col-lg-3 col-12 form-group">
                    <label for="inp" class="inp">
                        <input type="text" name="category" class="form-control" id="inp" placeholder="&nbsp;">
                        <span class="label">Add Name ...*</span>
                        <span class="focus-bg"></span>
                    </label>
               
                </div>
                
                <div class="col-1-xxxl col-xl-2 col-lg-3 col-12 form-group">
                    <button type="submit" class="fw-btn-fill btn-gradient-yellow">SAVE</button>
                </div>
            </div>
        </form>
     
        <div class="table-responsive">
            <button style="  background-color: #000066; position: relative; top:0; right: 10; float: right;" type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">+ Add</button>
            <table id="example" class="table display data-table text-nowrap cell-border">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Action</th>  
                                                
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Regular Absent</td>
                        <td>
                            <a href="#"><i class="fas fa-pen-alt text-orange-peel"></i>&nbsp;</a> 
                            <a href="#"><i class="fas fa-times text-orange-red"></i>&nbsp;</a>    
                        </td>
                    </tr>
                    <tr>
                        <td>Fees Not Paid</td>
                        <td>
                            <a href="#"><i class="fas fa-pen-alt text-orange-peel"></i>&nbsp;</a> 
                            <a href="#"><i class="fas fa-times text-orange-red"></i>&nbsp;</a>    
                        </td>
                    </tr>
                    <tr>
                        <td>ABC</td>
                        <td>
                            <a href="#"><i class="fas fa-pen-alt text-orange-peel"></i>&nbsp;</a> 
                            <a href="#"><i class="fas fa-times text-orange-red"></i>&nbsp;</a>    
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>