<div class="breadcrumbs-area">
  <ul>
    <li>
      <a href="index.html">Home</a>
    </li>
    <li>Leave Type</li>
  </ul>
</div>
<!-- Breadcubs Area End Here -->
<div class="card height-auto">
  <div class="card-body">
    <div class="heading-layout1">
      <div class="item-title">
        <h5>Add Leave Type</h5>
      </div>
    </div>
    <form role="form" method="post" id="reused_form">
      <div class="row">
        <div class="col-6 col-lg-4 col-12 form-group">
          <label for="inp" class="inp">
            <input type="text" class="form-control" id="inp" placeholder="&nbsp;">
            <span class="label"> Add leave Type</span>
            <span class="focus-bg"></span>
          </label>
        </div>
        <div class="col-6 col-lg-4 col-12 form-group">
          <button type="submit"
            class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark">Save</button>&nbsp;&nbsp;&nbsp;
        </div>
      </div>
    </form>
    <hr>
    <div class="heading-layout1">
      <div class="item-title">
        <h5>Leave Type List</h5>
      </div>
    </div>
    <div class="table-responsive">
      <table id="example" class="table display data-table text-nowrap cell-border">
        <thead>
          <tr>
            <th>Name</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Medical</td>
            <td>
              <a href="#"><i class="fas fa-align-justify "></i>&nbsp;</a>
              <a href="#"><i class="fas fa-pen-alt text-orange-peel"></i>&nbsp;</a>
              <a href="#"><i class="fas fa-times text-orange-red"></i>&nbsp;</a>
            </td>
          </tr>
          <tr>
            <td>Medical</td>
            <td>
              <a href="#"><i class="fas fa-align-justify "></i>&nbsp;</a>
              <a href="#"><i class="fas fa-pen-alt text-orange-peel"></i>&nbsp;</a>
              <a href="#"><i class="fas fa-times text-orange-red"></i>&nbsp;</a>
            </td>
          </tr>
          <tr>
            <td>Medical</td>
            <td>
              <a href="#"><i class="fas fa-align-justify "></i>&nbsp;</a>
              <a href="#"><i class="fas fa-pen-alt text-orange-peel"></i>&nbsp;</a>
              <a href="#"><i class="fas fa-times text-orange-red"></i>&nbsp;</a>
            </td>
          </tr>
          <tr>
            <td>Medical</td>
            <td>
              <a href="#"><i class="fas fa-align-justify "></i>&nbsp;</a>
              <a href="#"><i class="fas fa-pen-alt text-orange-peel"></i>&nbsp;</a>
              <a href="#"><i class="fas fa-times text-orange-red"></i>&nbsp;</a>
            </td>
          </tr>
          <tr>
            <td>Medical</td>
            <td>
              <a href="#"><i class="fas fa-align-justify "></i>&nbsp;</a>
              <a href="#"><i class="fas fa-pen-alt text-orange-peel"></i>&nbsp;</a>
              <a href="#"><i class="fas fa-times text-orange-red"></i>&nbsp;</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
