    <!-- Add Room Area Start Here -->
    
    <br>
    <div class="card height-auto">
        <div class="card-body">
            <div class="heading-layout1">
                <div class="item-title">
                    <h3>Add Homework</h3>
                </div>
                <div class="dropdown">
                    <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                        aria-expanded="false">...</a>

                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="#"><i
                                class="fas fa-times text-orange-red"></i>Close</a>
                        <a class="dropdown-item" href="#"><i
                                class="fas fa-cogs text-dark-pastel-green"></i>Edit</a>
                        <a class="dropdown-item" href="#"><i
                                class="fas fa-redo-alt text-orange-peel"></i>Refresh</a>
                    </div>
                </div>
            </div>
            <form class="new-added-form" >
                <div class="row">
                                       
                    <div class="col-xl-4 col-lg-6 col-12 form-group">
                        <label>Class</label>
                        <select class="select2">
                            <option value="">1</option>
                            <option value="1">2</option>
                            <option value="2">3</option>
                            <option value="3">4</option>
                        </select>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-12 form-group">
                        <label>Section</label>
                        <select class="select2">
                            <option value="">A</option>
                            <option value="1">B</option>
                            <option value="2">C</option>
                            <option value="3">D</option>
                        </select>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-12 form-group">
                        <label>Subject Group</label>
                        <select class="select2">
                            <option value="">Please Select</option>
                        </select>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-12 form-group">
                        <label>Subject</label>
                        <select class="select2">
                            <option value="">Please Select</option>
                        </select>
                    </div>
                    
                    <div class="col-xl-4 col-lg-6 col-12 form-group">
                        <label>Homework Date</label>
                        <input type="text" placeholder="dd/mm/yyyy" class="form-control air-datepicker"
                        data-position='bottom right' name="date" ngModel>
                    <i class="far fa-calendar-alt"></i>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-12 form-group">
                        <label>Submission Date</label>
                        <input type="text" placeholder="dd/mm/yyyy" class="form-control air-datepicker"
                    data-position='bottom right' name="date" ngModel>
                <i class="far fa-calendar-alt"></i>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-12 form-group">
                        <label class="text-dark-medium">Attach Document</label>
                        <input type="file" class="form-control-file" name="homeworkdoc" ngModel>
                    </div>
                    
                    <div class="col-12 form-group mg-t-8">
                        <button type="submit" class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark">Save</button>
                        <button type="reset" class="btn-fill-lg bg-blue-dark btn-hover-yellow">Reset</button>
                    </div>
                </div>
            </form>
        </div><br>
    
        <div class="heading-layout1">
            <div class="item-title">
                <h3>Homewrk List</h3>
            </div>
         
        </div>

        <div class="table-responsive">
            <div class="col-1-xxxl col-xl-2 col-lg-3 col-12">
                <a href="#"><i class="fas fa-copy"></i>&nbsp;</a>
                <a href="#"><i class="fas fa-file-excel"></i>&nbsp;</a>
                <a href="#"><i class="fas fa-file-csv"></i>&nbsp;</a>
                <a href="#"><i class="fas fa-file-pdf"></i>&nbsp;</a>
                <a href="#"><i class="fas fa-print"></i>&nbsp;</a>
                <a href="#"><i class="fas fa-columns"></i>&nbsp;</a>
              </div>
            <table class="table display data-table text-nowrap">
                <thead>
                    <tr>
                        <th>Class</th>
                        <th>Section</th>
                        <th>Subject Group</th>
                        <th>Subject</th>
                        <th>Homwork Date</th>
                        <th>Submission Date</th>
                        <th>Evaluation Date</th>
                        <th>Created By</th>
                        <th>Action</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>

                        <td></td>

                        <td></td>

                        <td></td>

                        <td></td>

                        <td></td>

                        <td></td>

                        <td><a href="#"><i class="fas fa-align-justify "></i>&nbsp;</a>
                            <a href="#"><i class="fas fa-pen-alt text-orange-peel"></i>&nbsp;</a> 
                            <a href="#"><i class="fas fa-times text-orange-red"></i>&nbsp;</a></td>

                    </tr>
                </tbody>
                
            </table>
        </div>
</div>    

<!-- Add room Area end Here -->
