<div class="breadcrumbs-area">
    <h3>Income</h3>
    <ul>
        <li>
            <a href="/#/admin">Home</a>

        </li>
        <li>Add Income</li>
    </ul>
</div>
<div class="card height-auto">
    <div class="card-body">
        <div class="heading-layout1">
            <div class="item-title">
                <h3>Income  List</h3>
            </div>
            <div class="dropdown">
                       
                <button style="  background-color: #000066
                " type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Add Event</button>
            </div>
        </div>
        <div class="table-responsive">
            <table id="example" class="table display data-table text-nowrap cell-border">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Invoice Number</th>
                        <th>Date</th>
                        <th>Income Head</th>
                        <th>Amount</th>
                        <th>Action</th>
                        
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
    
                        <td></td>
    
                        <td></td>
    
                        <td></td>
    
                        <td><a href="#"><i class="fas fa-align-justify "></i>&nbsp;</a>
                            <a href="#"><i class="fas fa-pen-alt text-orange-peel"></i>&nbsp;</a> 
                            <a href="#"><i class="fas fa-times text-orange-red"></i>&nbsp;</a></td>
    
                    </tr>
                </tbody>
            </table>
        </div>
        
    </div>
    
</div>

<!-- Add room Area end Here -->
<div class="container">
   
    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                   
                </div>
                <div class="modal-body">
                    <form role="form" method="post" id="reused_form" >                  

                        <div class="row">
                            <div class="col-12 col-lg-4 col-12 form-group">
                                <label for="slt" class="slt">        
                                    <select  name="religion" class="form-control" id="slt" placeholder="&nbsp;">
                                        <option selected>Please Select  *</option>
                                         <option value="">select</option>
                                        <option value="1">Donation</option>
                                        <option value="2">Rent</option>
                                        <option value="3">Miscelaneous</option>
                                    </select>
                                    <span class="label">Income Head *</span>
                                    <span class="focus-bg"></span>
                                </label>   
                            </div>
                            <div class="col-12 col-lg-4 col-12 form-group"> 
                                <label for="inp" class="inp">
                                    <input type="text" class="form-control" id="inp" placeholder="&nbsp;">
                                    <span class="label"> Name</span>
                                    <span class="focus-bg"></span>
                                  </label>   
                               
                             </div>
                
                            <div class="col-6 col-lg-4 col-12 form-group">  
                                <label for="inp" class="inp">
                                    <input type="text" class="form-control" id="inp" placeholder="&nbsp;">
                                    <span class="label">Invoice Number</span>
                                    <span class="focus-bg"></span>
                                  </label>                                               
                            </div>
                
                                <div class="col-6 col-lg-4 col-12 form-group">   
                                    <label for="dtp" class="dtp">
                                        <input type="text" id="dtp" placeholder="&nbsp;" class="form-control air-datepicker"
                                            data-position='bottom right' name="admission" >
                                        <span class="label"> Date *</span>
                                        <span class="focus-bg"></span>
                                      </label>
                                      <i class="far fa-calendar-alt"></i>                                 
                                </div>
                
                                <div class="col-6 col-lg-4 col-12 form-group">     
                                    <label for="inp" class="inp">
                                        <input type="text" class="form-control" id="inp" placeholder="&nbsp;">
                                        <span class="label">Amount</span>
                                        <span class="focus-bg"></span>
                                      </label>                        
                                </div>
                
                              
                               
                                  <div class="col-6 col-lg-4 col-12 form-group">  
                                    <label class="text-dark-medium" style="font-size: small;">Upload Photo (150px X 150px)</label>
                                    <input type="file" class="form-control-file" name="photo" placeholder="Upload Student Photo (150px X 150px)">  
                                </div>
                
                                <div class="col-4 col-lg-4 col-12 form-group" row="3"> 
                                    <label for="inp" class="inp">
                                        <input type="text" class="form-control" id="inp" placeholder="&nbsp;">
                                        <span class="label">Description</span>
                                        <span class="focus-bg"></span>
                                      </label>
                                   
                                </div>
                        
                        <div class="col-12-xxxl col-lg-6 col-12 form-group">
                            <button type="submit" class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark">Save</button>&nbsp;&nbsp;&nbsp;
                            <button type="reset" class="btn-fill-lg bg-blue-dark btn-hover-yellow">Reset</button>
                        </div>
                    </div>
                    </form>
                    
                    
                </div>
            </div>
        </div>
    </div>
    
</div>
