<div class="breadcrumbs-area">
  <ul>
    <li>
      <a href="/#/admin">Home</a>

    </li>
    <li>Add Income</li>
  </ul>
</div>
<div class="card height-auto">
  <div class="card-body">
    <div class="heading-layout1">
      <div class="item-title">
        <h3>Income List</h3>
      </div>
      <button style="background-color: #000066; width: 7%; height: 10%;" type="button" class="btn btn-info btn-lg"
        data-toggle="modal" data-target="#myModal">+ Add
      </button>
    </div>
    <div class="table-responsive">
      <table id="example" class="table display data-table text-nowrap cell-border">
        <thead>
          <tr>
            <th>Name</th>
            <th>Invoice Number</th>
            <th>Date</th>
            <th>Income Head</th>
            <th>Amount</th>
            <th>Action</th>

          </tr>
        </thead>
        <tbody>

          <tr *ngFor="let income of incomes">
            <td>{{ income.name }}</td>
            <td>{{ income.invoiceNo }}</td>
            <td>{{ income.date }}</td>
            <td>{{ income.incHeadId }}</td>
            <td>{{ income.amount }}</td>

            <td> <a (click)="setUpdateFileds(income.id)" data-toggle="modal" data-target="#myModal"><i
                  class="fas fa-pen-alt text-orange-peel"></i>&nbsp;</a>
              <a (click)="deleteincome(income.id)"><i class=" fas fa-times text-orange-red"></i>&nbsp;</a></td>

          </tr>
        </tbody>
      </table>
    </div>

  </div>

</div>

<!-- Add room Area end Here -->
<div class="container">

  <!-- Modal -->
  <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h5>Add Income</h5>

          <button type="button" class="close" data-dismiss="modal">&times;</button>

        </div>
        <div class="modal-body">
          <form role="form" method="post" id="reused_form">
            <div class="row">
              <div class="col-xl-3 col-lg-6 col-12 form-group">
                <label for="slt" class="slt">
                  <select class="form-control" id="slt" placeholder="&nbsp;" [(ngModel)]="incomeDto.incHeadId"
                    name="expHeadId">
                    <option selected>Please Select *</option>
                    <option *ngFor="let incomehead of incomeheads" [value]="incomehead.id"
                      [selected]="incomeDto.incHeadId == incomehead.incomeCategory">{{ incomehead.incomeCategory }}
                    </option>
                  </select>
                  <span class="label">Income Head*</span>
                  <span class="focus-bg"></span>
                </label>
                <!-- <div class="alert alert-danger" *ngIf="expHeadId.touched && !expHeadId.valid">
                  Please Enter Expense Head.
                </div> -->
              </div>
              <div class="col-4 col-lg-4 col-12 form-group">
                <label for="inp" class="inp">
                  <input type="text" class="form-control" id="inp" placeholder="&nbsp;" [(ngModel)]="incomeDto.name"
                    name="name" [value]="incomeDto.name">
                  <span class="label"> Name</span>
                  <span class="focus-bg"></span>
                </label>
                <!-- <div class="alert alert-danger" *ngIf="name.touched && !name.valid">
                  Please Enter Name.
                </div> -->
              </div>

              <div class="col-4 col-lg-4 col-12 form-group">
                <label for="inp" class="inp">
                  <input type="text" class="form-control" id="inp" placeholder="&nbsp;"
                    [(ngModel)]="incomeDto.invoiceNo" name="invoiceNo" [value]="incomeDto.invoiceNo">
                  <span class="label">Invoice Number</span>
                  <span class="focus-bg"></span>
                </label>
                <!--  <div class="alert alert-danger" *ngIf="invoiceNo.touched && !invoiceNo.valid">
                  Please Enter Invlice Number.
                </div> -->
              </div>

              <div class="col-4 col-lg-4 col-12 form-group">
                <label for="dtp" class="dtp">
                  <input type="date" id="dtp" placeholder="&nbsp;" name="date" [(ngModel)]="incomeDto.date">
                  <span class="label"> Date *</span>
                  <span class="focus-bg"></span>
                </label>
                <!-- <div class="alert alert-danger" *ngIf="date.touched && !date.valid">
                  Please Enter Date.
                </div> -->
              </div>

              <div class="col-4 col-lg-4 col-12 form-group">
                <label for="inp" class="inp">
                  <input type="text" class="form-control" id="inp" placeholder="&nbsp;" [(ngModel)]="incomeDto.amount"
                    name="amount" [value]="incomeDto.amount"> <span class="label">Amount</span>
                  <span class="focus-bg"></span>
                </label>
                <!-- <div class="alert alert-danger" *ngIf="amount.touched && !amount.valid">
                  Please Enter amount.
                </div> -->
              </div>

              <!--  <div class="col-4 col-lg-4 col-12 form-group">
                <label class="text-dark-medium" style="font-size: small;">Upload Doc</label>
                <input type="file" class="form-control-file" name="document" placeholder="Upload document"
                  [(ngModel)]="incomeDto.document" required>

              </div> -->
              <div class="col-4 col-lg-4 col-12 form-group">
                <label class="text-dark-medium" style="font-size: small;">Attach Document</label>
                <input type="file" class="form-control-file" name="documents" placeholder="Attach Document"
                  [(ngModel)]="incomeDto.documents" [value]="incomeDto.documents">
              </div>
              <div class="col-4 col-lg-4 col-12 form-group" row="3">
                <label for="inp" class="inp">
                  <input type="textArea" class="form-control" id="inp" placeholder="&nbsp;" [(ngModel)]="incomeDto.note"
                    name="note" [value]="incomeDto.note"> <span class="label">Description</span>
                  <span class="focus-bg"></span>
                </label>

              </div>
              <div class="col-xl-4 col-lg-6 col-12 form-group">
                <button *ngIf="!this.isUpdate" (click)="addincome()" type="button"
                  class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark" data-toggle="modal" data-target="#myModal">
                  Save
                </button>
                <button *ngIf="this.isUpdate" (click)="updateincome(incomeDto.id)" type="button"
                  class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark" data-toggle="modal" data-target="#myModal">
                  Update
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
