<div class="breadcrumbs-area">
    <h3>Human Resource</h3>
    <ul>
        <li>
            <a href="index.html">Home</a>
        </li>
        <li>Designation</li>
    </ul>
</div>
<!-- Breadcubs Area End Here -->
<div class="card height-auto">
    <div class="card-body">
        <div class="heading-layout1">
            <div class="item-title">
                <h3>Add Designation</h3>
            </div>
        </div>
        <form class="mg-b-20">
            <div class="row gutters-8">
                <div class="col-3-xxxl col-xl-3 col-lg-3 col-12 form-group">
                    <input type="text" placeholder="Add Designation ..." class="form-control">
                </div>
                
                <div class="col-1-xxxl col-xl-2 col-lg-3 col-12 form-group">
                    <button type="submit" class="fw-btn-fill btn-gradient-yellow">SAVE</button>
                </div>
            </div>
        </form>
        <hr>
        <br>
        <div class="heading-layout1">
            <div class="item-title">
                <h3>Designation List</h3>
            </div>
        </div>
        <form class="mg-b-20">
            <div class="row gutters-8">
                <div class="col-3-xxxl col-xl-3 col-lg-3 col-12 form-group">
                    <input type="text" placeholder="Search  ..." class="form-control">
                </div>
                <div class="col-1-xxxl col-xl-2 col-lg-3 col-12 form-group">
                    <button type="submit" class="fw-btn-fill btn-gradient-yellow">SEARCH</button>
                </div>
                <div class="col-1-xxxl col-xl-2 col-lg-3 col-12" style="margin-left: auto;">
                    <a href="#"><i class="fas fa-copy"></i>&nbsp;</a>
                    <a href="#"><i class="fas fa-file-excel"></i>&nbsp;</a>
                    <a href="#"><i class="fas fa-file-csv"></i>&nbsp;</a>
                    <a href="#"><i class="fas fa-file-pdf"></i>&nbsp;</a>
                    <a href="#"><i class="fas fa-print"></i>&nbsp;</a>
                    <a href="#"><i class="fas fa-columns"></i>&nbsp;</a>
                </div>
            </div>
        </form>
        
        
        <div class="table-responsive">
            <table class="table display data-table text-nowrap">
                <thead>
                    <tr>
                        
                        <th>Designation</th>
                        <th>Action</th>  
                                                
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        
                        <td></td>
                        <td>
                            <div class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                                    aria-expanded="false">
                                    <span class="flaticon-more-button-of-three-dots"></span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="#"><i
                                            class="fas fa-times text-orange-red"></i>Close</a>
                                    <a class="dropdown-item" href="#"><i
                                            class="fas fa-cogs text-dark-pastel-green"></i>Edit</a>
                                    <a class="dropdown-item" href="#"><i
                                            class="fas fa-redo-alt text-orange-peel"></i>Refresh</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                   
                </tbody>
            </table>
        </div>
    </div>