<!-- Admission Enquiry Area Start Here -->

<div class="breadcrumbs-area">
  <ul>
    <li>
      <a href="index.html">Home</a>
    </li>
    <li>Subject Group</li>
  </ul>
</div>
<div class="row gutters-20">
  <div class="col-xl-4 col-6">
    <div class="card height-auto">
      <div class="card-body">
        <div class="heading-layout1">
          <div class="item-title">
            <h5>Add Subject Groups</h5>
          </div>
        </div>
        <form class="new-added-form">
          <div class="col-xl-12 col-lg-12 col-12 form-desig">
            <label for="inp" class="inp">
              <input type="text" name="name" class="form-control" id="inp" placeholder="&nbsp;"
                [(ngModel)]="subjectGroupDto.name">
              <span class="label">Subject Group Name</span>
              <span class="focus-bg"></span>
            </label>

          </div>
          <div class="col-xl-12 col-lg-12 col-12 form-desig">
            <label for="inp" class="inp">
              <input type="text" name="description" class="form-control" id="inp" placeholder="&nbsp;"
                [(ngModel)]="subjectGroupDto.description">
              <span class="label">Description</span>
              <span class="focus-bg"></span>
            </label>

          </div>
          <div class="col-xl-4 col-lg-6 col-12 form-group">
            <div class="row">
              <button *ngIf="!this.isUpdate" (click)="addsg()" type="button"
                class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark" data-toggle="modal" data-target="#myModal">
                Save
              </button>
              <button *ngIf="this.isUpdate" (click)="updatesg(subjectGroupDto.id)" type="button"
                class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark" data-toggle="modal" data-target="#myModal">
                Update
              </button>

            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-xl-8 col-6">
    <div class="card height-auto">
      <div class="card-body">

        <div class="heading-layout1">
          <div class="item-title">
            <h5>Subject Group List</h5>
          </div>
        </div>
        <div class="table-responsive">

          <table id="example" style="float: right;" class="table display data-table text-nowrap cell-border">
            <thead>
              <tr>

                <th>Subject Group Name</th>
                <th>Description</th>
                <th>Action</th>

              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let sg of sgs">
                <td>{{sg.name}}</td>
                <td>{{sg.description}}</td>
                <td><a (click)="setUpdateFileds(sg.id)"><i class="fas fa-pen-alt text-orange-peel"></i>&nbsp;</a>
                  <a (click)="deletesg(sg.id)"><i class="fas fa-times text-orange-red"></i>&nbsp;</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
