<!-- Ubject Group Area Start Here -->
<div class="breadcrumbs-area">
    <h3>Academics</h3>
    <ul>
        <li>
            <a href="index.html">Home</a>
        </li>
        <li>Subject Group</li>
    </ul>
</div>
<div class="card height-auto">
    <div class="card-body">
        <form class="new-added-form">
            <div class="row">
                <div class="col-xl-4 col-lg-6 col-12 form-group">
                    <label>Name<span class="req" style="color: red;">*</span></label>
                    <input type="text" class="form-control">
                    <br>
                    <label>Subject<span class="req" style="color: red;">*</span></label>
                    <select multiple class="col-xl-6 col-lg-6 col-12 form-group select2"> 
                        <option value="">Select Multiple Subjects</option>
                        <option value="1">Marathi</option>
                        <option value="2">Math</option>
                        <option value="3">History</option>
                        <option value="4">English</option>
                        <option value="5">Geography</option>
                        <option value="6">Science</option>
                        <option value="7">Art</option>
                      </select>
                </div>
                <div class="col-xl-4 col-lg-6 col-12 form-group">
                    <label>Class<span class="req" style="color: red;">*</span></label>
                    <select class="select2">
                        <option value="">Select</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="">4</option>
                    </select>
                            
                    <br><br>
                    <label>Description</label>
                        <textarea class="form-control" id="description" name="description" placeholder="" rows="3" autocomplete="off"></textarea>
                </div>
               
                
                <div class="col-xl-4 col-lg-6 col-12 form-group">
                    <div >
                        <label>Section<span class="req" style="color: red;">*</span></label>
                        <select class="select2">
                            <option value="">Select</option>
                            <option value="1">A</option>
                            <option value="2">B</option>
                            <option value="3">C</option>
                            <option value="4">D</option>
                        </select>            
                    </div>

                   <br><br>
            <div class="col-12 form-group mg-t-8">
                        <div class="form-group" style="float: right;">
                            <button type="submit" class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark">Save</button>
                        </div>
                    </div>  
                </div>
            </div>
        </form>
        <hr>

        <div class="heading-layout1">
            <div class="item-title">
                <h3>Subject Group List</h3>
            </div>
        </div>
        <form class="mg-b-20">
            <div class="row gutters-8">
                <div class="col-3-xxxl col-xl-3 col-lg-3 col-12 form-group">
                    <input type="text" placeholder="Search..." class="form-control">
                </div>
                <div class="col-1-xxxl col-xl-2 col-lg-3 col-12 form-group">
                    <button type="submit" class="fw-btn-fill btn-gradient-yellow">SEARCH</button>
                </div>
                <div class="col-1-xxxl col-xl-2 col-lg-3 col-12" style="margin-left: auto;">
                    <a href="#"><i class="fas fa-copy"></i>&nbsp;</a>
                    <a href="#"><i class="fas fa-file-excel"></i>&nbsp;</a>
                    <a href="#"><i class="fas fa-file-csv"></i>&nbsp;</a>
                    <a href="#"><i class="fas fa-file-pdf"></i>&nbsp;</a>
                    <a href="#"><i class="fas fa-print"></i>&nbsp;</a>
                    <a href="#"><i class="fas fa-columns"></i>&nbsp;</a>
                </div>
            </div>
        </form>
        <div class="table-responsive">
           
            <table class="table display data-table text-nowrap">
                <thead>
                    
                    <tr>
                        <th>Name</th>
                        <th>Class Section</th>
                        <th>Subject</th> 
                        <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Action</th>
                        
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#"><i class="fas fa-align-justify "></i>&nbsp;</a>
                            <a href="#"><i class="fas fa-pen-alt text-orange-peel"></i>&nbsp;</a> 
                            <a href="#"><i class="fas fa-times text-orange-red"></i>&nbsp;</a> </td>
                    </tr>
                   
                </tbody>
            </table>
        </div>
    </div>
    
    
</div>

