<!-- Student Details Area Start Here -->
<div class="breadcrumbs-area">
  <h3>Fees Carry Forward</h3>
  <ul>
      <li>
          <a href="index.html">Home</a>
      </li>
      <li>Fees Carry Forward</li>
  </ul>
</div>
<div class="card height-auto">
  <div class="card-body">
      <form class="new-added-form">
          <div class="row">
              <div class="col-xl-4 col-lg-6 col-12 form-group">
                  <label>Class <span class="req" style="color: red;">*</span></label>
                  <select class="select2">
                      <option value="">select</option>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                  </select>
                  
                  
              </div>
              <div class="col-xl-4 col-lg-6 col-12 form-group">
                  <label>Section </label>
                  <select class="select2">
                      <option value="">select</option>
                      <option value="1">A</option>
                      <option value="2">B</option>
                      <option value="3">C</option>
                  </select>
                             
              </div>

              
              <div class="col-xl-4 col-lg-6 col-12 form-group">
                  <label>Search By Key Words: *</label>
                  <input type="text" name="search_text" class="form-control"   placeholder="Search By Student Name, Roll Number, Enroll Number, National Id, Local Id Etc.">               
          
              </div>
              <div class="col-1-xl col-xl-2 col-lg-3 col-12 form-group">
                <button type="submit" class="fw-btn-fill btn-gradient-yellow">SEARCH</button>
            </div>
              
              
                             
              
              
          </div>
      </form>
  </div>

