
<div class="breadcrumbs-area">
    <ul>
        <li>
            <a href="index.html">Home</a>
        </li>
        <li>Attendance By Date</li>
    </ul>
  </div>
  <div class="card height-auto">
    <div class="card-body">
                <form class="new-added-form">
                    <div class="row">
                        <div class="col-xl-3 col-lg-6 col-12 form-group">

                            <label for="slt" class="slt">
                                <select  name="class" class="form-control" id="slt" placeholder="&nbsp;">
                                <option selected >Please Select Class *</option>
                     
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="3">4</option>
                                <option value="3">5</option>
                                <option value="3">6</option>
                                </select>
                                <span class="label">Class *</span>
                                <span class="focus-bg"></span>
                            </label>
                        </div>
        
                        <div class="col-xl-3 col-lg-6 col-12 form-group">
        
                            <label for="slt" class="slt">
                                <select  name="Section" class="form-control" id="slt" placeholder="&nbsp;">
                                <option selected >Please Select Section *</option>
                     
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="3">4</option>
                                <option value="3">5</option>
                                <option value="3">6</option>
                                </select>
                                <span class="label">Section *</span>
                                <span class="focus-bg"></span>
                            </label>
                        </div>
                        <div class="col-xl-3 col-lg-6 col-12 form-group">
                            <label for="dtp" class="dtp">
                                <input type="text" id="dtp" placeholder="&nbsp;" class="form-control air-datepicker"
                                    data-position='top right' name="asondate" >
                                <span class="label">Attendance Date*</span>
                                <span class="focus-bg"></span>
                            </label>
                            <i class="far fa-calendar-alt"></i>
                          </div>
            
                        
                            <div class="col-xl-3 col-lg-6 col-12 form-group">
                                <div class="form-group">
                                    <button type="submit" class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark" style="float: right;">Search</button>
                                </div>
                            </div>
            
                        
                      
                        
                    </div>
                </form>
  
    <hr>
        <div class="table-responsive">
        <div>
            <span style="float:left;"><h3>Student List</h3></span>
        </div><br>
                <div style="clear: right;margin-bottom: 5px;">
                    <button type="submit" class="btn1 bg-blue-dark btn-hover-yellow" style="font-size: small;">Mark As Holiday</button>
                    <div style="float:right;">
                        <button type="submit" class="btn1 bg-blue-dark btn-hover-yellow" style="font-size: small;">Save Attendance</button>
                    </div>
                </div>    
          <table id="example" class="table display data-table text-nowrap cell-border">
              <thead>
                  
                  <tr>
                      <th>Sr.No</th>
                      <th>Admission Date</th>
                      <th>Role No</th>
                      <th>Name</th>
                      <th>Attendance</th>  
                      <th>Note</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td>1</td>
                      <td>12/3/2020</td>
                      <td>10</td>
                      <td>admin</td>
                      <td>
                        <input type="radio" value="present"><label>present</label>&nbsp;&nbsp;
                        <input type="radio" value="Late"><label>late</label>&nbsp;&nbsp;
                        <input type="radio" value="absent"><label>absent</label>&nbsp;&nbsp;
                        <input type="radio" value="half day"><label>half day</label>
                      </td>
                      <td><input type="text"></td>
                  </tr>

                  <tr>
                    <td>1</td>
                      <td>12/3/2020</td>
                      <td>10</td>
                      <td>admin</td>
                    <td>
                      <input type="radio" value="present"><label>present</label>&nbsp;&nbsp;
                      <input type="radio" value="Late"><label>late</label>&nbsp;&nbsp;
                      <input type="radio" value="absent"><label>absent</label>&nbsp;&nbsp;
                      <input type="radio" value="half day"><label>half day</label>
                    </td>
                    <td><input type="text"></td>
                 </tr>
                 <tr>
                    <td>1</td>
                    <td>12/3/2020</td>
                    <td>10</td>
                    <td>admin</td>
                    <td>
                      <input type="radio" value="present"><label>present</label>&nbsp;&nbsp;
                      <input type="radio" value="Late"><label>late</label>&nbsp;&nbsp;
                      <input type="radio" value="absent"><label>absent</label>&nbsp;&nbsp;
                      <input type="radio" value="half day"><label>half day</label>
                    </td>
                    <td><input type="text"></td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>12/3/2020</td>
                    <td>10</td>
                    <td>admin</td>
                    <td>
                      <input type="radio" value="present"><label>present</label>&nbsp;&nbsp;
                      <input type="radio" value="Late"><label>late</label>&nbsp;&nbsp;
                      <input type="radio" value="absent"><label>absent</label>&nbsp;&nbsp;
                      <input type="radio" value="half day"><label>half day</label>
                    </td>
                    <td><input type="text"></td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>12/3/2020</td>
                    <td>10</td>
                    <td>admin</td>
                    <td>
                      <input type="radio" value="present"><label>present</label>&nbsp;&nbsp;
                      <input type="radio" value="Late"><label>late</label>&nbsp;&nbsp;
                      <input type="radio" value="absent"><label>absent</label>&nbsp;&nbsp;
                      <input type="radio" value="half day"><label>half day</label>
                    </td>
                    <td><input type="text"></td>
                  </tr>
                 
              </tbody>
          </table>
      </div>
    </div>
   </div>
  
    <!-- Admission Enquiry Area Start Here -->
   
  