<!-- Student Details Area Start Here -->
<div class="breadcrumbs-area">
    <h3>Students</h3>
    <ul>
        <li>
            <a href="index.html">Home</a>
        </li>
        <li>Multi Class Students</li>
    </ul>
</div>
<div class="card height-auto">
    <div class="card-body">
        <div class="heading-layout1">
            <div class="item-title">
                <h3>Select Criteria</h3>
            </div>
        </div>
        <form class="new-added-form">
            <div class="row">
                <div class="col-xl-5 col-lg-6 col-12 form-group">
                    <label>Class <span class="req" style="color: red;">*</span></label>
                    <select class="select2">
                        <option value="">select</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                </div>

                <div class="col-xl-5 col-lg-6 col-12 form-group">
                    <label>Section </label>
                    <select class="select2">
                        <option value="">select</option>
                        <option value="1">A</option>
                        <option value="2">B</option>
                        <option value="3">C</option>
                    </select>
                                                   
                </div>

                <div class="col-1-xxxl col-xl-2 col-lg-3 col-12 form-group">
                    <div class="form-group">
                        <label>Search</label>
                        <button type="submit" class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark">Search</button>
                        
                    </div>
                
            </div>


                
                
             
            </div>
        </form>
    </div>

