
   
    <!-- Dashboard summery Start Here -->
    <!-- <div class="row">
    <div class="col-lg-4">
        <div class="dashboard-summery-one">
            <div class="row">
                <div class="col-6">
                    <div class="item-icon bg-light-magenta">
                        <i class="flaticon-shopping-list text-magenta"></i>
                    </div>
                </div>
                <div class="col-6">
                    <div class="item-content">
                        <div class="item-title">Notification</div>
                        <div class="item-number"><span class="counter" data-num="12">12</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="dashboard-summery-one">
            <div class="row">
                <div class="col-6">
                    <div class="item-icon bg-light-blue">
                        <i class="flaticon-calendar text-blue"></i>
                    </div>
                </div>
                <div class="col-6">
                    <div class="item-content">
                        <div class="item-title">Events</div>
                        <div class="item-number"><span class="counter" data-num="06">06</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="dashboard-summery-one">
            <div class="row">
                <div class="col-6">
                    <div class="item-icon bg-light-yellow">
                        <i class="flaticon-percentage-discount text-orange"></i>
                    </div>
                </div>
                <div class="col-6">
                    <div class="item-content">
                        <div class="item-title">Attendance</div>
                        <div class="item-number"><span class="counter" data-num="94">94</span><span>%</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <div class="row">
       <div class="col-5-xxxl col-12">
            <div class="card dashboard-card-twelve">
                <div class="card-body">
                    <div class="heading-layout1">
                        <div class="item-title">
                            <h3>My Profile</h3>
                        </div>
                        <div class="dropdown">
                            <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                                aria-expanded="false">...</a>

                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="#"><i
                                        class="fas fa-times text-orange-red"></i>Close</a>
                                <a class="dropdown-item" href="#"><i
                                        class="fas fa-cogs text-dark-pastel-green"></i>Edit</a>
                                <a class="dropdown-item" href="#"><i
                                        class="fas fa-redo-alt text-orange-peel"></i>Refresh</a>
                            </div>
                        </div>
                    </div>
                    <div class="kids-details-wrap">
                        <div class="row">
                            <div class="col-12-xxxl col-xl-6 col-12">
                                <div class="kids-details-box mb-5">
                                    <div class="item-img">
                                        <img src="../assets/img/figure/student.png" alt="kids">
                                    </div>
                                    <div class="item-content table-responsive">
                                        <table class="table text-nowrap">
                                            <tbody>
                                                <tr>
                                                    <td>Name:</td>
                                                    <td class="font-medium text-dark-medium">Jessia Rose</td>
                                                </tr>
                                                <tr>
                                                    <td>Gender:</td>
                                                    <td class="font-medium text-dark-medium">Female</td>
                                                </tr>
                                                <tr>
                                                    <td>Father Name:</td>
                                                    <td class="font-medium text-dark-medium">Fahim Rahman</td>
                                                </tr>
                                                <tr>
                                                    <td>Mother Name:</td>
                                                    <td class="font-medium text-dark-medium">Jannatul Kazi</td>
                                                </tr>
                                                <tr>
                                                    <td>Date Of Birth:</td>
                                                    <td class="font-medium text-dark-medium">07.08.2006</td>
                                                </tr>
                                                <tr>
                                                    <td>Religion:</td>
                                                    <td class="font-medium text-dark-medium">Islam</td>
                                                </tr>
                                                <tr>
                                                    <td>Father Occupation:</td>
                                                    <td class="font-medium text-dark-medium">Graphic Designer</td>
                                                </tr>
                                                
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12-xxxl col-xl-6 col-12">
                                <div class="kids-details-box">
                                    <div class="item-content table-responsive">
                                        <table class="table text-nowrap">
                                            <tbody>
                                                <tr>
                                                    <td>E-Mail:</td>
                                                    <td class="font-medium text-dark-medium">jessiarose@gmail.com</td>
                                                </tr> 
                                                
                                                <tr>
                                                    <td>Class:</td>
                                                    <td class="font-medium text-dark-medium">2</td>
                                                </tr>
                                                <tr>
                                                    <td>Section:</td>
                                                    <td class="font-medium text-dark-medium">Pink</td>
                                                </tr>
                                                <tr>
                                                    <td>Roll:</td>
                                                    <td class="font-medium text-dark-medium">10005</td>
                                                </tr>
                                                <tr>
                                                    <td>Adress:</td>
                                                    <td class="font-medium text-dark-medium">House #10, Road #6,
                                                        Australia</td>
                                                </tr>
                                                <tr>
                                                    <td>Phone:</td>
                                                    <td class="font-medium text-dark-medium">+ 88 9856418</td>
                                                </tr>
                                                <tr>
                                                    <td>Admission Date:</td>
                                                    <td class="font-medium text-dark-medium">05.01.2019</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->


            <!-- Breadcubs Area Start Here -->
            <div class="breadcrumbs-area">
                <ul>
                        <li><a href="index.html">Home</a></li>
                        <li>Students</li>
                </ul>
            </div>
            <!-- Breadcubs Area End Here -->
    
            <!-- My Profile Area Start Here -->
            
            <div class="row">  
                <div class="col-3-xxxl col-lg-6 col-xl-3">
                    <div class="card height-auto">
                        <div class="card-body">
                            <div class="user-details-box">
                                <div class="item-img text-center">
                                    <img style="border-radius: 50%;" src="../../assets/img/figure/user.jpg" alt="user">
                                </div>
                                <h3 class="font-medium text-dark-medium text-center">Avdhoot Gore</h3>
                                <table class="table text-wrap">
                                    <tbody>
                                        <tr>
                                            <td>Admission No.</td>
                                            <td class="font-medium text-dark-medium">AC#2</td>
                                        </tr>
                                        <tr>
                                            <td>Roll Number</td>
                                            <td class="font-medium text-dark-medium">1</td>
                                        </tr>
                                        <tr>
                                            <td>Class</td>
                                            <td class="font-medium text-dark-medium">1(2019-20)</td>
                                        </tr>
                                        <tr>
                                            <td>RTE</td>
                                            <td class="font-medium text-dark-medium">No</td>
                                        </tr>
                                        <tr>
                                            <td>Gender</td>
                                            <td class="font-medium text-dark-medium">Male</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                
                
                <div class="col-9-xxxl col-xl-9">
                    <div class="card height-auto">
                        <div class="card-body">
                        <div class="custom-tab">
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item"><a class="nav-link active" href="#activity" data-toggle="tab" aria-selected="true">Profile</a></li>
                                <li class="nav-item"><a class="nav-link" href="#fee" data-toggle="tab" aria-selected="true">Fees</a></li>
                                <li class="nav-item"><a class="nav-link" href="#exam" data-toggle="tab" aria-selected="true">Exam</a></li>
                                <li class="nav-item"><a class="nav-link" href="#documents" data-toggle="tab" aria-selected="true">Documents</a></li>
                                <li class="nav-item"><a class="nav-link" href="#timelineh" data-toggle="tab" aria-selected="true">Timeline</a></li>
                                <li class="nav-item"><a class="nav-link" href="#"><i style="color: rgb(81, 81, 81);" class="fas fa-pencil-alt"></i></a></li>
                                <li class="nav-item"><a class="nav-link" href="#"><i class="fas fa-key text-dark-pastel-green"></i></a></li>
                                <li class="nav-item"><a class="nav-link" href="#"><i class="fas fa-thumbs-down text-orange-red"></i></a></li>
                                <li class="nav-item"><a class="nav-link" href="#"><i style="color: black;" class="fas fa-ellipsis-v"></i></a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane fade show active" id="activity" role="tabpanel">
                                        <div class="table-responsive">
                                            <table class="table table-hover table-striped" style="border: 1px solid rgb(180, 180, 180);">
                                                <tbody>
                                                        <tr>
                                                            <td>Admission Date</td>
                                                            <td class="font-medium text-dark-medium">01/01/2020</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Date of Birth</td>
                                                            <td class="font-medium text-dark-medium">01/11/2017</td>
                                                        </tr>             
                                                        <tr>
                                                            <td>Category</td>
                                                            <td class="font-medium text-dark-medium">Special</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Mobile Number</td>
                                                            <td class="font-medium text-dark-medium">8600865500</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Caste</td>
                                                            <td class="font-medium text-dark-medium">OBC</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Religion</td>
                                                            <td class="font-medium text-dark-medium">Hindu</td>
                                                        </tr>
                                                         <tr>
                                                            <td>Email</td>
                                                            <td class="font-medium text-dark-medium">atul.gore74@gmail.com</td>
                                                        </tr>
                                                    </tbody>
                                            </table>
                                        </div>
                                        
                                        <h3>Address </h3>
                                            <table class="table table-hover table-striped" style="border: 1px solid rgb(180, 180, 180)">
                                                <tbody>
                                                    <tr>
                                                        <td>Current Address</td>
                                                        <td class="font-medium text-dark-medium">36, Samarth Residency, Vishrambag, Sangli</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Permanent Address</td>
                                                        <td class="font-medium text-dark-medium">36, Samarth Residency, Vishrambag, Sangli</td>
                                                    </tr>
                                                </tbody>
                                            </table>
    
                                        <h3>Parent / Guardian Details </h3>
                                        <div class="table-responsive">
                                            <table class="table table-hover table-striped" style="border: 1px solid rgb(180, 180, 180)">
                                                <tbody>
                                                    <tr>
                                                        <td>Father Name</td>
                                                        <td class="font-medium text-dark-medium">Atul</td>
                                                        <td rowspan="3" width="300" valign="center">
                                                            <div class="item-img text-center">
                                                                <img style="border-radius: 50%; height: 150px; width: 150px;" src="../../assets/img/figure/user.jpg" alt="user">
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>Father Phone</td>
                                                        <td class="font-medium text-dark-medium">8600865500</td>
                                                    </tr>
                                                     <tr>
                                                        <td>Father Occupation</td>
                                                        <td class="font-medium text-dark-medium">Busniess</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Mother Name</td>
                                                        <td class="font-medium text-dark-medium">ABC</td>
                                                        <td rowspan="3" width="300" valign="center">
                                                            <div class="item-img text-center">
                                                                <img style="border-radius: 50%; height: 150px; width: 150px;" src="../../assets/img/figure/user1.jpg" alt="user">
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>Mother Phone</td>
                                                        <td class="font-medium text-dark-medium">9876543210</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Mother Occupation</td>
                                                        <td class="font-medium text-dark-medium">Homemaker</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Guardian Name</td>
                                                        <td class="font-medium text-dark-medium">Atul</td>
                                                        <td rowspan="3" width="300" valign="center">
                                                            <div class="item-img text-center">
                                                                <img style="border-radius: 50%; height: 150px; width: 150px;" src="../../assets/img/figure/user.jpg" alt="user">
                                                            </div>
                                                        </td>
                                                    </tr>                                                                                        
                                                    <tr>
                                                        <td>Guardian Email</td>
                                                        <td class="font-medium text-dark-medium">Guardian@mail.com</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Guardian Relation</td>
                                                        <td class="font-medium text-dark-medium">Father</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Guardian Phone</td>
                                                        <td class="font-medium text-dark-medium">8600865500</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Guardian Occupation</td>
                                                        <td class="font-medium text-dark-medium">Busniess</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Guardian Address</td>
                                                        <td class="font-medium text-dark-medium">36, Vishrambag, Sangli</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
    
                                        <h3>Transport Details</h3>
                                                <div class="table-responsive">
                                                    <table class="table table-hover table-striped" style="border: 1px solid rgb(180, 180, 180)">
                                                        <tbody>
                                                            <tr>
                                                                <td>Route</td>
                                                                <td class="font-medium text-dark-medium">Moshi</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Vehicle Number</td>
                                                                <td class="font-medium text-dark-medium">MH-14-DW-1783</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Driver Name</td>
                                                                <td  class="font-medium text-dark-medium">Lokesh</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Driver Contact</td>
                                                                <td  class="font-medium text-dark-medium">8149498672</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            
                                            <h3>Miscellaneous Details</h3>
                                            <div class="table-responsive">
                                                <table class="table table-hover table-striped" style="border: 1px solid rgb(180, 180, 180)">
                                                <tbody>
                                                <tr>
                                                    <td>Blood Group</td>
                                                    <td class="font-medium text-dark-medium">B+</td>
                                                </tr>
                                                <tr>
                                                    <td>Student House</td>
                                                    <td class="font-medium text-dark-medium">Red</td>
                                                </tr>
                                                <tr>
                                                    <td>Height</td>
                                                    <td class="font-medium text-dark-medium">100cm</td>
                                                </tr>
                                                <tr>
                                                    <td>Weight</td>
                                                    <td class="font-medium text-dark-medium">20kg</td>
                                                </tr>
                                                <tr>
                                                    <td>As on Date</td>
                                                    <td class="font-medium text-dark-medium">01/01/1970</td>
                                                </tr>
                                                <tr>
                                                    <td>Previous School Details</td>
                                                    <td class="font-medium text-dark-medium">Z. P. School-1, Sangli</td>
                                                </tr>
                                                <tr>
                                                    <td>National Identification Number</td>
                                                    <td class="font-medium text-dark-medium">9876543210</td>
                                                </tr>
                                                <tr>
                                                    <td>Local Identification Number</td>
                                                    <td class="font-medium text-dark-medium">1478520369</td>
                                                </tr>
                                                <tr>
                                                    <td>Bank Account Number</td>
                                                    <td class="font-medium text-dark-medium">0321456987</td>
                                                </tr>
                                                <tr>
                                                    <td>Bank Name</td>
                                                    <td class="font-medium text-dark-medium">State Bank of India</td>
                                                </tr>
                                                <tr>
                                                    <td>IFSC Code</td>
                                                    <td class="font-medium text-dark-medium">SBIN0002525</td>
                                                </tr>
                                            </tbody>
                                            </table>
                                        </div>
                                    </div>
    
                                    <div class="tab-pane fade" id="fee" role="tabpanel">
                                        <div class="table-responsive">
                                            <table id="example" class="table table-hover table-striped cell-border" style="border: 1px solid rgb(180, 180, 180)">
                                                <thead>
                                                    <tr>
                                                        <th>Fees Group</th>
                                                        <th>Fees Code</th>
                                                        <th>Due Date</th>
                                                        <th>Status</th>
                                                        <th>Amount <span>(₹)</span></th>
                                                        <th>Payment Id</th>
                                                        <th>Mode</th>
                                                        <th>Date</th>
                                                        <th>Discount <span>(₹)</span></th>
                                                        <th>Fine <span>(₹)</span></th>
                                                        <th>Paid <span>(₹)</span></th>
                                                        <th>Balance <span>(₹)</span></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                            <td>General</td>
                                                            <td>admission-fees</td>
                                                            <td class="text text-left">10/01/2020</td>
                                                            <td class="text text-left"><span class="label label-danger">Unpaid</span></td>
                                                            <td class="text text-right">500.00</td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td class="text text-right">0.00</td>
                                                            <td class="text text-right">0.00</td>
                                                            <td class="text text-right">0.00</td>
                                                            <td class="text text-right">500.00</td>
                                                    </tr>
                                                    <tr class="box box-solid total-bg even" role="row">
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td class="text text-right">Grand Total</td>
                                                        <td class="text text-right">₹500.00</td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>    
                                                        <td class="text text-right">₹0.00</td>
                                                        <td class="text text-right">₹0.00</td>
                                                        <td class="text text-right">₹0.00</td>
                                                        <td class="text text-right">₹500.00</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    
                                    <div class="tab-pane fade" id="timelineh" role="tabpanel">
                                        <h3>Timeline</h3>
                                    </div>
    
                                    <div class="tab-pane fade" id="documents" role="tabpanel">
                                            <button type="button" class="btn btn-xs btn-primary">
                                                 <i class="fas fa-upload"></i>  Upload Documents
                                            </button>
        
                                            <div class="table-responsive">
                                                <table id="example" class="table table-hover table-striped cell-border" style="border: 1px solid rgb(180, 180, 180)">
                                                    <thead>
                                                        <tr>
                                                            <th>Title</th>                                                    
                                                            <th>Name</th>
                                                            <th>Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
    
                                                    </tbody>
                                                </table>
                                            </div>
                                    </div>
    
                                    <div class="tab-pane fade" id="exam" role="tabpanel">
                                         <h3>Exam Result</h3>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
<!-- My Profile Area End Here -->