
<div class="breadcrumbs-area">
    <h3>Academics</h3>
    <ul>
        <li>
            <a href="index.html">Home</a>
        </li>
        <li>Subjects</li>
    </ul>
  </div>
  <div class="card height-auto">
    <div class="card-body">
                <form class="new-added-form">
                    <div class="heading-layout1">
                        <div class="item-title">
                            <h3>Add Subject</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-12 form-group">
                            <label>Subject Name<span style="color: red;">*</span> </label>
                            <input type="text" class="select2 form-control">
                            <div >
                                <form>
                                    <div class=" custom-control-inline col-xl-5">
                                        <input type="radio" name="customRadio" id="customRadio1">
                                        <label for="customRadio1">Theory</label>
                                    </div>

                                    <div class=" custom-control-inline col-xl-5">
                                        <input type="radio"  name="customRadio" id="customRadio2" >
                                        <label  for="customRadio2">Practical</label>
                                    </div>
                                </form>
                            </div>  
                        </div>
                               
                        
                        <div class="col-xl-6 col-lg-6 col-12 form-group">
                            <label>Subject Code<span style="color: red;">*</span> </label>
                            <input type="text" class="select2 form-control">             
                            
                            <div class="col-12 form-group mg-t-8" style="padding: 0;">
                                <div class="form-group" style="float: right;">
                                    <button type="submit" class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark">Save</button>
                                </div>
                            </div>
            
                        </div>
                      
                        
                    </div>
                </form>
                <span style="float:left;margin: 0;"><h3>&nbsp;&nbsp;&nbsp; Subjects List</h3></span>
    
        <div class="table-responsive">
            <div class="col-12 form-group mg-t-8" style="padding: 0;margin: 0;">
                <div class="col-3-xxxl col-xl-3 col-lg-3 col-12 form-group" style="float:left;">
                    <input type="text" placeholder="Search..." class="form-control">
                </div>
                <div class="form-group" style="float: left;">
                    <button type="submit" class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark">Search</button>
                </div>
            </div>
            <div class="col-1-xxxl col-xl-2 col-lg-3 col-12" style="margin-left:auto; padding: 0;">
              <a href="#"><i class="fas fa-copy"></i>&nbsp;</a>
              <a href="#"><i class="fas fa-file-excel"></i>&nbsp;</a>
              <a href="#"><i class="fas fa-file-csv"></i>&nbsp;</a>
              <a href="#"><i class="fas fa-file-pdf"></i>&nbsp;</a>
              <a href="#"><i class="fas fa-print"></i>&nbsp;</a>
              <a href="#"><i class="fas fa-columns"></i>&nbsp;</a>
            </div>
           </div> 
          <table class="table display data-table text-nowrap">
              <thead>
                  
                  <tr>
                      <th>Subject</th>
                      <th>Subject Code</th>
                      <th>Subject Type</th>
                      <th>Action</th>  
                      
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td><a href="#"><i class="fas fa-align-justify "></i>&nbsp;</a>
                        <a href="#"><i class="fas fa-pen-alt text-orange-peel"></i>&nbsp;</a> 
                        <a href="#"><i class="fas fa-times text-orange-red"></i>&nbsp;</a></td>
                  </tr>
                 
              </tbody>
          </table>
      </div>
    </div>
  
    <!-- Admission Enquiry Area Start Here -->
   
  