<div class="breadcrumbs-area">
  <h3>Search Fees Payment</h3>
  <ul>
      <li>
          <a href="index.html">Home</a>
      </li>
      <li>Search Fees Payment</li>
  </ul>
 </div>
 <div class="card height-auto">
  <div class="card-body">
      <div class="heading-layout1">
          <div class="item-title">
              <h3>Select Criteria</h3>
          </div>
      </div>
      <form class="mg-b-20">
        <div class="row gutters-8">
            <div class="col-3-xxxl col-xl-6 col-lg-6 col-12 form-group">
                <input type="text" placeholder="Search by payment ID" class="form-control">
            </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            
            <div class="col-1-xl col-xl-2 col-lg-3 col-12 form-group">
                <button type="submit" class="fw-btn-fill btn-gradient-yellow">SEARCH</button>
            </div>
        </div>
    </form>
  
    <br>

  
      <div class="table-responsive">
        <div class="col-1-xxxl col-xl-2 col-lg-3 col-12">
            <a href="#"><i class="fas fa-copy"></i>&nbsp;</a>
            <a href="#"><i class="fas fa-file-excel"></i>&nbsp;</a>
            <a href="#"><i class="fas fa-file-csv"></i>&nbsp;</a>
            <a href="#"><i class="fas fa-file-pdf"></i>&nbsp;</a>
            <a href="#"><i class="fas fa-print"></i>&nbsp;</a>
            <a href="#"><i class="fas fa-columns"></i>&nbsp;</a>
          </div>
        <table class="table display data-table text-nowrap">
            <thead>
                
                <tr>
                    <th>Roll</th>
                    <th>Name</th>
                    <th>Class</th>
                    <th>Father Name</th>  
                    <th>Date Of Birth</th>
                    <th>Gender</th>
                    <th>Category</th>
                    <th>Mobile No.</th>
                    <th>Enrolled</th>
                    <th>Action</th>
                    
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                   
                    <td> <a href="#"><i class="fas fa-align-justify "></i>&nbsp;</a>
                        <a href="#"><i class="fas fa-pen-alt text-orange-peel"></i>&nbsp;</a> 
                        <a href="#"><i class="fas fa-times text-orange-red"></i>&nbsp;</a></td>
                </tr>
               
            </tbody>
        </table>
    </div>
  </div>
 </div>

  

  