
<div class="breadcrumbs-area">
    <h3>Academics</h3>
    <ul>
        <li>
            <a href="index.html">Home</a>
        </li>
        <li>Class</li>
    </ul>
  </div>
  <div class="card height-auto">
    <div class="card-body">
                <form class="new-added-form">
                    <div class="heading-layout1">
                        <div class="item-title">
                            <h3>Add Class</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-12 form-group">
                            <label>Class<span style="color: red;">*</span> </label>
                            <input type="text" class="select2 form-control">
                            <br>
                        </div>
                        
                        <div class="col-xl-6 col-lg-6 col-12 form-group">  
                            <div class="col-xl-6 col-lg-6 col-12 form-group">
                                <label>Sections<span style="color: red;">*</span> </label>
                            </div>        
                            <div class="container">
                                <form>
                                    <label class="checkbox-inline" style="float: left;margin-right: 55px;">
                                      <input type="checkbox" value=""> <span style="font-size: 1.5em;">A</span> &nbsp;&nbsp;
                                    </label>
                                    <label class="checkbox-inline" style="float: left;margin-right: 55px;">
                                      <input type="checkbox" value=""><span style="font-size: 1.5em;">B</span> &nbsp;&nbsp;
                                    </label>
                                    <label class="checkbox-inline" style="float: left;margin-right: 55px;">
                                      <input type="checkbox" value=""><span style="font-size: 1.5em;">C</span> &nbsp;&nbsp;
                                    </label>
                                    <label class="checkbox-inline" style="float: left;margin-right: 55px;">
                                        <input type="checkbox" value=""><span style="font-size: 1.5em;">D</span> &nbsp;&nbsp;
                                      </label>
                                      <label class="checkbox-inline" style="float: left;">
                                        <input type="checkbox" value=""><span style="font-size: 1.5em;">E</span> 
                                      </label>
                                  </form>
                                </div><br>
                            <div class="col-12 form-group mg-t-8" style="padding: 0;">
                                <div class="form-group" style="float: right;">
                                    <button type="submit" class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark">Save</button>
                                </div>
                            </div>
            
                        </div>
                      
                        
                    </div>
                </form>
                <span style="float:left;margin: 0;"><h3>&nbsp;&nbsp;&nbsp; Class List</h3></span>
    
        <div class="table-responsive">
            <div class="col-12 form-group mg-t-8" style="padding: 0;margin: 0;">
                <div class="col-3-xxxl col-xl-3 col-lg-3 col-12 form-group" style="float:left;">
                    <input type="text" placeholder="Search..." class="form-control">
                </div>
                <div class="form-group" style="float: left;">
                    <button type="submit" class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark">Search</button>
                </div>
            </div>
            <div class="col-1-xxxl col-xl-2 col-lg-3 col-12" style="margin-left:auto; padding: 0;">
              <a href="#"><i class="fas fa-copy"></i>&nbsp;</a>
              <a href="#"><i class="fas fa-file-excel"></i>&nbsp;</a>
              <a href="#"><i class="fas fa-file-csv"></i>&nbsp;</a>
              <a href="#"><i class="fas fa-file-pdf"></i>&nbsp;</a>
              <a href="#"><i class="fas fa-print"></i>&nbsp;</a>
              <a href="#"><i class="fas fa-columns"></i>&nbsp;</a>
            </div>
           </div> 
          <table class="table display data-table text-nowrap">
              <thead>
                  
                  <tr>
                      <th>Class</th>
                      <th>Sections</th>
                      <th>Action</th>  
                      
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td></td>
                      <td></td>
                      <td><a href="#"><i class="fas fa-align-justify "></i>&nbsp;</a>
                        <a href="#"><i class="fas fa-pen-alt text-orange-peel"></i>&nbsp;</a> 
                        <a href="#"><i class="fas fa-times text-orange-red"></i>&nbsp;</a></td>
                  </tr>
                 
              </tbody>
          </table>
      </div>
    </div>
  
    <!-- Admission Enquiry Area Start Here -->
   
  