<!-- Breadcubs Area End Here -->
<div class="breadcrumbs-area">
    
    <ul>
        <li>
            <a href="index.html">Home</a>
        </li>
        <li>Add Exam Group</li>
    </ul>
</div>
<!-- upload Area Start Here -->

    <div class="card height-auto">
        <div class="card-body">
            <div class="heading-layout1">
                <div class="item-title">
                    <h3>Exam Group List</h3>
                </div>
                <div class="dropdown">
                    <button style="  background-color: #000066; position: relative; top:0; right: 10; float: right;" type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">+ Add</button>
                </div>
            </div>
            <div class="table-responsive">
                <table id="example" class="table display data-table text-nowrap cell-border">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>No.of Exam </th>
                            <th>Exam Type</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Marathi</td>  
                                    <td>10</td>                           
                                    <td>Grade exam</td>
                            <td>
                                <a href="#"><i class="fas fa-eye"></i>&nbsp;</a>
                                <a href="#"><i class="fas fa-plus"></i>&nbsp;</a>
                                <a href="#"><i class="fas fa-pen-alt text-orange-peel"></i>&nbsp;</a>
                                <a href="#"><i class="fas fa-times text-orange-red"></i>&nbsp;</a>
                            </td>
                        </tr>
                        <tr>
                            <td>Marathi</td>  
                                    <td>10</td>                           
                                    <td>Grade exam</td>
                            <td>
                                <a href="#"><i class="fas fa-eye"></i>&nbsp;</a>
                                <a href="#"><i class="fas fa-plus"></i>&nbsp;</a>
                                <a href="#"><i class="fas fa-pen-alt text-orange-peel"></i>&nbsp;</a>
                                <a href="#"><i class="fas fa-times text-orange-red"></i>&nbsp;</a>
                            </td>
                        </tr>
                        <tr>
                            <td>Marathi</td>  
                                    <td>10</td>                           
                                    <td>Grade exam</td>
                            <td>
                                <a href="#"><i class="fas fa-eye"></i>&nbsp;</a>
                                <a href="#"><i class="fas fa-plus"></i>&nbsp;</a>
                                <a href="#"><i class="fas fa-pen-alt text-orange-peel"></i>&nbsp;</a>
                                <a href="#"><i class="fas fa-times text-orange-red"></i>&nbsp;</a>
                            </td>
                        </tr><tr>
                            <td>Marathi</td>  
                                    <td>10</td>                           
                                    <td>Grade exam</td>
                            <td>
                                <a href="#"><i class="fas fa-eye"></i>&nbsp;</a>
                                <a href="#"><i class="fas fa-plus"></i>&nbsp;</a>
                                <a href="#"><i class="fas fa-pen-alt text-orange-peel"></i>&nbsp;</a>
                                <a href="#"><i class="fas fa-times text-orange-red"></i>&nbsp;</a>
                            </td>
                        </tr>
                        <tr>
                            <td>Marathi</td>  
                                    <td>10</td>                           
                                    <td>Grade exam</td>
                            <td>
                                <a href="#"><i class="fas fa-eye"></i>&nbsp;</a>
                                <a href="#"><i class="fas fa-plus"></i>&nbsp;</a>
                                <a href="#"><i class="fas fa-pen-alt text-orange-peel"></i>&nbsp;</a>
                                <a href="#"><i class="fas fa-times text-orange-red"></i>&nbsp;</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
               
        </div>
    </div>


<!-- upload Area End Here -->
<div class="container">
   
    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                   
                </div>
                <div class="modal-body">
                    <form role="form" method="post" id="reused_form" >  
                        <div class="row">
                            <div class="col-xl-4 col-lg-6 col-12 form-group">
                                <label for="inp" class="inp">
                                    <input type="text" name="chapter" class="form-control" id="inp" placeholder="&nbsp;">
                                    <span class="label">Name *</span>
                                    <span class="focus-bg"></span>
                                </label>
                            </div>
                            <div class="col-xl-4 col-lg-6 col-12 form-group">
                                <label for="slt" class="slt">
                                    <select  name="content" class="form-control" id="slt" placeholder="&nbsp;">
                                    <option selected >Please Select Content *</option>
                                    <option value="1">General Purpose(Pass/Fail)</option>
                                    <option value="2">School Based Grading System</option>
                                    <option value="3">Collage Based Grading System</option>
                                    <option value="3">GPA Grading System</option>
                                    
                                    </select>
                                    <span class="label">Exam Type  *</span>
                                    <span class="focus-bg"></span>
                                </label>
                            </div>
                            <div class="col-xl-4 col-lg-6 col-12 form-group" rows="3" >
                                <label for="inp" class="inp">
                                    <input type="text" name="Description " class="form-control" id="inp" placeholder="&nbsp;">
                                    <span class="label">Description *</span>
                                    <span class="focus-bg"></span>
                                </label>
                            </div>
                            <div class="col-12 form-group mg-t-8">
                                <button type="submit" class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark">Save</button>&nbsp;
                                <button type="reset" class="btn-fill-lg bg-blue-dark btn-hover-yellow">Reset</button>
                            </div>
                                           
                        </div>
        </form>
    </div>
</div>
</div>
</div>
</div>