<div class="breadcrumbs-area">
    <ul>
      <li>
        <a href="index.html">Home</a>
      </li>
      <li>Front CMS Setting</li>
    </ul>
  </div>










<div class="col-xl-12 col-12">
    <div class="card height-auto">
      <div class="card-body">
        <div class="heading-layout1">
          <h5>Front CMS Setting</h5>

        </div>
        <form class="new-added-form">
            <div class="row">
              <div class="col-xl-2 col-lg-2 col-12 form-group">
                <label for="inp" class="inp">Front CMS</label>
              </div>
              <div><input type="checkbox"></div>
            
              <div class="col-xl-2 col-lg-2 col-12 form-group">
              </div>

                <div class="col-xl-4 col-lg-4 col-12 form-group">
                  <label for="inp" class="inp">Facebook URL</label>
                </div>
                 <div><textarea name="" id="" cols="25" rows="1"></textarea></div>
                
            </div>  

            <div class="row">
                <div class="col-xl-2 col-lg-2 col-12 form-group">
                    <label for="inp" class="inp">Sidebar</label>
                </div>
                <div><input type="checkbox"></div>

                <div class="col-xl-2 col-lg-2 col-12 form-group">
                </div>
  
                  <div class="col-xl-4 col-lg-4 col-12 form-group">
                    <label for="inp" class="inp">Twitter URL</label>
                  </div>
                   <div><textarea name="" id="" cols="25" rows="1"></textarea></div>
            </div>

            <div class="row">
                <div class="col-xl-2 col-lg-2 col-12 form-group">
                    <label for="inp" class="inp">Language RTL Text Mode</label>
                </div>
                <div><input type="checkbox"></div>

                <div class="col-xl-2 col-lg-2 col-12 form-group">
                </div>
  
                  <div class="col-xl-4 col-lg-4 col-12 form-group">
                    <label for="inp" class="inp">Youtube URL</label>
                  </div>
                   <div><textarea name="" id="" cols="25" rows="1"></textarea></div>
            </div>

            <div class="row">
                <div class="col-xl-2 col-lg-2 col-12 form-group">
                    <label for="inp" class="inp">Sidebar Option</label>
                </div>
                <div><label>News</label></div>
                <div><input type="checkbox"></div>
                &nbsp;
                &nbsp;
                <div><label>Complain</label></div>
                <div><input type="checkbox"></div>

                <div class="col-xl-2 col-lg-2 col-12 form-group">
                </div>
  
                 <!---- <div class="col-xl-8 col-lg-8 col-12 form-group">
                    <label for="inp" class="inp">Google Plus</label>
                  </div>
                   <div><textarea name="" id="" cols="25" rows="1"></textarea></div>-->
            </div>

            <div class="row">
            <div class="col-xl-2 col-lg-2 col-12 form-group">
                <label for="inp" class="inp">Logo(369px X 76px)</label>
            </div>
            <div><input type="file" class="form-control-file"></div>
           </div>

           <div class="row">
            <div class="col-xl-2 col-lg-2 col-12 form-group">
                <label for="inp" class="inp">Favicon(32px X 32px)</label>
            </div>
            <div><input type="file" class="form-control-file"></div>
           </div>

           <div class="row">
            <div class="col-xl-2 col-lg-2 col-12 form-group">
                <label for="inp" class="inp">Footer Text</label>
            </div>
            <div><textarea name="" id="" cols="28" rows="1"></textarea></div>
            </div>
         
            <div class="row">
                <div class="col-xl-2 col-lg-2 col-12 form-group">
                    <label for="inp" class="inp">Google Analytics</label>
                </div>
                <div><textarea name="" id="" cols="28" rows="3"></textarea></div>
            </div>
          
            
            
         

               
             


          <div class="col-12 form-group mg-t-8">
            <button type="submit" class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark">Save</button>
            <!--<button type="reset" class="btn-fill-lg bg-blue-dark btn-hover-yellow">Reset</button>-->
          </div>

        </form>
        
                
        
      </div>
    </div>
  </div>
