<div class="breadcrumbs-area">
  
    <ul>
        <li>
            <a href="index.html">Home</a>
        </li>
        <li>Add Parents Form</li>
    </ul>
</div>
<!-- Breadcubs Area End Here -->
<!-- Admit Form Area Start Here -->
<div class="card height-auto">
    <div class="card-body">
        <div class="heading-layout1">
            <div class="item-title">
                <h3>Add New Parents</h3>
            </div>
        </div>
        <form class="new-added-form" >
            <div class="row">
                <div class="col-xl-3 col-lg-6 col-12 form-group">
                    <label for="inp" class="inp">
                        <input type="text" name="rollno" class="form-control" id="inp" placeholder="&nbsp;">
                        <span class="label">Student Roll No *</span>
                        <span class="focus-bg"></span>
                    </label>
                </div>                
           
                <div class="col-xl-3 col-lg-6 col-12 form-group">
                    <label for="inp" class="inp">
                        <input type="text" name="firstname" class="form-control" id="inp" placeholder="&nbsp;">
                        <span class="label">firstname *</span>
                        <span class="focus-bg"></span>
                    </label>
                </div>

                <div class="col-xl-3 col-lg-6 col-12 form-group">
                    <label for="inp" class="inp">
                        <input type="text" name="lastname" class="form-control" id="inp" placeholder="&nbsp;">
                        <span class="label">Last Name *</span>
                        <span class="focus-bg"></span>
                    </label>
                </div>

                <div class="col-xl-3 col-lg-6 col-12 form-group">
                    <label for="slt" class="slt">
                    <select  name="class" class="form-control" id="slt" placeholder="&nbsp;">
                    <option selected >Please Select Class *</option>
         
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="3">4</option>
                    <option value="3">5</option>
                    <option value="3">6</option>
                    </select>
                    <span class="label">Class *</span>
                    <span class="focus-bg"></span>
                </label>
                </div>

                <div class="col-xl-3 col-lg-6 col-12 form-group">
                    <label for="inp" class="inp">
                        <input type="text" name="fathername" class="form-control" id="inp" placeholder="&nbsp;">
                        <span class="label">Father Name*</span>
                        <span class="focus-bg"></span>
                    </label>
                </div>

                <div class="col-xl-3 col-lg-6 col-12 form-group">
                    <label for="inp" class="inp">
                        <input type="text" name="fathernumber" class="form-control" id="inp" placeholder="&nbsp;">
                        <span class="label">Father Phone No. *</span>
                        <span class="focus-bg"></span>
                    </label>
                </div>

                <div class="col-xl-3 col-lg-6 col-12 form-group">
                    <label for="inp" class="inp">
                        <input type="text" name="occupation" class="form-control" id="inp" placeholder="&nbsp;">
                        <span class="label">Father Occupation:*</span>
                        <span class="focus-bg"></span>
                    </label>
                </div>
                
                <div class="col-xl-3 col-lg-6 col-12 form-group">
                    <label class="text-dark-medium" style="font-size: small;">Upload Photo (150px X 150px)</label>
                    <input type="file" class="form-control-file" name="photo" placeholder="Upload Student Photo (150px X 150px)">
                </div>
                
                <div class="col-xl-3 col-lg-6 col-12 form-group">
                    <label for="inp" class="inp">
                        <input type="text" name="mothername" class="form-control" id="inp" placeholder="&nbsp;">
                        <span class="label">Mother Name *</span>
                        <span class="focus-bg"></span>
                    </label>
                </div>

                <div class="col-xl-3 col-lg-6 col-12 form-group">
                    <label for="inp" class="inp">
                        <input type="text" name="mothernumber" class="form-control" id="inp" placeholder="&nbsp;">
                        <span class="label">Mother Phone No. *</span>
                        <span class="focus-bg"></span>
                    </label>
                </div>

                <div class="col-xl-3 col-lg-6 col-12 form-group">
                    <label for="inp" class="inp">
                        <input type="text" name="m-occupation" class="form-control" id="inp" placeholder="&nbsp;">
                        <span class="label">Mother Occupation*</span>
                        <span class="focus-bg"></span>
                    </label>
                </div>
                
                <div class="col-xl-3 col-lg-6 col-12 form-group">
                    <label class="text-dark-medium" style="font-size: small;">Upload Photo (150px X 150px)</label>
                    <input type="file" class="form-control-file" name="photo" placeholder="Upload Student Photo (150px X 150px)">
                </div>
                

                <div class="col-xl-3 col-lg-6 col-12 form-group">
                    <label for="slt" class="slt">
                        <select  name="category" class="form-control" id="slt" placeholder="&nbsp;">
                        <option selected >Please Select Category *</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        </select>
                        <span class="label">Category *</span>
                        <span class="focus-bg"></span>
                    </label>
                </div>

                <div class="col-xl-3 col-lg-6 col-12 form-group">
                    <label for="slt" class="slt">
                        <select  name="religion" class="form-control" id="slt" placeholder="&nbsp;">
                        <option selected >Please Select Religion *</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        </select>
                        <span class="label">Religion *</span>
                        <span class="focus-bg"></span>
                    </label>
                </div>

                <div class="col-xl-3 col-lg-6 col-12 form-group">
                    <label for="inp" class="inp">
                        <input type="text" name="cast" class="form-control" id="inp" placeholder="&nbsp;">
                        <span class="label">Cast *</span>
                        <span class="focus-bg"></span>
                    </label>
                </div>
                
                <div class="col-xl-3 col-lg-6 col-12 form-group">
                    <label for="inp" class="inp">
                        <input type="email" name="email" class="form-control" id="inp" placeholder="&nbsp;">
                        <span class="label">E-Mail *</span>
                        <span class="focus-bg"></span>
                    </label>
                </div>

                
                <div class="col-xl-3 col-lg-6 col-12 form-group">
                    <label for="slt" class="slt">
                        <select  name="House" class="form-control" id="slt" placeholder="&nbsp;">
                        <option selected >Please Select House*</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        </select>
                        <span class="label">Houses *</span>
                        <span class="focus-bg"></span>
                    </label>
                </div>

                
                <div class="col-xl-3 col-lg-6 col-12 form-group">
                    <label for="dtp" class="dtp">
                        <input type="text" id="dtp" placeholder="&nbsp;" class="form-control air-datepicker"
                            data-position='bottom right' name="asdate" >
                        <span class="label">As on Date *</span>
                        <span class="focus-bg"></span>
                      </label>
                      <i class="far fa-calendar-alt"></i>
                </div>
                
                
                <div class="col-xl-3 col-lg-6 col-12 form-group">
                 
                    <button type="submit" class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark">+ Add Sibling</button>
                </div>
                
                
                <div class="col-12 form-group mg-t-8">
                    <button type="submit" class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark">Save</button>
                    <button type="reset" class="btn-fill-lg bg-blue-dark btn-hover-yellow"  >Reset</button>
                </div>
            </div>
        </form>
    </div>
