<div class="breadcrumbs-area">

  <ul>
    <li>
      <a href="index.html">Home</a>
    </li>
    <li>Add Parents Form</li>
  </ul>
</div>
<!-- Breadcubs Area End Here -->
<!-- Admit Form Area Start Here -->
<div class="card height-auto">
  <div class="card-body">
    <div class="heading-layout1">
      <div class="item-title">
        <h3>Add New Parents</h3>
      </div>
    </div>
    <form class="new-added-form">
      <div class="row">

        <div class="col-xl-3 col-lg-6 col-12 form-group">
          <label for="inp" class="inp">
            <input type="text" name="fatherName" class="form-control" id="inp" placeholder="&nbsp;"
              [(ngModel)]="studentDto.fatherName">
            <span class="label">Father Name*</span>
            <span class="focus-bg"></span>
          </label>
        </div>

        <div class="col-xl-3 col-lg-6 col-12 form-group">
          <label for="inp" class="inp">
            <input type="text" name="fatherPhone" class="form-control" id="inp" placeholder="&nbsp;"
              [(ngModel)]="studentDto.fatherPhone">
            <span class="label">Father Phone No. *</span>
            <span class="focus-bg"></span>
          </label>
        </div>

        <div class="col-xl-3 col-lg-6 col-12 form-group">
          <label for="inp" class="inp">
            <input type="text" name="fatherOccupation" class="form-control" id="inp" placeholder="&nbsp;"
              [(ngModel)]="studentDto.fatherOccupation">
            <span class="label">Father Occupation:*</span>
            <span class="focus-bg"></span>
          </label>
        </div>

        <div class="col-xl-3 col-lg-6 col-12 form-group">
          <label class="text-dark-medium" style="font-size: small;">Upload Photo (150px X 150px)</label>
          <input type="file" class="form-control-file" name="fatherPic"
            placeholder="Upload Student Photo (150px X 150px)" [(ngModel)]="studentDto.fatherPic">
        </div>

        <div class="col-xl-3 col-lg-6 col-12 form-group">
          <label for="inp" class="inp">
            <input type="text" name="motherName" class="form-control" id="inp" placeholder="&nbsp;"
              [(ngModel)]="studentDto.motherName">
            <span class="label">Mother Name *</span>
            <span class="focus-bg"></span>
          </label>
        </div>

        <div class="col-xl-3 col-lg-6 col-12 form-group">
          <label for="inp" class="inp">
            <input type="text" name="motherPhone" class="form-control" id="inp" placeholder="&nbsp;"
              [(ngModel)]="studentDto.motherPhone">
            <span class="label">Mother Phone No. *</span>
            <span class="focus-bg"></span>
          </label>
        </div>

        <div class="col-xl-3 col-lg-6 col-12 form-group">
          <label for="inp" class="inp">
            <input type="text" name="motherOccupation" class="form-control" id="inp" placeholder="&nbsp;"
              [(ngModel)]="studentDto.motherOccupation">
            <span class="label">Mother Occupation*</span>
            <span class="focus-bg"></span>
          </label>
        </div>

        <div class="col-xl-3 col-lg-6 col-12 form-group">
          <label class="text-dark-medium" style="font-size: small;">Upload Photo (150px X 150px)</label>
          <input type="file" class="form-control-file" name="motherPic"
            placeholder="Upload Student Photo (150px X 150px)" [(ngModel)]="studentDto.motherPic">
        </div>
      </div>
      <div class="row">

        <div class="col-xl-12 col-lg-6 col-12 form-group">
          &nbsp;&nbsp;<label class="form-check-label">If Guardian Is </label>
          <div class="col-xl-3 col-lg-6 col-12 form-group">
            <input type="radio" class="form-check-input" id="customRadio" name="guardianIs"
              [(ngModel)]="studentDto.guardianIs" value="Father">&nbsp;&nbsp;
            <label class="form-check-label" for="Theory">Father</label>&nbsp;&nbsp;&nbsp;</div>
          <div class="col-xl-3 col-lg-6 col-12 form-group">
            <input type="radio" class="form-check-input" id="customRadio" name="guardianIs"
              [(ngModel)]="studentDto.guardianIs" value="Mother">&nbsp;&nbsp;
            <label class="form-check-label" for="Practicle">Mother</label></div>
          <div class="col-xl-3 col-lg-6 col-12 form-group">
            <input type="radio" class="form-check-input" id="customRadio" name="guardianIs"
              [(ngModel)]="studentDto.guardianIs" value="Other">&nbsp;&nbsp;
            <label class="form-check-label" for="Practicle">Other</label></div>
        </div>
      </div>
      <div class="row">

        <div class="col-xl-3 col-lg-6 col-12 form-group">
          <label for="inp" class="inp">
            <input type="text" name="guardianName" class="form-control" id="inp" placeholder="&nbsp;"
              [(ngModel)]="studentDto.guardianName">
            <span class="label">Guardian Name*</span>
            <span class="focus-bg"></span>
          </label>
        </div>
        <div class="col-xl-3 col-lg-6 col-12 form-group">
          <label for="inp" class="inp">
            <input type="text" name="guardianOccupation" class="form-control" id="inp" placeholder="&nbsp;"
              [(ngModel)]="studentDto.guardianOccupation">
            <span class="label">Guardian Occupation*</span>
            <span class="focus-bg"></span>
          </label>
        </div>
        <div class="col-xl-3 col-lg-6 col-12 form-group">
          <label for="inp" class="inp">
            <input type="text" name="guardianPhone" class="form-control" id="inp" placeholder="&nbsp;"
              [(ngModel)]="studentDto.guardianPhone">
            <span class="label">Guardian Phone*</span>
            <span class="focus-bg"></span>
          </label>
        </div>
        <div class="col-xl-3 col-lg-6 col-12 form-group">
          <label for="inp" class="inp">
            <input type="text" name="guardianEmail" class="form-control" id="inp" placeholder="&nbsp;"
              [(ngModel)]="studentDto.guardianEmail">
            <span class="label">Guardian Email *</span>
            <span class="focus-bg"></span>
          </label>
        </div>
        <div class="col-xl-3 col-lg-6 col-12 form-group">
          <label class="text-dark-medium" style="font-size: small;">Upload Photo (150px X 150px)</label>
          <input type="file" class="form-control-file" name="guardianPic"
            placeholder="Upload Guardian Photo (150px X 150px)" [(ngModel)]="studentDto.guardianPic">
        </div>
        <div class="col-xl-3 col-lg-6 col-12 form-group">

          <div class="dropdown">

            <button style="  background-color: transparent;color: skyblue;
                        " type="button" class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark"
              onclick="location.href='/#/add-more-stud'">+ Add More</button>
          </div>
        </div>


        <div class="col-12 form-group mg-t-8">
          <button type="button" class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark"
            onClick="location.href='/#/admissionform'">+ Prev</button>
          <!--  <button *ngIf="!this.isUpdate" (click)="addadmisssionform()" type="button"
            class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark" data-toggle="modal" data-target="#myModal">
            Save
          </button>
          <button *ngIf="this.isUpdate" (click)="updateadmissionform(studentDto.id)" type="button"
            class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark" data-toggle="modal" data-target="#myModal">
            Update
          </button> -->
        </div>
      </div>
    </form>
  </div>
</div>
