<div class="breadcrumbs-area">
  <ul>
    <li>
      <a href="index.html">Home</a>
    </li>
    <li>Add Staff</li>
  </ul>
</div>
<!-- Breadcubs Area End Here -->
<!-- Admit Form Area Start Here -->
<div class="card height-auto">
  <div class="card-body">

    <form class="new-added-form">
      <div class="row">
        <div class="col-xl-3 col-lg-6 col-12 form-group">
          <label for="inp" class="inp">
            <input type="text" class="form-control" id="inp" placeholder="&nbsp;" name="id" [(ngModel)]="staffDto.id" [value]="staffDto.id">
            <span class="label">Staff ID *</span>
            <span class="focus-bg"></span>
          </label>


        </div>
        <div class="col-xl-3 col-lg-6 col-12 form-group">
          <label for="slt" class="slt">
            <select class="form-control" id="slt" placeholder="&nbsp;"[(ngModel)]="staffDto.roleName" name="roleName">
              <option value="">select</option>
              <option value="1">Admin</option>
              <option value="2">Teacher</option>
              <option value="3">Accountant</option>
              <option value="4">Librarian</option>
              <option value="5">Receptionist</option>
              <option value="5">Super Admin</option>
            </select>
            <span class="label">Role *</span>
            <span class="focus-bg"></span>
          </label>
        </div>
        <div class="col-xl-3 col-lg-6 col-12 form-group">
          <label for="slt" class="slt">
            <select class="form-control" id="slt" placeholder="&nbsp;" [(ngModel)]="staffDto.staffDesignation" name="staffDesignation">
              <option selected>Please Select Class *</option>

            </select>
            <span class="label">Designation *</span>
            <span class="focus-bg"></span>
          </label>


        </div>
        <div class="col-xl-3 col-lg-6 col-12 form-group">
          <label for="slt" class="slt">
            <select class="form-control" id="slt" placeholder="&nbsp;"[(ngModel)]="staffDto.departmentName" name="departmentName">
              <option selected>Please Select *</option>
              <option value="">select</option>
              <option value="1">Maths</option>
              <option value="2">Chemistry</option>
            </select>
            <span class="label">Deaprtment *</span>
            <span class="focus-bg"></span>
          </label>
        </div>

        <div class="col-xl-3 col-lg-6 col-12 form-group">
          <label for="inp" class="inp">
            <input type="text" class="form-control" id="inp" placeholder="&nbsp;" name="name" [(ngModel)]="staffDto.name" [value]="staffDto.name">
            <span class="label">First Name *</span>
            <span class="focus-bg"></span>
          </label>

        </div>
        <div class="col-xl-3 col-lg-6 col-12 form-group">
          <label for="inp" class="inp">
            <input type="text" class="form-control" id="inp" placeholder="&nbsp;" name="surname" [(ngModel)]="staffDto.surname" [value]="staffDto.surname">
            <span class="label">Last Name *</span>
            <span class="focus-bg"></span>
          </label>

        </div>
        <div class="col-xl-3 col-lg-6 col-12 form-group">
          <label for="inp" class="inp">
            <input type="text" class="form-control" id="inp" placeholder="&nbsp;" name="fatherName" [(ngModel)]="staffDto.fatherName" [value]="staffDto.fatherName">
            <span class="label">Father Name*</span>
            <span class="focus-bg"></span>
          </label>

        </div>
        <div class="col-xl-3 col-lg-6 col-12 form-group">
          <label for="inp" class="inp">
            <input type="text" class="form-control" id="inp" placeholder="&nbsp;" name="motherName" [(ngModel)]="staffDto.motherName" [value]="staffDto.motherName">
            <span class="label">Mother Name*</span>
            <span class="focus-bg"></span>
          </label>

        </div>
        <div class="col-xl-3 col-lg-6 col-12 form-group">
          <label for="inp" class="inp">
            <input type="email" class="form-control" id="inp" placeholder="&nbsp;" name="email" [(ngModel)]="staffDto.email" [value]="staffDto.email">
            <span class="label">E-Mail*</span>
            <span class="focus-bg"></span>
          </label>

        </div>
        <div class="col-xl-3 col-lg-6 col-12 form-group">
          <label for="slt" class="slt">
            <select class="form-control" id="slt" placeholder="&nbsp;"[(ngModel)]="staffDto.gender" name="gender">
              <option selected>Please Select Gender *</option>
              <option value="1">Male</option>
              <option value="2">Female</option>
            </select>
            <span class="label">Gender *</span>
            <span class="focus-bg"></span>
          </label>
        </div>
        <div class="col-xl-3 col-lg-6 col-12 form-group">
          <label for="dtp" class="dtp">
            <input type="date" id="dtp" placeholder="&nbsp;" name="dob" [(ngModel)]="staffDto.dob" [value]="staffDto.dob">
            <span class="label">Birthdate *</span>
            <span class="focus-bg"></span>
          </label>
        </div>

        <div class="col-xl-3 col-lg-6 col-12 form-group">
          <label for="dtp" class="dtp">
            <input type="date" id="dtp" placeholder="&nbsp;" name="dateOfJoining" [(ngModel)]="staffDto.dateOfJoining" [value]="staffDto.dateOfJoining">
            <span class="label">Date Of Joining *</span>
            <span class="focus-bg"></span>
          </label>
        </div>
        <div class="col-xl-3 col-lg-6 col-12 form-group">
          <label for="inp" class="inp">
            <input type="text" class="form-control" id="inp" placeholder="&nbsp;" name="contactNo" [(ngModel)]="staffDto.contactNo" [value]="staffDto.contactNo">
            <span class="label">Mobile No *</span>
            <span class="focus-bg"></span>
          </label>

        </div>
        <div class="col-xl-3 col-lg-6 col-12 form-group">
          <label for="inp" class="inp">
            <input type="text" class="form-control" id="inp" placeholder="&nbsp;" name="emergencyContactNo" [(ngModel)]="staffDto.emergencyContactNo" [value]="staffDto.emergencyContactNo">
            <span class="label">Emergency Contact No </span>
            <span class="focus-bg"></span>
          </label>

        </div>
        <div class="col-xl-3 col-lg-6 col-12 form-group">
          <label for="slt" class="slt">
            <select class="form-control" id="slt" placeholder="&nbsp;"[(ngModel)]="staffDto.maritalStatus" name="maritalStatus">
              <option selected>Please Select *</option>
              <option value="1">Married</option>
              <option value="2">Unmarried</option>
            </select>
            <span class="label">Married Status*</span>
            <span class="focus-bg"></span>
          </label>
        </div>

        <div class="col-xl-3 col-lg-6 col-12 form-group">
          <label class="text-dark-medium" style="font-size: smaller;">Upload Staff Photo (150px X 150px)</label>
          <input type="file" class="form-control-file" name="image" [(ngModel)]="staffDto.image"[value]="staffDto.image">
        </div>

        <div class="col-xl-3 col-lg-6 col-12 form-group">
          <label for="inp" class="inp">
            <input type="text" class="form-control" id="inp" placeholder="&nbsp;" [(ngModel)]="staffDto.qualification" name="qualification" [value]="staffDto.qualification">
            <span class="label">Qualification</span>
            <span class="focus-bg"></span>
          </label>

        </div>
        <div class="col-xl-3 col-lg-6 col-12 form-group">
          <label for="inp" class="inp">
            <input type="text" class="form-control" id="inp" placeholder="&nbsp;" name="workExp" [(ngModel)]="staffDto.workExp" [value]="staffDto.workExp">
            <span class="label">Work Experiance</span>
            <span class="focus-bg"></span>
          </label>

        </div>
        <div class="col-xl-3 col-lg-6 col-12 form-group">
          <label for="inp" class="inp">
            <input type="text" class="form-control" id="inp" placeholder="&nbsp;" name="note" [(ngModel)]="staffDto.note" [value]="staffDto.note">
            <span class="label">Note </span>
            <span class="focus-bg"></span>
          </label>

        </div>
        <div class="col-xl-3 col-lg-3 col-12 form-group">
          <label for="inp" class="inp">
            <input type="text" class="form-control" id="inp" placeholder="&nbsp;" name="localAddress" [(ngModel)]="staffDto.localAddress" [value]="staffDto.localAddress">
            <span class="label">Current Address</span>
            <span class="focus-bg"></span>
          </label>

        </div>
        <div class="col-xl-3 col-lg-6 col-12 form-group">
          <label for="inp" class="inp">
            <input type="text" class="form-control" id="inp" placeholder="&nbsp;" name="permanentAddress" [(ngModel)]="staffDto.permanentAddress" [value]="staffDto.permanentAddress">
            <span class="label">Permanent Address *</span>
            <span class="focus-bg"></span>
          </label>
        </div>

      </div>
    </form>
    <br>

    <button (click)=toggleDisplay() type="button" class="block"><b>Add More Details</b></button>
  </div>

  <div class="card-body" [hidden]="isShow">
    <h4>Payroll</h4>
    <!-- <button type="button" class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark" style="float: right;"
      onClick="location.href='/#/add-s'">Back</button> -->
    <form class="new-added-form">
      <div class="row">
        <div class="col-xl-3 col-lg-6 col-12 form-group">
          <label for="inp" class="inp">
            <input type="text" class="form-control" id="inp" placeholder="&nbsp;" name="epfNo" [(ngModel)]="staffDto.epfNo" [value]="staffDto.epfNo">
            <span class="label">ERP No.</span>
            <span class="focus-bg"></span>
          </label>
        </div>

        <div class="col-xl-3 col-lg-6 col-12 form-group">
          <label for="inp" class="inp">
            <input type="text" class="form-control" id="inp" placeholder="&nbsp;" name="basicSalary" [(ngModel)]="staffDto.basicSalary" [value]="staffDto.basicSalary">
            <span class="label">Basic Salary</span>
            <span class="focus-bg"></span>
          </label>
        </div>
<!-- dropdown required -->
        <div class="col-xl-3 col-lg-6 col-12 form-group">
          <label for="inp" class="inp">
            <input type="text" class="form-control" id="inp" placeholder="&nbsp;" name="contractType" [(ngModel)]="staffDto.contractType" [value]="staffDto.contractType">
            <span class="label">Contract Type</span>
            <span class="focus-bg"></span>
          </label>
        </div>

        <div class="col-xl-3 col-lg-6 col-12 form-group">
          <label for="inp" class="inp">
            <input type="text" class="form-control" id="inp" placeholder="&nbsp;" name="location" [(ngModel)]="staffDto.location" [value]="staffDto.location">
            <span class="label">Location</span>
            <span class="focus-bg"></span>
          </label>
        </div>
        <hr>

      </div>
    </form>
    <hr><br>
    <h4>Leaves</h4>
    <form class="new-added-form">
      <div class="row">
        <div class="col-xl-3 col-lg-6 col-12 form-group">
          <label for="inp" class="inp">
            <input type="text" class="form-control" id="inp" placeholder="&nbsp;" name="leaveType">
            <span class="label">Leave Type</span>
            <span class="focus-bg"></span>
          </label>
        </div>



      </div>
    </form>
    <hr><br>

    <h4>Bank Account Details</h4>
    <form class="new-added-form">
      <div class="row">
        <div class="col-xl-3 col-lg-6 col-12 form-group">
          <label for="inp" class="inp">
            <input type="text" class="form-control" id="inp" placeholder="&nbsp;" name="accountTitle" [(ngModel)]="staffDto.accountTitle" [value]="staffDto.accountTitle">
            <span class="label">Account</span>
            <span class="focus-bg"></span>
          </label>
        </div>

        <div class="col-xl-3 col-lg-6 col-12 form-group">
          <label for="inp" class="inp">
            <input type="text" class="form-control" id="inp" placeholder="&nbsp;" name="bankAccountNo" [(ngModel)]="staffDto.bankAccountNo" [value]="staffDto.bankAccountNo">
            <span class="label">Bank Account No.</span>
            <span class="focus-bg"></span>
          </label>
        </div>
        <div class="col-xl-3 col-lg-6 col-12 form-group">
          <label for="inp" class="inp">
            <input type="text" class="form-control" id="inp" placeholder="&nbsp;" >
            <span class="label">Bank Name *</span>
            <span class="focus-bg"></span>
          </label>
        </div>
        <div class="col-xl-3 col-lg-6 col-12 form-group">
          <label for="inp" class="inp">
            <input type="text" class="form-control" id="inp" placeholder="&nbsp;">
            <span class="label">IFSC code *</span>
            <span class="focus-bg"></span>
          </label>
        </div>
        <div class="col-xl-3 col-lg-6 col-12 form-group">
          <label for="inp" class="inp">
            <input type="text" class="form-control" id="inp" placeholder="&nbsp;">
            <span class="label">Bank Branch Name</span>
            <span class="focus-bg"></span>
          </label>
        </div>



      </div>
    </form>
    <hr><br>

    <h4>Social Media Link</h4>
    <form class="new-added-form">
      <div class="row">
        <div class="col-xl-3 col-lg-6 col-12 form-group">
          <label for="inp" class="inp">
            <input type="text" class="form-control" id="inp" placeholder="&nbsp;">
            <span class="label">Account Title</span>
            <span class="focus-bg"></span>
          </label>
        </div>

        <div class="col-xl-3 col-lg-6 col-12 form-group">
          <label for="inp" class="inp">
            <input type="text" class="form-control" id="inp" placeholder="&nbsp;" name="bankAccountNo" [(ngModel)]="staffDto.bankAccountNo" [value]="staffDto.bankAccountNo">
            <span class="label">Bank Account No. *</span>
            <span class="focus-bg"></span>
          </label>
        </div>

        <div class="col-xl-4 col-lg-6 col-12 form-group">
          <label for="inp" class="inp">
            <input type="text" class="form-control" id="inp" placeholder="&nbsp;" name="bankName" [(ngModel)]="staffDto.bankName" [value]="staffDto.bankName">
            <span class="label">Bank Name</span>
            <span class="focus-bg"></span>
          </label>
        </div>

        <div class="col-xl-3 col-lg-6 col-12 form-group">
          <label for="inp" class="inp">
            <input type="text" class="form-control" id="inp" placeholder="&nbsp;" name="ifscCode" [(ngModel)]="staffDto.ifscCode" [value]="staffDto.ifscCode">
            <span class="label">IFSC Code *</span>
            <span class="focus-bg"></span>
          </label>
        </div>

        <div class="col-xl-3 col-lg-6 col-12 form-group">
          <label for="inp" class="inp">
            <input type="text" class="form-control" id="inp" placeholder="&nbsp;" name="bankBranch" [(ngModel)]="staffDto.bankBranch" [value]="staffDto.bankBranch">
            <span class="label">Bank Branch Name * </span>
            <span class="focus-bg"></span>
          </label>
        </div>

      </div>
    </form>
    <div class="col-xl-3 col-lg-6 col-12 form-group">
      <button type="submit" class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark">Save</button>&nbsp;
      <button type="reset" class="btn-fill-lg bg-blue-dark btn-hover-yellow">Reset</button>&nbsp;
      <button type="button" class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark" style="float: right;"
        onClick="location.href='/#/add-s'">Back</button>
    </div>
  </div>
