<div class="breadcrumbs-area">
  <ul>
    <li>
      <a href="index.html">Home</a>
    </li>
    <li>Add Staff</li>
  </ul>
</div>
<!-- Breadcubs Area End Here -->
<!-- Admit Form Area Start Here -->
<div class="card height-auto">
  <div class="card-body">
    <form class="new-added-form">
      <div class="row">
        <div class="col-xl-3 col-lg-6 col-12 form-group">
          <label for="slt" class="slt">
            <select class="form-control" id="slt" placeholder="&nbsp;" [(ngModel)]="staffDto.roleId" name="roleId">
              <option selected>Please Select *</option>
              <option *ngFor="let role of roles" [value]="role.id" [selected]="staffDto.roleId == role.name">
                {{role.name}}
              </option>
            </select>
            <span class="label">Roles *</span>
            <span class="focus-bg"></span>
          </label>
        </div>


        <div class="col-xl-3 col-lg-6 col-12 form-group">
          <label for="inp" class="inp">
            <input type="text" class="form-control" id="inp" placeholder="&nbsp;" name="id">
            <span class="label">Search By Keyword *</span>
            <span class="focus-bg"></span>
          </label>


        </div>
        <div class="col-xl-4 col-lg-6 col-12 form-group">
          <div class="form-group">

            <button (click)="search_staff()" type="button" style="float: right;"
              class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark">
              Search
            </button>
          </div>
        </div>
      </div>
    </form>
    <div class="table-responsive">
      <button style="  background-color: #000066; position: relative; top:0; right: 10; float: right;" type="button"
        class="btn btn-info btn-lg" (click)="clearData()" data-toggle="modal" data-target="#myModal"
        onclick="location.href='/#/add-s'">+
        Add</button>
      <table id="example" class="table display data-table text-nowrap cell-border">
        <thead>

          <tr>
            <th>Staff ID</th>
            <th>Name</th>
            <th>Role</th>
            <th>Department</th>
            <th>Designation</th>
            <th>Mobile No.</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let staff of staffs ">

            <td>{{ staff.employeeId }}</td>
            <td><a href="getById(staff.id)" data-toggle="modal" data-target="#show">{{ staff. name}}</a></td>
            <td>{{ staff. roleName}</td>
            <td>{{ staff. departmentName}}</td>
            <td>{{ staff. staffDesignation}}</td>
            <td>{{ staff. contactNo}}</td>

            <td>
              <a (click)="getById(staff.id)" data-toggle="modal" data-target="#show"><i
                  class="fas fa-align-justify text-blue"></i>&nbsp;</a>
              <a (click)="setUpdateFileds(staff.id)"><i class="fas fa-pen-alt text-orange-peel" data-toggle="modal"
                  data-target="#myModal"></i>&nbsp;</a>
              <a (click)="delete(staff.id)"><i class="fas fa-times text-orange-red"></i>&nbsp;</a>
            </td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>

<div class="container">
  <!-- Modal -->
  <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h5>Add Staff </h5>

          <button type="button" class="close" data-dismiss="modal">&times;</button>

        </div>
        <div class="modal-body">
          <form class="new-added-form">
            <div class="row">
              <div class="col-xl-3 col-lg-6 col-12 form-group">
                <label for="inp" class="inp">
                  <input type="text" class="form-control" id="inp" placeholder="&nbsp;" name="employeeId"
                    [(ngModel)]="staffDto.id" [value]="staffDto.employeeId">
                  <span class="label">Staff ID *</span>
                  <span class="focus-bg"></span>
                </label>


              </div>
              <div class="col-xl-3 col-lg-6 col-12 form-group">
                <label for="slt" class="slt">
                  <select class="form-control" id="slt" placeholder="&nbsp;" [(ngModel)]="staffDto.roleId"
                    name="roleId">
                    <option selected>Please Select *</option>
                    <option *ngFor="let role of roles" [value]="role.id" [selected]="staffDto.roleId == role.name">
                      {{role.name}}
                    </option>
                  </select>
                  <span class="label">Roles *</span>
                  <span class="focus-bg"></span>
                </label>
              </div>


              <div class="col-xl-3 col-lg-6 col-12 form-group">
                <label for="slt" class="slt">
                  <select class="form-control" id="slt" placeholder="&nbsp;" [(ngModel)]="staffDto.staffDesignationId"
                    name="staffDesignationId">
                    <option selected>Please Select *</option>
                    <option *ngFor="let desig of designations" [value]="desig.id"
                      [selected]="staffDto.staffDesignationId ==desig.designation">{{desig.designation}}
                    </option>
                  </select>
                  <span class="label">Designation *</span>
                  <span class="focus-bg"></span>
                </label>
              </div>

              <div class="col-xl-3 col-lg-6 col-12 form-group">
                <label for="slt" class="slt">
                  <select class="form-control" id="slt" placeholder="&nbsp;" [(ngModel)]="staffDto.departmentId"
                    name="departmentId" required>
                    <option selected>Please Select *</option>
                    <option *ngFor="let dept of depts" [value]="dept.id"
                      [selected]="staffDto.departmentId == dept.departmentName">{{dept.departmentName}}
                    </option>
                  </select>
                  <span class="label">Deaprtment *</span>
                  <span class="focus-bg"></span>
                </label>
              </div>

              <div class="col-xl-3 col-lg-6 col-12 form-group">
                <label for="inp" class="inp">
                  <input type="text" class="form-control" id="inp" placeholder="&nbsp;" name="name"
                    [(ngModel)]="staffDto.name" [value]="staffDto.name">
                  <span class="label">First Name *</span>
                  <span class="focus-bg"></span>
                </label>

              </div>
              <div class="col-xl-3 col-lg-6 col-12 form-group">
                <label for="inp" class="inp">
                  <input type="text" class="form-control" id="inp" placeholder="&nbsp;" name="surname"
                    [(ngModel)]="staffDto.surname" [value]="staffDto.surname">
                  <span class="label">Last Name *</span>
                  <span class="focus-bg"></span>
                </label>

              </div>
              <div class="col-xl-3 col-lg-6 col-12 form-group">
                <label for="inp" class="inp">
                  <input type="text" class="form-control" id="inp" placeholder="&nbsp;" name="fatherName"
                    [(ngModel)]="staffDto.fatherName" [value]="staffDto.fatherName">
                  <span class="label">Father Name*</span>
                  <span class="focus-bg"></span>
                </label>

              </div>
              <div class="col-xl-3 col-lg-6 col-12 form-group">
                <label for="inp" class="inp">
                  <input type="text" class="form-control" id="inp" placeholder="&nbsp;" name="motherName"
                    [(ngModel)]="staffDto.motherName" [value]="staffDto.motherName">
                  <span class="label">Mother Name*</span>
                  <span class="focus-bg"></span>
                </label>

              </div>
              <div class="col-xl-3 col-lg-6 col-12 form-group">
                <label for="inp" class="inp">
                  <input type="email" class="form-control" id="inp" placeholder="&nbsp;" name="email"
                    [(ngModel)]="staffDto.email" [value]="staffDto.email">
                  <span class="label">E-Mail*</span>
                  <span class="focus-bg"></span>
                </label>

              </div>
              <div class="col-xl-3 col-lg-6 col-12 form-group">
                <label for="slt" class="slt">
                  <select class="form-control" id="slt" placeholder="&nbsp;" [(ngModel)]="staffDto.gender"
                    name="gender">
                    <option selected>Please Select Gender *</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                  </select>
                  <span class="label">Gender *</span>
                  <span class="focus-bg"></span>
                </label>
              </div>
              <div class="col-xl-3 col-lg-6 col-12 form-group">
                <label for="dtp" class="dtp">
                  <input type="date" id="dtp" placeholder="&nbsp;" name="dob" [(ngModel)]="staffDto.dob"
                    [value]="staffDto.dob">
                  <span class="label">Birthdate *</span>
                  <span class="focus-bg"></span>
                </label>
              </div>

              <div class="col-xl-3 col-lg-6 col-12 form-group">
                <label for="dtp" class="dtp">
                  <input type="date" id="dtp" placeholder="&nbsp;" name="dateOfJoining"
                    [(ngModel)]="staffDto.dateOfJoining" [value]="staffDto.dateOfJoining">
                  <span class="label">Date Of Joining *</span>
                  <span class="focus-bg"></span>
                </label>
              </div>
              <div class="col-xl-3 col-lg-6 col-12 form-group">
                <label for="inp" class="inp">
                  <input type="text" class="form-control" id="inp" placeholder="&nbsp;" name="contactNo"
                    [(ngModel)]="staffDto.contactNo" [value]="staffDto.contactNo">
                  <span class="label">Mobile No *</span>
                  <span class="focus-bg"></span>
                </label>

              </div>
              <div class="col-xl-3 col-lg-6 col-12 form-group">
                <label for="inp" class="inp">
                  <input type="text" class="form-control" id="inp" placeholder="&nbsp;" name="emergencyContactNo"
                    [(ngModel)]="staffDto.emergencyContactNo" [value]="staffDto.emergencyContactNo">
                  <span class="label">Emergency Contact No </span>
                  <span class="focus-bg"></span>
                </label>

              </div>
              <div class="col-xl-3 col-lg-6 col-12 form-group">
                <label for="slt" class="slt">
                  <select class="form-control" id="slt" placeholder="&nbsp;" [(ngModel)]="staffDto.maritalStatus"
                    name="maritalStatus">
                    <option selected>Please Select *</option>
                    <option value="Married">Married</option>
                    <option value="Unmarried">Unmarried</option>
                  </select>
                  <span class="label">Married Status*</span>
                  <span class="focus-bg"></span>
                </label>
              </div>

              <div class="col-xl-3 col-lg-6 col-12 form-group">
                <label class="text-dark-medium" style="font-size: smaller;">Upload Staff Photo (150px X 150px)</label>
                <input type="file" class="form-control-file" name="image" [(ngModel)]="staffDto.image"
                  [value]="staffDto.image">
              </div>

              <div class="col-xl-3 col-lg-6 col-12 form-group">
                <label for="inp" class="inp">
                  <input type="text" class="form-control" id="inp" placeholder="&nbsp;"
                    [(ngModel)]="staffDto.qualification" name="qualification" [value]="staffDto.qualification">
                  <span class="label">Qualification</span>
                  <span class="focus-bg"></span>
                </label>

              </div>
              <div class="col-xl-3 col-lg-6 col-12 form-group">
                <label for="inp" class="inp">
                  <input type="text" class="form-control" id="inp" placeholder="&nbsp;" name="workExp"
                    [(ngModel)]="staffDto.workExp" [value]="staffDto.workExp">
                  <span class="label">Work Experiance</span>
                  <span class="focus-bg"></span>
                </label>

              </div>
              <div class="col-xl-3 col-lg-6 col-12 form-group">
                <label for="inp" class="inp">
                  <input type="text" class="form-control" id="inp" placeholder="&nbsp;" name="note"
                    [(ngModel)]="staffDto.note" [value]="staffDto.note">
                  <span class="label">Note </span>
                  <span class="focus-bg"></span>
                </label>

              </div>
              <div class="col-xl-3 col-lg-3 col-12 form-group">
                <label for="inp" class="inp">
                  <input type="text" class="form-control" id="inp" placeholder="&nbsp;" name="localAddress"
                    [(ngModel)]="staffDto.localAddress" [value]="staffDto.localAddress">
                  <span class="label">Current Address</span>
                  <span class="focus-bg"></span>
                </label>

              </div>
              <div class="col-xl-3 col-lg-6 col-12 form-group">
                <label for="inp" class="inp">
                  <input type="text" class="form-control" id="inp" placeholder="&nbsp;" name="permanentAddress"
                    [(ngModel)]="staffDto.permanentAddress" [value]="staffDto.permanentAddress">
                  <span class="label">Permanent Address *</span>
                  <span class="focus-bg"></span>
                </label>
              </div>

            </div>
          </form>
          <br>

          <button (click)=toggleDisplay() type="button" class="block"><b>Add More Details</b></button>

          <div class="card height-auto" [hidden]="isShow">
            <div class="card-body">
              <form class="new-added-form">
                <h4>Payroll</h4>
                <!-- <button type="button" class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark" style="float: right;"
      onClick="location.href='/#/add-s'">Back</button> -->

                <div class="row">
                  <div class="col-xl-3 col-lg-6 col-12 form-group">
                    <label for="inp" class="inp">
                      <input type="text" class="form-control" id="inp" placeholder="&nbsp;" name="epfNo"
                        [(ngModel)]="staffDto.epfNo" [value]="staffDto.epfNo">
                      <span class="label">EPF No.</span>
                      <span class="focus-bg"></span>
                    </label>
                  </div>

                  <div class="col-xl-3 col-lg-6 col-12 form-group">
                    <label for="inp" class="inp">
                      <input type="text" class="form-control" id="inp" placeholder="&nbsp;" name="basicSalary"
                        [(ngModel)]="staffDto.basicSalary" [value]="staffDto.basicSalary">
                      <span class="label">Basic Salary</span>
                      <span class="focus-bg"></span>
                    </label>
                  </div>
                  <!-- dropdown required -->

                  <div class="col-xl-3 col-lg-6 col-12 form-group">
                    <label for="slt" class="slt">
                      <select class="form-control" id="slt" placeholder="&nbsp;" name="contractType"
                        [(ngModel)]="staffDto.contractType" [value]="staffDto.contractType">
                        <option selected>select *</option>
                        <option value="Permanent" [selected]="staffDto.contractType == 'Permanent'">Permanent</option>
                        <option value="Probation" [selected]="staffDto.contractType == 'Probation'">Probation</option>

                      </select>
                      <span class="label">Contract Type*</span>
                      <span class="focus-bg"></span>
                    </label>
                  </div>

                  <div class="col-xl-3 col-lg-6 col-12 form-group">
                    <label for="inp" class="inp">
                      <input type="text" class="form-control" id="inp" placeholder="&nbsp;" name="location"
                        [(ngModel)]="staffDto.location" [value]="staffDto.location">
                      <span class="label">Location</span>
                      <span class="focus-bg"></span>
                    </label>
                  </div>
                  <hr>

                </div>
                <hr><br>
                <h4>Leaves</h4>
                <div class="row">
                  <div class="col-xl-3 col-lg-6 col-12 form-group">
                    <label for="inp" class="inp">
                      <input type="text" class="form-control" id="inp" placeholder="&nbsp;" name="leaveType">
                      <span class="label">Leave Type</span>
                      <span class="focus-bg"></span>
                    </label>
                  </div>



                </div>
                <hr><br>

                <h4>Bank Account Details</h4>
                <div class="row">
                  <div class="col-xl-3 col-lg-6 col-12 form-group">
                    <label for="inp" class="inp">
                      <input type="text" class="form-control" id="inp" placeholder="&nbsp;" name="accountTitle"
                        [(ngModel)]="staffDto.accountTitle" [value]="staffDto.accountTitle">
                      <span class="label">Account Title</span>
                      <span class="focus-bg"></span>
                    </label>
                  </div>

                  <div class="col-xl-3 col-lg-6 col-12 form-group">
                    <label for="inp" class="inp">
                      <input type="text" class="form-control" id="inp" placeholder="&nbsp;" name="bankAccountNo"
                        [(ngModel)]="staffDto.bankAccountNo" [value]="staffDto.bankAccountNo">
                      <span class="label">Bank Account No. *</span>
                      <span class="focus-bg"></span>
                    </label>
                  </div>

                  <div class="col-xl-4 col-lg-6 col-12 form-group">
                    <label for="inp" class="inp">
                      <input type="text" class="form-control" id="inp" placeholder="&nbsp;" name="bankName"
                        [(ngModel)]="staffDto.bankName" [value]="staffDto.bankName">
                      <span class="label">Bank Name</span>
                      <span class="focus-bg"></span>
                    </label>
                  </div>

                  <div class="col-xl-3 col-lg-6 col-12 form-group">
                    <label for="inp" class="inp">
                      <input type="text" class="form-control" id="inp" placeholder="&nbsp;" name="ifscCode"
                        [(ngModel)]="staffDto.ifscCode" [value]="staffDto.ifscCode">
                      <span class="label">IFSC Code *</span>
                      <span class="focus-bg"></span>
                    </label>
                  </div>

                  <div class="col-xl-3 col-lg-6 col-12 form-group">
                    <label for="inp" class="inp">
                      <input type="text" class="form-control" id="inp" placeholder="&nbsp;" name="bankBranch"
                        [(ngModel)]="staffDto.bankBranch" [value]="staffDto.bankBranch">
                      <span class="label">Bank Branch Name * </span>
                      <span class="focus-bg"></span>
                    </label>
                  </div>



                </div>
                <hr><br>

                <h4>Social Media Link</h4>
                <div class="row">
                  <div class="col-xl-3 col-lg-6 col-12 form-group">
                    <label for="inp" class="inp">
                      <input type="text" class="form-control" id="inp" placeholder="&nbsp;" name="facebook"
                        [(ngModel)]="staffDto.facebook" [value]="staffDto.facebook">
                      <span class="label">Facebook URL</span>
                      <span class="focus-bg"></span>
                    </label>
                  </div>

                  <div class="col-xl-3 col-lg-6 col-12 form-group">
                    <label for="inp" class="inp">
                      <input type="text" class="form-control" id="inp" placeholder="&nbsp;" name="twitter"
                        [(ngModel)]="staffDto.twitter" [value]="staffDto.twitter">
                      <span class="label">Twitter URL *</span>
                      <span class="focus-bg"></span>
                    </label>
                  </div>

                  <!-- <div class="col-xl-4 col-lg-6 col-12 form-group">
                    <label for="inp" class="inp">
                      <input type="text" class="form-control" id="inp" placeholder="&nbsp;" name="bankName"
                        [(ngModel)]="staffDto.bankName" [value]="staffDto.bankName">
                      <span class="label">Bank Name</span>
                      <span class="focus-bg"></span>
                    </label>
                  </div> -->

                  <div class="col-xl-3 col-lg-6 col-12 form-group">
                    <label for="inp" class="inp">
                      <input type="text" class="form-control" id="inp" placeholder="&nbsp;" name="instagram"
                        [(ngModel)]="staffDto.instagram" [value]="staffDto.instagram">
                      <span class="label">Instagram URL*</span>
                      <span class="focus-bg"></span>
                    </label>
                  </div>

                  <div class="col-xl-3 col-lg-6 col-12 form-group">
                    <label for="inp" class="inp">
                      <input type="text" class="form-control" id="inp" placeholder="&nbsp;" name="linkedin"
                        [(ngModel)]="staffDto.linkedin" [value]="staffDto.linkedin">
                      <span class="label">Linkedin URL * </span>
                      <span class="focus-bg"></span>
                    </label>
                  </div>

                </div>
                <hr>
                <h3>Upload Content</h3>
                <div class="row">
                  <div class="col-xl-3 col-lg-6 col-12 form-group">
                    <label for="inp" class="inp" style="float: left;">Resume</label>
                    <!-- </div>
                  <div class="col-xl-3 col-lg-12 col-12 form-group"> -->
                    <label class="text-dark-medium" style="font-size: small;">Document</label>
                    <input type="file" class="form-control-file" name="resume" placeholder="Document"
                      [(ngModel)]="staffDto.resume">
                  </div>

                  <div class="col-xl-3 col-lg-6 col-12 form-group">
                    <label for="inp" class="inp" style="float: left;">Joining Letter</label>
                    <!-- </div>
                  <div class="col-xl-3 col-lg-12 col-12 form-group"> -->
                    <label class="text-dark-medium" style="font-size: small;">Document</label>
                    <input type="file" class="form-control-file" name="joiningLetter" placeholder="Document"
                      [(ngModel)]="staffDto.joiningLetter">
                  </div>

                  <div class="col-xl-3 col-lg-6 col-12 form-group">
                    <label for="inp" class="inp" style="float: left;">
                      <input type="text" class="form-control" id="inp" placeholder="&nbsp;" name="otherDocumentName"
                        [(ngModel)]="staffDto.otherDocumentName"> <span class="label">Other Documents</span>
                      <span class="focus-bg"></span>
                    </label>
                    <!-- </div>
                  <div class="col-xl-3 col-lg-12 col-12 form-group"> -->
                    <label class="text-dark-medium" style="font-size: small;">Document</label>
                    <input type="file" class="form-control-file" name="photo" placeholder="otherDocumentFile"
                      [(ngModel)]="staffDto.otherDocumentFile">
                  </div>

                </div>
                <div class="col-xl-3 col-lg-6 col-12 form-group">
                  <!-- <button type="button" class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark"
              onClick="location.href='/#/admissionform'">+ Prev</button> -->
                  <button *ngIf="!this.isUpdate" (click)="add()" type="button"
                    class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark" data-toggle="modal"
                    data-target="#myModal">
                    Save
                  </button>
                  <button *ngIf="this.isUpdate" (click)="update(staffDto.id)" type="button"
                    class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark" data-toggle="modal"
                    data-target="#myModal">
                    Update
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div id="show" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5>Call Details</h5>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-3-xxxl col-lg-6 col-xl-3">
              <div class="card height-auto">
                <div class="card-body">
                  <div class="user-details-box">
                    <div class="item-img text-center">
                      <img style="border-radius: 50%;" src="../../assets/img/figure/user.jpg" alt="user">
                    </div>
                    <h3 class="font-medium text-dark-medium text-center">{{ staffDto.roleName }}</h3>
                    <table class="table text-wrap">
                      <tbody>
                        <tr>
                          <td>Staff ID</td>
                          <td class="font-medium text-dark-medium">{{ staffDto.employeeId }}</td>
                        </tr>
                        <tr>
                          <td>Role</td>
                          <td class="font-medium text-dark-medium">{{ staffDto.roleName }}</td>
                        </tr>
                        <tr>
                          <td>Designation</td>
                          <td class="font-medium text-dark-medium">{{ staffDto. staffDesignation }}</td>
                        </tr>
                        <tr>
                          <td>Department</td>
                          <td class="font-medium text-dark-medium">{{ staffDto.departmentName  }}</td>
                        </tr>
                        <tr>
                          <td>EPF No.</td>
                          <td class="font-medium text-dark-medium">{{ staffDto.epfNo }}</td>
                        </tr>
                        <tr>
                          <td>Basic Salary</td>
                          <td class="font-medium text-dark-medium">{{ staffDto.basicSalary}}</td>
                        </tr>
                        <tr>
                          <td>Contract Type</td>
                          <td class="font-medium text-dark-medium">{{ staffDto.contractType }}</td>
                        </tr>
                        <tr>
                          <td>Work Shift</td>
                          <td class="font-medium text-dark-medium">{{ staffDto.shift }}</td>
                        </tr>
                        <tr>
                          <td>Location</td>
                          <td class="font-medium text-dark-medium">{{ staffDto.location }}</td>
                        </tr>
                        <tr>
                          <td>Date Of Joining</td>
                          <td class="font-medium text-dark-medium">{{ staffDto.dateOfJoining }}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>


            <div class="col-9-xxxl col-xl-9">
              <div class="card height-auto">
                <div class="card-body">
                  <div class="custom-tab">
                    <ul class="nav nav-tabs" role="tablist">
                      <li class="nav-item"><a class="nav-link active" href="#activity" data-toggle="tab"
                          aria-selected="true">Profile</a></li>
                      <li class="nav-item"><a class="nav-link" href="#payroll" data-toggle="tab"
                          aria-selected="true">Payroll</a></li>
                      <li class="nav-item"><a class="nav-link" href="#leaves" data-toggle="tab"
                          aria-selected="true">Leaves</a></li>
                      <li class="nav-item"><a class="nav-link" href="#attendance" data-toggle="tab"
                          aria-selected="true">Attendance</a></li>
                      <li class="nav-item"><a class="nav-link" href="#documents" data-toggle="tab"
                          aria-selected="true">Documents</a></li>
                      <li class="nav-item"><a class="nav-link" href="#timelineh" data-toggle="tab"
                          aria-selected="true">Timeline</a></li>
                      <li class="nav-item"><a class="nav-link" href="#"><i style="color: rgb(81, 81, 81);"
                            class="fas fa-pencil-alt"></i></a></li>
                      <li class="nav-item"><a class="nav-link" href="#"><i
                            class="fas fa-key text-dark-pastel-green"></i></a></li>
                    </ul>
                    <div class="tab-content">
                      <div class="tab-pane fade show active" id="activity" role="tabpanel">
                        <div class="table-responsive">
                          <table class="table table-hover table-striped" style="border: 1px solid rgb(180, 180, 180);">
                            <tbody>
                              <tr>
                                <td>Phone</td>
                                <td class="font-medium text-dark-medium">{{ staffDto.contactNo }}</td>
                              </tr>
                              <tr>
                                <td>Emergency Contact Number</td>
                                <td class="font-medium text-dark-medium">{{ staffDto.emergencyContactNo }}</td>
                              </tr>
                              <tr>
                                <td>Email</td>
                                <td class="font-medium text-dark-medium">{{ staffDto.email }}</td>
                              </tr>
                              <tr>
                                <td>Gender</td>
                                <td class="font-medium text-dark-medium">{{ staffDto.gender }}</td>
                              </tr>
                              <tr>
                                <td>Date of Birth</td>
                                <td class="font-medium text-dark-medium">{{ staffDto.dob }}</td>
                              </tr>
                              <tr>
                                <td>Marital Status</td>
                                <td class="font-medium text-dark-medium">{{ staffDto.maritalStatus }}</td>
                              </tr>
                              <tr>
                                <td>Father Name</td>
                                <td class="font-medium text-dark-medium">{{ staffDto.fatherName }}</td>
                              </tr>
                              <tr>
                                <td>Mother Name</td>
                                <td class="font-medium text-dark-medium">{{ staffDto.motherName }}</td>
                              </tr>
                              <tr>
                                <td>Qualification</td>
                                <td class="font-medium text-dark-medium">{{ staffDto.qualification }}</td>
                              </tr>
                              <tr>
                                <td>Work Experience</td>
                                <td class="font-medium text-dark-medium">{{ staffDto.workExp }}</td>
                              </tr>
                              <tr>
                                <td>Note</td>
                                <td class="font-medium text-dark-medium">{{ staffDto.note }}</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>

                        <h3>Address </h3>
                        <div class="table-responsive">
                          <table class="table table-hover table-striped" style="border: 1px solid rgb(180, 180, 180)">
                            <tbody>
                              <tr>
                                <td>Current Address</td>
                                <td class="font-medium text-dark-medium">{{ staffDto.localAddress }}</td>
                              </tr>
                              <tr>
                                <td>Permanent Address</td>
                                <td class="font-medium text-dark-medium">{{ staffDto.permanentAddress }}</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                        <h3>Bank Details</h3>
                        <div class="table-responsive">
                          <table class="table table-hover table-striped" style="border: 1px solid rgb(180, 180, 180)">
                            <tbody>
                              <tr>
                                <td>Account Title</td>
                                <td class="font-medium text-dark-medium">{{ staffDto.accountTitle }}</td>
                              </tr>
                              <tr>
                                <td>Bank Name</td>
                                <td class="font-medium text-dark-medium">{{ staffDto.bankName }}</td>
                              </tr>
                              <tr>
                                <td>Bank Branch Name</td>
                                <td class="font-medium text-dark-medium">{{ staffDto.bankBranch }}</td>
                              </tr>
                              <tr>
                                <td>Bank Account Number</td>
                                <td class="font-medium text-dark-medium">{{ staffDto.bankAccountNo }}</td>
                              </tr>
                              <tr>
                                <td>IFSC Code</td>
                                <td class="font-medium text-dark-medium">{{ staffDto.ifscCode }}</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>

                        <h3>Socila Media Link</h3>
                        <div class="table-responsive">
                          <table class="table table-hover table-striped" style="border: 1px solid rgb(180, 180, 180)">
                            <tbody>
                              <tr>
                                <td>Facebook</td>
                                <td class="font-medium text-dark-medium">{{ staffDto.instagram }}</td>
                              </tr>
                              <tr>
                                <td>Twitter</td>
                                <td class="font-medium text-dark-medium">{{ staffDto.twitter }}</td>
                              </tr>
                              <tr>
                                <td>LinkedIn</td>
                                <td class="font-medium text-dark-medium">{{ staffDto.linkedin }}</td>
                              </tr>
                              <tr>
                                <td>Instagram</td>
                                <td class="font-medium text-dark-medium">{{ staffDto.instagram }}</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>

                      <div class="tab-pane fade" id="payroll" role="tabpanel">
                        <div class="row gutters-20">
                          <div class="col-xl-6 col-6">
                            <div
                              style="margin-top: 10px; margin-bottom: 10px; background-color: #f0f1f3; padding: 10px 10px;"
                              class="dashboard-summery-one">
                              <div class="row align-items-right">
                                <div class="col-3">
                                  <div style="height: 44px; width: 44px; line-height: 10px;"
                                    class="item-icon bg-light-green ">
                                    <i class="far fa-money-bill-alt text-green"></i>
                                  </div>
                                </div>
                                <div class="col-9">
                                  <div class="item-content">
                                    <div style="color: #111;" class="item-title">Total Net Salary Paid</div>
                                    <div class="item-number"><span class="counter" data-num="150000">60</span></div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-xl-6 col-6">
                            <div
                              style="margin-top: 10px; margin-bottom: 10px; background-color: #f0f1f3; padding: 10px 10px;"
                              class="dashboard-summery-one">
                              <div class="row align-items-right">
                                <div class="col-3">
                                  <div style="height: 44px; width: 44px; line-height: 10px;"
                                    class="item-icon bg-light-green ">
                                    <i class="far fa-money-bill-alt text-green"></i>
                                  </div>
                                </div>
                                <div class="col-9">
                                  <div class="item-content">
                                    <div style="color: #111;" class="item-title">Total Gross Salary</div>
                                    <div class="item-number"><span class="counter" data-num="150000">20</span></div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-xl-6 col-6">
                            <div
                              style="margin-top: 10px; margin-bottom: 10px; background-color: #f0f1f3; padding: 10px 10px;"
                              class="dashboard-summery-one">
                              <div class="row align-items-right">
                                <div class="col-3">
                                  <div style="height: 44px; width: 44px; line-height: 10px;"
                                    class="item-icon bg-light-green ">
                                    <i class="far fa-money-bill-alt text-green"></i>
                                  </div>
                                </div>
                                <div class="col-9">
                                  <div class="item-content">
                                    <div style="color: #111;" class="item-title">Total Earning</div>
                                    <div class="item-number"><span class="counter" data-num="150000">6000</span></div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-xl-6 col-6">
                            <div
                              style="margin-top: 10px; margin-bottom: 10px; background-color: #f0f1f3; padding: 10px 10px;"
                              class="dashboard-summery-one">
                              <div class="row align-items-right">
                                <div class="col-3">
                                  <div style="height: 44px; width: 44px; line-height: 10px;"
                                    class="item-icon bg-light-green ">
                                    <i class="far fa-money-bill-alt text-green"></i>
                                  </div>
                                </div>
                                <div class="col-9">
                                  <div class="item-content">
                                    <div style="color: #111;" class="item-title">Total Deduction</div>
                                    <div class="item-number"><span class="counter" data-num="150000">4000</span></div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="table-responsive">
                          <table id="example" class="table table-hover table-striped cell-border"
                            style="border: 1px solid rgb(180, 180, 180)">
                            <thead>
                              <tr>
                                <th>Payslip #</th>
                                <th>Month-Year</th>
                                <th>Date</th>
                                <th>Mode</th>
                                <th>Status</th>
                                <th>Net Salary</th>
                                <th>Action</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>General</td>
                                <td>07/02/2020</td>
                                <td>07</td>
                                <td>06/02/2020</td>
                                <td>Pending</td>
                                <td>Pending</td>
                                <td>541651</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>

                      <div class="tab-pane fade" id="leaves" role="tabpanel">
                        <div class="table-responsive">
                          <table id="example" class="table table-hover table-striped cell-border"
                            style="border: 1px solid rgb(180, 180, 180)">
                            <thead>
                              <tr>
                                <th>Leave Type</th>
                                <th>Leave Date</th>
                                <th>Days</th>
                                <th>Apply Date</th>
                                <th>Status</th>
                                <th>Action</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>Medical</td>
                                <td></td>
                                <td>{{ staffDto.numberOfLeaves }}</td>
                                <td></td>
                                <td></td>
                                <td></td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>

                      <div class="tab-pane fade" id="timelineh" role="tabpanel">
                        <h3>Timeline</h3>
                      </div>

                      <div class="tab-pane fade" id="documents" role="tabpanel">
                        <button type="button" class="btn btn-xs btn-primary">
                          <i class="fas fa-upload"></i> Upload Documents
                        </button>

                        <div class="table-responsive">
                          <table id="example" class="table table-hover table-striped cell-border"
                            style="border: 1px solid rgb(180, 180, 180)">
                            <thead>
                              <tr>
                                <th>Title</th>
                                <th>Name</th>
                                <th>Action</th>
                              </tr>
                            </thead>
                            <tbody>

                            </tbody>
                          </table>
                        </div>
                      </div>

                      <div class="tab-pane fade" id="attendance" role="tabpanel">
                        <div class="row gutters-20">
                          <div class="col-xl-4 col-6">
                            <div
                              style="margin-top: 10px; margin-bottom: 10px; background-color: #f0f1f3; padding: 10px 10px;"
                              class="dashboard-summery-one">
                              <div class="row align-items-right">
                                <div class="col-3">
                                  <div style="height: 44px; width: 44px; line-height: 10px;"
                                    class="item-icon bg-light-green ">
                                    <i class="fas fa-check-circle text-green"></i>
                                  </div>
                                </div>
                                <div class="col-9">
                                  <div class="item-content">
                                    <div style="color: #111;" class="item-title">Total Present</div>
                                    <div class="item-number"><span class="counter" data-num="150000">10</span></div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-xl-4 col-6">
                            <div
                              style="margin-top: 10px; margin-bottom: 10px; background-color: #f0f1f3; padding: 10px 10px;"
                              class="dashboard-summery-one">
                              <div class="row align-items-right">
                                <div class="col-3">
                                  <div style="height: 44px; width: 44px; line-height: 10px;"
                                    class="item-icon bg-light-green ">
                                    <i class="fas fa-check-circle text-green"></i>
                                  </div>
                                </div>
                                <div class="col-9">
                                  <div class="item-content">
                                    <div style="color: #111;" class="item-title">Total Late</div>
                                    <div class="item-number"><span class="counter" data-num="150000">10</span></div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-xl-4 col-6">
                            <div
                              style="margin-top: 10px; margin-bottom: 10px; background-color: #f0f1f3; padding: 10px 10px;"
                              class="dashboard-summery-one">
                              <div class="row align-items-right">
                                <div class="col-3">
                                  <div style="height: 44px; width: 44px; line-height: 10px;"
                                    class="item-icon bg-light-green ">
                                    <i class="fas fa-check-circle text-green"></i>
                                  </div>
                                </div>
                                <div class="col-9">
                                  <div class="item-content">
                                    <div style="color: #111;" class="item-title">Total Absent</div>
                                    <div class="item-number"><span class="counter" data-num="150000">10</span></div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-xl-4 col-6">
                            <div
                              style="margin-top: 10px; margin-bottom: 10px; background-color: #f0f1f3; padding: 10px 10px;"
                              class="dashboard-summery-one">
                              <div class="row align-items-right">
                                <div class="col-3">
                                  <div style="height: 44px; width: 44px; line-height: 10px;"
                                    class="item-icon bg-light-green ">
                                    <i class="fas fa-check-circle text-green"></i>
                                  </div>
                                </div>
                                <div class="col-9">
                                  <div class="item-content">
                                    <div style="color: #111;" class="item-title">Total Half Day</div>
                                    <div class="item-number"><span class="counter" data-num="150000">10</span></div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-xl-4 col-6">
                            <div
                              style="margin-top: 10px; margin-bottom: 10px; background-color: #f0f1f3; padding: 10px 10px;"
                              class="dashboard-summery-one">
                              <div class="row align-items-right">
                                <div class="col-3">
                                  <div style="height: 44px; width: 44px; line-height: 10px;"
                                    class="item-icon bg-light-green ">
                                    <i class="fas fa-check-circle text-green"></i>
                                  </div>
                                </div>
                                <div class="col-9">
                                  <div class="item-content">
                                    <div style="color: #111;" class="item-title">Total Holiday</div>
                                    <div class="item-number"><span class="counter" data-num="150000">10</span></div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="table-responsive">
                          <table id="example" class="table table-hover table-striped cell-border"
                            style="border: 1px solid rgb(180, 180, 180)">
                            <thead>
                              <tr>
                                <th>Attendance Table</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td></td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
