&nbsp;
<div class="card height-auto">
    <div class="card-body">
        <h4>Email /SMS Log</h4>
        <div class="box-tools pulls-right" style="position: absolute; top: 5px;right:10px">
            <a class="btn btn-primary btn-lg" style="color:white;background-color:gray;"onclick="location.href='/#/sendemail'">
                Send Email/SMS
            </a>
        </div>
          <table  id="example" class="table display data-table text-nowrap cell-border">
              <thead>
                  <tr>
                      <th>Title</th>
                      <th>Date</th>
                      <th>Email</th>
                      <th>SMS</th>
                      <th>Group</th>
                      <th>Individual</th>
                      <th>Class</th>
                      <th>Action</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td>Test Mail</td>
                      <td>17/01/2020 09:34:00</td>
                      <td><input type="checkbox"></td>
                      <td><input type="checkbox"></td>
                      <td><input type="checkbox"></td>
                      <td><input type="checkbox"></td>
                      <td><input type="checkbox"></td>
                      <td><a href="#"><i class="fas fa-align-justify"></i>&nbsp;</a> 
                          <a href="#"><i class="fas fa-pen-alt text-orange-peel"></i>&nbsp;</a> 
                          <a href="#"><i class="fas fa-times text-orange-red"></i>&nbsp;</a>    
                      </td>
                  </tr>
                  <tr>
                    <td>Test Mail2</td>
                    <td>17/01/2020 09:34:00</td>
                    <td><input type="checkbox"></td>
                    <td><input type="checkbox"></td>
                    <td><input type="checkbox"></td>
                    <td><input type="checkbox"></td>
                    <td><input type="checkbox"></td>
                     <td><a href="#"><i class="fas fa-align-justify"></i>&nbsp;</a> 
                        <a href="#"><i class="fas fa-pen-alt text-orange-peel"></i>&nbsp;</a> 
                        <a href="#"><i class="fas fa-times text-orange-red"></i>&nbsp;</a>    
                    </td>
                  </tr> 
              </tbody>
          </table>
    </div>
