<div class="breadcrumbs-area">
  <ul>
    <li>
      <a href="index.html">Home</a>
    </li>
    <li>Complain</li>
  </ul>
</div>
<div class="card height-auto">
  <div class="card-body">
    <div class="heading-layout1">
      <div class="item-title">
        <h3>Complain List</h3>
      </div>
      <div class="dropdown">
        <button style="  background-color: #000066; position: relative; top:0; right: 10; float: right;" type="button"
          class="btn btn-info btn-lg" (click)="clearData()" data-toggle="modal" data-target="#myModal">+ Add</button>
      </div>
    </div>
    <div class="table-responsive">

      <table id="example" class="table display data-table text-nowrap cell-border">
        <thead>
          <tr>
            <th>Complain #</th>
            <th>Complain Type</th>
            <th>Name</th>
            <th>Phone</th>
            <th>source</th>
            <th>Date</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let complain of complains">
            <td>{{ complain.id }}</td>
            <td>{{ complain.complaintType }}</td>
            <td>{{ complain.name }}</td>
            <td>{{ complain.contact }}</td>
            <td>{{ complain.source }}</td>
            <td>{{ complain.date }}</td>


            <td>
              <a (click)="getcomplainById(complain.id)" data-toggle="modal" data-target="#show"><i
                  class="fas fa-align-justify text-blue"></i>&nbsp;</a>
              <a (click)="setUpdateFileds(complain.id)" data-toggle="modal" data-target="#myModal"><i
                  class="fas fa-pen-alt text-orange-peel"></i>&nbsp;</a>
              <a (click)="deleteComplain(complain.id)"><i class="fas fa-times text-orange-red"></i>&nbsp;</a> </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


<!-- Add Complain Area Start Here -->

<div class="container">

  <!-- Modal -->
  <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h5> Add Complain</h5>

          <button type="button" class="close" data-dismiss="modal">&times;</button>

        </div>
        <div class="modal-body">
          <form role="form" method="post" id="reused_form">
            <div class="row">
              <div class="col-xl-3 col-lg-6 col-12 form-group">
                <label for="inp" class="inp">
                  <input type="text" class="form-control" id="inp" placeholder="&nbsp;" [(ngModel)]="complaint.name"
                    name="name" [value]="complaint.name">
                  <span class="label">Complain By *</span>
                  <span class="focus-bg"></span>
                </label>
              </div>


              <div class="col-xl-3 col-lg-6 col-12 form-group">
                <label for="dtp" class="dtp">
                  <input type="date" id="dtp" placeholder="&nbsp;" name="date" [(ngModel)]="complaint.date">
                  <span class="label">Date *</span>
                  <span class="focus-bg"></span>
                </label>
              </div>


              <div class="col-xl-3 col-lg-6 col-12 form-group">
                <label for="inp" class="inp">
                  <input type="text" class="form-control" id="inp" placeholder="&nbsp;"
                    [(ngModel)]="complaint.actionTaken" name="actionTaken" [value]="complaint.actionTaken">
                  <span class="label">Action Taken*</span>
                  <span class="focus-bg"></span>
                </label>
              </div>

              <div class="col-xl-3 col-lg-6 col-12 form-group">
                <label for="inp" class="inp">
                  <input type="text" class="form-control" id="inp" placeholder="&nbsp;" [(ngModel)]="complaint.assigned"
                    name="assigned" [value]="complaint.assigned">
                  <span class="label">Assigned *</span>
                  <span class="focus-bg"></span>
                </label>
              </div>

              <div class="col-xl-3 col-lg-6 col-12 form-group">
                <label for="inp" class="inp">
                  <input type="text" class="form-control" id="inp" placeholder="&nbsp;" [(ngModel)]="complaint.note"
                    name="note" [value]="complaint.note">
                  <span class="label">Note*</span>
                  <span class="focus-bg"></span>
                </label>
              </div>

              <div class="col-xl-4 col-lg-6 col-12 form-group">
                <label for="inp" class="inp">
                  <input type="text" class="form-control" id="inp" placeholder="&nbsp;"
                    [(ngModel)]="complaint.description" name="description" [value]="complaint.description">
                  <span class="label">Description*</span>
                  <span class="focus-bg"></span>
                </label>

              </div>
              <div class="col-xl-3 col-lg-6 col-12 form-group">
                <label for="slt" class="slt">
                  <select class="form-control" id="slt" placeholder="&nbsp;" [(ngModel)]="complaint.complaintType"
                    name="complaintType">
                    <option selected>Please Select *</option>
                    <option *ngFor="let complainttype of this.complainttypes" [value]="complainttype.complaintType"
                      [selected]="complaint.complaintType ==
                                    complainttype.complaintType">{{ complainttype.complaintType }}
                    </option>
                  </select>
                  <span class="label">Complaint Type*</span>
                  <span class="focus-bg"></span>
                </label>
              </div>



              <div class="col-xl-3 col-lg-6 col-12 form-group">
                <label for="slt" class="slt">
                  <select class="form-control" id="slt" placeholder="&nbsp;" [(ngModel)]="complaint.source"
                    name="source">
                    <option selected>Please Select *</option>
                    <option *ngFor="let source of this.sources" [value]="source.source"
                      [selected]="complaint.source ==source.source">{{ source.source }}
                    </option>
                  </select>
                  <span class="label">Source*</span>
                  <span class="focus-bg"></span>
                </label>
              </div>


              <div class="col-12 form-group mg-t-8">
                <button *ngIf="!this.isUpdate" (click)="addComplain()" type="button"
                  class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark" data-toggle="modal" data-target="#myModal">
                  Save
                </button>&nbsp;
                <button *ngIf="this.isUpdate" (click)="updateComplain(complaint.id)" type="button"
                  class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark" data-toggle="modal" data-target="#myModal">
                  Update
                </button>&nbsp;
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div id="show" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5>Details</h5>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <table class="table display data-table text-wrap cell-border">
            <tbody>
              <tr>
                <th>Complain #</th>
                <td>{{ complaint.id }}</td>
                <th>complaintType</th>
                <td>{{ complaint.complaintType }}</td>
              </tr>
              <tr>
                <th>source</th>
                <td>{{ complaint.source }}</td>
                <th>Name</th>
                <td>{{ complaint.name }}</td>
              </tr>
              <tr>
                <th>Contact</th>
                <td>{{ complaint.contact }}</td>
                <th>date</th>
                <td>{{ complaint.date }}</td>
              </tr>
              <tr>
                <th>Description</th>
                <td>{{ complaint.description }}</td>
                <th>ActionTaken</th>
                <td>{{ complaint.actionTaken }}</td>
              </tr>
              <tr>
                <th>Assigned</th>
                <td>{{ complaint.assigned }}</td>
                <th>Note</th>
                <td>{{ complaint.note }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
