
<div class="breadcrumbs-area">
    <h3>Academics</h3>
    <ul>
        <li>
            <a href="index.html">Home</a>
        </li>
        <li>Teachers Timetable</li>
    </ul>
  </div>
  <div class="card height-auto">
    <div class="card-body">
                <form class="new-added-form">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-12 form-group">
                            <label>Teachers<span style="color: red;">*</span> </label>
                            <select class="select2">
                                <option value="">select</option>
                                <option value="1">teacher1</option>
                                <option value="2">MKL</option>
                                <option value="3">XYZ</option>
                                <option value="4">ABC</option>
                            </select><br>
                            <div class="col-12 form-group mg-t-8" style="padding: 0;">
                                <div class="form-group" style="float: right;">
                                    <button type="submit" class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark">Search</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
  
    
        <div class="table-responsive">
          <div class="col-1-xxxl col-xl-2 col-lg-3 col-12" style="margin-left:auto; padding: 0;">
              <a href="#"><i class="fas fa-copy"></i>&nbsp;</a>
              <a href="#"><i class="fas fa-file-excel"></i>&nbsp;</a>
              <a href="#"><i class="fas fa-file-csv"></i>&nbsp;</a>
              <a href="#"><i class="fas fa-file-pdf"></i>&nbsp;</a>
              <a href="#"><i class="fas fa-print"></i>&nbsp;</a>
              <a href="#"><i class="fas fa-columns"></i>&nbsp;</a>
            </div>
          <table class="table display data-table text-nowrap">
              <thead>
                  
                  <tr>
                      <th>Monday</th>
                      <th>Tuesday</th>
                      <th>Wednesday</th>
                      <th>Thursday</th>  
                      <th>Friday</th>
                      <th>Saturday</th>
                      <th>Sunday</th>
                      
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td>NOT<br>Sheduled</td>
                      <td>NOT<br>Sheduled</td>
                      <td>NOT<br>Sheduled</td>
                      <td>NOT<br>Sheduled</td>
                      <td>NOT<br>Sheduled</td>
                      <td>NOT<br>Sheduled</td>
                      <td>NOT<br>Sheduled</td>
                  </tr>
                 
              </tbody>
          </table>
      </div>
    </div>
   </div>
  
    <!-- Admission Enquiry Area Start Here -->
   
  