<div class="breadcrumbs-area">
    <h3>Front CMS</h3>
    <ul>
        <li>
            <a href="index.html">Home</a>
        </li>
        <li>News</li>
    </ul>
</div>
    <div class="card height-auto">
        <div class="card-body">
            <div class="heading-layout1">
                <div class="item-title">
                    <h3>News List</h3>
                </div>
            </div>
            <div _ngcontent-hsw-c96="" class="table-responsive">
                <button _ngcontent-hsw-c96="" type="button" data-toggle="modal" onclick="location.href='/#/create'" class="btn btn-info btn-lg" style="background-color: #000066; position: relative; top: 0; right: 10; float: right;">+ Add</button>
                <div id="example_wrapper" class="dataTables_wrapper no-footer"><div>
                  
                     <div>
                         <table _ngcontent-hsw-c96="" id="example" class="table display data-table text-nowrap cell-border dataTable no-footer" role="grid" aria-describedby="example_info">
                             <thead _ngcontent-hsw-c96="">
                                 <tr _ngcontent-hsw-c96="" role="row">
                                    <th _ngcontent-hsw-c96="" class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Fees Group: activate to sort column ascending" style="width: 298px;">Title</th>
                                    <th _ngcontent-hsw-c96="" class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Date: activate to sort column ascending" style="width: 624.4px;">URL</th>
                                    <th _ngcontent-hsw-c96=""  tabindex="0" aria-controls="example" rowspan="1" colspan="1"  style="width: 194.8px;">Action</th>
                                </tr>
                             </thead>
                             <tbody _ngcontent-hsw-c96="">
                                 <tr _ngcontent-hsw-c96="" role="row" class="odd">
                                    <td _ngcontent-hsw-c96="">Title1</td>
                                     <td _ngcontent-hsw-c96=""><a href="#">www.xyz.com</a></td>
                                     <td _ngcontent-hsw-c96=""><a _ngcontent-olg-c102="" href="#"><i _ngcontent-olg-c102="" class="fas fa-align-justify"></i>&nbsp;</a><a _ngcontent-olg-c102="" href="#"><i _ngcontent-olg-c102="" class="fas fa-pen-alt text-orange-peel"></i>&nbsp;</a><a _ngcontent-olg-c102="" href="#"><i _ngcontent-olg-c102="" class="fas fa-times text-orange-red"></i>&nbsp;</a></td>
                                 </tr>
                                 <tr _ngcontent-hsw-c96="" role="row" class="even">
                                    <td _ngcontent-hsw-c96="">Title1</td>
                                    <td _ngcontent-hsw-c96=""><a href="#">www.xyz.com</a></td>
                                    <td _ngcontent-hsw-c96=""><a _ngcontent-olg-c102="" href="#"><i _ngcontent-olg-c102="" class="fas fa-align-justify"></i>&nbsp;</a><a _ngcontent-olg-c102="" href="#"><i _ngcontent-olg-c102="" class="fas fa-pen-alt text-orange-peel"></i>&nbsp;</a><a _ngcontent-olg-c102="" href="#"><i _ngcontent-olg-c102="" class="fas fa-times text-orange-red"></i>&nbsp;</a></td>
                               </tr>
                             </tbody>
                         </table>
                        </div>
            
        </div>
    </div>
<!-- Trigger the modal with a button -->

<div class="container">
<!-- Modal -->

<div id="myModal" class="modal fade" role="dialog">
    <div cl></div>
        <div class="col-12-xxxl col-12-xxxl">
            <div class="card height-auto">
                <div class="card-body">
                    <form class="mg-b-20">
                
                        <div class="row gutters-8">
                            <div class="col-12-xxxl col-lg-12 col-12 form-group">
                                <label>Title *</label>
                                <input type="text" placeholder="" class="form-control" >
                            </div>
                            <div class="col-12-xxxl col-lg-6 col-12 form-group">
                                <label>Venue</label>
                                <input type="text" placeholder="" class="form-control">
                            </div>
                            <div class="col-12-xxxl col-lg-6 col-12 form-group">
                                <label>Start Date</label>
                                <input type="text" placeholder="dd/mm/yyyy" class="form-control air-datepicker"
                                data-position='bottom right' name="date" ngModel>
                            <i class="far fa-calendar-alt"></i>
                            </div>
                            <div class="col-12-xxxl col-lg-6 col-12 form-group">
                                <label>End Date</label>
                                <input type="text" placeholder="dd/mm/yyyy" class="form-control air-datepicker"
                                data-position='bottom right' name="date" ngModel>
                            <i class="far fa-calendar-alt"></i>
                            </div>
                            <div class="col-12-xxxl col-lg-6 col-12 form-group">
                                <label>Description</label>
                                <input type="text" placeholder="" class="form-control">
                            </div>
                            
                            <div class="col-12-xxxl col-lg-6 col-12 form-group">
                                <button type="submit" class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark">Save</button>&nbsp;&nbsp;&nbsp;
                                <button type="reset" class="btn-fill-lg bg-blue-dark btn-hover-yellow">Reset</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
</div>
        
</div>