<div class="breadcrumbs-area">
    <ul>
      <li>
        <a href="index.html">Home</a>
      </li>
      <li>Email Setting</li>
    </ul>
  </div>
  <!-- Breadcubs Area End Here -->
  
  
    <div class="col-xl-12 col-12">
      <div class="card height-auto">
        <div class="card-body">
          <div class="heading-layout1">
            <div class="item-title">
              <h5> Email Setting</h5>
            </div>
          </div>
          <form class="new-added-form">
            <div class="col-xl-12 col-lg-12 col-12 form-desig">
              <label for="inp" class="inp">
                <input type="text" name="emailengine" class="form-control" id="inp" placeholder="&nbsp;">
                <span class="label">Email Engine</span>
                <span class="focus-bg"></span>
              </label>
  
            </div>
  
            <div class="col-xl-12 col-lg-12 col-12 form-desig">
              <label for="inp" class="inp">
                <input type="text" name="usr" class="form-control" id="inp" placeholder="&nbsp;">
                <span class="label">SMTP Username</span>
                <span class="focus-bg"></span>
              </label>
             </div>
  
            <div class="col-xl-12 col-lg-12 col-12 form-desig">
              <label for="inp" class="inp">
                <input type="text" name="password" class="form-control" id="inp" placeholder="&nbsp;">
                <span class="label">SMTP Password</span>
                <span class="focus-bg"></span>
              </label>
             </div>
  
             <div class="col-xl-12 col-lg-12 col-12 form-desig">
              <label for="inp" class="inp">
                <input type="text" name="server" class="form-control" id="inp" placeholder="&nbsp;">
                <span class="label">SMTP Server</span>
                <span class="focus-bg"></span>
              </label>
             </div>
  
             <div class="col-xl-12 col-lg-12 col-12 form-desig">
              <label for="inp" class="inp">
                <input type="text" name="port" class="form-control" id="inp" placeholder="&nbsp;">
                <span class="label">SMTP Port</span>
                <span class="focus-bg"></span>
              </label>
             </div>
  
             <div class="col-xl-12 col-lg-12 col-12 form-desig">
              <label for="inp" class="inp">
                <input type="text" name="security" class="form-control" id="inp" placeholder="&nbsp;">
                <span class="label">SMTP Security</span>
                <span class="focus-bg"></span>
              </label>
             </div>
             <br>
            <div class="col-xl-4 col-lg-6 col-12 form-group">
              <button type="submit" class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark">Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    
  
