<div class="breadcrumbs-area">
  
    <ul>
        <li>
            <a href="index.html">Home</a>
        </li>
        <li>Online Admissions</li>
    </ul>
</div>
<!-- Breadcubs Area End Here -->
<!-- Student Table Area Start Here -->
<div class="card height-auto">
    <div class="card-body">
        
                <h3>Student List</h3>
            
        <form class="new-added-form" >
            <div class="row">
                <div class="col-3-xxxl col-xl-3 col-lg-3 col-12 form-group">
                    <label for="inp" class="inp">
                        <input type="text" name="rollno" class="form-control" id="inp" placeholder="&nbsp;">
                        <span class="label">Search By Roll No... *</span>
                        <span class="focus-bg"></span>
                    </label>
                </div>

                <div class="col-3-xxxl col-xl-3 col-lg-3 col-12 form-group">
                    <label for="inp" class="inp">
                        <input type="text" name="name" class="form-control" id="inp" placeholder="&nbsp;">
                        <span class="label">Search By Name... *</span>
                        <span class="focus-bg"></span>
                    </label>
                </div>

                <div class="col-3-xxxl col-xl-3 col-lg-3 col-12 form-group">
                    <label for="inp" class="inp">
                        <input type="text" name="class" class="form-control" id="inp" placeholder="&nbsp;">
                        <span class="label">Search By Class... </span>
                        <span class="focus-bg"></span>
                    </label>
                </div>

                <div class="col-1-xxxl col-xl-2 col-lg-3 col-12 form-group">
                    <button type="submit" class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark">SEARCH</button>
                </div>
            </div>
        </form>
        <div class="table-responsive">
            <table id="example" class="table display data-table text-nowrap cell-border">
                <thead>
                    <tr>
                        <th>Student Name</th>
                        <th>Class</th>
                        <th>Father Name</th>  
                        <th>Date Of Birth</th>
                        <th>Gender</th>
                        <th>Category</th>
                        <th>Mobile No.</th>
                        <th>Enrolled</th>
                        <th>Action</th>
                        
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let student of students">
                        <td><a href="/#/studentinfo">{{ student.firstname}}</a></td>
                        <td>{{ student.id }}</td>
                        <td>{{ student.fatherName }}</td>
                        <td>{{ student.dob }}</td>
                        <td>{{ student.gender }}</td>
                        <td>{{ student.categoryId }}</td>
                        <td>{{ student.mobileno }}</td>
                        <td>{{ student.isActive }}</td>

                        <td>
                            <a href="#"><i class="fas fa-align-justify"></i>&nbsp;</a> 
                            <a href="#"><i class="fas fa-pen-alt text-orange-peel"></i>&nbsp;</a> 
                            <a href="#"><i class="fas fa-times text-orange-red"></i>&nbsp;</a>    
                        </td>
                    </tr>
                   
                   
                </tbody>
            </table>
        </div>
    </div>