<div class="breadcrumbs-area">
    <h3>Staff Directory</h3>
    <ul>
        <li>
            <a href="index.html">Home</a>
        </li>
        <li>Add More Details</li>
    </ul>
</div>
<!-- Breadcubs Area End Here -->
<!-- Admit Form Area Start Here -->
<div class="card height-auto">
    <div class="card-body">
        <h4>Payroll</h4>
        <form class="new-added-form"  >
            <div class="row">
                <div class="col-xl-3 col-lg-6 col-12 form-group">
                    <label for="inp" class="inp">
                        <input type="text" class="form-control" id="inp" placeholder="&nbsp;">
                        <span class="label">ERP No.</span>
                        <span class="focus-bg"></span>
                      </label>
                </div>
            
                <div class="col-xl-3 col-lg-6 col-12 form-group">
                    <label for="inp" class="inp">
                        <input type="text" class="form-control" id="inp" placeholder="&nbsp;">
                        <span class="label">Basic Salary</span>
                        <span class="focus-bg"></span>
                      </label>
                </div>

                <div class="col-xl-3 col-lg-6 col-12 form-group">
                    <label for="inp" class="inp">
                        <input type="text" class="form-control" id="inp" placeholder="&nbsp;">
                        <span class="label">Contact Type</span>
                        <span class="focus-bg"></span>
                      </label>
                </div>

                <div class="col-xl-3 col-lg-6 col-12 form-group">
                    <label for="inp" class="inp">
                        <input type="text" class="form-control" id="inp" placeholder="&nbsp;">
                        <span class="label">Location</span>
                        <span class="focus-bg"></span>
                      </label>
                </div><hr>
               
            </div>
        </form>
    </div>

    <div class="card-body">
        <h4>Leaves</h4>
    </div>

    <div class="card-body">
        <h4>Bank Account Details</h4>
        <form class="new-added-form"  >
            <div class="row">
                <div class="col-xl-4 col-lg-6 col-12 form-group">
                    <label for="inp" class="inp">
                        <input type="text" class="form-control" id="inp" placeholder="&nbsp;">
                        <span class="label">Account</span>
                        <span class="focus-bg"></span>
                      </label>
                </div>
            
                <div class="col-xl-4 col-lg-6 col-12 form-group">
                    <label for="inp" class="inp">
                        <input type="text" class="form-control" id="inp" placeholder="&nbsp;">
                        <span class="label">Bank Account No.</span>
                        <span class="focus-bg"></span>
                      </label>
                </div>
                <div class="col-xl-4 col-lg-6 col-12 form-group">
                    <label for="inp" class="inp">
                        <input type="text" class="form-control" id="inp" placeholder="&nbsp;">
                        <span class="label">Bank Name *</span>
                        <span class="focus-bg"></span>
                      </label>
                </div>
                <div class="col-xl-4 col-lg-6 col-12 form-group">
                    <label for="inp" class="inp">
                        <input type="text" class="form-control" id="inp" placeholder="&nbsp;">
                        <span class="label">IFSC code *</span>
                        <span class="focus-bg"></span>
                      </label>
                </div>
                <div class="col-xl-6 col-lg-6 col-12 form-group">
                    <label for="inp" class="inp">
                        <input type="text" class="form-control" id="inp" placeholder="&nbsp;">
                        <span class="label">Bank Branch Name</span>
                        <span class="focus-bg"></span>
                      </label>
                </div>
                

               
            </div>
        </form>
    </div><br>

    <div class="card-body">
        <h4>Social Media s</h4>
        <form class="new-added-form"  >
            <div class="row">
                <div class="col-xl-4 col-lg-6 col-12 form-group">
                    <label for="inp" class="inp">
                        <input type="text" class="form-control" id="inp" placeholder="&nbsp;">
                        <span class="label">Account Title</span>
                        <span class="focus-bg"></span>
                      </label>
                </div>
            
                <div class="col-xl-4 col-lg-6 col-12 form-group">
                    <label for="inp" class="inp">
                        <input type="text" class="form-control" id="inp" placeholder="&nbsp;">
                        <span class="label">Bank Account No. *</span>
                        <span class="focus-bg"></span>
                      </label>
                </div>

                <div class="col-xl-4 col-lg-6 col-12 form-group">
                    <label for="inp" class="inp">
                        <input type="text" class="form-control" id="inp" placeholder="&nbsp;">
                        <span class="label">Bank Name</span>
                        <span class="focus-bg"></span>
                      </label>
                </div>

                <div class="col-xl-4 col-lg-6 col-12 form-group">
                    <label for="inp" class="inp">
                        <input type="text" class="form-control" id="inp" placeholder="&nbsp;">
                        <span class="label">IFSC Code *</span>
                        <span class="focus-bg"></span>
                      </label>
                </div>

                <div class="col-xl-6 col-lg-6 col-12 form-group">
                    <label for="inp" class="inp">
                        <input type="text" class="form-control" id="inp" placeholder="&nbsp;">
                        <span class="label">Bank Branch Name * </span>
                        <span class="focus-bg"></span>
                      </label>
                </div>
                

               
            </div>
        </form>
    </div><br>
    </div>
