
 <!-- Add room Area end Here -->

       <div class="breadcrumbs-area">
        <ul>
            <li>
                <a href="/#/admin">Home</a>

            </li>
            <li>Issue Item</li>
        </ul>
    </div>
 
    <div class="card height-auto">
        <div class="card-body">
            

        <div class="heading-layout1">
            <div class="item-title">
                <h3>Issued Item List</h3>
            </div>
            <div class="dropdown">
                <button style="  background-color: #000066; position: relative; top:0; right: 10; float: right;" type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">+ Issue</button>  
            </div>
        </div>

        <div class="table-responsive">
            <table id="example" class="table display data-table text-nowrap cell-border">
                <thead>
                    <tr>
                        <th> Item</th>
                        <th>Item Category</th>
                        <th>Issue Return</th>
                        <th>Issue To</th>
                        <th>Issued By</th>
                        <th>Quantity</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>XYZ</td>
                        <td>ABC</td>
                        <td>06/03/2020</td>
                        <td>LMN</td>
                        <td>GHI</td>
                        <td>10</td>
                        <td>Pending</td>
                        <td> <a href="#"><i class="fas fa-align-justify "></i>&nbsp;</a>
                            <a href="#"><i class="fas fa-pen-alt text-orange-peel"></i>&nbsp;</a> 
                            <a href="#"><i class="fas fa-times text-orange-red"></i>&nbsp;</a>    </td>
                    </tr>
                    <tr>
                        <td>XYZ</td>
                        <td>ABC</td>
                        <td>06/03/2020</td>
                        <td>LMN</td>
                        <td>GHI</td>
                        <td>10</td>
                        <td>Pending</td>
                        <td> <a href="#"><i class="fas fa-align-justify "></i>&nbsp;</a>
                            <a href="#"><i class="fas fa-pen-alt text-orange-peel"></i>&nbsp;</a> 
                            <a href="#"><i class="fas fa-times text-orange-red"></i>&nbsp;</a>    </td>
                    </tr>
                    <tr>
                        <td>XYZ</td>
                        <td>ABC</td>
                        <td>06/03/2020</td>
                        <td>LMN</td>
                        <td>GHI</td>
                        <td>10</td>
                        <td>Pending</td>
                        <td> <a href="#"><i class="fas fa-align-justify "></i>&nbsp;</a>
                            <a href="#"><i class="fas fa-pen-alt text-orange-peel"></i>&nbsp;</a> 
                            <a href="#"><i class="fas fa-times text-orange-red"></i>&nbsp;</a>    </td>
                    </tr>
                    <tr>
                        <td>XYZ</td>
                        <td>ABC</td>
                        <td>06/03/2020</td>
                        <td>LMN</td>
                        <td>GHI</td>
                        <td>10</td>
                        <td>Pending</td>
                        <td> <a href="#"><i class="fas fa-align-justify "></i>&nbsp;</a>
                            <a href="#"><i class="fas fa-pen-alt text-orange-peel"></i>&nbsp;</a> 
                            <a href="#"><i class="fas fa-times text-orange-red"></i>&nbsp;</a>    </td>
                    </tr>
                </tbody>
            </table>
          </div>
        </div>
    </div>
     

    <div class="container">
   
        <!-- Modal -->
        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                       
                    </div>
                    <div class="modal-body">
                        <form role="form" method="post" id="reused_form" >                  
    
                            <div class="row">
                                <div class="col-xl-4 col-lg-6 col-12 form-group">
                                    <label for="slt" class="slt">        
                                        <select  name="religion" class="form-control" id="slt" placeholder="&nbsp;">
                                            <option selected>Please Select  *</option>
                                             <option value="">select</option>
                                             <option value="1">Admin</option>
                                             <option value="2">Teacher</option>
                                             <option value="3">Student</option>
                                             <option value="3">Parent</option>
                                        </select>
                                        <span class="label">User Type *</span>
                                        <span class="focus-bg"></span>
                                    </label>
                                </div>
                                <div class="col-xl-4 col-lg-6 col-12 form-group">
                                    <label for="slt" class="slt">        
                                        <select   class="form-control" id="slt" placeholder="&nbsp;">
                                            <option selected>Please Select  *</option>
                                             <option value="">select</option>
                                            <option value="1">Admin</option>
                                        </select>
                                        <span class="label">Issue To *</span>
                                        <span class="focus-bg"></span>
                                    </label>
                                </div>
            
                                <div class="col-xl-4 col-lg-6 col-12 form-group">
                                    <label for="inp" class="inp">
                                        <input type="text" class="form-control" id="inp" placeholder="&nbsp;">
                                        <span class="label">Issue By</span>
                                        <span class="focus-bg"></span>
                                      </label>
                                </div>
            
                                <div class="col-xl-4 col-lg-6 col-12 form-group">
                                    <label for="dtp" class="dtp">
                                        <input type="date" id="dtp" placeholder="&nbsp;" name="admission" >
                                        <span class="label">Issue Date *</span>
                                        <span class="focus-bg"></span>
                                      </label>
                              </div>
            
                                <div class="col-xl-4 col-lg-6 col-12 form-group">
                                    <label for="dtp" class="dtp">
                                        <input type="date" id="dtp" placeholder="&nbsp;" name="admission" >
                                        <span class="label">Return  Date *</span>
                                        <span class="focus-bg"></span>
                                      </label>
                             </div>
            
                                <div class="col-xl-4 col-lg-6 col-12 form-group">
                                    <label for="inp" class="inp">
                                        <input type="text" class="form-control" id="inp" placeholder="&nbsp;">
                                        <span class="label">Note</span>
                                        <span class="focus-bg"></span>
                                      </label>
                                </div>
            
                                <div class="col-xl-4 col-lg-6 col-12 form-group">
                                    <label for="slt" class="slt">        
                                        <select  name="religion" class="form-control" id="slt" placeholder="&nbsp;">
                                            <option selected>Please Select  *</option>
                                             <option value="">select</option>
                                            <option value="1">Sports</option>
                                            <option value="2">Stationary</option>
                                            <option value="3">Uniform</option>
                                        </select>
                                        <span class="label">Item Category *</span>
                                        <span class="focus-bg"></span>
                                    </label>
                                </div>
            
                                <div class="col-xl-4 col-lg-6 col-12 form-group">
                                    <label for="slt" class="slt">        
                                        <select  name="religion" class="form-control" id="slt" placeholder="&nbsp;">
                                            <option selected>Please Select  *</option>
                                             <option value="">select</option>
                                            <option value="1">Admin</option>
                                          
                                        </select>
                                        <span class="label">Item *</span>
                                        <span class="focus-bg"></span>
                                    </label>
                                </div>
                                
                                <div class="col-xl-4 col-lg-6 col-12 form-group">
                                    <label for="inp" class="inp">
                                        <input type="text" class="form-control" id="inp" placeholder="&nbsp;">
                                        <span class="label">Quantity</span>
                                        <span class="focus-bg"></span>
                                      </label>
                                </div>
                              <div class="col-12 form-group mg-t-8">
                                    <button type="submit" class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark">Save</button>&nbsp;
                                    <button type="reset" class="btn-fill-lg bg-blue-dark btn-hover-yellow">Reset</button>
                                </div>
                            </div>
                        </form>
                        
                        
                    </div>
                </div>
            </div>
        </div>
        
    </div>