<!-- Add room Area end Here -->

<div class="breadcrumbs-area">
  <ul>
    <li>
      <a href="/#/admin">Home</a>

    </li>
    <li>Issue Item</li>
  </ul>
</div>

<div class="card height-auto">
  <div class="card-body">


    <div class="heading-layout1">
      <div class="item-title">
        <h3>Issued Item List</h3>
      </div>
      <div class="dropdown">
        <button style="  background-color: #000066; position: relative; top:0; right: 10; float: right;" type="button"
          class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">+ Issue</button>
      </div>
    </div>

    <div class="table-responsive">
      <table id="example" class="table display data-table text-nowrap cell-border">
        <thead>
          <tr>
            <th>Issued By</th>
            <th>Issue To</th>
            <th>Quantity</th>
            <th>Issue Type</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let issue of issues">
            <td>{{issue.issueBy}}</td>
            <td>{{issue.issueTo}}</td>
            <td>{{issue.quantity}}</td>
            <td>{{issue.issueType}}</td>

            <td><a (click)="setUpdateFileds(issue.id)"><i class="fas fa-pen-alt text-orange-peel"></i>&nbsp;</a>
              <a (click)="deleteissue(issue.id)"><i class="fas fa-times text-orange-red"></i>&nbsp;</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


<div class="container">

  <!-- Modal -->
  <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>

        </div>
        <div class="modal-body">
          <form role="form" method="post" id="reused_form">
            <div class="row">

              <div class="col-xl-4 col-lg-6 col-12 form-group">
                <label for="inp" class="inp">
                  <input type="text" name="issueBy" class="form-control" id="inp" placeholder="&nbsp;"
                    [(ngModel)]="itemIssueDto.issueBy">
                  <span class="label">Issue By</span>
                  <span class="focus-bg"></span>
                </label>
              </div>

              <div class="col-xl-4 col-lg-6 col-12 form-group">
                <label for="dtp" class="dtp">
                  <input type="date" name="issueTo" class="form-control" id="dtp" placeholder="&nbsp;"
                    [(ngModel)]="itemIssueDto.issueTo">
                  <span class="label">Issue To *</span>
                  <span class="focus-bg"></span>
                </label>
              </div>
              <div class="col-xl-4 col-lg-6 col-12 form-group">
                <label for="dtp" class="dtp">
                  <input type="date" name="issueDate" class="form-control" id="dtp" placeholder="&nbsp;"
                    [(ngModel)]="itemIssueDto.issueDate">
                  <span class="label">Issue Date *</span>
                  <span class="focus-bg"></span>
                </label>
              </div>
              <div class="col-xl-4 col-lg-6 col-12 form-group">
                <label for="dtp" class="dtp">
                  <input type="date" name="returnDate" class="form-control" id="dtp" placeholder="&nbsp;"
                    [(ngModel)]="itemIssueDto.returnDate">
                  <span class="label">Return Date *</span>
                  <span class="focus-bg"></span>
                </label>
              </div>
              <div class="col-xl-4 col-lg-6 col-12 form-group">
                <label for="inp" class="inp">
                  <input type="text" name="issueType" class="form-control" id="inp" placeholder="&nbsp;"
                    [(ngModel)]="itemIssueDto.issueType">
                  <span class="label">Issue Type</span>
                  <span class="focus-bg"></span>
                </label>
              </div>

              <div class="col-xl-4 col-lg-6 col-12 form-group">
                <label for="inp" class="inp">
                  <input type="text" name="note" class="form-control" id="inp" placeholder="&nbsp;"
                    [(ngModel)]="itemIssueDto.note">
                  <span class="label">Note</span>
                  <span class="focus-bg"></span>
                </label>
              </div>


              <div class="col-xl-4 col-lg-6 col-12 form-group">
                <label for="inp" class="inp">
                  <input type="text" name="quantity" class="form-control" id="inp" placeholder="&nbsp;"
                    [(ngModel)]="itemIssueDto.quantity">
                  <span class="label">Quantity</span>
                  <span class="focus-bg"></span>
                </label>
              </div>

              <div class="col-xl-3 col-lg-6 col-12 form-group">
                <button *ngIf="!this.isUpdate" (click)="addissue()" type="button"
                  class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark" data-toggle="modal" data-target="#myModal">
                  Submit
                </button>
                <button *ngIf="this.isUpdate" (click)="updateissue(itemIssueDto.id)" type="button"
                  class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark" data-toggle="modal" data-target="#myModal">
                  Update
                </button>
              </div>
            </div>
          </form>


        </div>
      </div>
    </div>
  </div>

</div>
