    <div class="breadcrumbs-area">
      <ul>
        <li>
          <a href="/#/admin">Home</a>

        </li>
        <li>Add Item Stock</li>
      </ul>
    </div>
    <div class="card height-auto">
      <div class="card-body">

        <div class="heading-layout1">
          <div class="item-title">
            <h5>Stock List</h5>
          </div>
          <div class="dropdown">
            <button style="  background-color: #000066; position: relative; top:0; right: 10; float: right;"
              type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">+ Add</button>

          </div>
        </div>
        <div class="table-responsive">
          <table id="example" class="table display data-table text-nowrap cell-border">
            <thead>
              <tr>
                <th>Name</th>
                <th>Purchase Price</th>
                <th>Quantity</th>
                <th>Date</th>
                <th>Action</th>

              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let itemstock of itemstocks">
                <td>{{ itemstock.name }}</td>
                <td>{{ itemstock.purchasePrice }}</td>
                <td>{{ itemstock.quantity }}</td>
                <td>{{ itemstock.date }}</td>
                <td> <a (click)="setUpdateFileds(itemstock.id)" data-toggle="modal" data-target="#myModal"><i
                      class="fas fa-pen-alt text-orange-peel"></i>&nbsp;</a>
                  <a (click)="deleteitemstock(itemstock.id)"><i class=" fas fa-times text-orange-red"></i>&nbsp;</a>
                </td>

              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <!-- Add room Area end Here -->
    <div class="container">

      <!-- Modal -->
      <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <h5>Add Item Stock </h5>

              <button type="button" class="close" data-dismiss="modal">&times;</button>

            </div>
            <div class="modal-body">
              <form role="form" method="post" id="reused_form">

                <div class="row">
                  <div class="col-4 col-lg-4 col-12 form-group">
                    <label for="inp" class="inp">
                      <input type="text" class="form-control" id="inp" placeholder="&nbsp;"
                        [(ngModel)]="itemStockDto.name" name="name" [value]="itemStockDto.name">
                      <span class="label">Item Name</span>
                      <span class="focus-bg"></span>
                    </label>
                  </div>

                  <div class="col-4 col-lg-4 col-12 form-group">
                    <label for="inp" class="inp">
                      <input type="text" class="form-control" id="inp" placeholder="&nbsp;"
                        [(ngModel)]="itemStockDto.quantity" name="quantity" [value]="itemStockDto.quantity">
                      <span class="label">Quantity</span>
                      <span class="focus-bg"></span>
                    </label>
                  </div>

                  <div class="col-4 col-lg-4 col-12 form-group">
                    <label for="inp" class="inp">
                      <input type="text" class="form-control" id="inp" placeholder="&nbsp;"
                        [(ngModel)]="itemStockDto.purchasePrice" name="purchasePrice"
                        [value]="itemStockDto.purchasePrice">
                      <span class="label">Purchase Price*</span>
                      <span class="focus-bg"></span>
                    </label>

                  </div>

                  <div class="col-4 col-lg-4 col-12 form-group">
                    <label for="dtp" class="dtp">
                      <input type="date" class="form-control" id="dtp" placeholder="&nbsp;"
                        [(ngModel)]="itemStockDto.date" name="date" [value]="itemStockDto.date">
                      <span class="label"> Date *</span>
                      <span class="focus-bg"></span>
                    </label>
                  </div>
                  <div class="col-4 col-lg-4 col-12 form-group">
                    <label for="inp" class="inp">
                      <input type="text" class="form-control" id="inp" placeholder="&nbsp;"
                        [(ngModel)]="itemStockDto.symbol" name="symbol" [value]="itemStockDto.symbol">
                      <span class="label">Symbol </span>
                      <span class="focus-bg"></span>
                    </label>

                  </div>
                  <div class="col-4 col-lg-4 col-12 form-group">
                    <label class="text-dark-medium" style="font-size: small;">Upload Attachment</label>
                    <input type="file" class="form-control-file" name="attachment" placeholder="Attach Documents"
                      [(ngModel)]="itemStockDto.attachment">
                  </div>

                  <div class="col-4 col-lg-4 col-12 form-group" row="3">
                    <label for="inp" class="inp">
                      <input type="text" class="form-control" id="inp" placeholder="&nbsp;"
                        [(ngModel)]="itemStockDto.description" name="description" [value]="itemStockDto.description">
                      <span class="label">Description</span>
                      <span class="focus-bg"></span>
                    </label>

                  </div>
                  <div class="col-xl-4 col-lg-6 col-12 form-group"> <button *ngIf="!this.isUpdate"
                      (click)="additemstock()" type="button" class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark"
                      data-toggle="modal" data-target="#myModal">
                      Save
                    </button>
                    <button *ngIf="this.isUpdate" (click)="updateitemstock(itemStockDto.id)" type="button"
                      class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark" data-toggle="modal"
                      data-target="#myModal">
                      Update
                    </button>
                  </div>
                </div>
              </form>


            </div>
          </div>
        </div>
      </div>

    </div>
