<!-- Student Details Area Start Here -->
<div class="breadcrumbs-area">
    <h3>Human Resource</h3>
    <ul>
        <li>
            <a href="index.html">Home</a>
        </li>
        <li>Disabled Staff</li>
    </ul>
</div>
<div class="card height-auto">
    <div class="card-body">
        <form class="new-added-form">
            <div class="row">
               
                                <div class="col-xl-6 col-lg-6 col-12 form-group">
                                    <label>Role </label>
                                    <select class="select2">
                                        <option value="">select</option>
                                        <option value="1">Admin</option>
                                        <option value="2">Teacher</option>
                                        <option value="3">Accountant</option>
                                        <option value="4">Librarian</option>
                                        <option value="5">Receptionist</option>
                                        <option value="5">Super Admin</option>
                                    </select><br>
                                    
                                </div>
                                       
                                
                                <div class="col-xl-6 col-lg-6 col-12 form-group">
                                    <label>Search By Key Words: *</label>
                                    <input type="text" name="search_text" class="form-control"   placeholder="Search by staff id, Role etc.">               
                                    
                                    <div class="col-12 form-group mg-t-8" >
                                        <div class="form-group">
                                            <button type="submit" class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark" style="float: right;">Search</button>
                                        </div>
                                    </div>
                    
                                </div>
                                
            </div>
        </form>
                              
                <div class="table-responsive">
                    <table id="example" class="table display data-table text-nowrap cell=border">
                        <thead>
                            <tr>
                                <th>Staff ID</th>
                                <th>Name</th>
                                <th>Role</th>
                                <th>Department</th>  
                                <th>Designation</th>
                                <th>Gender</th>
                                <th>Mobile No.</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>12</td>
                                <td>ABC</td>
                                <td>XYZ</td>
                                <td>Computer</td>
                                <td>Admin</td>
                                <td>Male</td>
                                <td>9876543210</td>
                                <td><a href="#"><i class="fas fa-align-justify "></i>&nbsp;</a>
                                    <a href="#"><i class="fas fa-pen-alt text-orange-peel"></i>&nbsp;</a> 
                                    <a href="#"><i class="fas fa-times text-orange-red"></i>&nbsp;</a>    
                                </td>
                            </tr>
                            <tr>
                                <td>12</td>
                                <td>ABC</td>
                                <td>XYZ</td>
                                <td>Computer</td>
                                <td>Admin</td>
                                <td>Male</td>
                                <td>9876543210</td>
                                <td><a href="#"><i class="fas fa-align-justify "></i>&nbsp;</a>
                                    <a href="#"><i class="fas fa-pen-alt text-orange-peel"></i>&nbsp;</a> 
                                    <a href="#"><i class="fas fa-times text-orange-red"></i>&nbsp;</a>    
                                </td>
                            </tr>
                            <tr>
                                <td>12</td>
                                <td>ABC</td>
                                <td>XYZ</td>
                                <td>Computer</td>
                                <td>Admin</td>
                                <td>Male</td>
                                <td>9876543210</td>
                                <td><a href="#"><i class="fas fa-align-justify "></i>&nbsp;</a>
                                    <a href="#"><i class="fas fa-pen-alt text-orange-peel"></i>&nbsp;</a> 
                                    <a href="#"><i class="fas fa-times text-orange-red"></i>&nbsp;</a>    
                                </td>
                            </tr>
                            <tr>
                                <td>12</td>
                                <td>ABC</td>
                                <td>XYZ</td>
                                <td>Computer</td>
                                <td>Admin</td>
                                <td>Male</td>
                                <td>9876543210</td>
                                <td><a href="#"><i class="fas fa-align-justify "></i>&nbsp;</a>
                                    <a href="#"><i class="fas fa-pen-alt text-orange-peel"></i>&nbsp;</a> 
                                    <a href="#"><i class="fas fa-times text-orange-red"></i>&nbsp;</a>    
                                </td>
                            </tr>
                            <tr>
                                <td>12</td>
                                <td>ABC</td>
                                <td>XYZ</td>
                                <td>Computer</td>
                                <td>Admin</td>
                                <td>Male</td>
                                <td>9876543210</td>
                                <td><a href="#"><i class="fas fa-align-justify "></i>&nbsp;</a>
                                    <a href="#"><i class="fas fa-pen-alt text-orange-peel"></i>&nbsp;</a> 
                                    <a href="#"><i class="fas fa-times text-orange-red"></i>&nbsp;</a>    
                                </td>
                            </tr>
                           
                        </tbody>
                    </table>
                </div>
    </div>

    

