<!-- Student Details Area Start Here -->
<div class="breadcrumbs-area">
    <h3>Human Resource</h3>
    <ul>
        <li>
            <a href="index.html">Home</a>
        </li>
        <li>Disabled Staff</li>
    </ul>
</div>
<div class="card height-auto">
    <div class="card-body">
        <form class="new-added-form">
            <div class="row">
               
                                <div class="col-xl-6 col-lg-6 col-12 form-group">
                                    <label>Role </label>
                                    <select class="select2">
                                        <option value="">select</option>
                                        <option value="1">Admin</option>
                                        <option value="2">Teacher</option>
                                        <option value="3">Accountant</option>
                                        <option value="4">Librarian</option>
                                        <option value="5">Receptionist</option>
                                        <option value="5">Super Admin</option>
                                    </select><br>
                                    
                                </div>
                                       
                                
                                <div class="col-xl-6 col-lg-6 col-12 form-group">
                                    <label>Search By Key Words: *</label>
                                    <input type="text" name="search_text" class="form-control"   placeholder="Search by staff id, Role etc.">               
                                    
                                    <div class="col-12 form-group mg-t-8" >
                                        <div class="form-group">
                                            <button type="submit" class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark" style="float: right;">Search</button>
                                        </div>
                                    </div>
                    
                                </div>
                              
                <div class="table-responsive">
                    <table class="table display data-table text-nowrap">
                        <thead>
                            <tr>
                                <th>
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input checkAll">
                                        <label class="form-check-label">Staff ID</label>
                                    </div>
                                </th>
                                <th>Name</th>
                                <th>Role</th>
                                <th>Department</th>  
                                <th>Designation</th>
                                <th>Gender</th>
                                <th>Mobile No.</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input">
                                        <label class="form-check-label"></label>
                                    </div>
                                </td>
                                
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                              
                                <td>
                                    <div class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                                            aria-expanded="false">
                                            <span class="flaticon-more-button-of-three-dots"></span>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" href="#"><i
                                                    class="fas fa-times text-orange-red"></i>Close</a>
                                            <a class="dropdown-item" href="#"><i
                                                    class="fas fa-cogs text-dark-pastel-green"></i>Edit</a>
                                            <a class="dropdown-item" href="#"><i
                                                    class="fas fa-redo-alt text-orange-peel"></i>Refresh</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                           
                        </tbody>
                    </table>
                </div>
            </div>
        </form>
    </div>

    

