<!-- Student Details Area Start Here -->
<div class="breadcrumbs-area">
  <ul>
    <li>
      <a href="index.html">Home</a>
    </li>
    <li>Disabled Staff</li>
  </ul>
</div>
<div class="card height-auto">
  <div class="card-body">
    <form class="new-added-form">
      <div class="row">

        <div class="col-xl-3 col-lg-6 col-12 form-group">
          <label for="slt" class="slt">
            <select name="Section" class="form-control" id="slt" placeholder="&nbsp;">
              <option value="">select</option>
              <option value="1">Admin</option>
              <option value="2">Teacher</option>
              <option value="3">Accountant</option>
              <option value="4">Librarian</option>
              <option value="5">Receptionist</option>
              <option value="5">Super Admin</option>
            </select>
            <span class="label">Role *</span>
            <span class="focus-bg"></span>
          </label>
        </div>


        <div class="col-xl-3 col-lg-6 col-12 form-group">
          <label for="inp" class="inp">
            <input type="text" class="form-control" id="inp" placeholder="&nbsp;">
            <span class="label">Search *</span>
            <span class="focus-bg"></span>
          </label>
        </div>
        <div class="col-xl-3 col-lg-6 col-12 form-group">
          <button type="submit" class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark">Search</button>
        </div>



      </div>
    </form>

    <div class="table-responsive">
      <table id="example" class="table display data-table text-nowrap cell=border">
        <thead>
          <tr>
            <th>Staff ID</th>
            <th>Name</th>
            <th>Role</th>
            <th>Department</th>
            <th>Designation</th>
            <th>Gender</th>
            <th>Mobile No.</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>12</td>
            <td>ABC</td>
            <td>XYZ</td>
            <td>Computer</td>
            <td>Admin</td>
            <td>Male</td>
            <td>9876543210</td>
            <td><a href="#"><i class="fas fa-align-justify "></i>&nbsp;</a>
              <a href="#"><i class="fas fa-pen-alt text-orange-peel"></i>&nbsp;</a>
              <a href="#"><i class="fas fa-times text-orange-red"></i>&nbsp;</a>
            </td>
          </tr>
          <tr>
            <td>12</td>
            <td>ABC</td>
            <td>XYZ</td>
            <td>Computer</td>
            <td>Admin</td>
            <td>Male</td>
            <td>9876543210</td>
            <td><a href="#"><i class="fas fa-align-justify "></i>&nbsp;</a>
              <a href="#"><i class="fas fa-pen-alt text-orange-peel"></i>&nbsp;</a>
              <a href="#"><i class="fas fa-times text-orange-red"></i>&nbsp;</a>
            </td>
          </tr>
          <tr>
            <td>12</td>
            <td>ABC</td>
            <td>XYZ</td>
            <td>Computer</td>
            <td>Admin</td>
            <td>Male</td>
            <td>9876543210</td>
            <td><a href="#"><i class="fas fa-align-justify "></i>&nbsp;</a>
              <a href="#"><i class="fas fa-pen-alt text-orange-peel"></i>&nbsp;</a>
              <a href="#"><i class="fas fa-times text-orange-red"></i>&nbsp;</a>
            </td>
          </tr>
          <tr>
            <td>12</td>
            <td>ABC</td>
            <td>XYZ</td>
            <td>Computer</td>
            <td>Admin</td>
            <td>Male</td>
            <td>9876543210</td>
            <td><a href="#"><i class="fas fa-align-justify "></i>&nbsp;</a>
              <a href="#"><i class="fas fa-pen-alt text-orange-peel"></i>&nbsp;</a>
              <a href="#"><i class="fas fa-times text-orange-red"></i>&nbsp;</a>
            </td>
          </tr>
          <tr>
            <td>12</td>
            <td>ABC</td>
            <td>XYZ</td>
            <td>Computer</td>
            <td>Admin</td>
            <td>Male</td>
            <td>9876543210</td>
            <td><a href="#"><i class="fas fa-align-justify "></i>&nbsp;</a>
              <a href="#"><i class="fas fa-pen-alt text-orange-peel"></i>&nbsp;</a>
              <a href="#"><i class="fas fa-times text-orange-red"></i>&nbsp;</a>
            </td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>
