<!-- Student Details Area Start Here -->
<div class="breadcrumbs-area">
   
    <ul>
        <li>
            <a href="index.html">Home</a>
        </li>
        <li>Student Details</li>
    </ul>
</div>
<div class="card height-auto">
    <div class="card-body">
        <div class="heading-layout1">
            <div class="item-title">
                <h3>Select Criteria</h3>
            </div>
        </div>
        <form class="new-added-form">
            <div class="row">
                <div class="col-xl-4 col-lg-6 col-12 form-group">

                    <label for="slt" class="slt">
                        <select  name="class" class="form-control" id="slt" placeholder="&nbsp;">
                        <option selected >Please Select Class *</option>
             
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="3">4</option>
                        <option value="3">5</option>
                        <option value="3">6</option>
                        </select>
                        <span class="label">Class *</span>
                        <span class="focus-bg"></span>
                    </label>
                </div>

                <div class="col-xl-4 col-lg-6 col-12 form-group">

                    <label for="slt" class="slt">
                        <select  name="Section" class="form-control" id="slt" placeholder="&nbsp;">
                        <option selected >Please Select Section *</option>
             
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="3">4</option>
                        <option value="3">5</option>
                        <option value="3">6</option>
                        </select>
                        <span class="label">Section *</span>
                        <span class="focus-bg"></span>
                    </label>
                </div>
                
                
                <div class="col-xl-4 col-lg-6 col-12 form-group">
                    <label for="inp" class="inp">
                        <input type="text" name="search_text" class="form-control" id="inp" placeholder="&nbsp;">
                        <span class="label">Search By Key Words: *</span>
                        <span class="focus-bg"></span>
                    </label>
                </div>

                    <div class="col-12 form-group mg-t-8">
                        <div class="form-group">
                            <button type="submit" class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark">Search</button>
                            <button type="reset" class="btn-fill-lg bg-blue-dark btn-hover-yellow">Reset</button>
                        </div>
                    </div>

                    
            </div>
        </form>
    </div>
