<style>
    body {
        height: 100vh;
        display: grid;
        font-family: Roboto;
        -webkit-text-size-adjust: 100%;
        -webkit-font-smoothing: antialiased;
      }
      
      * {
        box-sizing: border-box;
      }
      
      .inp {
        position: relative;
        margin: auto;
        width: 100%;
        max-width: 280px;
        border-radius: 3px;
        overflow: hidden;
      }
      .inp .label {
        position: absolute;
        top: 20px;
        left: 12px;
        font-size: 16px;
        color: rgba(0, 0, 0, 0.5);
        font-weight: 500;
        -webkit-transform-origin: 0 0;
                transform-origin: 0 0;
        -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
        -webkit-transition: all 0.2s ease;
        transition: all 0.2s ease;
        pointer-events: none;
      }
      .inp .focus-bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: none;
        z-index: -1;
        -webkit-transform: scaleX(0);
                transform: scaleX(0);
        -webkit-transform-origin: left;
                transform-origin: left;
      }
      .inp input {
        -webkit-appearance: none;
        -moz-appearance: none;
             appearance: none;
        width: 100%;
        border: 0;
        font-family: inherit;
        padding: 16px 12px 0 12px;
        height: 45px;
        font-size: 16px;
        font-weight: 400;
        background: rgba(0, 0, 0, 0);
        box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.3);
        color: #000;
        -webkit-transition: all 0.15s ease;
        transition: all 0.15s ease;
      }
      .inp input:hover {
        background: rgba(0, 0, 0, 0);
        box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.5);
      }
      .inp input:not(:placeholder-shown) + .label {
        color: rgba(0, 0, 0, 0.5);
        -webkit-transform: translate3d(0, -18px, 0) scale(0.75);
                transform: translate3d(0, -18px, 0) scale(0.75);
      }
      .inp input:focus {
        background: rgba(0, 0, 0, 0);
        outline: none;
        box-shadow: inset 0 -2px 0 #0077FF;
      }
      .inp input:focus + .label {
        color: #0077FF;
        -webkit-transform: translate3d(0, -18px, 0) scale(0.75);
                transform: translate3d(0, -18px, 0) scale(0.75);
      }
      .inp input:focus + .label + .focus-bg {
        -webkit-transform: scaleX(1);
                transform: scaleX(1);
        -webkit-transition: all 0.1s ease;
        transition: all 0.1s ease;
      }
      
    
    /*******select box*********/
    .slt {
        
        position: relative;
        margin: auto;
        width: 100%;
        max-width: 280px;
        border-radius: 3px;
        overflow: hidden;
      }
      .slt .label {
        position: absolute;
        top: 20px;
        left: 12px;
        font-size: 16px;
        color: rgba(0, 0, 0, 0.5);
        font-weight: 500;
        -webkit-transform-origin: 0 0;
                transform-origin: 0 0;
        -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
        -webkit-transition: all 0.2s ease;
        transition: all 0.2s ease;
        pointer-events: none;
      }
      .slt .focus-bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0);
        z-index: -1;
        -webkit-transform: scaleX(0);
                transform: scaleX(0);
        -webkit-transform-origin: left;
                transform-origin: left;
      }
      .slt select {
        
        -webkit-appearance: none;
        -moz-appearance: none;
             appearance: none;
        width: 100%;
        border:none;
        font-family: inherit;
        padding: 16px 12px 0 12px;
        height: 45px;
        font-size: 16px;
        font-weight: 400;
        background: rgba(0, 0, 0, 0);
        box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.3);
        color: #000;
        -webkit-transition: all 0.15s ease;
        transition: all 0.15s ease;
      }
      .slt select:hover {
        background: rgba(0, 0, 0, 0);
        box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.5);
      }
      .slt select:not(:placeholder-shown) + .label {
        color: rgba(0, 0, 0, 0.5);
        -webkit-transform: translate3d(0, -18px, 0) scale(0.75);
                transform: translate3d(0, -18px, 0) scale(0.75);
      }
      .slt select:focus {
        background: rgba(0, 0, 0, 0);
        outline: none;
        box-shadow: inset 0 -2px 0 #0077FF;
      }
      .slt select:focus + .label {
        color: #0077FF;
        -webkit-transform: translate3d(0, -18px, 0) scale(0.75);
                transform: translate3d(0, -18px, 0) scale(0.75);
      }
      .slt select:focus + .label + .focus-bg {
        -webkit-transform: scaleX(1);
                transform: scaleX(1);
        -webkit-transition: all 0.1s ease;
        transition: all 0.1s ease;
      }
    
    /*********datppicker****************/
    .dtp {  
      position: relative;
      margin: auto;
      width: 100%;
      max-width: 280px;
      border-radius: 3px;
      overflow: hidden;
    }
    
    .dtp .label {
      position: absolute;
      top: 20px;
      left: 12px;
      font-size: 16px;
      color: rgba(0, 0, 0, 0.5);
      font-weight: 500;
      -webkit-transform-origin: 0 0;
              transform-origin: 0 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
      -webkit-transition: all 0.2s ease;
      transition: all 0.2s ease;
      pointer-events: none;
    }
    
    .dtp .focus-bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.05);
      z-index: -1;
      -webkit-transform: scaleX(0);
              transform: scaleX(0);
      -webkit-transform-origin: left;
              transform-origin: left;
    }
    
    .dtp input {  
      -webkit-appearance: none;
      -moz-appearance: none;
           appearance: none;
      width: 100%;
      border:none;
      font-family: inherit;
      padding: 16px 12px 0 12px;
      height: 45px;
      font-size: 16px;
      font-weight: 400;
      background: rgba(0, 0, 0, 0);
      box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.3);
      color: #000;
      -webkit-transition: all 0.15s ease;
      transition: all 0.15s ease;
    }
    
    .dtp input:hover {
      background: rgba(0, 0, 0, 0);
      box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.5);
    }
    .dtp input:not(:placeholder-shown) + .label {
      color: rgba(0, 0, 0, 0.5);
      -webkit-transform: translate3d(0, -18px, 0) scale(0.75);
              transform: translate3d(0, -18px, 0) scale(0.75);
    }
    .dtp input:focus {
      background: rgba(0, 0, 0, 0);
      outline: none;
      box-shadow: inset 0 -2px 0 #0077FF;
    }
    .dtp input:focus + .label {
      color: #0077FF;
      -webkit-transform: translate3d(0, -18px, 0) scale(0.75);
              transform: translate3d(0, -18px, 0) scale(0.75);
    }
    .dtp input:focus + .label + .focus-bg {
      -webkit-transform: scaleX(1);
              transform: scaleX(1);
      -webkit-transition: all 0.1s ease;
      transition: all 0.1s ease;
    }
    </style>


  
<div class="breadcrumbs-area">
    <ul>
      <li>
        <a href="index.html">Home</a>
      </li>
      <li>Modules</li>
    </ul>
  </div>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  <div class="col-xl-12 col-12">
    <!--<label for="dtp" class="dtp">
      <input type="date" id="dtp" placeholder="&nbsp;" name="admission">
      <span class="label"> Notice Date *</span>
      <span class="focus-bg"></span>
    </label>-->
    <div class="card height-auto">
        <div class="card-body">
            
          <div class="row">
              <div class="col-xl-3 col-lg-6 col-12 form-group">
            <div class="item-title">
                <h5>Modules</h5>
                </div>
          </div>
  
  
          <div class="col-xl-10 col-lg-10 col-10 form-desig">
            <div class="custom-tab">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item"><a class="nav-link active" href="#group" data-toggle="tab" aria-selected="true">System</a></li>
                    <li class="nav-item"><a class="nav-link" href="#individual" data-toggle="tab" aria-selected="true">Student</a></li>
                    <li class="nav-item"><a class="nav-link" href="#class" data-toggle="tab" aria-selected="true">Parent</a></li>
                    
                        <!---- <li class="nav-item"><a class="nav-link" href="#timelineh" data-toggle="tab" aria-selected="true">Timeline</a></li>
                        <li class="nav-item"><a class="nav-link" href="#"><i style="color: rgb(81, 81, 81);" class="fas fa-pencil-alt"></i></a></li>
                        <li class="nav-item"><a class="nav-link" href="#"><i class="fas fa-key text-dark-pastel-green"></i></a></li>
                         <li class="nav-item"><a class="nav-link" href="#"><i class="fas fa-thumbs-down text-orange-red"></i></a></li>
                         <li class="nav-item"><a class="nav-link" href="#"><i style="color: black;" class="fas fa-ellipsis-v"></i></a></li>-->
                </ul>
            </div>
            
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="group" role="tabpanel">
                                <br>
                                <form class="new-added-form">
                                    <div class="col-xl-3 col-lg-6 col-12 form-group">
                                        <label for="inp" class="inp">
                                            <input type="text" class="form-control" id="inp" placeholder="&nbsp;">
                                            <span class="label">Search.. </span>
                                            <span class="focus-bg"></span>
                                        </label>
                                      </div>
                                    
                                  </form> 

                                  <div class="table-responsive">
                                    <table id="example" class="table display data-table text-nowrap cell-border">
                                      <thead>
                                          <tr>
                                              
                                              
                                                                             
                                             
                                              <th>Name</th>
                                              <th>Action</th>  
                                                                      
                                          </tr>
                                      </thead>
                                      <tbody>
                                          <tr>
                                              
                                              
                                              <td>Fees Collection</td>
                                              <td><input type="checkbox"></td>
                                          </tr>
                                          <tr>
                                            
                                            
                                            <td>Income</td>
                                            <td><input type="checkbox"></td>
                                         </tr>
                                         <tr>
                                          
                                          
                                          <td>Expense</td>
                                          <td><input type="checkbox"></td>
                                         </tr>
                                         <tr>
                                          
                                          
                                          <td>Student Attendance</td>
                                          <td><input type="checkbox"></td>
                                         </tr>

                                         <tr>
                                          
                                          
                                            <td>Examination</td>
                                            <td><input type="checkbox"></td>
                                           </tr>

                                           <tr>
                                                <td>Download Center</td>
                                                <td><input type="checkbox"></td>
                                           </tr>

                                           <tr>
                                                <td>Library</td>
                                                <td><input type="checkbox"></td>
                                            </tr>

                                            <tr>
                                                <td>Inventory</td>
                                                <td><input type="checkbox"></td>
                                            </tr>

                                            <tr>
                                                <td>Transport</td>
                                                <td><input type="checkbox"></td>
                                            </tr>

                                            <tr>
                                                <td>Hostel</td>
                                                <td><input type="checkbox"></td>
                                            </tr>

                                            <tr>
                                                <td>Communicate</td>
                                                <td><input type="checkbox"></td>
                                            </tr>

                                            <tr>
                                                <td>Front CMS</td>
                                                <td><input type="checkbox"></td>
                                            </tr>

                                            <tr>
                                                <td>Front Office</td>
                                                <td><input type="checkbox"></td>
                                            </tr>

                                            <tr>
                                                <td>Homework</td>
                                                <td><input type="checkbox"></td>
                                            </tr>

                                            <tr>
                                                <td>Certificate</td>
                                                <td><input type="checkbox"></td>
                                            </tr>

                                            <tr>
                                                <td>Calendar To Do List</td>
                                                <td><input type="checkbox"></td>
                                            </tr>

                                            <tr>
                                                <td>Online Examination</td>
                                                <td><input type="checkbox"></td>
                                            </tr>

                                            <tr>
                                                <td>Chat</td>
                                                <td><input type="checkbox"></td>
                                            </tr>

                                            <tr>
                                                <td>Multi Class</td>
                                                <td><input type="checkbox"></td>
                                            </tr>
                                      </tbody>
                                  </table>
                                  </div>
                            </div>
  
                            <div class="tab-pane fade" id="individual" role="tabpanel">
                                <br>
                                <form class="new-added-form">
                                    <div class="col-xl-3 col-lg-6 col-12 form-group">
                                        <label for="inp" class="inp">
                                            <input type="text" class="form-control" id="inp" placeholder="&nbsp;">
                                            <span class="label">Search.. </span>
                                            <span class="focus-bg"></span>
                                        </label>
                                      </div>
                                    
                                  </form> 

                                  <div class="table-responsive">
                                    <table id="example" class="table display data-table text-nowrap cell-border">
                                     
                                        <thead>
                                            <tr>
                                                
                                                
                                                                               
                                               
                                                <th>Name</th>
                                                <th>Action</th>  
                                                                        
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                
                                                
                                                <td>Fees</td>
                                                <td><input type="checkbox"></td>
                                            </tr>
                                            <tr>
                                              
                                              
                                              <td>Homework</td>
                                              <td><input type="checkbox"></td>
                                           </tr>
                                           <tr>
                                            
                                            
                                            <td>Download Center</td>
                                            <td><input type="checkbox"></td>
                                           </tr>
                                           <tr>
                                            
                                            
                                            <td>Attendance</td>
                                            <td><input type="checkbox"></td>
                                           </tr>
  
                                           <tr>
                                            
                                            
                                              <td>Examinations</td>
                                              <td><input type="checkbox"></td>
                                             </tr>
  
                                             <tr>
                                                  <td>Notice Board</td>
                                                  <td><input type="checkbox"></td>
                                             </tr>
  
                                             <tr>
                                                  <td>Library</td>
                                                  <td><input type="checkbox"></td>
                                              </tr>
  
                                               
                                              <tr>
                                                  <td>Transport Routes</td>
                                                  <td><input type="checkbox"></td>
                                              </tr>
  
                                              <tr>
                                                  <td>Hostel Rooms</td>
                                                  <td><input type="checkbox"></td>
                                              </tr>
  
                                              <tr>
                                                  <td>Calendar To Do List</td>
                                                  <td><input type="checkbox"></td>
                                              </tr>
  
                                              <tr>
                                                  <td>Online Examination</td>
                                                  <td><input type="checkbox"></td>
                                              </tr>
  
                                              <tr>
                                                  <td>Teachers Rating</td>
                                                  <td><input type="checkbox"></td>
                                              </tr>
  
                                              <tr>
                                                  <td>Chat</td>
                                                  <td><input type="checkbox"></td>
                                              </tr>
  
                                             
  
                                              <tr>
                                                  <td>Multi Class</td>
                                                  <td><input type="checkbox"></td>
                                              </tr>
                                        </tbody>
                                  </table>
                                  </div>
                               
                            </div>
                    
                            <div class="tab-pane fade" id="class" role="tabpanel">
                                <br>
                                <form class="new-added-form">
                                    <div class="col-xl-3 col-lg-6 col-12 form-group">
                                        <label for="inp" class="inp">
                                            <input type="text" class="form-control" id="inp" placeholder="&nbsp;">
                                            <span class="label">Search.. </span>
                                            <span class="focus-bg"></span>
                                        </label>
                                      </div>
                                    
                                  </form> 

                                  <div class="table-responsive">
                                    <table id="example" class="table display data-table text-nowrap cell-border">
                                     
                                        <thead>
                                            <tr>
                                                
                                                
                                                                               
                                               
                                                <th>Name</th>
                                                <th>Action</th>  
                                                                        
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                
                                                
                                                <td>Fees</td>
                                                <td><input type="checkbox"></td>
                                            </tr>
                                            <tr>
                                              
                                              
                                              <td>Homework</td>
                                              <td><input type="checkbox"></td>
                                           </tr>
                                           <tr>
                                            
                                            
                                            <td>Download Center</td>
                                            <td><input type="checkbox"></td>
                                           </tr>
                                           <tr>
                                            
                                            
                                            <td>Attendance</td>
                                            <td><input type="checkbox"></td>
                                           </tr>
  
                                           <tr>
                                            
                                            
                                              <td>Examinations</td>
                                              <td><input type="checkbox"></td>
                                             </tr>
  
                                             <tr>
                                                  <td>Notice Board</td>
                                                  <td><input type="checkbox"></td>
                                             </tr>
  
                                             <tr>
                                                  <td>Library</td>
                                                  <td><input type="checkbox"></td>
                                              </tr>
  
                                               
                                              <tr>
                                                  <td>Transport Routes</td>
                                                  <td><input type="checkbox"></td>
                                              </tr>
  
                                              <tr>
                                                  <td>Hostel Rooms</td>
                                                  <td><input type="checkbox"></td>
                                              </tr>
  
                                              <tr>
                                                  <td>Calendar To Do List</td>
                                                  <td><input type="checkbox"></td>
                                              </tr>
  
                                             
  
                                              <tr>
                                                  <td>Teachers Rating</td>
                                                  <td><input type="checkbox"></td>
                                              </tr>
  
                                             
  
                                             
  
                                             
                                        </tbody>


                                  </table>
                                  </div>
                            </div>
  
                           
  
                           
  
                        
  
  
                        </div>
          </div>
        </div>
        </div>
        </div>
  
        </div>
  

