<div class="breadcrumbs-area">
    <h3>Search Due Fees</h3>
    <ul>
        <li>
            <a href="index.html">Home</a>
        </li>
        <li>Search Due Fees</li>
    </ul>
   </div>
   <div class="card height-auto">
    <div class="card-body">
        <form class="new-added-form">
            <div class="row">
  
                <div class="col-xl-4 col-lg-6 col-12 form-group">
                    <label>Fees Group <span class="req" style="color: red;">*</span></label>
                    <select class="select2">
                        <option value="">select</option>
                        <option value="1">General</option>
                        <option value="2">Addmission-fees</option>

                    </select>
                </div>

              <div class="col-xl-4 col-lg-6 col-12 form-group">
                  <label>Class <span class="req" style="color: red;">*</span></label>
                  <select class="select2">
                      <option value="">select</option>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                  </select>
                  
          </div>
          <div class="col-xl-4 col-lg-6 col-12 form-group">
              <label>Section </label>
              <select class="select2">
                  <option value="">select</option>
                  <option value="1">A</option>
                  <option value="2">B</option>
                  <option value="3">C</option>
                  <option value="3">D</option>
              </select>
                         
          </div>
          <div class="col-12 form-group mg-t-8">
            <div class="form-group">
                <button type="submit" class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark">Search</button>
            </div>
        </div>
       
                
                
            </div>
          
        </form>
    
      <br>
  
    
      <div class="table-responsive">
        <div class="col-1-xxxl col-xl-2 col-lg-3 col-12">
            <a href="#"><i class="fas fa-copy"></i>&nbsp;</a>
            <a href="#"><i class="fas fa-file-excel"></i>&nbsp;</a>
            <a href="#"><i class="fas fa-file-csv"></i>&nbsp;</a>
            <a href="#"><i class="fas fa-file-pdf"></i>&nbsp;</a>
            <a href="#"><i class="fas fa-print"></i>&nbsp;</a>
            <a href="#"><i class="fas fa-columns"></i>&nbsp;</a>
          </div>
        <table class="table display data-table text-nowrap">
            <thead>
                
                <tr>
                    <th>Roll</th>
                    <th>Name</th>
                    <th>Class</th>
                    <th>Father Name</th>  
                    <th>Date Of Birth</th>
                    <th>Gender</th>
                    <th>Category</th>
                    <th>Mobile No.</th>
                    <th>Enrolled</th>
                    <th>Action</th>
                    
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                   
                    <td> <a href="#"><i class="fas fa-align-justify "></i>&nbsp;</a>
                        <a href="#"><i class="fas fa-pen-alt text-orange-peel"></i>&nbsp;</a> 
                        <a href="#"><i class="fas fa-times text-orange-red"></i>&nbsp;</a></td>
                </tr>
               
            </tbody>
        </table>
    </div>
    </div>
   </div>
  
    
  
    