<!-- Breadcubs Area Start Here -->
<div class="breadcrumbs-area">
    <ul>
            <li><a href="index.html">Home</a></li>
            <li>Students</li>
    </ul>
</div>
<!-- Breadcubs Area End Here -->

<!-- My Profile Area Start Here -->

<div class="row">  
    <div class="col-3-xxxl col-lg-6 col-xl-3">
        <div class="card height-auto">
            <div class="card-body">
                <div class="user-details-box">
                    <div class="item-img text-center">
                        <img style="border-radius: 50%;" src="../../assets/img/figure/user.jpg" alt="user">
                    </div>
                    <h3 class="font-medium text-dark-medium text-center">Super Admin</h3>
                    <table class="table text-wrap">
                        <tbody>
                            <tr>
                                <td>Staff ID</td>
                                <td class="font-medium text-dark-medium">9000</td>
                            </tr>
                            <tr>
                                <td>Role</td>
                                <td class="font-medium text-dark-medium">Super Admin</td>
                            </tr>
                            <tr>
                                <td>Designation</td>
                                <td class="font-medium text-dark-medium">Administrator</td>
                            </tr>
                            <tr>
                                <td>Department</td>
                                <td class="font-medium text-dark-medium">Management</td>
                            </tr>
                            <tr>
                                <td>EPF No.</td>
                                <td class="font-medium text-dark-medium">SP1248954</td>
                            </tr>
                            <tr>
                                <td>Basic Salary</td>
                                <td class="font-medium text-dark-medium">25000</td>
                            </tr>
                            <tr>
                                <td>Contract Type</td>
                                <td class="font-medium text-dark-medium">Permanent</td>
                            </tr>
                            <tr>
                                <td>Work Shift</td>
                                <td class="font-medium text-dark-medium">Day</td>
                            </tr>
                            <tr>
                                <td>Location</td>
                                <td class="font-medium text-dark-medium">Sangli</td>
                            </tr>
                            <tr>
                                <td>Date Of Joining</td>
                                <td class="font-medium text-dark-medium">30/11/2008</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    
    
    <div class="col-9-xxxl col-xl-9">
        <div class="card height-auto">
            <div class="card-body">
            <div class="custom-tab">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item"><a class="nav-link active" href="#activity" data-toggle="tab" aria-selected="true">Profile</a></li>
                    <li class="nav-item"><a class="nav-link" href="#payroll" data-toggle="tab" aria-selected="true">Payroll</a></li>
                    <li class="nav-item"><a class="nav-link" href="#leaves" data-toggle="tab" aria-selected="true">Leaves</a></li>
                    <li class="nav-item"><a class="nav-link" href="#attendance" data-toggle="tab" aria-selected="true">Attendance</a></li>
                    <li class="nav-item"><a class="nav-link" href="#documents" data-toggle="tab" aria-selected="true">Documents</a></li>
                    <li class="nav-item"><a class="nav-link" href="#timelineh" data-toggle="tab" aria-selected="true">Timeline</a></li>
                    <li class="nav-item"><a class="nav-link" href="#"><i style="color: rgb(81, 81, 81);" class="fas fa-pencil-alt"></i></a></li>
                    <li class="nav-item"><a class="nav-link" href="#"><i class="fas fa-key text-dark-pastel-green"></i></a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="activity" role="tabpanel">
                            <div class="table-responsive">
                                <table class="table table-hover table-striped" style="border: 1px solid rgb(180, 180, 180);">
                                    <tbody>
                                            <tr>
                                                <td>Admission Date</td>
                                                <td class="font-medium text-dark-medium">01/01/2020</td>
                                            </tr>
                                            <tr>
                                                <td>Date of Birth</td>
                                                <td class="font-medium text-dark-medium">01/11/2017</td>
                                            </tr>             
                                            <tr>
                                                <td>Category</td>
                                                <td class="font-medium text-dark-medium">Special</td>
                                            </tr>
                                            <tr>
                                                <td>Mobile Number</td>
                                                <td class="font-medium text-dark-medium">8600865500</td>
                                            </tr>
                                            <tr>
                                                <td>Caste</td>
                                                <td class="font-medium text-dark-medium">OBC</td>
                                            </tr>
                                            <tr>
                                                <td>Religion</td>
                                                <td class="font-medium text-dark-medium">Hindu</td>
                                            </tr>
                                             <tr>
                                                <td>Email</td>
                                                <td class="font-medium text-dark-medium">atul.gore74@gmail.com</td>
                                            </tr>
                                        </tbody>
                                </table>
                            </div>
                            
                            <h3>Address </h3>
                                <table class="table table-hover table-striped" style="border: 1px solid rgb(180, 180, 180)">
                                    <tbody>
                                        <tr>
                                            <td>Current Address</td>
                                            <td class="font-medium text-dark-medium">36, Samarth Residency, Vishrambag, Sangli</td>
                                        </tr>
                                        <tr>
                                            <td>Permanent Address</td>
                                            <td class="font-medium text-dark-medium">36, Samarth Residency, Vishrambag, Sangli</td>
                                        </tr>
                                    </tbody>
                                </table>

                            <h3>Parent / Guardian Details </h3>
                            <div class="table-responsive">
                                <table class="table table-hover table-striped" style="border: 1px solid rgb(180, 180, 180)">
                                    <tbody>
                                        <tr>
                                            <td>Father Name</td>
                                            <td class="font-medium text-dark-medium">Atul</td>
                                            <td rowspan="3" width="300" valign="center">
                                                <div class="item-img text-center">
                                                    <img style="border-radius: 50%; height: 150px; width: 150px;" src="../../assets/img/figure/user.jpg" alt="user">
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Father Phone</td>
                                            <td class="font-medium text-dark-medium">8600865500</td>
                                        </tr>
                                         <tr>
                                            <td>Father Occupation</td>
                                            <td class="font-medium text-dark-medium">Busniess</td>
                                        </tr>
                                        <tr>
                                            <td>Mother Name</td>
                                            <td class="font-medium text-dark-medium">ABC</td>
                                            <td rowspan="3" width="300" valign="center">
                                                <div class="item-img text-center">
                                                    <img style="border-radius: 50%; height: 150px; width: 150px;" src="../../assets/img/figure/user1.jpg" alt="user">
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Mother Phone</td>
                                            <td class="font-medium text-dark-medium">9876543210</td>
                                        </tr>
                                        <tr>
                                            <td>Mother Occupation</td>
                                            <td class="font-medium text-dark-medium">Homemaker</td>
                                        </tr>
                                        <tr>
                                            <td>Guardian Name</td>
                                            <td class="font-medium text-dark-medium">Atul</td>
                                            <td rowspan="3" width="300" valign="center">
                                                <div class="item-img text-center">
                                                    <img style="border-radius: 50%; height: 150px; width: 150px;" src="../../assets/img/figure/user.jpg" alt="user">
                                                </div>
                                            </td>
                                        </tr>                                                                                        
                                        <tr>
                                            <td>Guardian Email</td>
                                            <td class="font-medium text-dark-medium">Guardian@mail.com</td>
                                        </tr>
                                        <tr>
                                            <td>Guardian Relation</td>
                                            <td class="font-medium text-dark-medium">Father</td>
                                        </tr>
                                        <tr>
                                            <td>Guardian Phone</td>
                                            <td class="font-medium text-dark-medium">8600865500</td>
                                        </tr>
                                        <tr>
                                            <td>Guardian Occupation</td>
                                            <td class="font-medium text-dark-medium">Busniess</td>
                                        </tr>
                                        <tr>
                                            <td>Guardian Address</td>
                                            <td class="font-medium text-dark-medium">36, Vishrambag, Sangli</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <h3>Transport Details</h3>
                                    <div class="table-responsive">
                                        <table class="table table-hover table-striped" style="border: 1px solid rgb(180, 180, 180)">
                                            <tbody>
                                                <tr>
                                                    <td>Route</td>
                                                    <td class="font-medium text-dark-medium">Moshi</td>
                                                </tr>
                                                <tr>
                                                    <td>Vehicle Number</td>
                                                    <td class="font-medium text-dark-medium">MH-14-DW-1783</td>
                                                </tr>
                                                <tr>
                                                    <td>Driver Name</td>
                                                    <td  class="font-medium text-dark-medium">Lokesh</td>
                                                </tr>
                                                <tr>
                                                    <td>Driver Contact</td>
                                                    <td  class="font-medium text-dark-medium">8149498672</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                
                                <h3>Miscellaneous Details</h3>
                                <div class="table-responsive">
                                    <table class="table table-hover table-striped" style="border: 1px solid rgb(180, 180, 180)">
                                    <tbody>
                                    <tr>
                                        <td>Blood Group</td>
                                        <td class="font-medium text-dark-medium">B+</td>
                                    </tr>
                                    <tr>
                                        <td>Student House</td>
                                        <td class="font-medium text-dark-medium">Red</td>
                                    </tr>
                                    <tr>
                                        <td>Height</td>
                                        <td class="font-medium text-dark-medium">100cm</td>
                                    </tr>
                                    <tr>
                                        <td>Weight</td>
                                        <td class="font-medium text-dark-medium">20kg</td>
                                    </tr>
                                    <tr>
                                        <td>As on Date</td>
                                        <td class="font-medium text-dark-medium">01/01/1970</td>
                                    </tr>
                                    <tr>
                                        <td>Previous School Details</td>
                                        <td class="font-medium text-dark-medium">Z. P. School-1, Sangli</td>
                                    </tr>
                                    <tr>
                                        <td>National Identification Number</td>
                                        <td class="font-medium text-dark-medium">9876543210</td>
                                    </tr>
                                    <tr>
                                        <td>Local Identification Number</td>
                                        <td class="font-medium text-dark-medium">1478520369</td>
                                    </tr>
                                    <tr>
                                        <td>Bank Account Number</td>
                                        <td class="font-medium text-dark-medium">0321456987</td>
                                    </tr>
                                    <tr>
                                        <td>Bank Name</td>
                                        <td class="font-medium text-dark-medium">State Bank of India</td>
                                    </tr>
                                    <tr>
                                        <td>IFSC Code</td>
                                        <td class="font-medium text-dark-medium">SBIN0002525</td>
                                    </tr>
                                </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="fee" role="tabpanel">
                            <div class="table-responsive">
                                <table id="example" class="table table-hover table-striped cell-border" style="border: 1px solid rgb(180, 180, 180)">
                                    <thead>
                                        <tr>
                                            <th>Fees Group</th>
                                            <th>Fees Code</th>
                                            <th>Due Date</th>
                                            <th>Status</th>
                                            <th>Amount <span>(₹)</span></th>
                                            <th>Payment Id</th>
                                            <th>Mode</th>
                                            <th>Date</th>
                                            <th>Discount <span>(₹)</span></th>
                                            <th>Fine <span>(₹)</span></th>
                                            <th>Paid <span>(₹)</span></th>
                                            <th>Balance <span>(₹)</span></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                                <td>General</td>
                                                <td>admission-fees</td>
                                                <td class="text text-left">10/01/2020</td>
                                                <td class="text text-left"><span class="label label-danger">Unpaid</span></td>
                                                <td class="text text-right">500.00</td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td class="text text-right">0.00</td>
                                                <td class="text text-right">0.00</td>
                                                <td class="text text-right">0.00</td>
                                                <td class="text text-right">500.00</td>
                                        </tr>
                                        <tr class="box box-solid total-bg even" role="row">
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td class="text text-right">Grand Total</td>
                                            <td class="text text-right">₹500.00</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>    
                                            <td class="text text-right">₹0.00</td>
                                            <td class="text text-right">₹0.00</td>
                                            <td class="text text-right">₹0.00</td>
                                            <td class="text text-right">₹500.00</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        
                        <div class="tab-pane fade" id="timelineh" role="tabpanel">
                            <h3>Timeline</h3>
                        </div>

                        <div class="tab-pane fade" id="documents" role="tabpanel">
                                <button type="button" class="btn btn-xs btn-primary">
                                     <i class="fas fa-upload"></i>  Upload Documents
                                </button>

                                <div class="table-responsive">
                                    <table id="example" class="table table-hover table-striped cell-border" style="border: 1px solid rgb(180, 180, 180)">
                                        <thead>
                                            <tr>
                                                <th>Title</th>                                                    
                                                <th>Name</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                        </tbody>
                                    </table>
                                </div>
                        </div>

                        <div class="tab-pane fade" id="exam" role="tabpanel">
                             <h3>Exam Result</h3>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<!-- My Profile Area End Here -->