<!-- Breadcubs Area Start Here -->
<div class="breadcrumbs-area">
  <ul>
    <li>
      <a href="index.html">Home</a>
    </li>
    <li>Student Certificate</li>
  </ul>
</div>
<!-- Breadcubs Area End Here -->

<!-- Student Certificate Area End Here -->
<div class="row gutters-20">
  <div class="col-xl-4 col-6">
    <div class="card height-auto">
      <div class="card-body">
        <div class="heading-layout1">
          <div class="item-title">
            <h3>Student Certificate List</h3>
          </div>
        </div>
        <form class="new-added-form">
          <div class="row">
            <div class="col-xl-12 col-lg-12 col-12 form-desig">
              <label for="inp" class="inp">
                <input type="text" class="form-control" id="inp" placeholder="&nbsp;"
                  [(ngModel)]="certificateDto.certificateName" name="certificateName"
                  [value]="certificateDto.certificateName">
                <span class="label">Certificate
                  Name*</span>
                <span class="focus-bg"></span>
              </label>
            </div>

            <div class="col-xl-12 col-lg-12 col-12 form-desig">
              <label for="inp" class="inp">
                <input type="text" class="form-control" id="inp" placeholder="&nbsp;"
                  [(ngModel)]="certificateDto.leftHeader" name="leftHeader" [value]="certificateDto.leftHeader">
                <span class="label">Header Left Text *</span>
                <span class="focus-bg"></span>
              </label>
            </div>

            <div class="col-xl-12 col-lg-12 col-12 form-desig">
              <label for="inp" class="inp">
                <input type="text" class="form-control" id="inp" placeholder="&nbsp;"
                  [(ngModel)]="certificateDto.centerHeader" name="centerHeader" [value]="certificateDto.centerHeader">
                <span class="label">Header Center Text*</span>
                <span class="focus-bg"></span>
              </label>
            </div>

            <div class="col-xl-12 col-lg-12 col-12 form-desig">
              <label for="inp" class="inp">
                <input type="text" class="form-control" id="inp" placeholder="&nbsp;"
                  [(ngModel)]="certificateDto.rightHeader" name="rightHeader" [value]="certificateDto.rightHeader">
                <span class="label">Header Right Text*</span>
                <span class="focus-bg"></span>
              </label>
            </div>

            <div class="col-xl-12 col-lg-12 col-12 form-desig">
              <label for="inp" class="inp">
                <input type="text" class="form-control" id="inp" placeholder="&nbsp;"
                  [(ngModel)]="certificateDto.certificateText" name="certificateText"
                  [value]="certificateDto.certificateText">
                <span class="label">Body Text*</span>
                <span class="focus-bg"></span>
              </label>
            </div>

            <div class="col-xl-12 col-lg-12 col-12 form-desig">
              <label style="font-size: smaller;">Format:
                [name] [dob] [present_address] [guardian] [created_at] [admission_no] [roll_no] [class] [section]
                [gender] [admission_date] [category] [cast] [father_name] [mother_name] [religion] [email]
                [phone]</label>
            </div>
            <div class="col-xl-12 col-lg-12 col-12 form-desig">
              <label for="inp" class="inp">
                <input type="text" class="form-control" id="inp" placeholder="&nbsp;"
                  [(ngModel)]="certificateDto.leftFooter" name="leftFooter" [value]="certificateDto.leftFooter">
                <span class="label">Footer Left Text*</span>
                <span class="focus-bg"></span>
              </label>
            </div>

            <div class="col-xl-12 col-lg-12 col-12 form-desig">
              <label for="inp" class="inp">
                <input type="text" class="form-control" id="inp" placeholder="&nbsp;"
                  [(ngModel)]="certificateDto.centerFooter" name="centerFooter" [value]="certificateDto.centerFooter">
                <span class="label">Footer Center Text *</span>
                <span class="focus-bg"></span>
              </label>
            </div>

            <div class="col-xl-12 col-lg-12 col-12 form-desig">
              <label for="inp" class="inp">
                <input type="text" class="form-control" id="inp" placeholder="&nbsp;"
                  [(ngModel)]="certificateDto.rightFooter" name="rightFooter" [value]="certificateDto.rightFooter">
                <span class="label">Footer Right Text*</span>
                <span class="focus-bg"></span>
              </label>
            </div>


            <div class="col-xl-12 col-lg-12 col-12 form-desig">
              <label for="inp" class="inp">
                <input type="text" class="form-control" id="inp" placeholder="&nbsp;"
                  [(ngModel)]="certificateDto.footerHeight" name="footerHeight" [value]="certificateDto.footerHeight">
                <span class="label">Footer
                  Height*</span>
                <span class="focus-bg"></span>
              </label>
            </div>
            <div class="col-xl-12 col-lg-12 col-12 form-desig">
              <label for="inp" class="inp">
                <input type="text" class="form-control" id="inp" placeholder="&nbsp;"
                  [(ngModel)]="certificateDto.headerHeight" name="headerHeight" [value]="certificateDto.headerHeight">
                <span class="label">Header Height*</span>
                <span class="focus-bg"></span>
              </label>
            </div>
            <div class="col-xl-12 col-lg-12 col-12 form-desig">
              <label for="inp" class="inp">
                <input type="text" class="form-control" id="inp" placeholder="&nbsp;"
                  [(ngModel)]="certificateDto.contentHeight" name="contentHeight"
                  [value]="certificateDto.contentHeight"> <span class="label">Body Height
                  *</span>
                <span class="focus-bg"></span>
              </label>
            </div>

            <div class="col-xl-12 col-lg-12 col-12 form-desig">
              <label for="inp" class="inp">
                <input type="text" class="form-control" id="inp" placeholder="&nbsp;"
                  [(ngModel)]="certificateDto.contentWidth" name="contentWidth" [value]="certificateDto.contentWidth">
                <span class="label">Body
                  Width*</span>
                <span class="focus-bg"></span>
              </label>
            </div>

            <div class="col-xl-12 col-lg-12 col-12 form-desig">
              <div class="row">
                <div class="col-xl-8 col-lg-6 col-12 form-group">
                  <label for="inp" class="inp" style="font-size: medium;">Student Image</label>
                </div>
                <div class="col-xl-4 col-lg-2 col-12 form-group">

                  <div class="onoffswitch">
                    <input type="checkbox" class="onoffswitch-checkbox" id="myonoffswitch"
                      [(ngModel)]="certificateDto.enableStudentImage" name="enableStudentImage"
                      [value]="certificateDto.enableStudentImage">
                    <label class="onoffswitch-label" for="myonoffswitch">
                      <span class="onoffswitch-inner"></span>
                      <span class="onoffswitch-switch"></span>
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-12 col-lg-12 col-12 form-desig">
              <label for="inp" class="inp">
                <input type="text" class="form-control" id="inp" placeholder="&nbsp;"
                  [(ngModel)]="certificateDto.enableImageHeight" name="enableImageHeight"
                  [value]="certificateDto.enableImageHeight">

                <span class="label">photo
                  height *</span>
                <span class="focus-bg"></span>
              </label>
            </div>
            <div class="col-xl-12 col-lg-12 col-12 form-desig">
              <label style="font-size: smaller;">Background Image </label>
              <input type="file" class="form-control-file" id="inp" placeholder="&nbsp;"
                [(ngModel)]="certificateDto.backgroundImage" name="backgroundImage"
                [value]="certificateDto.backgroundImage">

            </div>



            <div class="col-xl-12 col-lg-12 col-12 form-desig">
              <button *ngIf="!this.isUpdate" (click)="addcer()" type="button"
                class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark" data-toggle="modal" data-target="#myModal">
                Save
              </button>
              <button *ngIf="this.isUpdate" (click)="updatecer(certificateDto.id)" type="button"
                class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark" data-toggle="modal" data-target="#myModal">
                Update
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-xl-8 col-6">
    <div class="card height-auto">
      <div class="card-body">

        <div class="heading-layout1">
          <div class="item-title">
            <h3>Student Certificate List</h3>
          </div>
        </div>
        <div class="table-responsive">
          <table id="example" class="table display data-table text-nowrap cell-border">
            <thead>
              <tr>
                <th>Certificate Name</th>
                <th>Background Image</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let cer of certificate">
                <td>{{ cer.certificateName }}</td>
                <td>{{ cer.backgroundImage }}</td>

                <td> <a (click)="setUpdateFileds(cer.id)" data-toggle="modal" data-target="#myModal"><i
                      class="fas fa-pen-alt text-orange-peel"></i>&nbsp;</a>
                  <a (click)="deletecer(cer.id)"><i class=" fas fa-times text-orange-red"></i>&nbsp;</a></td>

              </tr>
            </tbody>
          </table>

        </div>
      </div>
    </div>
  </div>
</div>
