    <!-- Breadcubs Area Start Here -->
    <div class="breadcrumbs-area">
        <h3>Certificate</h3>
        <ul>
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>Student Certificate</li>
        </ul>
    </div>
    <!-- Breadcubs Area End Here -->
    <!-- Student Certificate Area Start Here -->
    <div class="card height-auto">
        <div class="card-body">
            <div class="heading-layout1">
                <div class="item-title">
                    <h3>Add Student Certificate</h3>
                </div>
                <div class="dropdown">
                    <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                        aria-expanded="false">...</a>

                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="#"><i
                                class="fas fa-times text-orange-red"></i>Close</a>
                        <a class="dropdown-item" href="#"><i
                                class="fas fa-cogs text-dark-pastel-green"></i>Edit</a>
                        <a class="dropdown-item" href="#"><i
                                class="fas fa-redo-alt text-orange-peel"></i>Refresh</a>
                    </div>
                </div>
            </div>
            <form class="new-added-form">
                <div class="row">
                    <div class="col-xl-3 col-lg-6 col-12 form-group">
                        <label>Certificate Name *</label>
                        <input type="text" placeholder="" class="form-control">
                    </div>
                    <div class="col-xl-3 col-lg-6 col-12 form-group">
                        <label>Header Left Text</label>
                        <input type="text" placeholder="" class="form-control">
                    </div>
                    <div class="col-xl-3 col-lg-6 col-12 form-group">
                        <label>Header Center Text</label>
                        <input type="text" placeholder="" class="form-control">
                    </div>
                    <div class="col-xl-3 col-lg-6 col-12 form-group">
                        <label>Header Rigth Text</label>
                        <input type="text" placeholder="" class="form-control">
                    </div>
                    <div class="col-lg-6 col-12 form-group">
                        <label>Body Text *</label>
                        <textarea class="textarea form-control" name="body_text" id="body_text" cols="10"
                            rows="5"></textarea>
                    </div>
                    <div class="col-lg-6 col-12 form-group">
                        <label>Format</label>
                        <label>[name] [dob]  [present_address] [guardian] [created_at] [admission_no] [roll_no] [class] [section] [gender] [admission_date] [category] [cast] [father_name] [mother_name] [religion] [email] [phone]</label>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-12 form-group">
                        <label>Footer Left Text</label>
                        <input type="text" placeholder="" class="form-control">
                    </div>
                    <div class="col-xl-3 col-lg-6 col-12 form-group">
                        <label>Footer Centre Text</label>
                        <input type="text" placeholder="" class="form-control">
                    </div>
                    <div class="col-xl-3 col-lg-6 col-12 form-group">
                        <label>Footer Right Text</label>
                        <input type="text" placeholder="" class="form-control">
                    </div>
                    <div class="col-xl-3 col-lg-6 col-12 form-group"></div>
                    <div class="col-xl-3 col-lg-6 col-12 form-group">
                        <label>Certificate Design</label>
                        <input type="text" placeholder="Header Height" class="form-control">
                    </div>
                    <div class="col-xl-3 col-lg-6 col-12 form-group">
                        <input style="margin-top: 39px;" type="text" placeholder="Footer Height" class="form-control">
                    </div>
                    <div class="col-xl-3 col-lg-6 col-12 form-group">
                        <input style="margin-top: 39px;" type="text" placeholder="Body Height" class="form-control">
                    </div>
                    <div class="col-xl-3 col-lg-6 col-12 form-group">
                        <input style="margin-top: 39px;" type="text" placeholder="Body Width" class="form-control">
                    </div>
                    <div class="col-xl-3 col-lg-6 col-12 form-group">
                        <label >Student Photo</label>
                        <input type="checkbox">
                        <input type="text" placeholder="Photo Height" class="form-control">
                    </div>
                    <div class="col-lg-6 col-12 form-group">
                        <label>Background Image </label>
                        <input type="file" class="form-control-file">
                    </div>
                    <div class="col-12 form-group mg-t-8">
                        <button type="submit" class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark">Save</button>
                        <button type="reset" class="btn-fill-lg bg-blue-dark btn-hover-yellow">Reset</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- Student Certificate Area End Here -->

  <!-- Certificate List Area Start Here -->
                  <!-- Student Table Area Start Here -->
                  <div class="card height-auto">
                      <div class="card-body">
                          <div class="heading-layout1">
                              <div class="item-title">
                                  <h3>Student Certificate List</h3>
                              </div>
                              <div class="dropdown">
                                  <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                                      aria-expanded="false">...</a>
  
                                  <div class="dropdown-menu dropdown-menu-right">
                                      <a class="dropdown-item" href="#"><i
                                              class="fas fa-times text-orange-red"></i>Close</a>
                                      <a class="dropdown-item" href="#"><i
                                              class="fas fa-cogs text-dark-pastel-green"></i>Edit</a>
                                      <a class="dropdown-item" href="#"><i
                                              class="fas fa-redo-alt text-orange-peel"></i>Refresh</a>
                                  </div>
                              </div>
                          </div>
                          <form class="mg-b-20">
                              <div class="row gutters-8">
                                  <div class="col-4-xxxl col-xl-3 col-lg-3 col-12 form-group">
                                      <input type="text" placeholder="Search..." class="form-control">
                                  </div>
                                  <div class="col-1-xxxl col-xl-2 col-lg-3 col-12 form-group">
                                      <button type="submit" class="fw-btn-fill btn-gradient-yellow">SEARCH</button>
                                  </div>
                                  <div class="col-1-xxxl col-xl-2 col-lg-3 col-12 "></div>
                                  <div class="col-1-xxxl col-xl-2 col-lg-3 col-12">
                                    <a href="#"><i class="fas fa-copy"></i>&nbsp;</a>
                                    <a href="#"><i class="fas fa-file-excel"></i>&nbsp;</a>
                                    <a href="#"><i class="fas fa-file-csv"></i>&nbsp;</a>
                                    <a href="#"><i class="fas fa-file-pdf"></i>&nbsp;</a>
                                    <a href="#"><i class="fas fa-print"></i>&nbsp;</a>
                                    <a href="#"><i class="fas fa-columns"></i>&nbsp;</a>
                                  </div>
                              </div>
                          </form>
                          <div class="table-responsive">
                              <table class="table display data-table text-nowrap">
                                  <thead>
                                      <tr>
                                          <th>
                                              <div class="form-check">
                                                  <input type="checkbox" class="form-check-input checkAll">
                                                  <label class="form-check-label">Sr. No.</label>
                                              </div>
                                          </th>
                                          <th>Certificate Name</th>
                                          <th>Background Image</th>
                                          <th>Action</th>
                                        </tr>
                                  </thead>
                                  <tbody>
                                      <tr>
                                          <td>
                                              <div class="form-check">
                                                  <input type="checkbox" class="form-check-input">
                                                  <label class="form-check-label">#001</label>
                                              </div>
                                          </td>
                                          <td>Sample Transfer Certificate</td>
                                          <td>Sample Background Image</td>
                                          
                                    
                                          <td>
                                             <a href="#"><i class="fas fa-align-justify "></i>&nbsp;</a>
                                             <a href="#"><i class="fas fa-pen-alt text-orange-peel"></i>&nbsp;</a> 
                                             <a href="#"><i class="fas fa-times text-orange-red"></i>&nbsp;</a>    
                                          </td>
                                      </tr>
                                  </tbody>
                              </table>
                          </div>
                      </div>
                  </div>
                
    <!-- Certificate List Area End Here -->