    <!-- Breadcubs Area Start Here -->
    <div class="breadcrumbs-area">
        <ul>
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>Student Certificate</li>
        </ul>
    </div>
    <!-- Breadcubs Area End Here -->
   

  <!-- Certificate List Area Start Here -->
                  <!-- Student Table Area Start Here -->
        <div class="card height-auto">
                      <div class="card-body">
                          <div class="heading-layout1">
                              <div class="item-title">
                                  <h3>Student Certificate List</h3>
                              </div>
                              <button style="  background-color: #000066; position: relative; top:0; right: 10; float: right;" type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">+ Add</button>
                          </div>
                          
                          <div class="table-responsive">
                            <table id="example" class="table display data-table text-nowrap cell-border">
                                  <thead>
                                      <tr>
                                          <th>
                                              <div class="form-check">
                                                  <input type="checkbox" class="form-check-input checkAll">
                                                  <label class="form-check-label">Sr. No.</label>
                                              </div>
                                          </th>
                                          <th>Certificate Name</th>
                                          <th>Background Image</th>
                                          <th>Action</th>
                                        </tr>
                                  </thead>
                                  <tbody>
                                      <tr>
                                          <td>
                                              <div class="form-check">
                                                  <input type="checkbox" class="form-check-input">
                                                  <label class="form-check-label">#001</label>
                                              </div>
                                          </td>
                                          <td>Sample Transfer Certificate</td>
                                          <td>Sample Background Image</td>
                                          
                                    
                                          <td>
                                             <a href="#"><i class="fas fa-align-justify "></i>&nbsp;</a>
                                             <a href="#"><i class="fas fa-pen-alt text-orange-peel"></i>&nbsp;</a> 
                                             <a href="#"><i class="fas fa-times text-orange-red"></i>&nbsp;</a>    
                                          </td>
                                      </tr>
                                  </tbody>
                              </table>
                          </div>
                      </div>
        </div>
                
    <!-- Certificate List Area End Here -->
     <!-- Student Certificate Area Start Here -->
    
    <div class="container">
   
        <!-- Modal -->
        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                       
                    </div>
                    <div class="modal-body">
                        <form role="form" method="post" id="reused_form" > 
                            <div class="row">
                                <div class="col-xl-3 col-lg-6 col-12 form-group">
                                    <label for="inp" class="inp">
                                        <input type="text"  class="form-control" id="inp" placeholder="&nbsp;">
                                        <span class="label">Certificate Name*</span>
                                        <span class="focus-bg"></span>
                                    </label>
                                </div>
            
                                <div class="col-xl-3 col-lg-6 col-12 form-group">
                                    <label for="inp" class="inp">
                                        <input type="text"  class="form-control" id="inp" placeholder="&nbsp;">
                                        <span class="label">Header Left Text *</span>
                                        <span class="focus-bg"></span>
                                    </label>
                                </div>
            
                                <div class="col-xl-3 col-lg-6 col-12 form-group">
                                    <label for="inp" class="inp">
                                        <input type="text"  class="form-control" id="inp" placeholder="&nbsp;">
                                        <span class="label">Header Center Text*</span>
                                        <span class="focus-bg"></span>
                                    </label>
                                </div>
            
                                <div class="col-xl-3 col-lg-6 col-12 form-group">
                                    <label for="inp" class="inp">
                                        <input type="text"  class="form-control" id="inp" placeholder="&nbsp;">
                                        <span class="label">Header Right Text*</span>
                                        <span class="focus-bg"></span>
                                    </label>
                                </div>
            
                                <div class="col-xl-3 col-lg-6 col-12form-group">
                                    <label for="inp" class="inp">
                                        <input type="text"  class="form-control" id="inp" placeholder="&nbsp;">
                                        <span class="label">Body Text*</span>
                                        <span class="focus-bg"></span>
                                    </label>
                                </div>
            
                                <div class="col-lg-8 col-12 form-group">
                                    <label style="font-size: smaller;">Format:
                                   [name] [dob]  [present_address] [guardian] [created_at] [admission_no] [roll_no] [class] [section] [gender] [admission_date] [category] [cast] [father_name] [mother_name] [religion] [email] [phone]</label>
                                </div>
                                <div class="col-xl-3 col-lg-6 col-12 form-group">
                                    <label for="inp" class="inp">
                                        <input type="text"  class="form-control" id="inp" placeholder="&nbsp;">
                                        <span class="label">Footer Left Text*</span>
                                        <span class="focus-bg"></span>
                                    </label>
                                </div>
            
                                <div class="col-xl-3 col-lg-6 col-12 form-group">
                                    <label for="inp" class="inp">
                                        <input type="text"  class="form-control" id="inp" placeholder="&nbsp;">
                                        <span class="label">Footer Center Text *</span>
                                        <span class="focus-bg"></span>
                                    </label>
                                </div>
            
                                <div class="col-xl-3 col-lg-6 col-12 form-group">
                                    <label for="inp" class="inp">
                                        <input type="text"  class="form-control" id="inp" placeholder="&nbsp;">
                                        <span class="label">Footer Right Text*</span>
                                        <span class="focus-bg"></span>
                                    </label>
                                </div>
            
                    
                                <div class="col-xl-3 col-lg-6 col-12 form-group">
                                    <label for="inp" class="inp">
                                        <input type="text"  class="form-control" id="inp" placeholder="&nbsp;">
                                        <span class="label">Certificate Design *</span>
                                        <span class="focus-bg"></span>
                                    </label>
                                </div>
            
                                <div class="col-xl-3 col-lg-6 col-12 form-group">
                                    <label for="inp" class="inp">
                                        <input type="text"  class="form-control" id="inp" placeholder="&nbsp;">
                                        <span class="label">Footer Height*</span>
                                        <span class="focus-bg"></span>
                                    </label>
                                </div>
            
                                <div class="col-xl-3 col-lg-6 col-12 form-group">
                                    <label for="inp" class="inp">
                                        <input type="text"  class="form-control" id="inp" placeholder="&nbsp;">
                                        <span class="label">Body Height *</span>
                                        <span class="focus-bg"></span>
                                    </label>
                                </div>
            
                                <div class="col-xl-3 col-lg-6 col-12 form-group">
                                    <label for="inp" class="inp">
                                        <input type="text"  class="form-control" id="inp" placeholder="&nbsp;">
                                        <span class="label">Body Width*</span>
                                        <span class="focus-bg"></span>
                                    </label>
                                </div>
            
                                <div class="col-xl-3 col-lg-6 col-12 form-group">
            
                                    <label >Student Photo <input type="checkbox"></label>
                                   
                                </div>
            <div class="col-lg-3 col-12 form-group">
                                    <label style="font-size: smaller;">Background Image </label>
                                    <input type="file" class="form-control-file">
                                </div>
                                <div class="col-xl-3 col-lg-6 col-12 form-group">
            
                                  
                                    <label for="inp" class="inp">
                                        <input type="text"  class="form-control" id="inp" placeholder="&nbsp;">
                                        <span class="label">photo height *</span>
                                        <span class="focus-bg"></span>
                                    </label>    
                                   
                                   
                                </div>
            
                                <div class="col-12 form-group mg-t-8">
                                    <button type="submit" class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark">Save</button>&nbsp;
                                    <button type="reset" class="btn-fill-lg bg-blue-dark btn-hover-yellow">Reset</button>
                                </div>
                            </div>
                        </form>
       </div>
       </div>
       </div>
       </div>
       </div>
           <!-- Student Certificate Area End Here -->
