       <!-- Breadcubs Area Start Here -->
       <div class="breadcrumbs-area">
        <h3>Online Examinations</h3>
        <ul>
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>Online Exam</li>
        </ul>
    </div>
    <!-- Breadcubs Area End Here -->

    <!-- Online Exam Start Here -->
    <div class="card height-auto">
        <div class="card-body">
            <div class="table-responsive">
                <table id="example" class="table display data-table text-nowrap cell-border">
                    <thead>
                            <tr>
                                <th>Exam</th>
                                <th>Attempt</th>
                                <th>Exam From</th>
                                <th>Exam To</th>
                                <th>Duration</th>
                                <th>Exam Publish</th>
                                <th>Result Publish</th>
                                <th>Action</th>
                            </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Exam Demo</td>  
                            <td>10</td>                           
                            <td>01/04/2020</td>
                            <td>30/04/2020</td>
                            <td>00:10:00</td>
                            <td><i class="fas fa-check-square"></i></td>
                            <td><i class="fas fa-check-square"></i></td>
                            <td>
                                <a href="#"><i class="fas fa-eye"></i>&nbsp;</a>
                                <a href="#"><i class="fas fa-plus"></i>&nbsp;</a>
                                <a href="#"><i class="fas fa-pen-alt text-orange-peel"></i>&nbsp;</a>
                                <a href="#"><i class="fas fa-times text-orange-red"></i>&nbsp;</a>
                            </td>
                        </tr>
                        <tr>
                            <td>Exam Demo</td>  
                            <td>10</td>                           
                            <td>01/04/2020</td>
                            <td>30/04/2020</td>
                            <td>00:10:00</td>
                            <td><i class="fas fa-check-square"></i></td>
                            <td><i class="fas fa-check-square"></i></td>
                            <td>
                                <a href="#"><i class="fas fa-eye"></i>&nbsp;</a>
                                <a href="#"><i class="fas fa-plus"></i>&nbsp;</a>
                                <a href="#"><i class="fas fa-pen-alt text-orange-peel"></i>&nbsp;</a>
                                <a href="#"><i class="fas fa-times text-orange-red"></i>&nbsp;</a>
                            </td>
                        </tr>
                        <tr>
                            <td>Exam Demo</td>  
                            <td>10</td>                           
                            <td>01/04/2020</td>
                            <td>30/04/2020</td>
                            <td>00:10:00</td>
                            <td><i class="fas fa-check-square"></i></td>
                            <td><i class="fas fa-check-square"></i></td>
                            <td>
                                <a href="#"><i class="fas fa-eye"></i>&nbsp;</a>
                                <a href="#"><i class="fas fa-plus"></i>&nbsp;</a>
                                <a href="#"><i class="fas fa-pen-alt text-orange-peel"></i>&nbsp;</a>
                                <a href="#"><i class="fas fa-times text-orange-red"></i>&nbsp;</a>
                            </td>
                        </tr><tr>
                            <td>Exam Demo</td>  
                            <td>10</td>                           
                            <td>01/04/2020</td>
                            <td>30/04/2020</td>
                            <td>00:10:00</td>
                            <td><i class="fas fa-check-square"></i></td>
                            <td><i class="fas fa-check-square"></i></td>
                            <td>
                                <a href="#"><i class="fas fa-eye"></i>&nbsp;</a>
                                <a href="#"><i class="fas fa-plus"></i>&nbsp;</a>
                                <a href="#"><i class="fas fa-pen-alt text-orange-peel"></i>&nbsp;</a>
                                <a href="#"><i class="fas fa-times text-orange-red"></i>&nbsp;</a>
                            </td>
                        </tr>
                        <tr>
                            <td>Exam Demo</td>  
                            <td>10</td>                           
                            <td>01/04/2020</td>
                            <td>30/04/2020</td>
                            <td>00:10:00</td>
                            <td><i class="fas fa-check-square"></i></td>
                            <td><i class="fas fa-check-square"></i></td>
                            <td>
                                <a href="#"><i class="fas fa-eye"></i>&nbsp;</a>
                                <a href="#"><i class="fas fa-plus"></i>&nbsp;</a>
                                <a href="#"><i class="fas fa-pen-alt text-orange-peel"></i>&nbsp;</a>
                                <a href="#"><i class="fas fa-times text-orange-red"></i>&nbsp;</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Online Exam Area End Here -->
