       <!-- Breadcubs Area Start Here -->
       <div class="breadcrumbs-area">
         <ul>
           <li>
             <a href="index.html">Home</a>
           </li>
           <li>Online Exam</li>
         </ul>
       </div>
       <!-- Breadcubs Area End Here -->

       <!-- Online Exam Start Here -->
       <div class="card height-auto">
         <div class="card-body">
           <div class="heading-layout1">
             <div class="item-title">
               <h3>Online Exam List</h3>
             </div>
             <div class="dropdown">
               <button style="  background-color: #000066; position: relative; top:0; right: 10; float: right;"
                 type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">+ Add</button>
             </div>
           </div>
           <div class="table-responsive">
             <table id="example" class="table display data-table text-nowrap cell-border">
               <thead>
                 <tr>
                   <th>Exam</th>
                   <th>Attempt</th>
                   <th>Exam From</th>
                   <th>Exam To</th>
                   <th>Duration</th>
                   <th>Result Publish</th>
                   <th>Action</th>
                 </tr>
               </thead>
               <tbody>
                 <tr *ngFor="let online of onlineexamination">
                   <td>{{ online.exam }}</td>
                   <td>{{ online.attempt }}</td>
                   <td>{{ online.examFrom }}</td>
                   <td>{{ online.examTo }}</td>
                   <td>{{ online.duration }}</td>
                   <td>{{ online.publishResult }}</td>

                   <td> <a (click)="setUpdateFileds(online.id)" data-toggle="modal" data-target="#myModal"><i
                         class="fas fa-pen-alt text-orange-peel"></i>&nbsp;</a>
                     <a (click)="deleteonline(online.id)"><i class=" fas fa-times text-orange-red"></i>&nbsp;</a></td>

                 </tr>
               </tbody>
             </table>
           </div>
         </div>
       </div>
       <!-- Online Exam Area End Here -->
       <div class="container">

         <!-- Modal -->
         <div id="myModal" class="modal fade" role="dialog">
           <div class="modal-dialog">
             <!-- Modal content-->
             <div class="modal-content">
               <div class="modal-header">
                 <button type="button" class="close" data-dismiss="modal">&times;</button>

               </div>
               <div class="modal-body">
                 <form role="form" method="post" id="reused_form">
                   <div class="row">
                     <div class="col-xl-3 col-lg-6 col-12 form-group">
                       <label for="slt" class="slt">
                         <select class="form-control" id="slt" placeholder="&nbsp;"
                           [(ngModel)]="onlineexamDto.sessionId" name="sessionId">
                           <option selected>Please Select *</option>
                           <option *ngFor="let session of sessions" [value]="session.session"
                             [selected]="onlineexamDto.sessionId == session.session">{{ session.session }}
                           </option>
                         </select>
                         <span class="label">Session*</span>
                         <span class="focus-bg"></span>
                       </label>
                     </div>
                     <div class="col-xl-4 col-lg-6 col-12 form-group">
                       <label for="inp" class="inp">
                         <input type="text" class="form-control" id="inp" placeholder="&nbsp;"
                           [(ngModel)]="onlineexamDto.exam" name="exam" [value]="onlineexamDto.exam">
                         <span class="label">Exam Title *</span>
                         <span class="focus-bg"></span>
                       </label>
                     </div>
                     <div class="col-xl-4 col-lg-6 col-12 form-group">
                       <label for="inp" class="inp">
                         <input type="date" class="form-control" id="inp" placeholder="&nbsp;"
                           [(ngModel)]="onlineexamDto.examFrom" name="examFrom" [value]="onlineexamDto.examFrom">
                         <span class="label">Exam From *</span>
                         <span class="focus-bg"></span>
                       </label>
                     </div>
                     <div class="col-xl-4 col-lg-6 col-12 form-group">
                       <label for="inp" class="inp">
                         <input type="date" name="examTo" class="form-control" id="inp" placeholder="&nbsp;"
                           [(ngModel)]=onlineexamDto.examTo [value]="onlineexamDto.examTo">
                         <span class="label">Exam to *</span>
                         <span class="focus-bg"></span>
                       </label>
                     </div>
                     <div class="col-xl-4 col-lg-6 col-12 form-group">
                       <label for="inp" class="inp">
                         <input type="number" class="form-control" id="inp" placeholder="&nbsp;"
                           [(ngModel)]="onlineexamDto.duration" name="duration" [value]="onlineexamDto.duration">
                         <span class="label">Exam Duration*</span>
                         <span class="focus-bg"></span>
                       </label>
                     </div>
                     <div class="col-xl-4 col-lg-6 col-12 form-group">
                       <label for="inp" class="inp">
                         <input type="time" class="form-control" id="inp" placeholder="&nbsp;"
                           [(ngModel)]="onlineexamDto.timeFrom" name="timeFrom" [value]="onlineexamDto.timeFrom"
                           min="06:00" max="23:00">
                         <span class="label">Time From*</span>
                         <span class="focus-bg"></span>
                       </label>
                     </div>
                     <div class="col-xl-4 col-lg-6 col-12 form-group">
                       <label for="inp" class="inp">
                         <input type="time" class="form-control" id="inp" placeholder="&nbsp;"
                           [(ngModel)]="onlineexamDto.timeTo" name="timeTo" [value]="onlineexamDto.timeTo" min="06:00"
                           max="23:00">
                         <span class="label">Time To*</span>
                         <span class="focus-bg"></span>
                       </label>
                     </div>
                     <div class="col-xl-4 col-lg-6 col-12 form-group" rows="3">
                       <label for="inp" class="inp">
                         <input type="text" class="form-control" id="inp" placeholder="&nbsp;"
                           [(ngModel)]="onlineexamDto.attempt" name="attempt" [value]="onlineexamDto.attempt">
                         <span class="label">Attempt *</span>
                         <span class="focus-bg"></span>
                       </label>
                     </div>
                     <div class="col-xl-4 col-lg-6 col-12 form-group">
                       <label for="inp" class="inp">
                         <input type="number" min="1" max="100" class="form-control" id="inp" placeholder="&nbsp;"
                           [(ngModel)]="onlineexamDto.passingPercentage" name="passingPercentage"
                           [value]="onlineexamDto.passingPercentage">
                         <span class="label">Passing Percentage *</span>
                         <span class="focus-bg"></span>
                       </label>
                     </div>
                     <div class="col-xl-4 col-lg-6 col-12 form-group">

                       <input type="checkbox" class="form-check-input" id="customRadio" name="publishResult"
                         [(ngModel)]="onlineexamDto.publishResult">&nbsp;&nbsp;
                       <label class="form-check-label" for="publishResult">Publish Result</label>&nbsp;&nbsp;&nbsp;

                     </div>


                     <div class="col-xl-4 col-lg-6 col-12 form-group">
                       <div class="form-group" style="float: left;">

                         <button *ngIf="!this.isUpdate" (click)="addonline()" type="button"
                           class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark" data-toggle="modal"
                           data-target="#myModal">
                           Save
                         </button>&nbsp;
                         <button *ngIf="this.isUpdate" (click)="updateonline(onlineexamDto.id)" type="button"
                           class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark" data-toggle="modal"
                           data-target="#myModal">
                           Update
                         </button>&nbsp;

                       </div>
                     </div>

                   </div>
                 </form>
               </div>
             </div>
           </div>
         </div>
       </div>
       <div class="container">

         <!-- Modal -->
         <div id="myModal5" class="modal fade" role="dialog">
           <div class="modal-dialog">
             <!-- Modal content-->
             <div class="modal-content">
               <div class="modal-header">
                 <button type="button" class="close" data-dismiss="modal">&times;</button>

               </div>
               <div class="modal-body">
                 <form role="form" method="post" id="reused_form">
                   <div class="row">

                     <div class="col-xl-4 col-lg-6 col-12 form-group">
                       <label for="slt" class="slt">
                         <select name="content" class="form-control" id="slt" placeholder="&nbsp;">
                           <option selected>Please Select Content *</option>
                           <option value="1">MARATHI</option>
                           <option value="2">HINDI</option>
                           <option value="3">ENGLISH</option>
                           <option value="3">MATH</option>

                         </select>
                         <span class="label">Subject *</span>
                         <span class="focus-bg"></span>
                       </label>&nbsp;
                       <button type="submit"
                         class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark">Save</button>&nbsp;

                     </div>


                     <div class="col-xl-4 col-lg-6 col-12 form-group">
                       <div class="checkbox">
                         <input type="checkbox" class="is_active" name="is_active" value="" autocomplete="off">

                         question1 <p>
                           <b>Subject:</b>
                           MARATHI</p>

                       </div>
                       <div class="checkbox">
                         <input type="checkbox" class="is_active" name="is_active" value="" autocomplete="off">

                         question1 <p>
                           <b>Subject:</b>
                           MARATHI</p>

                       </div>
                       <div class="checkbox">
                         <input type="checkbox" class="is_active" name="is_active" value="" autocomplete="off">

                         question1 <p>
                           <b>Subject:</b>
                           MARATHI</p>

                       </div>
                     </div>
                     <div class="col-12 form-group mg-t-8">
                       <button
                         style="  background-color:  #000066;  position: relative; top:0; right: 10; float: right;"
                         type="button" class="btn btn-info btn-lg" data-toggle="modal"
                         data-target="#myModal">First</button>
                       <button style="  background-color: #000066; position: relative; top:0; right: 10; float: right;"
                         type="button" class="btn btn-info btn-lg" data-toggle="modal"
                         data-target="#myModal1">Previous</button>
                       <button style="  background-color: #000066; position: relative; top:0; right: 10; float: right;"
                         type="button" class="btn btn-info btn-lg" data-toggle="modal"
                         data-target="#myModal1">1</button>
                       <button style="  background-color: #000066; position: relative; top:0; right: 10; float: right;"
                         type="button" class="btn btn-info btn-lg" data-toggle="modal"
                         data-target="#myModal">Next</button>
                       <button style="  background-color: #000066; position: relative; top:0; right: 10; float: right;"
                         type="button" class="btn btn-info btn-lg" data-toggle="modal"
                         data-target="#myModal1">Last</button>
                     </div>
                   </div>
                 </form>

               </div>
             </div>
           </div>
         </div>
       </div>
