<div class="breadcrumbs-area">
  <ul>
    <li>
      <a href="index.html">Home</a>
    </li>
    <li>Setup Front Office</li>
  </ul>
</div>
<div class="card height-auto">
  <div class="card-body">
    <div class="heading-layout1">
      <div class="item-title">
        <h5>Visitors purpose List</h5>
      </div>
      <div class="dropdown">
        <button
          style="
            background-color: #000066;
            position: relative;
            top: 0;
            right: 10;
            float: right;
          "
          type="button"
          class="btn btn-info btn-lg"
          onClick="location.href='/#/reference'"
        >
          + Reference
        </button>
        <button
          style="
            background-color: #000066;
            position: relative;
            top: 0;
            right: 10;
            float: right;
          "
          type="button"
          class="btn btn-info btn-lg"
          onClick="location.href='/#/source'"
        >
          + Source
        </button>
        <button
          style="
            background-color: #000066;
            position: relative;
            top: 0;
            right: 10;
            float: right;
          "
          type="button"
          class="btn btn-info btn-lg"
          onClick="location.href='/#/complainttype'"
        >
          + Complaint Type
        </button>
        <button
          style="
            background-color: #000066;
            position: relative;
            top: 0;
            right: 10;
            float: right;
          "
          type="button"
          class="btn btn-info btn-lg"
          onClick="location.href='/#/visitors-purpose'"
        >
          + Visitors Purpose
        </button>
      </div>
    </div>
    <div class="table-responsive">
      <table
        id="example"
        class="table display data-table text-nowrap cell-border"
      >
        <thead>
          <tr>
            <th>Visitors Purpose</th>
            <th>Complaint Type</th>
            <th>Source</th>
            <th>Reference</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let setup of setupfo">
            <td>{{ setup.visitorsPurpose }}</td>

            <td>
              <a href="#"
                ><i class="fas fa-pen-alt text-orange-peel"></i>&nbsp;</a
              >
              <a href="#"><i class="fas fa-times text-orange-red"></i>&nbsp;</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
