<div class="breadcrumbs-area">
    <h3>Send Mail</h3>
    <ul>
        <li>
            <a href="/#/admin">Communicate</a>
        </li>
        <li>Send Mail</li>
    </ul>
</div>
<div class="row gutters-20">
<!-- Add Hostel Area Start Here -->
<div class="col-8-xxxl col-12">
    <div class="card height-auto">
        <div class="card-body">
            <div class="heading-layout1">
                <div class="item-title">
                    <h3>Send Mail</h3>
                </div>
                
            </div>
            <form class="new-added-form" >
                
                <div class="row">
                    <div class="col-12-xxxl col-lg-6 col-12 form-group">
                        <label>Title *</label>
                        <input type="text" placeholder="" class="form-control">
                    </div>
                    <div class="col-12-xxxl col-lg-6 col-12 form-group">
                        <label >Attachment </label>
                        <input type="file" class="form-control-file" name="photo" ngModel>
                        <span class="text-danger"></span>
                    </div>
                    <div class="col-12-xxxl col-lg-6 col-12 form-group">
                        <label>Message</label><small class="req"> *</small>
                       <textarea id="group_msg_text" name="group_message" class="form-control compose-textarea ckeditor" cols="35" rows="20">
                      </textarea>
                    </div>
                    <div class="col-12 form-group mg-t-8">
                        <button type="submit" class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark">Send</button>
                        <button type="reset" class="btn-fill-lg bg-blue-dark btn-hover-yellow">Reset</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="col-4-xxxl col-12">
    <div class="card height-auto">
        <div class="card-body">
            <div class="heading-layout1">
                <div class="item-title">
                    <h3>Hostel  Lists</h3>
                </div>
                
            </div>
            <form class="mg-b-20">
                <div class="row gutters-8">
                    <div class="col-lg-3 col-12 form-group">
                        <a type="submit" href="/#/" class="btn btn-gradient-yellow btn-hover-bluedark">Group</a>
                    </div>
                    <div class="col-lg-3 col-12 form-group">
                        <a type="submit" href="/#/" class="btn btn-gradient-yellow btn-hover-bluedark">Indivisual</a>
                    </div>
                    <div class="col-lg-3 col-12 form-group">
                        <a type="submit" href="/#/" class="btn btn-gradient-yellow btn-hover-bluedark">Class</a>
                    </div>
                    <div class="col-lg-2 col-12 form-group">
                        <a type="submit" href="/#/" class="btn btn-gradient-yellow btn-hover-bluedark">Today's B'day</a>
                    </div>
                </div>
            </form>
            <div class="table-responsive">
                <table class="table display data-table text-nowrap">
           
                </table>
            </div>
        </div>
    </div>
</div>

</div>
<!-- Add Hostel Area end Here -->
        
                
