<div class="breadcrumbs-area">

  <ul>
    <li>
      <a href="index.html">Transport</a>
    </li>
    <li>Add Route</li>
  </ul>
</div>
<!-- Add route Area Start Here -->

<div class="card height-auto">
  <div class="card-body">
    <div class="heading-layout1">
      <div class="item-title">
        <h3>Add Route</h3>
      </div>

    </div>
    <form class="new-added-form">
      <div class="row">
        <div class="col-xl-4 col-lg-6 col-12 form-group">
          <label for="inp" class="inp">
            <input type="text" class="form-control" id="inp" placeholder="&nbsp;">
            <span class="label">Route Title *</span>
            <span class="focus-bg"></span>
          </label>
        </div>
        <div class="col-xl-4 col-lg-6 col-12 form-group">
          <label for="inp" class="inp">
            <input type="text" class="form-control" id="inp" placeholder="&nbsp;">
            <span class="label">Fare *</span>
            <span class="focus-bg"></span>
          </label>

        </div>
        <div class="col-xl-4 col-lg-6 col-12 form-group">
          <button type="submit" class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark">Save</button>
        </div>
      </div>
    </form>
  </div>

  <div class="card height-auto">
    <div class="card-body">

      <div class="heading-layout1">
        <div class="item-title">
          <h3>Route List</h3>
        </div>

      </div>

      <div class="table-responsive">
        <table id="example" class="table display data-table text-nowrap cell-border">
          <thead>
            <tr>
              <th>Route</th>
              <th>Fare</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Rajagurunagar</td>
              <td>500</td>
              <td><a href="#"><i class="fas fa-align-justify "></i>&nbsp;</a>
                <a href="#"><i class="fas fa-pen-alt text-orange-peel"></i>&nbsp;</a>
                <a href="#"><i class="fas fa-times text-orange-red"></i>&nbsp;</a></td>
            </tr>
            <tr>
              <td>Moshi</td>
              <td>500</td>
              <td><a href="#"><i class="fas fa-align-justify "></i>&nbsp;</a>
                <a href="#"><i class="fas fa-pen-alt text-orange-peel"></i>&nbsp;</a>
                <a href="#"><i class="fas fa-times text-orange-red"></i>&nbsp;</a></td>
            </tr>
            <tr>
              <td>Shrikrapur</td>
              <td>500</td>
              <td><a href="#"><i class="fas fa-align-justify "></i>&nbsp;</a>
                <a href="#"><i class="fas fa-pen-alt text-orange-peel"></i>&nbsp;</a>
                <a href="#"><i class="fas fa-times text-orange-red"></i>&nbsp;</a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- Add route Area end Here -->
